:root {
  --small-width: 36rem;
  --mid-width: 52rem;
  --large-width: 64rem;
  --sizing: 1rem;
  --sizing-factor: 1.62;
  --sizing-1: 1.62rem;
  --sizing-2: 2.62rem;
  --sizing-3: 4.25rem;
  --sizing-4: 6.89rem;
  --sizing-minus-1: 0.62rem;
  --sizing-minus-2: 0.38rem;
  --sizing-minus-3: 0.24rem;
  --sizing-minus-4: 0.15rem;
}

/**
Naming conventions
    x=x-axis
    y=y-axis
    t=top
    r=right
    b=bottom
    l=left
    n=negative
    0=none
    1=default size
    minus=reduce


    g=grid gap
    m=margin
    p=padding
*/
.g-0 {
  grid-column-gap: 0 !important;
  grid-row-gap: 0 !important;
}

.gx-0 {
  grid-column-gap: 0 !important;
}

.gy-0 {
  grid-row-gap: 0 !important;
}

.g {
  grid-column-gap: var(--sizing) !important;
  grid-row-gap: var(--sizing) !important;
}

.gx {
  grid-column-gap: var(--sizing) !important;
}

.gy {
  grid-row-gap: var(--sizing) !important;
}

.g {
  grid-column-gap: var(--sizing) !important;
  grid-row-gap: var(--sizing) !important;
}

.gx-1 {
  grid-column-gap: var(--sizing-1) !important;
}

.gy-1 {
  grid-row-gap: var(--sizing-1) !important;
}

.gminus {
  grid-column-gap: 2px !important;
  grid-row-gap: 2px !important;
}

.gxminus {
  grid-column-gap: 2px !important;
}

.gyminus {
  grid-row-gap: 2px !important;
}

.m-0 {
  margin: 0 !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.m {
  margin: var(--sizing) !important;
}

.mx {
  margin-left: var(--sizing) !important;
  margin-right: var(--sizing) !important;
}

.my {
  margin-top: var(--sizing) !important;
  margin-bottom: var(--sizing) !important;
}

.mt {
  margin-top: var(--sizing) !important;
}

.mr {
  margin-right: var(--sizing) !important;
}

.mb {
  margin-bottom: var(--sizing) !important;
}

.ml {
  margin-left: var(--sizing) !important;
}

.m-1 {
  margin: var(--sizing-1) !important;
}

.mx-1 {
  margin-left: var(--sizing-1) !important;
  margin-right: var(--sizing-1) !important;
}

.my-1 {
  margin-top: var(--sizing-1) !important;
  margin-bottom: var(--sizing-1) !important;
}

.mt-1 {
  margin-top: var(--sizing-1) !important;
}

.mr-1 {
  margin-right: var(--sizing-1) !important;
}

.mb-1 {
  margin-bottom: var(--sizing-1) !important;
}

.ml-1 {
  margin-left: var(--sizing-1) !important;
}

.m-2 {
  margin: var(--sizing-2) !important;
}

.mx-2 {
  margin-left: var(--sizing-2) !important;
  margin-right: var(--sizing-2) !important;
}

.my-2 {
  margin-top: var(--sizing-2) !important;
  margin-bottom: var(--sizing-2) !important;
}

.mt-2 {
  margin-top: var(--sizing-2) !important;
}

.mr-2 {
  margin-right: var(--sizing-2) !important;
}

.mb-2 {
  margin-bottom: var(--sizing-2) !important;
}

.ml-2 {
  margin-left: var(--sizing-2) !important;
}

.m-3 {
  margin: var(--sizing-3) !important;
}

.mx-3 {
  margin-left: var(--sizing-3) !important;
  margin-right: var(--sizing-3) !important;
}

.my-3 {
  margin-top: var(--sizing-3) !important;
  margin-bottom: var(--sizing-3) !important;
}

.mt-3 {
  margin-top: var(--sizing-3) !important;
}

.mr-3 {
  margin-right: var(--sizing-3) !important;
}

.mb-3 {
  margin-bottom: var(--sizing-3) !important;
}

.ml-3 {
  margin-left: var(--sizing-3) !important;
}

.m-4 {
  margin: var(--sizing-4) !important;
}

.mx-4 {
  margin-left: var(--sizing-4) !important;
  margin-right: var(--sizing-4) !important;
}

.my-4 {
  margin-top: var(--sizing-4) !important;
  margin-bottom: var(--sizing-4) !important;
}

.mt-4 {
  margin-top: var(--sizing-4) !important;
}

.mr-4 {
  margin-right: var(--sizing-4) !important;
}

.mb-4 {
  margin-bottom: var(--sizing-4) !important;
}

.ml-4 {
  margin-left: var(--sizing-4) !important;
}

.mn {
  margin: calc(-1 * var(--sizing)) !important;
}

.mxn {
  margin-left: calc(-1 * var(--sizing)) !important;
  margin-right: calc(-1 * var(--sizing)) !important;
}

.myn {
  margin-top: calc(-1 * var(--sizing)) !important;
  margin-bottom: calc(-1 * var(--sizing)) !important;
}

.mtn {
  margin-top: calc(-1 * var(--sizing)) !important;
}

.mrn {
  margin-right: calc(-1 * var(--sizing)) !important;
}

.mbn {
  margin-bottom: calc(-1 * var(--sizing)) !important;
}

.mln {
  margin-left: calc(-1 * var(--sizing)) !important;
}

.mn-1 {
  margin: calc(-1 * var(--sizing-1)) !important;
}

.mxn-1 {
  margin-left: calc(-1 * var(--sizing-1)) !important;
  margin-right: calc(-1 * var(--sizing-1)) !important;
}

.myn-1 {
  margin-top: calc(-1 * var(--sizing-1)) !important;
  margin-bottom: calc(-1 * var(--sizing-1)) !important;
}

.mtn-1 {
  margin-top: calc(-1 * var(--sizing-1)) !important;
}

.mrn-1 {
  margin-right: calc(-1 * var(--sizing-1)) !important;
}

.mbn-1 {
  margin-bottom: calc(-1 * var(--sizing-1)) !important;
}

.mln-1 {
  margin-left: calc(-1 * var(--sizing-1)) !important;
}

.mminus {
  margin: var(--sizing-minus-1) !important;
}

.mxminus {
  margin-left: var(--sizing-minus-1) !important;
  margin-right: var(--sizing-minus-1) !important;
}

.myminus {
  margin-top: var(--sizing-minus-1) !important;
  margin-bottom: var(--sizing-minus-1) !important;
}

.mtminus {
  margin-top: var(--sizing-minus-1) !important;
}

.mrminus {
  margin-right: var(--sizing-minus-1) !important;
}

.mbminus {
  margin-bottom: var(--sizing-minus-1) !important;
}

.mlminus {
  margin-left: var(--sizing-minus-1) !important;
}

.mlauto {
  margin-left: auto !important;
}

.mrauto {
  margin-right: auto !important;
}

.mxauto {
  margin-left: auto !important;
  margin-right: auto !important;
}

/*# sourceMappingURL=base-white-space.css.map */
