body {
  margin: 0; }

img {
  max-width: 100%; }

svg {
  max-height: 100%; }

/**
Naming conventions
    x=x-axis
    y=y-axis
    t=top
    r=right
    b=bottom
    l=left
    0=none
    1=default size
    minus=reduce
    auto=

    g=grid gap
    m=margin
    p=padding
*/
.g-0 {
  grid-column-gap: 0 !important;
  grid-row-gap: 0 !important; }

.g-x-0 {
  grid-column-gap: 0 !important; }

.g-y-0 {
  grid-row-gap: 0 !important; }

.g-1 {
  grid-column-gap: 1.62rem !important;
  grid-row-gap: 1.62rem !important; }

.g-x-01 {
  grid-column-gap: 1.62rem !important; }

.g-y-1 {
  grid-row-gap: 1.62rem !important; }

.g-minus {
  grid-column-gap: 0.125rem !important;
  grid-row-gap: 0.125rem !important; }

.g-x-minus {
  grid-column-gap: 0.125rem !important; }

.g-y-minus {
  grid-row-gap: 0.125rem !important; }

.m-0 {
  margin: 0 !important; }

.m-x-0 {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.m-t-0 {
  margin-top: 0 !important; }

.m-r-0 {
  margin-right: 0 !important; }

.m-b-0 {
  margin-bottom: 0 !important; }

.m-l-0 {
  margin-left: 0 !important; }

.m-1 {
  margin: 1.62rem !important; }

.m-x-1 {
  margin-left: 1.62rem !important;
  margin-right: 1.62rem !important; }

.m-y-1 {
  margin-top: 1.62rem !important;
  margin-bottom: 1.62rem !important; }

.m-t-1 {
  margin-top: 1.62rem !important; }

.m-r-1 {
  margin-right: 1.62rem !important; }

.m-b-1 {
  margin-bottom: 1.62rem !important; }

.m-l-1 {
  margin-left: 1.62rem !important; }

.m-2 {
  margin: 2.6244rem !important; }

.m-x-2 {
  margin-left: 2.6244rem !important;
  margin-right: 2.6244rem !important; }

.m-y-2 {
  margin-top: 2.6244rem !important;
  margin-bottom: 2.6244rem !important; }

.m-t-2 {
  margin-top: 2.6244rem !important; }

.m-r-2 {
  margin-right: 2.6244rem !important; }

.m-b-2 {
  margin-bottom: 2.6244rem !important; }

.m-l-2 {
  margin-left: 2.6244rem !important; }

.m-3 {
  margin: 4.251528rem !important; }

.m-x-3 {
  margin-left: 4.251528rem !important;
  margin-right: 4.251528rem !important; }

.m-y-3 {
  margin-top: 4.251528rem !important;
  margin-bottom: 4.251528rem !important; }

.m-t-3 {
  margin-top: 4.251528rem !important; }

.m-r-3 {
  margin-right: 4.251528rem !important; }

.m-b-3 {
  margin-bottom: 4.251528rem !important; }

.m-l-3 {
  margin-left: 4.251528rem !important; }

.m-4 {
  margin: 6.88747536rem !important; }

.m-x-4 {
  margin-left: 6.88747536rem !important;
  margin-right: 6.88747536rem !important; }

.m-y-4 {
  margin-top: 6.88747536rem !important;
  margin-bottom: 6.88747536rem !important; }

.m-t-4 {
  margin-top: 6.88747536rem !important; }

.m-r-4 {
  margin-right: 6.88747536rem !important; }

.m-b-4 {
  margin-bottom: 6.88747536rem !important; }

.m-l-4 {
  margin-left: 6.88747536rem !important; }

.m-minus {
  margin: 0.6172839506rem !important; }

.m-x-minus {
  margin-left: 0.6172839506rem !important;
  margin-right: 0.6172839506rem !important; }

.m-y-minus {
  margin-top: 0.6172839506rem !important;
  margin-bottom: 0.6172839506rem !important; }

.m-t-minus {
  margin-top: 0.6172839506rem !important; }

.m-r-minus {
  margin-right: 0.6172839506rem !important; }

.m-b-minus {
  margin-bottom: 0.6172839506rem !important; }

.m-l-minus {
  margin-left: 0.6172839506rem !important; }

.m-l-auto {
  margin-left: auto !important; }

.m-r-auto {
  margin-right: auto !important; }

.m-x-auto {
  margin-left: auto !important;
  margin-right: auto !important; }

.x-12,
.x-layout {
  max-width: 40rem;
  margin: 0 auto; }

@supports (display: grid) {
  .x-12,
  .x-layout {
    max-width: unset;
    margin: unset; } }
.columns {
  column-gap: 1.62rem; }

.x-layout {
  display: grid;
  grid-template-columns: 1.62rem 1fr 1fr minmax(0, 40rem) 1fr 1fr 1.62rem; }

.x-layout > * {
  grid-column: 4 / span 1; }
.x-layout .breakout-l {
  grid-column: 3 / span 2; }
.x-layout .breakout-r {
  grid-column: 4 / span 2; }
.x-layout .breakout {
  grid-column: 3 / span 3; }
.x-layout .wide {
  grid-column: 2 / span 5; }
.x-layout .full {
  grid-column: 1 / span 7; }
.x-layout .columns {
  columns: 2; }
.x-layout .breakout .columns,
.x-layout .breakout.columns,
.x-layout .full .columns,
.x-layout .full.columns,
.x-layout .wide .columns,
.x-layout .wide.columns {
  columns: 3; }

.x-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1.62rem; }
  .x-12 > * {
    grid-area: span 1 / span 12; }
  .x-12 .col-1 {
    grid-area: span 1 / span 1; }
  .x-12 .col-2 {
    grid-area: span 1 / span 2; }
  .x-12 .col-3 {
    grid-area: span 1 / span 3; }
  .x-12 .col-4 {
    grid-area: span 1 / span 4; }
  .x-12 .col-5 {
    grid-area: span 1 / span 5; }
  .x-12 .col-6 {
    grid-area: span 1 / span 6; }
  .x-12 .col-7 {
    grid-area: span 1 / span 7; }
  .x-12 .col-8 {
    grid-area: span 1 / span 8; }
  .x-12 .col-9 {
    grid-area: span 1 / span 9; }
  .x-12 .col-10 {
    grid-area: span 1 / span 10; }
  .x-12 .col-11 {
    grid-area: span 1 / span 11; }
  .x-12 .col-12 {
    grid-area: span 1 / span 12; }

@media screen and (max-width: 52rem) {
  .x-layout .breakout-l {
    grid-column: 4 / span 1; }
  .x-layout .breakout-r {
    grid-column: 4 / span 1; }
  .x-layout .breakout .columns,
  .x-layout .breakout.columns,
  .x-layout .columns,
  .x-layout .full .columns,
  .x-layout .full.columns,
  .x-layout .wide .columns,
  .x-layout .wide.columns {
    columns: 2; } }
@media screen and (max-width: 40rem) {
  .x-layout {
    grid-template-columns: 0.6172839506rem 1fr 1fr minmax(0, 40rem) 1fr 1fr 0.6172839506rem; }
    .x-layout .breakout .columns,
    .x-layout .breakout.columns,
    .x-layout .columns,
    .x-layout .full .columns,
    .x-layout .full.columns,
    .x-layout .wide .columns,
    .x-layout .wide.columns {
      columns: 1; } }
@media screen and (min-width: 40rem) {
  .sm-col-1 {
    grid-area: span 1 / span 1 !important; }

  .sm-col-2 {
    grid-area: span 1 / span 2 !important; }

  .sm-col-3 {
    grid-area: span 1 / span 3 !important; }

  .sm-col-4 {
    grid-area: span 1 / span 4 !important; }

  .sm-col-5 {
    grid-area: span 1 / span 5 !important; }

  .sm-col-6 {
    grid-area: span 1 / span 6 !important; }

  .sm-col-7 {
    grid-area: span 1 / span 7 !important; }

  .sm-col-8 {
    grid-area: span 1 / span 8 !important; }

  .sm-col-9 {
    grid-area: span 1 / span 9 !important; }

  .sm-col-10 {
    grid-area: span 1 / span 10 !important; }

  .sm-col-11 {
    grid-area: span 1 / span 11 !important; }

  .sm-col-12 {
    grid-area: span 1 / span 12 !important; } }
@media screen and (min-width: 52rem) {
  .md-col-1 {
    grid-area: span 1 / span 1 !important; }

  .md-col-2 {
    grid-area: span 1 / span 2 !important; }

  .md-col-3 {
    grid-area: span 1 / span 3 !important; }

  .md-col-4 {
    grid-area: span 1 / span 4 !important; }

  .md-col-5 {
    grid-area: span 1 / span 5 !important; }

  .md-col-6 {
    grid-area: span 1 / span 6 !important; }

  .md-col-7 {
    grid-area: span 1 / span 7 !important; }

  .md-col-8 {
    grid-area: span 1 / span 8 !important; }

  .md-col-9 {
    grid-area: span 1 / span 9 !important; }

  .md-col-10 {
    grid-area: span 1 / span 10 !important; }

  .md-col-11 {
    grid-area: span 1 / span 11 !important; }

  .md-col-12 {
    grid-area: span 1 / span 12 !important; } }
@media screen and (min-width: 64rem) {
  .lg-col-1 {
    grid-area: span 1 / span 1 !important; }

  .lg-col-2 {
    grid-area: span 1 / span 2 !important; }

  .lg-col-3 {
    grid-area: span 1 / span 3 !important; }

  .lg-col-4 {
    grid-area: span 1 / span 4 !important; }

  .lg-col-5 {
    grid-area: span 1 / span 5 !important; }

  .lg-col-6 {
    grid-area: span 1 / span 6 !important; }

  .lg-col-7 {
    grid-area: span 1 / span 7 !important; }

  .lg-col-8 {
    grid-area: span 1 / span 8 !important; }

  .lg-col-9 {
    grid-area: span 1 / span 9 !important; }

  .lg-col-10 {
    grid-area: span 1 / span 10 !important; }

  .lg-col-11 {
    grid-area: span 1 / span 11 !important; }

  .lg-col-12 {
    grid-area: span 1 / span 12 !important; } }
