body {
  margin: 0; }

img {
  max-width: 100%; }

svg {
  max-height: 100%; }

/**
Naming conventions
    x=x-axis
    y=y-axis
    t=top
    r=right
    b=bottom
    l=left
    0=none
    1=default size
    minus=reduce
    auto=

    g=grid gap
    m=margin
    p=padding
*/
.g0 {
  grid-column-gap: 0 !important;
  grid-row-gap: 0 !important; }

.gx0 {
  grid-column-gap: 0 !important; }

.gy0 {
  grid-row-gap: 0 !important; }

.g1 {
  grid-column-gap: 1.62rem !important;
  grid-row-gap: 1.62rem !important; }

.gx1 {
  grid-column-gap: 1.62rem !important; }

.gy1 {
  grid-row-gap: 1.62rem !important; }

.gminus {
  grid-column-gap: 0.125rem !important;
  grid-row-gap: 0.125rem !important; }

.gxminus {
  grid-column-gap: 0.125rem !important; }

.gyminus {
  grid-row-gap: 0.125rem !important; }

.m0 {
  margin: 0; }

.mx0 {
  margin-left: 0;
  margin-right: 0; }

.my0 {
  margin-top: 0;
  margin-bottom: 0; }

.mt0 {
  margin-top: 0; }

.mr0 {
  margin-right: 0; }

.mb0 {
  margin-bottom: 0; }

.ml0 {
  margin-left: 0; }

.m1 {
  margin: 1.62rem; }

.mx1 {
  margin-left: 1.62rem;
  margin-right: 1.62rem; }

.my1 {
  margin-top: 1.62rem;
  margin-bottom: 1.62rem; }

.mt1 {
  margin-top: 1.62rem; }

.mr1 {
  margin-right: 1.62rem; }

.mb1 {
  margin-bottom: 1.62rem; }

.ml1 {
  margin-left: 1.62rem; }

.m2 {
  margin: 2.6244rem; }

.mx2 {
  margin-left: 2.6244rem;
  margin-right: 2.6244rem; }

.my2 {
  margin-top: 2.6244rem;
  margin-bottom: 2.6244rem; }

.mt2 {
  margin-top: 2.6244rem; }

.mr2 {
  margin-right: 2.6244rem; }

.mb2 {
  margin-bottom: 2.6244rem; }

.ml2 {
  margin-left: 2.6244rem; }

.m3 {
  margin: 4.251528rem; }

.mx3 {
  margin-left: 4.251528rem;
  margin-right: 4.251528rem; }

.my3 {
  margin-top: 4.251528rem;
  margin-bottom: 4.251528rem; }

.mt3 {
  margin-top: 4.251528rem; }

.mr3 {
  margin-right: 4.251528rem; }

.mb3 {
  margin-bottom: 4.251528rem; }

.ml3 {
  margin-left: 4.251528rem; }

.m4 {
  margin: 6.88747536rem; }

.mx4 {
  margin-left: 6.88747536rem;
  margin-right: 6.88747536rem; }

.my4 {
  margin-top: 6.88747536rem;
  margin-bottom: 6.88747536rem; }

.mt4 {
  margin-top: 6.88747536rem; }

.mr4 {
  margin-right: 6.88747536rem; }

.mb4 {
  margin-bottom: 6.88747536rem; }

.ml4 {
  margin-left: 6.88747536rem; }

.mminus {
  margin: 0.6172839506rem; }

.mxminus {
  margin-left: 0.6172839506rem;
  margin-right: 0.6172839506rem; }

.myminus {
  margin-top: 0.6172839506rem;
  margin-bottom: 0.6172839506rem; }

.mtminus {
  margin-top: 0.6172839506rem; }

.mrminus {
  margin-right: 0.6172839506rem; }

.mbminus {
  margin-bottom: 0.6172839506rem; }

.mlminus {
  margin-left: 0.6172839506rem; }

.x-12,
.x-layout {
  max-width: 40rem;
  margin: 0 auto; }

@supports (display: grid) {
  .x-12,
  .x-layout {
    max-width: unset;
    margin: unset; } }
.columns {
  column-gap: 1.62rem; }

.x-layout {
  display: grid;
  grid-template-columns: 1.62rem 1fr 1fr minmax(0, 40rem) 1fr 1fr 1.62rem; }

.x-layout > * {
  grid-column: 4 / span 1; }
.x-layout .breakout-left {
  grid-column: 3 / span 2; }
.x-layout .breakout-right {
  grid-column: 4 / span 2; }
.x-layout .breakout {
  grid-column: 3 / span 3; }
.x-layout .wide {
  grid-column: 2 / span 5; }
.x-layout .full {
  grid-column: 1 / span 7; }
.x-layout .columns {
  columns: 2; }
.x-layout .breakout .columns,
.x-layout .breakout.columns,
.x-layout .full .columns,
.x-layout .full.columns,
.x-layout .wide .columns,
.x-layout .wide.columns {
  columns: 3; }

.x-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1.62rem; }
  .x-12 > * {
    grid-area: span 1 / span 12; }
  .x-12 .col-1 {
    grid-area: span 1 / span 1; }
  .x-12 .col-2 {
    grid-area: span 1 / span 2; }
  .x-12 .col-3 {
    grid-area: span 1 / span 3; }
  .x-12 .col-4 {
    grid-area: span 1 / span 4; }
  .x-12 .col-5 {
    grid-area: span 1 / span 5; }
  .x-12 .col-6 {
    grid-area: span 1 / span 6; }
  .x-12 .col-7 {
    grid-area: span 1 / span 7; }
  .x-12 .col-8 {
    grid-area: span 1 / span 8; }
  .x-12 .col-9 {
    grid-area: span 1 / span 9; }
  .x-12 .col-10 {
    grid-area: span 1 / span 10; }
  .x-12 .col-11 {
    grid-area: span 1 / span 11; }
  .x-12 .col-12 {
    grid-area: span 1 / span 12; }

@media screen and (max-width: 52rem) {
  .x-layout .breakout-left {
    grid-column: 4 / span 1; }
  .x-layout .breakout-right {
    grid-column: 4 / span 1; }
  .x-layout .breakout .columns,
  .x-layout .breakout.columns,
  .x-layout .columns,
  .x-layout .full .columns,
  .x-layout .full.columns,
  .x-layout .wide .columns,
  .x-layout .wide.columns {
    columns: 2; } }
@media screen and (max-width: 40rem) {
  .x-layout {
    grid-template-columns: 0.6172839506rem 1fr 1fr minmax(0, 40rem) 1fr 1fr 0.6172839506rem; }
    .x-layout .breakout .columns,
    .x-layout .breakout.columns,
    .x-layout .columns,
    .x-layout .full .columns,
    .x-layout .full.columns,
    .x-layout .wide .columns,
    .x-layout .wide.columns {
      columns: 1; } }
@media screen and (min-width: 40rem) {
  .sm-col-1 {
    grid-area: span 1 / span 1 !important; }

  .sm-col-2 {
    grid-area: span 1 / span 2 !important; }

  .sm-col-3 {
    grid-area: span 1 / span 3 !important; }

  .sm-col-4 {
    grid-area: span 1 / span 4 !important; }

  .sm-col-5 {
    grid-area: span 1 / span 5 !important; }

  .sm-col-6 {
    grid-area: span 1 / span 6 !important; }

  .sm-col-7 {
    grid-area: span 1 / span 7 !important; }

  .sm-col-8 {
    grid-area: span 1 / span 8 !important; }

  .sm-col-9 {
    grid-area: span 1 / span 9 !important; }

  .sm-col-10 {
    grid-area: span 1 / span 10 !important; }

  .sm-col-11 {
    grid-area: span 1 / span 11 !important; }

  .sm-col-12 {
    grid-area: span 1 / span 12 !important; } }
@media screen and (min-width: 52rem) {
  .md-col-1 {
    grid-area: span 1 / span 1 !important; }

  .md-col-2 {
    grid-area: span 1 / span 2 !important; }

  .md-col-3 {
    grid-area: span 1 / span 3 !important; }

  .md-col-4 {
    grid-area: span 1 / span 4 !important; }

  .md-col-5 {
    grid-area: span 1 / span 5 !important; }

  .md-col-6 {
    grid-area: span 1 / span 6 !important; }

  .md-col-7 {
    grid-area: span 1 / span 7 !important; }

  .md-col-8 {
    grid-area: span 1 / span 8 !important; }

  .md-col-9 {
    grid-area: span 1 / span 9 !important; }

  .md-col-10 {
    grid-area: span 1 / span 10 !important; }

  .md-col-11 {
    grid-area: span 1 / span 11 !important; }

  .md-col-12 {
    grid-area: span 1 / span 12 !important; } }
@media screen and (min-width: 64rem) {
  .lg-col-1 {
    grid-area: span 1 / span 1 !important; }

  .lg-col-2 {
    grid-area: span 1 / span 2 !important; }

  .lg-col-3 {
    grid-area: span 1 / span 3 !important; }

  .lg-col-4 {
    grid-area: span 1 / span 4 !important; }

  .lg-col-5 {
    grid-area: span 1 / span 5 !important; }

  .lg-col-6 {
    grid-area: span 1 / span 6 !important; }

  .lg-col-7 {
    grid-area: span 1 / span 7 !important; }

  .lg-col-8 {
    grid-area: span 1 / span 8 !important; }

  .lg-col-9 {
    grid-area: span 1 / span 9 !important; }

  .lg-col-10 {
    grid-area: span 1 / span 10 !important; }

  .lg-col-11 {
    grid-area: span 1 / span 11 !important; }

  .lg-col-12 {
    grid-area: span 1 / span 12 !important; } }
