/**
Naming conventions
    x=x-axis
    y=y-axis
    t=top
    r=right
    b=bottom
    l=left
    n=negative
    0=none
    1=default size
    minus=reduce


    g=grid gap
    m=margin
    p=padding
*/
.g-0 {
  grid-column-gap: 0 !important;
  grid-row-gap: 0 !important; }

.g-x-0 {
  grid-column-gap: 0 !important; }

.g-y-0 {
  grid-row-gap: 0 !important; }

.g-1 {
  grid-column-gap: 1.62rem !important;
  grid-row-gap: 1.62rem !important; }

.g-x-01 {
  grid-column-gap: 1.62rem !important; }

.g-y-1 {
  grid-row-gap: 1.62rem !important; }

.g-minus {
  grid-column-gap: 0.125rem !important;
  grid-row-gap: 0.125rem !important; }

.g-x-minus {
  grid-column-gap: 0.125rem !important; }

.g-y-minus {
  grid-row-gap: 0.125rem !important; }

.m-0 {
  margin: 0 !important; }

.m-x-0 {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.m-t-0 {
  margin-top: 0 !important; }

.m-r-0 {
  margin-right: 0 !important; }

.m-b-0 {
  margin-bottom: 0 !important; }

.m-l-0 {
  margin-left: 0 !important; }

.m-1 {
  margin: 1.62rem !important; }

.m-x-1 {
  margin-left: 1.62rem !important;
  margin-right: 1.62rem !important; }

.m-y-1 {
  margin-top: 1.62rem !important;
  margin-bottom: 1.62rem !important; }

.m-t-1 {
  margin-top: 1.62rem !important; }

.m-r-1 {
  margin-right: 1.62rem !important; }

.m-b-1 {
  margin-bottom: 1.62rem !important; }

.m-l-1 {
  margin-left: 1.62rem !important; }

.m-2 {
  margin: 2.6244rem !important; }

.m-x-2 {
  margin-left: 2.6244rem !important;
  margin-right: 2.6244rem !important; }

.m-y-2 {
  margin-top: 2.6244rem !important;
  margin-bottom: 2.6244rem !important; }

.m-t-2 {
  margin-top: 2.6244rem !important; }

.m-r-2 {
  margin-right: 2.6244rem !important; }

.m-b-2 {
  margin-bottom: 2.6244rem !important; }

.m-l-2 {
  margin-left: 2.6244rem !important; }

.m-3 {
  margin: 4.251528rem !important; }

.m-x-3 {
  margin-left: 4.251528rem !important;
  margin-right: 4.251528rem !important; }

.m-y-3 {
  margin-top: 4.251528rem !important;
  margin-bottom: 4.251528rem !important; }

.m-t-3 {
  margin-top: 4.251528rem !important; }

.m-r-3 {
  margin-right: 4.251528rem !important; }

.m-b-3 {
  margin-bottom: 4.251528rem !important; }

.m-l-3 {
  margin-left: 4.251528rem !important; }

.m-4 {
  margin: 6.88747536rem !important; }

.m-x-4 {
  margin-left: 6.88747536rem !important;
  margin-right: 6.88747536rem !important; }

.m-y-4 {
  margin-top: 6.88747536rem !important;
  margin-bottom: 6.88747536rem !important; }

.m-t-4 {
  margin-top: 6.88747536rem !important; }

.m-r-4 {
  margin-right: 6.88747536rem !important; }

.m-b-4 {
  margin-bottom: 6.88747536rem !important; }

.m-l-4 {
  margin-left: 6.88747536rem !important; }

.m-n-1 {
  margin: -1.62rem !important; }

.m-xn-1 {
  margin-left: -1.62rem !important;
  margin-right: -1.62rem !important; }

.m-yn-1 {
  margin-top: -1.62rem !important;
  margin-bottom: -1.62rem !important; }

.m-tn-1 {
  margin-top: -1.62rem !important; }

.m-rn-4 {
  margin-right: -1.62rem !important; }

.m-bn-1 {
  margin-bottom: -1.62rem !important; }

.m-ln-1 {
  margin-left: -1.62rem !important; }

.m-minus {
  margin: 0.6172839506rem !important; }

.m-x-minus {
  margin-left: 0.6172839506rem !important;
  margin-right: 0.6172839506rem !important; }

.m-y-minus {
  margin-top: 0.6172839506rem !important;
  margin-bottom: 0.6172839506rem !important; }

.m-t-minus {
  margin-top: 0.6172839506rem !important; }

.m-r-minus {
  margin-right: 0.6172839506rem !important; }

.m-b-minus {
  margin-bottom: 0.6172839506rem !important; }

.m-l-minus {
  margin-left: 0.6172839506rem !important; }

.m-l-auto {
  margin-left: auto !important; }

.m-r-auto {
  margin-right: auto !important; }

.m-x-auto {
  margin-left: auto !important;
  margin-right: auto !important; }
