@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400|IBM+Plex+Sans:400,400i,700");
/* base */
* {
  line-height: 1.62em;
  font-weight: 400; }

body {
  margin: 0;
  padding: 0;
  font: 18px "IBM Plex Sans", sans-serif;
  font-feature-settings: "onum" 1;
  color: #333;
  background-color: #fff; }

@supports (font-variant-numeric: oldstyle-nums) {
  body {
    font-feature-settings: normal;
    font-variant-numeric: oldstyle-nums; } }
a {
  color: #333;
  text-decoration: underline; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 2.6244em;
  margin-bottom: 0.81em;
  text-align: center;
  font-feature-settings: "lnum" 1; }

ul {
  list-style: disc;
  margin: 0;
  padding: 0; }

li {
  list-style-position: outside; }

li h2,
li h3,
li h4,
li h5,
li h6 {
  display: inline;
  margin: 0;
  text-align: left;
  font-weight: 400;
  font-style: italic; }
li p {
  margin: 0; }

img {
  margin: 0;
  max-width: 100%; }

.vertical-rhythm,
figure,
p {
  margin: 0 0 1.62em;
  padding: 0; }

figure {
  max-width: 100%; }

figcaption {
  margin: 0.81em 0 0;
  font-style: italic;
  font-size: 16px;
  line-height: 18px; }

code {
  font-family: "IBM Plex Mono";
  font-size: 16px; }

strong {
  font-weight: bold; }

hr {
  border: none;
  margin: none; }
  hr:after {
    position: relative;
    height: 3px;
    width: 14.5191082034%;
    background: #333;
    content: "";
    display: block;
    margin: 0 auto 1.62em auto; }

@media screen and (min-width: 1400px) {
  body {
    font-size: 20px; } }
@media screen and (max-width: 700px) {
  li {
    list-style-position: inside; } }
