/* base */
/*spacings must be em unit */
* {
  line-height: 1.62em; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 2.6244em;
  margin-bottom: 0.81em;
  text-align: center; }

body {
  margin: 0;
  padding: 0;
  font-size: 18px; }

img {
  margin: 0;
  max-width: 100%; }

figure {
  margin: 1.62em 0; }

figcaption {
  margin: 0.81em 0 0 0;
  font-style: italic;
  font-size: 16px;
  line-height: 18px; }

p {
  margin: 1.62em 0;
  padding: 0; }

/* media queries */
@media screen and (min-width: 1400px) {
  body {
    font-size: 19px; } }
