:root{
  --border-width-sm:1px;
  --border-width-rg:2px;
  --border-width-md:4px;
  --border-width-lg:8px;
  --border-width-default:var(--border-width-sm);
  border-color:var(--base-color);
}

.br{
  border-style:solid;
  border-width:1px;
  border-width:var(--border-width-default);
}

.brx{
  border-left-style:solid;
  border-left-width:1px;
  border-left-width:var(--border-width-default);
  border-right-style:solid;
  border-right-width:1px;
  border-right-width:var(--border-width-default);
  border-top-width:0;
  border-bottom-width:0;
}

.bry{
  border-top-style:solid;
  border-top-width:1px;
  border-top-width:var(--border-width-default);
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-bottom-width:var(--border-width-default);
  border-left-width:0;
  border-right-width:0;
}

.brt{
  border-top-style:solid;
  border-top-width:1px;
  border-top-width:var(--border-width-default);
}

.brr{
  border-right-style:solid;
  border-right-width:1px;
  border-right-width:var(--border-width-default);
}

.brb{
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-bottom-width:var(--border-width-default);
}

.brl{
  border-left-style:solid;
  border-left-width:1px;
  border-left-width:var(--border-width-default);
}

.br-0{
  border-style:none;
  border-width:0;
}

.br-dotted{
  border-style:dotted;
}

.br-dashed{
  border-style:dashed;
}

.br-solid{
  border-style:solid;
}

.brw-0{
  border-width:0;
}

.brw-sm{
  border-width:1px;
  border-width:var(--border-width-sm);
}

.brw-rg{
  border-width:2px;
  border-width:var(--border-width-rg);
}

.brw-md{
  border-width:4px;
  border-width:var(--border-width-md);
}

.brw-lg{
  border-width:8px;
  border-width:var(--border-width-lg);
}

.brw{
  border-width:var(--space);
}

.br-radius{
  border-radius:var(--space);
}

.br-radius-0{
  border-radius:none;
}

.br-radius-1{
  border-radius:var(--space-1);
}

.br-radius-2{
  border-radius:var(--space-2);
}

.br-radius-3{
  border-radius:var(--space-3);
}

.br-radius-4{
  border-radius:var(--space-4);
}

.br-radius--1{
  border-radius:var(--space--1);
}

.br-radius--2{
  border-radius:var(--space--1);
}

.br-radius--3{
  border-radius:var(--space--3);
}

.br-radius--4{
  border-radius:var(--space--4);
}