:root {
    --color-dn-spread: 7;
    --color-up-spread: 7;
    --neutral-h: 0;
    --neutral-s: 0%;
    --neutral-l: 58%;
    --primary-h: 200;
    --primary-s: 55.6%;
    --primary-l: 53%;
    --accent-one-h: 3.1;
    --accent-one-s: 53.7%;
    --accent-one-l: 53%;
    --accent-two-h: 143;
    --accent-two-s: 56.6%;
    --accent-two-l: 53%;
    --accent-three-h: 55;
    --accent-three-s: 62.8%;
    --accent-three-l: 53%;
    --accent-four-h: 175.2;
    --accent-four-s: 62.5%;
    --accent-four-l: 52.94%;
    --accent-five-h: 295.2;
    --accent-five-s: 62.5%;
    --accent-five-l: 52.94%;
    --neutral-up-step: calc((100% - var(--neutral-l)) / var(--color-up-spread));
    --neutral-dn-step: calc(var(--neutral-l) / var(--color-dn-spread));
    --neutral-d5: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) - 5 * var(--neutral-dn-step)));
    --neutral-d4: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) - 4 * var(--neutral-dn-step)));
    --neutral-d3: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) - 3 * var(--neutral-dn-step)));
    --neutral-d2: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) - 2 * var(--neutral-dn-step)));
    --neutral-d1: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) - var(--neutral-dn-step)));
    --neutral: hsl(var(--neutral-h), var(--neutral-s), var(--neutral-l));
    --neutral-1: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) + var(--neutral-up-step)));
    --neutral-2: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) + 2 * var(--neutral-up-step)));
    --neutral-3: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) + 3 * var(--neutral-up-step)));
    --neutral-4: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) + 4 * var(--neutral-up-step)));
    --neutral-5: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) + 5 * var(--neutral-up-step)));
    --primary-up-step: calc((100% - var(--primary-l)) / var(--color-up-spread));
    --primary-dn-step: calc(var(--primary-l) / var(--color-dn-spread));
    --primary-d5: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - 5 * var(--primary-dn-step)));
    --primary-d4: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - 4 * var(--primary-dn-step)));
    --primary-d3: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - 3 * var(--primary-dn-step)));
    --primary-d2: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - 2 * var(--primary-dn-step)));
    --primary-d1: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - var(--primary-dn-step)));
    --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
    --primary-1: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + var(--primary-up-step)));
    --primary-2: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + 2 * var(--primary-up-step)));
    --primary-3: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + 3 * var(--primary-up-step)));
    --primary-4: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + 4 * var(--primary-up-step)));
    --primary-5: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + 5 * var(--primary-up-step)));
    --accent-one-up-step: calc((100% - var(--accent-one-l)) / var(--color-up-spread));
    --accent-one-dn-step: calc(var(--accent-one-l) / var(--color-dn-spread));
    --accent-one-d5: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) - 5 * var(--accent-one-dn-step)));
    --accent-one-d4: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) - 4 * var(--accent-one-dn-step)));
    --accent-one-d3: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) - 3 * var(--accent-one-dn-step)));
    --accent-one-d2: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) - 2 * var(--accent-one-dn-step)));
    --accent-one-d1: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) - var(--accent-one-dn-step)));
    --accent-one: hsl(var(--accent-one-h), var(--accent-one-s), var(--accent-one-l));
    --accent-one-1: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) + var(--accent-one-up-step)));
    --accent-one-2: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) + 2 * var(--accent-one-up-step)));
    --accent-one-3: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) + 3 * var(--accent-one-up-step)));
    --accent-one-4: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) + 4 * var(--accent-one-up-step)));
    --accent-one-5: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) + 5 * var(--accent-one-up-step)));
    --accent-two-up-step: calc((100% - var(--accent-two-l)) / var(--color-up-spread));
    --accent-two-dn-step: calc(var(--accent-two-l) / var(--color-dn-spread));
    --accent-two-d5: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) - 5 * var(--accent-two-dn-step)));
    --accent-two-d4: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) - 4 * var(--accent-two-dn-step)));
    --accent-two-d3: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) - 3 * var(--accent-two-dn-step)));
    --accent-two-d2: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) - 2 * var(--accent-two-dn-step)));
    --accent-two-d1: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) - var(--accent-two-dn-step)));
    --accent-two: hsl(var(--accent-two-h), var(--accent-two-s), var(--accent-two-l));
    --accent-two-1: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) + var(--accent-two-up-step)));
    --accent-two-2: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) + 2 * var(--accent-two-up-step)));
    --accent-two-3: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) + 3 * var(--accent-two-up-step)));
    --accent-two-4: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) + 4 * var(--accent-two-up-step)));
    --accent-two-5: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) + 5 * var(--accent-two-up-step)));
    --accent-three-up-step: calc((100% - var(--accent-three-l)) / var(--color-up-spread));
    --accent-three-dn-step: calc(var(--accent-three-l) / var(--color-dn-spread));
    --accent-three-d5: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) - 5 * var(--accent-three-dn-step)));
    --accent-three-d4: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) - 4 * var(--accent-three-dn-step)));
    --accent-three-d3: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) - 3 * var(--accent-three-dn-step)));
    --accent-three-d2: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) - 2 * var(--accent-three-dn-step)));
    --accent-three-d1: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) - var(--accent-three-dn-step)));
    --accent-three: hsl(var(--accent-three-h), var(--accent-three-s), var(--accent-three-l));
    --accent-three-1: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) + var(--accent-three-up-step)));
    --accent-three-2: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) + 2 * var(--accent-three-up-step)));
    --accent-three-3: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) + 3 * var(--accent-three-up-step)));
    --accent-three-4: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) + 4 * var(--accent-three-up-step)));
    --accent-three-5: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) + 5 * var(--accent-three-up-step)));
    --accent-four-up-step: calc((100% - var(--accent-four-l)) / var(--color-up-spread));
    --accent-four-dn-step: calc(var(--accent-four-l) / var(--color-dn-spread));
    --accent-four-d5: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-four-l) - 5 * var(--accent-four-dn-step)));
    --accent-four-d4: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-four-l) - 4 * var(--accent-four-dn-step)));
    --accent-four-d3: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-four-l) - 3 * var(--accent-four-dn-step)));
    --accent-four-d2: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-four-l) - 2 * var(--accent-four-dn-step)));
    --accent-four-d1: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-four-l) - var(--accent-four-dn-step)));
    --accent-four: hsl(var(--accent-four-h), var(--accent-four-s), var(--accent-four-l));
    --accent-four-1: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-four-l) + var(--accent-four-up-step)));
    --accent-four-2: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-four-l) + 2 * var(--accent-four-up-step)));
    --accent-four-3: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-four-l) + 3 * var(--accent-four-up-step)));
    --accent-four-4: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-four-l) + 4 * var(--accent-four-up-step)));
    --accent-four-5: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-three-l) + 5 * var(--accent-three-up-step)));
    --accent-five-up-step: calc((100% - var(--accent-five-l)) / var(--color-up-spread));
    --accent-five-dn-step: calc(var(--accent-five-l) / var(--color-dn-spread));
    --accent-five-d5: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-five-l) - 5 * var(--accent-five-dn-step)));
    --accent-five-d4: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-five-l) - 4 * var(--accent-five-dn-step)));
    --accent-five-d3: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-five-l) - 3 * var(--accent-five-dn-step)));
    --accent-five-d2: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-five-l) - 2 * var(--accent-five-dn-step)));
    --accent-five-d1: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-five-l) - var(--accent-five-dn-step)));
    --accent-five: hsl(var(--accent-five-h), var(--accent-five-s), var(--accent-five-l));
    --accent-five-1: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-five-l) + var(--accent-five-up-step)));
    --accent-five-2: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-five-l) + 2 * var(--accent-five-up-step)));
    --accent-five-3: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-five-l) + 3 * var(--accent-five-up-step)));
    --accent-five-4: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-five-l) + 4 * var(--accent-five-up-step)));
    --accent-five-5: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-three-l) + 5 * var(--accent-three-up-step)));
    --base-color: var(--neutral-d5);
    --base-background: white;
    --mark-background: yellow;
    --pre-border-color: var(--neutral);
    --pre-background: var(--neutral-5);
    --link-color: inherit;
    --link-focus-color: var(--primary);
    --link-hover-color: var(--link-focus-color);
    --link-active-color: var(--link-focus-color);
    --selection-color: var(--primary-4);
    --heading-color: var(--base-color);
    --meta-color: var(--neutral-d2);
    --li-prefix-color: var(--heading-color);
    --form-label-color: var(--meta-color);
    --form-field-color: var(--base-color);
    --form-field-border-color: var(--neutral);
    --caret-color: var(--primary-d1);
    --form-focus-color: var(--link-focus-color);
    --form-button-background: var(--base-color);
    --form-button-color: var(--base-background);
    --kbd-background: var(--pre-background);
    --kbd-border-color: var(--form-field-border-color);
    --text-decoration-color: unset;
    --code-background: transparent;
    --code-color: var(--base-color);
    --pre-color: var(--base-color);
    --blockquote-prefix-color: var(--li-prefix-color);
    --blockquote-background: transparent;
    --blockquote-border: unset;
    --table-alternate-row-background: var(--neutral-5);
    --table-alternate-col-background: var(--neutral-5);
    --table-underline-row-color: var(--base-color);
    --table-head-background: var(--base-background);
    color: var(--base-color);
}

::selection {
    background: var(--selection-color);
}

.neutral-d5 {
    color: var(--neutral-d5);
}

.neutral-d4 {
    color: var(--neutral-d4);
}

.neutral-d3 {
    color: var(--neutral-d3);
}

.neutral-d2 {
    color: var(--neutral-d2);
}

.neutral-d1 {
    color: var(--neutral-d1);
}

.neutral {
    color: var(--neutral);
}

.neutral-1 {
    color: var(--neutral-1);
}

.neutral-2 {
    color: var(--neutral-2);
}

.neutral-3 {
    color: var(--neutral-3);
}

.neutral-4 {
    color: var(--neutral-4);
}

.neutral-5 {
    color: var(--neutral-5);
}

.white {
    color: white;
}

.black {
    color: black;
}

.base-background {
    color: var(--base-background);
}

.base-color {
    color: var(--base-color);
}

.meta-color {
    color: var(--meta-color);
}

.heading-color {
    color: var(--heading-color);
}

.link-color {
    color: var(--link-color);
}

.link-hover-color {
    color: var(--link-hover-color);
}

.link-active-color {
    color: var(--link-active-color);
}

.link-focus-color {
    color: var(--link-focus-color);
}

.li-prefix-color {
    color: var(--li-prefix-color);
}

/* Background */

.bg-neutral-d5 {
    background-color: var(--neutral-d5);
}

.bg-neutral-d4 {
    background-color: var(--neutral-d4);
}

.bg-neutral-d3 {
    background-color: var(--neutral-d3);
}

.bg-neutral-d2 {
    background-color: var(--neutral-d2);
}

.bg-neutral-d1 {
    background-color: var(--neutral-d1);
}

.bg-neutral {
    background-color: var(--neutral);
}

.bg-neutral-1 {
    background-color: var(--neutral-1);
}

.bg-neutral-2 {
    background-color: var(--neutral-2);
}

.bg-neutral-3 {
    background-color: var(--neutral-3);
}

.bg-neutral-4 {
    background-color: var(--neutral-4);
}

.bg-neutral-5 {
    background-color: var(--neutral-5);
}

.bg-transparent {
    background-color: transparent;
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.bg-base-background {
    background-color: var(--base-background);
}

.bg-base-color {
    background-color: var(--base-color);
}

.bg-meta-color {
    background-color: var(--meta-color);
}

.bg-heading-color {
    background-color: var(--heading-color);
}

.bg-link-color {
    background-color: var(--link-color);
}

.bg-link-hover-color {
    background-color: var(--link-hover-color);
}

.bg-link-active-color {
    background-color: var(--link-active-color);
}

.bg-link-focus-color {
    background-color: var(--link-focus-color);
}

.bg-li-prefix-color {
    background-color: var(--li-prefix-color);
}

/* Border Colors */

.br-neutral-d5 {
    border-color: var(--neutral-d5);
}

.br-neutral-d4 {
    border-color: var(--neutral-d4);
}

.br-neutral-d3 {
    border-color: var(--neutral-d3);
}

.br-neutral-d2 {
    border-color: var(--neutral-d2);
}

.br-neutral-d1 {
    border-color: var(--neutral-d1);
}

.br-neutral {
    border-color: var(--neutral);
}

.br-neutral-1 {
    border-color: var(--neutral-1);
}

.br-neutral-2 {
    border-color: var(--neutral-2);
}

.br-neutral-3 {
    border-color: var(--neutral-3);
}

.br-neutral-4 {
    border-color: var(--neutral-4);
}

.br-neutral-5 {
    border-color: var(--neutral-5);
}

.br-white {
    border-color: white;
}

.br-black {
    border-color: black;
}

.br-base-background {
    border-color: var(--base-background);
}

.br-base-color {
    border-color: var(--base-color);
}

.br-meta-color {
    border-color: var(--meta-color);
}

.br-heading-color {
    border-color: var(--heading-color);
}

.br-link-color {
    border-color: var(--link-color);
}

.br-link-hover-color {
    border-color: var(--link-hover-color);
}

.br-link-active-color {
    border-color: var(--link-active-color);
}

.br-link-focus-color {
    border-color: var(--link-focus-color);
}

.br-li-prefix-color {
    border-color: var(--li-prefix-color);
}

.primary-d5 {
    color: var(--primary-d5);
}

.primary-d4 {
    color: var(--primary-d4);
}

.primary-d3 {
    color: var(--primary-d3);
}

.primary-d2 {
    color: var(--primary-d2);
}

.primary-d1 {
    color: var(--primary-d1);
}

.primary {
    color: var(--primary);
}

.primary-1 {
    color: var(--primary-1);
}

.primary-2 {
    color: var(--primary-2);
}

.primary-3 {
    color: var(--primary-3);
}

.primary-4 {
    color: var(--primary-4);
}

.primary-5 {
    color: var(--primary-5);
}

.accent-one-d5 {
    color: var(--accent-one-d5);
}

.accent-one-d4 {
    color: var(--accent-one-d4);
}

.accent-one-d3 {
    color: var(--accent-one-d3);
}

.accent-one-d2 {
    color: var(--accent-one-d2);
}

.accent-one-d1 {
    color: var(--accent-one-d1);
}

.accent-one {
    color: var(--accent-one);
}

.accent-one-1 {
    color: var(--accent-one-1);
}

.accent-one-2 {
    color: var(--accent-one-2);
}

.accent-one-3 {
    color: var(--accent-one-3);
}

.accent-one-4 {
    color: var(--accent-one-4);
}

.accent-one-5 {
    color: var(--accent-one-5);
}

.accent-two-d5 {
    color: var(--accent-two-d5);
}

.accent-two-d4 {
    color: var(--accent-two-d4);
}

.accent-two-d3 {
    color: var(--accent-two-d3);
}

.accent-two-d2 {
    color: var(--accent-two-d2);
}

.accent-two-d1 {
    color: var(--accent-two-d1);
}

.accent-two {
    color: var(--accent-two);
}

.accent-two-1 {
    color: var(--accent-two-1);
}

.accent-two-2 {
    color: var(--accent-two-2);
}

.accent-two-3 {
    color: var(--accent-two-3);
}

.accent-two-4 {
    color: var(--accent-two-4);
}

.accent-two-5 {
    color: var(--accent-two-5);
}

.accent-three-d5 {
    color: var(--accent-three-d5);
}

.accent-three-d4 {
    color: var(--accent-three-d4);
}

.accent-three-d3 {
    color: var(--accent-three-d3);
}

.accent-three-d2 {
    color: var(--accent-three-d2);
}

.accent-three-d1 {
    color: var(--accent-three-d1);
}

.accent-three {
    color: var(--accent-three);
}

.accent-three-1 {
    color: var(--accent-three-1);
}

.accent-three-2 {
    color: var(--accent-three-2);
}

.accent-three-3 {
    color: var(--accent-three-3);
}

.accent-three-4 {
    color: var(--accent-three-4);
}

.accent-three-5 {
    color: var(--accent-three-5);
}

.accent-four-d5 {
    color: var(--accent-four-d5);
}

.accent-four-d4 {
    color: var(--accent-four-d4);
}

.accent-four-d3 {
    color: var(--accent-four-d3);
}

.accent-four-d2 {
    color: var(--accent-four-d2);
}

.accent-four-d1 {
    color: var(--accent-four-d1);
}

.accent-four {
    color: var(--accent-four);
}

.accent-four-1 {
    color: var(--accent-four-1);
}

.accent-four-2 {
    color: var(--accent-four-2);
}

.accent-four-3 {
    color: var(--accent-four-3);
}

.accent-four-4 {
    color: var(--accent-four-4);
}

.accent-four-5 {
    color: var(--accent-four-5);
}

.accent-five-d5 {
    color: var(--accent-five-d5);
}

.accent-five-d4 {
    color: var(--accent-five-d4);
}

.accent-five-d3 {
    color: var(--accent-five-d3);
}

.accent-five-d2 {
    color: var(--accent-five-d2);
}

.accent-five-d1 {
    color: var(--accent-five-d1);
}

.accent-five {
    color: var(--accent-five);
}

.accent-five-1 {
    color: var(--accent-five-1);
}

.accent-five-2 {
    color: var(--accent-five-2);
}

.accent-five-3 {
    color: var(--accent-five-3);
}

.accent-five-4 {
    color: var(--accent-five-4);
}

.accent-five-5 {
    color: var(--accent-five-5);
}

/* Background */

.bg-primary-d5 {
    background-color: var(--primary-d5);
}

.bg-primary-d4 {
    background-color: var(--primary-d4);
}

.bg-primary-d3 {
    background-color: var(--primary-d3);
}

.bg-primary-d2 {
    background-color: var(--primary-d2);
}

.bg-primary-d1 {
    background-color: var(--primary-d1);
}

.bg-primary {
    background-color: var(--primary);
}

.bg-primary-1 {
    background-color: var(--primary-1);
}

.bg-primary-2 {
    background-color: var(--primary-2);
}

.bg-primary-3 {
    background-color: var(--primary-3);
}

.bg-primary-4 {
    background-color: var(--primary-4);
}

.bg-primary-5 {
    background-color: var(--primary-5);
}

.bg-accent-one-d5 {
    background-color: var(--accent-one-d5);
}

.bg-accent-one-d4 {
    background-color: var(--accent-one-d4);
}

.bg-accent-one-d3 {
    background-color: var(--accent-one-d3);
}

.bg-accent-one-d2 {
    background-color: var(--accent-one-d2);
}

.bg-accent-one-d1 {
    background-color: var(--accent-one-d1);
}

.bg-accent-one {
    background-color: var(--accent-one);
}

.bg-accent-one-1 {
    background-color: var(--accent-one-1);
}

.bg-accent-one-2 {
    background-color: var(--accent-one-2);
}

.bg-accent-one-3 {
    background-color: var(--accent-one-3);
}

.bg-accent-one-4 {
    background-color: var(--accent-one-4);
}

.bg-accent-one-5 {
    background-color: var(--accent-one-5);
}

.bg-accent-two-d5 {
    background-color: var(--accent-two-d5);
}

.bg-accent-two-d4 {
    background-color: var(--accent-two-d4);
}

.bg-accent-two-d3 {
    background-color: var(--accent-two-d3);
}

.bg-accent-two-d2 {
    background-color: var(--accent-two-d2);
}

.bg-accent-two-d1 {
    background-color: var(--accent-two-d1);
}

.bg-accent-two {
    background-color: var(--accent-two);
}

.bg-accent-two-1 {
    background-color: var(--accent-two-1);
}

.bg-accent-two-2 {
    background-color: var(--accent-two-2);
}

.bg-accent-two-3 {
    background-color: var(--accent-two-3);
}

.bg-accent-two-4 {
    background-color: var(--accent-two-4);
}

.bg-accent-two-5 {
    background-color: var(--accent-two-5);
}

.bg-accent-three-d5 {
    background-color: var(--accent-three-d5);
}

.bg-accent-three-d4 {
    background-color: var(--accent-three-d4);
}

.bg-accent-three-d3 {
    background-color: var(--accent-three-d3);
}

.bg-accent-three-d2 {
    background-color: var(--accent-three-d2);
}

.bg-accent-three-d1 {
    background-color: var(--accent-three-d1);
}

.bg-accent-three {
    background-color: var(--accent-three);
}

.bg-accent-three-1 {
    background-color: var(--accent-three-1);
}

.bg-accent-three-2 {
    background-color: var(--accent-three-2);
}

.bg-accent-three-3 {
    background-color: var(--accent-three-3);
}

.bg-accent-three-4 {
    background-color: var(--accent-three-4);
}

.bg-accent-three-5 {
    background-color: var(--accent-three-5);
}

.bg-accent-four-d5 {
    background-color: var(--accent-four-d5);
}

.bg-accent-four-d4 {
    background-color: var(--accent-four-d4);
}

.bg-accent-four-d3 {
    background-color: var(--accent-four-d3);
}

.bg-accent-four-d2 {
    background-color: var(--accent-four-d2);
}

.bg-accent-four-d1 {
    background-color: var(--accent-four-d1);
}

.bg-accent-four {
    background-color: var(--accent-four);
}

.bg-accent-four-1 {
    background-color: var(--accent-four-1);
}

.bg-accent-four-2 {
    background-color: var(--accent-four-2);
}

.bg-accent-four-3 {
    background-color: var(--accent-four-3);
}

.bg-accent-four-4 {
    background-color: var(--accent-four-4);
}

.bg-accent-four-5 {
    background-color: var(--accent-four-5);
}

.bg-accent-five-d5 {
    background-color: var(--accent-five-d5);
}

.bg-accent-five-d4 {
    background-color: var(--accent-five-d4);
}

.bg-accent-five-d3 {
    background-color: var(--accent-five-d3);
}

.bg-accent-five-d2 {
    background-color: var(--accent-five-d2);
}

.bg-accent-five-d1 {
    background-color: var(--accent-five-d1);
}

.bg-accent-five {
    background-color: var(--accent-five);
}

.bg-accent-five-1 {
    background-color: var(--accent-five-1);
}

.bg-accent-five-2 {
    background-color: var(--accent-five-2);
}

.bg-accent-five-3 {
    background-color: var(--accent-five-3);
}

.bg-accent-five-4 {
    background-color: var(--accent-five-4);
}

.bg-accent-five-5 {
    background-color: var(--accent-five-5);
}

/* Border Colors */

.br-primary-d5 {
    border-color: var(--primary-d5);
}

.br-primary-d4 {
    border-color: var(--primary-d4);
}

.br-primary-d3 {
    border-color: var(--primary-d3);
}

.br-primary-d2 {
    border-color: var(--primary-d2);
}

.br-primary-d1 {
    border-color: var(--primary-d1);
}

.br-primary {
    border-color: var(--primary);
}

.br-primary-1 {
    border-color: var(--primary-1);
}

.br-primary-2 {
    border-color: var(--primary-2);
}

.br-primary-3 {
    border-color: var(--primary-3);
}

.br-primary-4 {
    border-color: var(--primary-4);
}

.br-primary-5 {
    border-color: var(--primary-5);
}

.br-accent-one-d5 {
    border-color: var(--accent-one-d5);
}

.br-accent-one-d4 {
    border-color: var(--accent-one-d4);
}

.br-accent-one-d3 {
    border-color: var(--accent-one-d3);
}

.br-accent-one-d2 {
    border-color: var(--accent-one-d2);
}

.br-accent-one-d1 {
    border-color: var(--accent-one-d1);
}

.br-accent-one {
    border-color: var(--accent-one);
}

.br-accent-one-1 {
    border-color: var(--accent-one-1);
}

.br-accent-one-2 {
    border-color: var(--accent-one-2);
}

.br-accent-one-3 {
    border-color: var(--accent-one-3);
}

.br-accent-one-4 {
    border-color: var(--accent-one-4);
}

.br-accent-one-5 {
    border-color: var(--accent-one-5);
}

.br-accent-two-d5 {
    border-color: var(--accent-two-d4);
}

.br-accent-two-d4 {
    border-color: var(--accent-two-d4);
}

.br-accent-two-d3 {
    border-color: var(--accent-two-d3);
}

.br-accent-two-d2 {
    border-color: var(--accent-two-d2);
}

.br-accent-two-d1 {
    border-color: var(--accent-two-d1);
}

.br-accent-two {
    border-color: var(--accent-two);
}

.br-accent-two-1 {
    border-color: var(--accent-two-1);
}

.br-accent-two-2 {
    border-color: var(--accent-two-2);
}

.br-accent-two-3 {
    border-color: var(--accent-two-3);
}

.br-accent-two-4 {
    border-color: var(--accent-two-4);
}

.br-accent-two-5 {
    border-color: var(--accent-two-5);
}

.br-accent-three-d5 {
    border-color: var(--accent-three-d5);
}

.br-accent-three-d4 {
    border-color: var(--accent-three-d4);
}

.br-accent-three-d3 {
    border-color: var(--accent-three-d3);
}

.br-accent-three-d2 {
    border-color: var(--accent-three-d2);
}

.br-accent-three-d1 {
    border-color: var(--accent-three-d1);
}

.br-accent-three {
    border-color: var(--accent-three);
}

.br-accent-three-1 {
    border-color: var(--accent-three-1);
}

.br-accent-three-2 {
    border-color: var(--accent-three-2);
}

.br-accent-three-3 {
    border-color: var(--accent-three-3);
}

.br-accent-three-4 {
    border-color: var(--accent-three-4);
}

.br-accent-three-5 {
    border-color: var(--accent-three-5);
}

.br-accent-four-d5 {
    border-color: var(--accent-four-d5);
}

.br-accent-four-d4 {
    border-color: var(--accent-four-d4);
}

.br-accent-four-d3 {
    border-color: var(--accent-four-d3);
}

.br-accent-four-d2 {
    border-color: var(--accent-four-d2);
}

.br-accent-four-d1 {
    border-color: var(--accent-four-d1);
}

.br-accent-four {
    border-color: var(--accent-four);
}

.br-accent-four-1 {
    border-color: var(--accent-four-1);
}

.br-accent-four-2 {
    border-color: var(--accent-four-2);
}

.br-accent-four-3 {
    border-color: var(--accent-four-3);
}

.br-accent-four-4 {
    border-color: var(--accent-four-4);
}

.br-accent-four-5 {
    border-color: var(--accent-four-5);
}

.br-accent-five-d5 {
    border-color: var(--accent-five-d5);
}

.br-accent-five-d4 {
    border-color: var(--accent-five-d4);
}

.br-accent-five-d3 {
    border-color: var(--accent-five-d3);
}

.br-accent-five-d2 {
    border-color: var(--accent-five-d2);
}

.br-accent-five-d1 {
    border-color: var(--accent-five-d1);
}

.br-accent-five {
    border-color: var(--accent-five);
}

.br-accent-five-1 {
    border-color: var(--accent-five-1);
}

.br-accent-five-2 {
    border-color: var(--accent-five-2);
}

.br-accent-five-3 {
    border-color: var(--accent-five-3);
}

.br-accent-five-4 {
    border-color: var(--accent-five-4);
}

.br-accent-five-5 {
    border-color: var(--accent-five-5);
}