:root{
  --navy:#001f3f;
  --blue:#0074d9;
  --aqua:#7fdbff;
  --teal:#39cccc;
  --olive:#3d9970;
  --green:#2ecc40;
  --lime:#01ff70;
  --yellow:#ffdc00;
  --orange:#ff851b;
  --red:#ff4136;
  --fuchsia:#f012be;
  --purple:#b10dc9;
  --maroon:#85144b;
  --white:#ffffff;
  --gray:#aaaaaa;
  --silver:#dddddd;
  --black:#111111;
  --base-color:#333;
  --base-background:#fff;
  --mark-background:#ffe9b3;
  --kbd-background:var(--silver);
  --code-color:var(--base-color);
  --code-background:var(--silver);
  --link-color:var(--base-color);
  --text-decoration-color:var(--base-color);
  color:#333;
  color:var(--base-color);
}

.brighter{
  -webkit-filter:brightness(2);
          filter:brightness(2);
}

.darker{
  -webkit-filter:brightness(0.5);
          filter:brightness(0.5);
}

.grayscale{
  -webkit-filter:grayscale(1);
          filter:grayscale(1);
}

.no-filter{
  -webkit-filter:none;
          filter:none;
}

.bg-navy{
  background-color:#001f3f;
  background-color:var(--navy);
}

.bg-blue{
  background-color:#0074d9;
  background-color:var(--blue);
}

.bg-aqua{
  background-color:#7fdbff;
  background-color:var(--aqua);
}

.bg-teal{
  background-color:#39cccc;
  background-color:var(--teal);
}

.bg-olive{
  background-color:#3d9970;
  background-color:var(--olive);
}

.bg-green{
  background-color:#2ecc40;
  background-color:var(--green);
}

.bg-lime{
  background-color:#01ff70;
  background-color:var(--lime);
}

.bg-yellow{
  background-color:#ffdc00;
  background-color:var(--yellow);
}

.bg-orange{
  background-color:#ff851b;
  background-color:var(--orange);
}

.bg-red{
  background-color:#ff4136;
  background-color:var(--red);
}

.bg-fuchsia{
  background-color:#f012be;
  background-color:var(--fuchsia);
}

.bg-purple{
  background-color:#b10dc9;
  background-color:var(--purple);
}

.bg-maroon{
  background-color:#85144b;
  background-color:var(--maroon);
}

.bg-white{
  background-color:#ffffff;
  background-color:var(--white);
}

.bg-gray{
  background-color:#aaaaaa;
  background-color:var(--gray);
}

.bg-silver{
  background-color:#dddddd;
  background-color:var(--silver);
}

.bg-black{
  background-color:#111111;
  background-color:var(--black);
}

.bg-base-background{
  background-color:#fff;
  background-color:var(--base-background);
}

.bg-base-color{
  background-color:#333;
  background-color:var(--base-color);
}

.navy{
  color:#001f3f;
  color:var(--navy);
}

.blue{
  color:#0074d9;
  color:var(--blue);
}

.aqua{
  color:#7fdbff;
  color:var(--aqua);
}

.teal{
  color:#39cccc;
  color:var(--teal);
}

.olive{
  color:#3d9970;
  color:var(--olive);
}

.green{
  color:#2ecc40;
  color:var(--green);
}

.lime{
  color:#01ff70;
  color:var(--lime);
}

.yellow{
  color:#ffdc00;
  color:var(--yellow);
}

.orange{
  color:#ff851b;
  color:var(--orange);
}

.red{
  color:#ff4136;
  color:var(--red);
}

.fuchsia{
  color:#f012be;
  color:var(--fuchsia);
}

.purple{
  color:#b10dc9;
  color:var(--purple);
}

.maroon{
  color:#85144b;
  color:var(--maroon);
}

.white{
  color:#ffffff;
  color:var(--white);
}

.silver{
  color:#dddddd;
  color:var(--silver);
}

.gray{
  color:#aaaaaa;
  color:var(--gray);
}

.black{
  color:#111111;
  color:var(--black);
}

.base-color{
  color:#333;
  color:var(--base-color);
}

.base-background{
  color:#fff;
  color:var(--base-background);
}

.br-navy{
  border-color:#001f3f;
  border-color:var(--navy);
}

.br-blue{
  border-color:#0074d9;
  border-color:var(--blue);
}

.br-aqua{
  border-color:#7fdbff;
  border-color:var(--aqua);
}

.br-teal{
  border-color:#39cccc;
  border-color:var(--teal);
}

.br-olive{
  border-color:#3d9970;
  border-color:var(--olive);
}

.br-green{
  border-color:#2ecc40;
  border-color:var(--green);
}

.br-lime{
  border-color:#01ff70;
  border-color:var(--lime);
}

.br-yellow{
  border-color:#ffdc00;
  border-color:var(--yellow);
}

.br-orange{
  border-color:#ff851b;
  border-color:var(--orange);
}

.br-red{
  border-color:#ff4136;
  border-color:var(--red);
}

.br-fuchsia{
  border-color:#f012be;
  border-color:var(--fuchsia);
}

.br-purple{
  border-color:#b10dc9;
  border-color:var(--purple);
}

.br-maroon{
  border-color:#85144b;
  border-color:var(--maroon);
}

.br-white{
  border-color:#ffffff;
  border-color:var(--white);
}

.br-gray{
  border-color:#aaaaaa;
  border-color:var(--gray);
}

.br-silver{
  border-color:#dddddd;
  border-color:var(--silver);
}

.br-black{
  border-color:#111111;
  border-color:var(--black);
}

.br-base-color{
  border-color:#333;
  border-color:var(--base-color);
}

.br-base-background{
  border-color:#fff;
  border-color:var(--base-background);
}

.flnavy{
  fill:#001f3f;
  fill:var(--navy);
}

.flblue{
  fill:#0074d9;
  fill:var(--blue);
}

.flaqua{
  fill:#7fdbff;
  fill:var(--aqua);
}

.flteal{
  fill:#39cccc;
  fill:var(--teal);
}

.flolive{
  fill:#3d9970;
  fill:var(--olive);
}

.flgreen{
  fill:#2ecc40;
  fill:var(--green);
}

.fllime{
  fill:#01ff70;
  fill:var(--lime);
}

.flyellow{
  fill:#ffdc00;
  fill:var(--yellow);
}

.florange{
  fill:#ff851b;
  fill:var(--orange);
}

.flred{
  fill:#ff4136;
  fill:var(--red);
}

.flfuchsia{
  fill:#f012be;
  fill:var(--fuchsia);
}

.flpurple{
  fill:#b10dc9;
  fill:var(--purple);
}

.flmaroon{
  fill:#85144b;
  fill:var(--maroon);
}

.flwhite{
  fill:#ffffff;
  fill:var(--white);
}

.flgray{
  fill:#aaaaaa;
  fill:var(--gray);
}

.flsilver{
  fill:#dddddd;
  fill:var(--silver);
}

.flblack{
  fill:#111111;
  fill:var(--black);
}

.flbase-color{
  fill:#333;
  fill:var(--base-color);
}

.flbase-background{
  fill:#fff;
  fill:var(--base-background);
}

.st-navy{
  stroke:#001f3f;
}

.st-blue{
  stroke:#0074d9;
  stroke:var(--blue);
}

.st-aqua{
  stroke:#7fdbff;
  stroke:var(--aqua);
}

.st-teal{
  stroke:#39cccc;
  stroke:var(--teal);
}

.st-olive{
  stroke:#3d9970;
  stroke:var(--olive);
}

.st-green{
  stroke:#2ecc40;
  stroke:var(--green);
}

.st-lime{
  stroke:#01ff70;
  stroke:var(--lime);
}

.st-yellow{
  stroke:#ffdc00;
  stroke:var(--yellow);
}

.st-orange{
  stroke:#ff851b;
  stroke:var(--orange);
}

.st-red{
  stroke:#ff4136;
  stroke:var(--red);
}

.st-fuchsia{
  stroke:#f012be;
  stroke:var(--fuchsia);
}

.st-purple{
  stroke:#b10dc9;
  stroke:var(--purple);
}

.st-maroon{
  stroke:#85144b;
  stroke:var(--maroon);
}

.st-white{
  stroke:#ffffff;
  stroke:var(--white);
}

.st-gray{
  stroke:#aaaaaa;
  stroke:var(--gray);
}

.st-silver{
  stroke:#dddddd;
  stroke:var(--silver);
}

.st-black{
  stroke:#111111;
  stroke:var(--black);
}

.st-base-color{
  stroke:#333;
  stroke:var(--base-color);
}

.st-base-background{
  stroke:#fff;
  stroke:var(--base-background);
}

