:root {
    --color-dn-spread: 7;
    /*smaller dn-spread number makes darker colors*/
    --color-up-spread: 6;
    /*smaller up-spread number makes lighter colors*/
    --neutral-h: 0;
    --neutral-s: 0%;
    --neutral-l: 53%;
    --primary-h: 198;
    --primary-s: 100%;
    --primary-l: 33.3%;
    --accent-one-h: 80;
    --accent-one-s: 100%;
    --accent-one-l: 30%;
    --accent-two-h: 326.7;
    --accent-two-s: 100%;
    --accent-two-l: 30%;
    --accent-three-h: 356;
    --accent-three-s: 83%;
    --accent-three-l: 41%;
    --accent-four-h: 32;
    --accent-four-s: 100%;
    --accent-four-l: 49%;
    --accent-five-h: 43;
    --accent-five-s: 100%;
    --accent-five-l: 51%;
    --neutral-up-step: calc((100% - var(--neutral-l)) / var(--color-up-spread));
    --neutral-dn-step: calc(var(--neutral-l) / var(--color-dn-spread));
    --neutral-d5: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) - 5 * var(--neutral-dn-step)));
    --neutral-d4: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) - 4 * var(--neutral-dn-step)));
    --neutral-d3: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) - 3 * var(--neutral-dn-step)));
    --neutral-d2: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) - 2 * var(--neutral-dn-step)));
    --neutral-d1: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) - var(--neutral-dn-step)));
    --neutral: hsl(var(--neutral-h), var(--neutral-s), var(--neutral-l));
    --neutral-1: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) + var(--neutral-up-step)));
    --neutral-2: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) + 2 * var(--neutral-up-step)));
    --neutral-3: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) + 3 * var(--neutral-up-step)));
    --neutral-4: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) + 4 * var(--neutral-up-step)));
    --neutral-5: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) + 5 * var(--neutral-up-step)));
    --primary-up-step: calc((100% - var(--primary-l)) / var(--color-up-spread));
    --primary-dn-step: calc(var(--primary-l) / var(--color-dn-spread));
    --primary-d5: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - 5 * var(--primary-dn-step)));
    --primary-d4: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - 4 * var(--primary-dn-step)));
    --primary-d3: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - 3 * var(--primary-dn-step)));
    --primary-d2: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - 2 * var(--primary-dn-step)));
    --primary-d1: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - var(--primary-dn-step)));
    --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
    --primary-1: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + var(--primary-up-step)));
    --primary-2: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + 2 * var(--primary-up-step)));
    --primary-3: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + 3 * var(--primary-up-step)));
    --primary-4: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + 4 * var(--primary-up-step)));
    --primary-5: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + 5 * var(--primary-up-step)));
    --accent-one-up-step: calc((100% - var(--accent-one-l)) / var(--color-up-spread));
    --accent-one-dn-step: calc(var(--accent-one-l) / var(--color-dn-spread));
    --accent-one-d5: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) - 5 * var(--accent-one-dn-step)));
    --accent-one-d4: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) - 4 * var(--accent-one-dn-step)));
    --accent-one-d3: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) - 3 * var(--accent-one-dn-step)));
    --accent-one-d2: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) - 2 * var(--accent-one-dn-step)));
    --accent-one-d1: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) - var(--accent-one-dn-step)));
    --accent-one: hsl(var(--accent-one-h), var(--accent-one-s), var(--accent-one-l));
    --accent-one-1: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) + var(--accent-one-up-step)));
    --accent-one-2: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) + 2 * var(--accent-one-up-step)));
    --accent-one-3: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) + 3 * var(--accent-one-up-step)));
    --accent-one-4: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) + 4 * var(--accent-one-up-step)));
    --accent-one-5: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) + 5 * var(--accent-one-up-step)));
    --accent-two-up-step: calc((100% - var(--accent-two-l)) / var(--color-up-spread));
    --accent-two-dn-step: calc(var(--accent-two-l) / var(--color-dn-spread));
    --accent-two-d5: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) - 5 * var(--accent-two-dn-step)));
    --accent-two-d4: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) - 4 * var(--accent-two-dn-step)));
    --accent-two-d3: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) - 3 * var(--accent-two-dn-step)));
    --accent-two-d2: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) - 2 * var(--accent-two-dn-step)));
    --accent-two-d1: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) - var(--accent-two-dn-step)));
    --accent-two: hsl(var(--accent-two-h), var(--accent-two-s), var(--accent-two-l));
    --accent-two-1: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) + var(--accent-two-up-step)));
    --accent-two-2: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) + 2 * var(--accent-two-up-step)));
    --accent-two-3: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) + 3 * var(--accent-two-up-step)));
    --accent-two-4: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) + 4 * var(--accent-two-up-step)));
    --accent-two-5: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) + 5 * var(--accent-two-up-step)));
    --accent-three-up-step: calc((100% - var(--accent-three-l)) / var(--color-up-spread));
    --accent-three-dn-step: calc(var(--accent-three-l) / var(--color-dn-spread));
    --accent-three-d5: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) - 5 * var(--accent-three-dn-step)));
    --accent-three-d4: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) - 4 * var(--accent-three-dn-step)));
    --accent-three-d3: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) - 3 * var(--accent-three-dn-step)));
    --accent-three-d2: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) - 2 * var(--accent-three-dn-step)));
    --accent-three-d1: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) - var(--accent-three-dn-step)));
    --accent-three: hsl(var(--accent-three-h), var(--accent-three-s), var(--accent-three-l));
    --accent-three-1: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) + var(--accent-three-up-step)));
    --accent-three-2: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) + 2 * var(--accent-three-up-step)));
    --accent-three-3: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) + 3 * var(--accent-three-up-step)));
    --accent-three-4: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) + 4 * var(--accent-three-up-step)));
    --accent-three-5: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) + 5 * var(--accent-three-up-step)));
    --accent-four-up-step: calc((100% - var(--accent-four-l)) / var(--color-up-spread));
    --accent-four-dn-step: calc(var(--accent-four-l) / var(--color-dn-spread));
    --accent-four-d5: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-four-l) - 5 * var(--accent-four-dn-step)));
    --accent-four-d4: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-four-l) - 4 * var(--accent-four-dn-step)));
    --accent-four-d3: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-four-l) - 3 * var(--accent-four-dn-step)));
    --accent-four-d2: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-four-l) - 2 * var(--accent-four-dn-step)));
    --accent-four-d1: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-four-l) - var(--accent-four-dn-step)));
    --accent-four: hsl(var(--accent-four-h), var(--accent-four-s), var(--accent-four-l));
    --accent-four-1: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-four-l) + var(--accent-four-up-step)));
    --accent-four-2: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-four-l) + 2 * var(--accent-four-up-step)));
    --accent-four-3: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-four-l) + 3 * var(--accent-four-up-step)));
    --accent-four-4: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-four-l) + 4 * var(--accent-four-up-step)));
    --accent-four-5: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-three-l) + 5 * var(--accent-three-up-step)));
    --accent-five-up-step: calc((100% - var(--accent-five-l)) / var(--color-up-spread));
    --accent-five-dn-step: calc(var(--accent-five-l) / var(--color-dn-spread));
    --accent-five-d5: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-five-l) - 5 * var(--accent-five-dn-step)));
    --accent-five-d4: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-five-l) - 4 * var(--accent-five-dn-step)));
    --accent-five-d3: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-five-l) - 3 * var(--accent-five-dn-step)));
    --accent-five-d2: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-five-l) - 2 * var(--accent-five-dn-step)));
    --accent-five-d1: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-five-l) - var(--accent-five-dn-step)));
    --accent-five: hsl(var(--accent-five-h), var(--accent-five-s), var(--accent-five-l));
    --accent-five-1: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-five-l) + var(--accent-five-up-step)));
    --accent-five-2: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-five-l) + 2 * var(--accent-five-up-step)));
    --accent-five-3: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-five-l) + 3 * var(--accent-five-up-step)));
    --accent-five-4: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-five-l) + 4 * var(--accent-five-up-step)));
    --accent-five-5: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-three-l) + 5 * var(--accent-three-up-step)));
    --base-color: var(--neutral-d5);
    --base-background: white;
    --mark-background: yellow;
    --border-color: var(--neutral-3);
    --link-color: inherit;
    --link-hover-color: var(--primary);
    --link-focus-color: var(--link-hover-color);
    --link-active-color: var(--link-hover-color);
    --outline-color: var(--primary);    
    --selection-background: var(--primary-5);
    --selection-color: var(--base-color);
    --heading-color: var(--base-color);
    --meta-color: var(--neutral-d1);
    --li-prefix-color: currentColor;
    --li-high-prefix-color: var(--base-background);
    --li-high-prefix-background: var(--base-color);
    --heading-outline-color: var(--li-prefix-color);
    --form-label-color: var(--meta-color);
    --form-field-color: var(--base-color);
    --form-field-border-color: var(--border-color);
    --caret-color: var(--primary-d1);
    --form-button-background: var(--primary);
    --form-button-active-brightness: 1.3;
    --form-button-hover-brightness: var(--form-button-active-brightness);
    --form-button-focus-brightness: 1;
    --form-button-color: var(--base-background);
    --form-field-background: var(--neutral-5);
    --form-field-focus-color: var(--primary);
    --kbd-background: var(--base-background);
    --kbd-color: var(--base-color);
    --kbd-border-color: var(--border-color);
    --timeline-color: var(--li-prefix-color);
    --timeline-blub-color: var(--timeline-color);
    --timeline-blub-background: var(--base-background);
    --code-background: transparent;
    --code-color: var(--base-color);
    --pre-background: transparent;
    --pre-color: var(--base-color);
    --pre-code-color: var(--base-background);
    --pre-code-background: var(--neutral-d5);
    --blockquote-background: transparent;
    --table-alternate-row-background: var(--neutral-5);
    --table-alternate-col-background: var(--neutral-5);
    --table-hover-row-background: var(--primary-5);
    --table-underline-row-color: var(--border-color);
    --table-head-background: var(--base-background);
    color: hsl(0, 0%, calc(53% - 5 * calc(53% / 7)));
    color: var(--base-color);
}

::selection {
    color: hsl(0, 0%, calc(53% - 5 * calc(53% / 7)));
    color: var(--selection-color);
    background: hsl(198, 100%, calc(33.3% + 5 * calc((100% - 33.3%) / 6)));
    background: var(--selection-background);
}

.neutral-d5 {
    color: hsl(0, 0%, calc(53% - 5 * calc(53% / 7)));
    color: var(--neutral-d5);
}

.neutral-d4 {
    color: hsl(0, 0%, calc(53% - 4 * calc(53% / 7)));
    color: var(--neutral-d4);
}

.neutral-d3 {
    color: hsl(0, 0%, calc(53% - 3 * calc(53% / 7)));
    color: var(--neutral-d3);
}

.neutral-d2 {
    color: hsl(0, 0%, calc(53% - 2 * calc(53% / 7)));
    color: var(--neutral-d2);
}

.neutral-d1 {
    color: hsl(0, 0%, calc(53% - calc(53% / 7)));
    color: var(--neutral-d1);
}

.neutral {
    color: hsl(0, 0%, 53%);
    color: var(--neutral);
}

.neutral-1 {
    color: hsl(0, 0%, calc(53% + calc((100% - 53%) / 6)));
    color: var(--neutral-1);
}

.neutral-2 {
    color: hsl(0, 0%, calc(53% + 2 * calc((100% - 53%) / 6)));
    color: var(--neutral-2);
}

.neutral-3 {
    color: hsl(0, 0%, calc(53% + 3 * calc((100% - 53%) / 6)));
    color: var(--neutral-3);
}

.neutral-4 {
    color: hsl(0, 0%, calc(53% + 4 * calc((100% - 53%) / 6)));
    color: var(--neutral-4);
}

.neutral-5 {
    color: hsl(0, 0%, calc(53% + 5 * calc((100% - 53%) / 6)));
    color: var(--neutral-5);
}

.white {
    color: white;
}

.black {
    color: black;
}

.base-background {
    color: white;
    color: var(--base-background);
}

.base-color {
    color: hsl(0, 0%, calc(53% - 5 * calc(53% / 7)));
    color: var(--base-color);
}

.meta-color {
    color: hsl(0, 0%, calc(53% - calc(53% / 7)));
    color: var(--meta-color);
}

.heading-color {
    color: hsl(0, 0%, calc(53% - 5 * calc(53% / 7)));
    color: var(--heading-color);
}

.link-color {
    color: inherit;
    color: var(--link-color);
}

.link-hover-color {
    color: hsl(198, 100%, 33.3%);
    color: var(--link-hover-color);
}

.link-active-color {
    color: hsl(198, 100%, 33.3%);
    color: var(--link-active-color);
}

.link-focus-color {
    color: hsl(198, 100%, 33.3%);
    color: var(--link-focus-color);
}

.form-hover-color {
    color: var(--form-hover-color);
}

.form-active-color {
    color: var(--form-active-color);
}

.form-focus-color {
    color: var(--form-focus-color);
}

.li-prefix-color {
    color: currentColor;
    color: var(--li-prefix-color);
}

/* Background */

.bg-link-color {
    background: inherit;
    background: var(--link-color);
}

.bg-link-hover-color {
    background: hsl(198, 100%, 33.3%);
    background: var(--link-hover-color);
}

.bg-link-active-color {
    background: hsl(198, 100%, 33.3%);
    background: var(--link-active-color);
}

.bg-link-focus-color {
    background: hsl(198, 100%, 33.3%);
    background: var(--link-focus-color);
}

.bg-form-hover-color {
    background: var(--form-hover-color);
}

.bg-form-active-color {
    background: var(--form-active-color);
}

.bg-form-focus-color {
    background: var(--form-focus-color);
}

.bg-li-prefix-color {
    background: currentColor;
    background: var(--li-prefix-color);
}

.bg-neutral-d5 {
    background-color: hsl(0, 0%, calc(53% - 5 * calc(53% / 7)));
    background-color: var(--neutral-d5);
}

.bg-neutral-d4 {
    background-color: hsl(0, 0%, calc(53% - 4 * calc(53% / 7)));
    background-color: var(--neutral-d4);
}

.bg-neutral-d3 {
    background-color: hsl(0, 0%, calc(53% - 3 * calc(53% / 7)));
    background-color: var(--neutral-d3);
}

.bg-neutral-d2 {
    background-color: hsl(0, 0%, calc(53% - 2 * calc(53% / 7)));
    background-color: var(--neutral-d2);
}

.bg-neutral-d1 {
    background-color: hsl(0, 0%, calc(53% - calc(53% / 7)));
    background-color: var(--neutral-d1);
}

.bg-neutral {
    background-color: hsl(0, 0%, 53%);
    background-color: var(--neutral);
}

.bg-neutral-1 {
    background-color: hsl(0, 0%, calc(53% + calc((100% - 53%) / 6)));
    background-color: var(--neutral-1);
}

.bg-neutral-2 {
    background-color: hsl(0, 0%, calc(53% + 2 * calc((100% - 53%) / 6)));
    background-color: var(--neutral-2);
}

.bg-neutral-3 {
    background-color: hsl(0, 0%, calc(53% + 3 * calc((100% - 53%) / 6)));
    background-color: var(--neutral-3);
}

.bg-neutral-4 {
    background-color: hsl(0, 0%, calc(53% + 4 * calc((100% - 53%) / 6)));
    background-color: var(--neutral-4);
}

.bg-neutral-5 {
    background-color: hsl(0, 0%, calc(53% + 5 * calc((100% - 53%) / 6)));
    background-color: var(--neutral-5);
}

.bg-transparent {
    background-color: transparent;
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.bg-base-background {
    background-color: white;
    background-color: var(--base-background);
}

.bg-base-color {
    background-color: hsl(0, 0%, calc(53% - 5 * calc(53% / 7)));
    background-color: var(--base-color);
}

.bg-meta-color {
    background-color: hsl(0, 0%, calc(53% - calc(53% / 7)));
    background-color: var(--meta-color);
}

.bg-heading-color {
    background-color: hsl(0, 0%, calc(53% - 5 * calc(53% / 7)));
    background-color: var(--heading-color);
}

.bg-link-color {
    background-color: inherit;
    background-color: var(--link-color);
}

.bg-link-hover-color {
    background-color: hsl(198, 100%, 33.3%);
    background-color: var(--link-hover-color);
}

.bg-link-active-color {
    background-color: hsl(198, 100%, 33.3%);
    background-color: var(--link-active-color);
}

.bg-link-focus-color {
    background-color: hsl(198, 100%, 33.3%);
    background-color: var(--link-focus-color);
}

.bg-li-prefix-color {
    background-color: currentColor;
    background-color: var(--li-prefix-color);
}

/* Border Colors */

.br-neutral-d5 {
    border-color: hsl(0, 0%, calc(53% - 5 * calc(53% / 7)));
    border-color: var(--neutral-d5);
}

.br-neutral-d4 {
    border-color: hsl(0, 0%, calc(53% - 4 * calc(53% / 7)));
    border-color: var(--neutral-d4);
}

.br-neutral-d3 {
    border-color: hsl(0, 0%, calc(53% - 3 * calc(53% / 7)));
    border-color: var(--neutral-d3);
}

.br-neutral-d2 {
    border-color: hsl(0, 0%, calc(53% - 2 * calc(53% / 7)));
    border-color: var(--neutral-d2);
}

.br-neutral-d1 {
    border-color: hsl(0, 0%, calc(53% - calc(53% / 7)));
    border-color: var(--neutral-d1);
}

.br-neutral {
    border-color: hsl(0, 0%, 53%);
    border-color: var(--neutral);
}

.br-neutral-1 {
    border-color: hsl(0, 0%, calc(53% + calc((100% - 53%) / 6)));
    border-color: var(--neutral-1);
}

.br-neutral-2 {
    border-color: hsl(0, 0%, calc(53% + 2 * calc((100% - 53%) / 6)));
    border-color: var(--neutral-2);
}

.br-neutral-3 {
    border-color: hsl(0, 0%, calc(53% + 3 * calc((100% - 53%) / 6)));
    border-color: var(--neutral-3);
}

.br-neutral-4 {
    border-color: hsl(0, 0%, calc(53% + 4 * calc((100% - 53%) / 6)));
    border-color: var(--neutral-4);
}

.br-neutral-5 {
    border-color: hsl(0, 0%, calc(53% + 5 * calc((100% - 53%) / 6)));
    border-color: var(--neutral-5);
}

.br-white {
    border-color: white;
}

.br-black {
    border-color: black;
}

.br-base-background {
    border-color: white;
    border-color: var(--base-background);
}

.br-base-color {
    border-color: hsl(0, 0%, calc(53% - 5 * calc(53% / 7)));
    border-color: var(--base-color);
}

.br-meta-color {
    border-color: hsl(0, 0%, calc(53% - calc(53% / 7)));
    border-color: var(--meta-color);
}

.br-heading-color {
    border-color: hsl(0, 0%, calc(53% - 5 * calc(53% / 7)));
    border-color: var(--heading-color);
}

.br-link-color {
    border-color: inherit;
    border-color: var(--link-color);
}

.br-link-hover-color {
    border-color: hsl(198, 100%, 33.3%);
    border-color: var(--link-hover-color);
}

.br-link-active-color {
    border-color: hsl(198, 100%, 33.3%);
    border-color: var(--link-active-color);
}

.br-link-focus-color {
    border-color: hsl(198, 100%, 33.3%);
    border-color: var(--link-focus-color);
}

.br-li-prefix-color {
    border-color: currentColor;
    border-color: var(--li-prefix-color);
}

.primary-d5 {
    color: hsl(198, 100%, calc(33.3% - 5 * calc(33.3% / 7)));
    color: var(--primary-d5);
}

.primary-d4 {
    color: hsl(198, 100%, calc(33.3% - 4 * calc(33.3% / 7)));
    color: var(--primary-d4);
}

.primary-d3 {
    color: hsl(198, 100%, calc(33.3% - 3 * calc(33.3% / 7)));
    color: var(--primary-d3);
}

.primary-d2 {
    color: hsl(198, 100%, calc(33.3% - 2 * calc(33.3% / 7)));
    color: var(--primary-d2);
}

.primary-d1 {
    color: hsl(198, 100%, calc(33.3% - calc(33.3% / 7)));
    color: var(--primary-d1);
}

.primary {
    color: hsl(198, 100%, 33.3%);
    color: var(--primary);
}

.primary-1 {
    color: hsl(198, 100%, calc(33.3% + calc((100% - 33.3%) / 6)));
    color: var(--primary-1);
}

.primary-2 {
    color: hsl(198, 100%, calc(33.3% + 2 * calc((100% - 33.3%) / 6)));
    color: var(--primary-2);
}

.primary-3 {
    color: hsl(198, 100%, calc(33.3% + 3 * calc((100% - 33.3%) / 6)));
    color: var(--primary-3);
}

.primary-4 {
    color: hsl(198, 100%, calc(33.3% + 4 * calc((100% - 33.3%) / 6)));
    color: var(--primary-4);
}

.primary-5 {
    color: hsl(198, 100%, calc(33.3% + 5 * calc((100% - 33.3%) / 6)));
    color: var(--primary-5);
}

.accent-one-d5 {
    color: hsl(80, 100%, calc(30% - 5 * calc(30% / 7)));
    color: var(--accent-one-d5);
}

.accent-one-d4 {
    color: hsl(80, 100%, calc(30% - 4 * calc(30% / 7)));
    color: var(--accent-one-d4);
}

.accent-one-d3 {
    color: hsl(80, 100%, calc(30% - 3 * calc(30% / 7)));
    color: var(--accent-one-d3);
}

.accent-one-d2 {
    color: hsl(80, 100%, calc(30% - 2 * calc(30% / 7)));
    color: var(--accent-one-d2);
}

.accent-one-d1 {
    color: hsl(80, 100%, calc(30% - calc(30% / 7)));
    color: var(--accent-one-d1);
}

.accent-one {
    color: hsl(80, 100%, 30%);
    color: var(--accent-one);
}

.accent-one-1 {
    color: hsl(80, 100%, calc(30% + calc((100% - 30%) / 6)));
    color: var(--accent-one-1);
}

.accent-one-2 {
    color: hsl(80, 100%, calc(30% + 2 * calc((100% - 30%) / 6)));
    color: var(--accent-one-2);
}

.accent-one-3 {
    color: hsl(80, 100%, calc(30% + 3 * calc((100% - 30%) / 6)));
    color: var(--accent-one-3);
}

.accent-one-4 {
    color: hsl(80, 100%, calc(30% + 4 * calc((100% - 30%) / 6)));
    color: var(--accent-one-4);
}

.accent-one-5 {
    color: hsl(80, 100%, calc(30% + 5 * calc((100% - 30%) / 6)));
    color: var(--accent-one-5);
}

.accent-two-d5 {
    color: hsl(326.7, 100%, calc(30% - 5 * calc(30% / 7)));
    color: var(--accent-two-d5);
}

.accent-two-d4 {
    color: hsl(326.7, 100%, calc(30% - 4 * calc(30% / 7)));
    color: var(--accent-two-d4);
}

.accent-two-d3 {
    color: hsl(326.7, 100%, calc(30% - 3 * calc(30% / 7)));
    color: var(--accent-two-d3);
}

.accent-two-d2 {
    color: hsl(326.7, 100%, calc(30% - 2 * calc(30% / 7)));
    color: var(--accent-two-d2);
}

.accent-two-d1 {
    color: hsl(326.7, 100%, calc(30% - calc(30% / 7)));
    color: var(--accent-two-d1);
}

.accent-two {
    color: hsl(326.7, 100%, 30%);
    color: var(--accent-two);
}

.accent-two-1 {
    color: hsl(326.7, 100%, calc(30% + calc((100% - 30%) / 6)));
    color: var(--accent-two-1);
}

.accent-two-2 {
    color: hsl(326.7, 100%, calc(30% + 2 * calc((100% - 30%) / 6)));
    color: var(--accent-two-2);
}

.accent-two-3 {
    color: hsl(326.7, 100%, calc(30% + 3 * calc((100% - 30%) / 6)));
    color: var(--accent-two-3);
}

.accent-two-4 {
    color: hsl(326.7, 100%, calc(30% + 4 * calc((100% - 30%) / 6)));
    color: var(--accent-two-4);
}

.accent-two-5 {
    color: hsl(326.7, 100%, calc(30% + 5 * calc((100% - 30%) / 6)));
    color: var(--accent-two-5);
}

.accent-three-d5 {
    color: hsl(356, 83%, calc(41% - 5 * calc(41% / 7)));
    color: var(--accent-three-d5);
}

.accent-three-d4 {
    color: hsl(356, 83%, calc(41% - 4 * calc(41% / 7)));
    color: var(--accent-three-d4);
}

.accent-three-d3 {
    color: hsl(356, 83%, calc(41% - 3 * calc(41% / 7)));
    color: var(--accent-three-d3);
}

.accent-three-d2 {
    color: hsl(356, 83%, calc(41% - 2 * calc(41% / 7)));
    color: var(--accent-three-d2);
}

.accent-three-d1 {
    color: hsl(356, 83%, calc(41% - calc(41% / 7)));
    color: var(--accent-three-d1);
}

.accent-three {
    color: hsl(356, 83%, 41%);
    color: var(--accent-three);
}

.accent-three-1 {
    color: hsl(356, 83%, calc(41% + calc((100% - 41%) / 6)));
    color: var(--accent-three-1);
}

.accent-three-2 {
    color: hsl(356, 83%, calc(41% + 2 * calc((100% - 41%) / 6)));
    color: var(--accent-three-2);
}

.accent-three-3 {
    color: hsl(356, 83%, calc(41% + 3 * calc((100% - 41%) / 6)));
    color: var(--accent-three-3);
}

.accent-three-4 {
    color: hsl(356, 83%, calc(41% + 4 * calc((100% - 41%) / 6)));
    color: var(--accent-three-4);
}

.accent-three-5 {
    color: hsl(356, 83%, calc(41% + 5 * calc((100% - 41%) / 6)));
    color: var(--accent-three-5);
}

.accent-four-d5 {
    color: hsl(32, 100%, calc(49% - 5 * calc(49% / 7)));
    color: var(--accent-four-d5);
}

.accent-four-d4 {
    color: hsl(32, 100%, calc(49% - 4 * calc(49% / 7)));
    color: var(--accent-four-d4);
}

.accent-four-d3 {
    color: hsl(32, 100%, calc(49% - 3 * calc(49% / 7)));
    color: var(--accent-four-d3);
}

.accent-four-d2 {
    color: hsl(32, 100%, calc(49% - 2 * calc(49% / 7)));
    color: var(--accent-four-d2);
}

.accent-four-d1 {
    color: hsl(32, 100%, calc(49% - calc(49% / 7)));
    color: var(--accent-four-d1);
}

.accent-four {
    color: hsl(32, 100%, 49%);
    color: var(--accent-four);
}

.accent-four-1 {
    color: hsl(32, 100%, calc(49% + calc((100% - 49%) / 6)));
    color: var(--accent-four-1);
}

.accent-four-2 {
    color: hsl(32, 100%, calc(49% + 2 * calc((100% - 49%) / 6)));
    color: var(--accent-four-2);
}

.accent-four-3 {
    color: hsl(32, 100%, calc(49% + 3 * calc((100% - 49%) / 6)));
    color: var(--accent-four-3);
}

.accent-four-4 {
    color: hsl(32, 100%, calc(49% + 4 * calc((100% - 49%) / 6)));
    color: var(--accent-four-4);
}

.accent-four-5 {
    color: hsl(32, 100%, calc(41% + 5 * calc((100% - 41%) / 6)));
    color: var(--accent-four-5);
}

.accent-five-d5 {
    color: hsl(43, 100%, calc(51% - 5 * calc(51% / 7)));
    color: var(--accent-five-d5);
}

.accent-five-d4 {
    color: hsl(43, 100%, calc(51% - 4 * calc(51% / 7)));
    color: var(--accent-five-d4);
}

.accent-five-d3 {
    color: hsl(43, 100%, calc(51% - 3 * calc(51% / 7)));
    color: var(--accent-five-d3);
}

.accent-five-d2 {
    color: hsl(43, 100%, calc(51% - 2 * calc(51% / 7)));
    color: var(--accent-five-d2);
}

.accent-five-d1 {
    color: hsl(43, 100%, calc(51% - calc(51% / 7)));
    color: var(--accent-five-d1);
}

.accent-five {
    color: hsl(43, 100%, 51%);
    color: var(--accent-five);
}

.accent-five-1 {
    color: hsl(43, 100%, calc(51% + calc((100% - 51%) / 6)));
    color: var(--accent-five-1);
}

.accent-five-2 {
    color: hsl(43, 100%, calc(51% + 2 * calc((100% - 51%) / 6)));
    color: var(--accent-five-2);
}

.accent-five-3 {
    color: hsl(43, 100%, calc(51% + 3 * calc((100% - 51%) / 6)));
    color: var(--accent-five-3);
}

.accent-five-4 {
    color: hsl(43, 100%, calc(51% + 4 * calc((100% - 51%) / 6)));
    color: var(--accent-five-4);
}

.accent-five-5 {
    color: hsl(43, 100%, calc(41% + 5 * calc((100% - 41%) / 6)));
    color: var(--accent-five-5);
}

/* Background */

.bg-primary-d5 {
    background-color: hsl(198, 100%, calc(33.3% - 5 * calc(33.3% / 7)));
    background-color: var(--primary-d5);
}

.bg-primary-d4 {
    background-color: hsl(198, 100%, calc(33.3% - 4 * calc(33.3% / 7)));
    background-color: var(--primary-d4);
}

.bg-primary-d3 {
    background-color: hsl(198, 100%, calc(33.3% - 3 * calc(33.3% / 7)));
    background-color: var(--primary-d3);
}

.bg-primary-d2 {
    background-color: hsl(198, 100%, calc(33.3% - 2 * calc(33.3% / 7)));
    background-color: var(--primary-d2);
}

.bg-primary-d1 {
    background-color: hsl(198, 100%, calc(33.3% - calc(33.3% / 7)));
    background-color: var(--primary-d1);
}

.bg-primary {
    background-color: hsl(198, 100%, 33.3%);
    background-color: var(--primary);
}

.bg-primary-1 {
    background-color: hsl(198, 100%, calc(33.3% + calc((100% - 33.3%) / 6)));
    background-color: var(--primary-1);
}

.bg-primary-2 {
    background-color: hsl(198, 100%, calc(33.3% + 2 * calc((100% - 33.3%) / 6)));
    background-color: var(--primary-2);
}

.bg-primary-3 {
    background-color: hsl(198, 100%, calc(33.3% + 3 * calc((100% - 33.3%) / 6)));
    background-color: var(--primary-3);
}

.bg-primary-4 {
    background-color: hsl(198, 100%, calc(33.3% + 4 * calc((100% - 33.3%) / 6)));
    background-color: var(--primary-4);
}

.bg-primary-5 {
    background-color: hsl(198, 100%, calc(33.3% + 5 * calc((100% - 33.3%) / 6)));
    background-color: var(--primary-5);
}

.bg-accent-one-d5 {
    background-color: hsl(80, 100%, calc(30% - 5 * calc(30% / 7)));
    background-color: var(--accent-one-d5);
}

.bg-accent-one-d4 {
    background-color: hsl(80, 100%, calc(30% - 4 * calc(30% / 7)));
    background-color: var(--accent-one-d4);
}

.bg-accent-one-d3 {
    background-color: hsl(80, 100%, calc(30% - 3 * calc(30% / 7)));
    background-color: var(--accent-one-d3);
}

.bg-accent-one-d2 {
    background-color: hsl(80, 100%, calc(30% - 2 * calc(30% / 7)));
    background-color: var(--accent-one-d2);
}

.bg-accent-one-d1 {
    background-color: hsl(80, 100%, calc(30% - calc(30% / 7)));
    background-color: var(--accent-one-d1);
}

.bg-accent-one {
    background-color: hsl(80, 100%, 30%);
    background-color: var(--accent-one);
}

.bg-accent-one-1 {
    background-color: hsl(80, 100%, calc(30% + calc((100% - 30%) / 6)));
    background-color: var(--accent-one-1);
}

.bg-accent-one-2 {
    background-color: hsl(80, 100%, calc(30% + 2 * calc((100% - 30%) / 6)));
    background-color: var(--accent-one-2);
}

.bg-accent-one-3 {
    background-color: hsl(80, 100%, calc(30% + 3 * calc((100% - 30%) / 6)));
    background-color: var(--accent-one-3);
}

.bg-accent-one-4 {
    background-color: hsl(80, 100%, calc(30% + 4 * calc((100% - 30%) / 6)));
    background-color: var(--accent-one-4);
}

.bg-accent-one-5 {
    background-color: hsl(80, 100%, calc(30% + 5 * calc((100% - 30%) / 6)));
    background-color: var(--accent-one-5);
}

.bg-accent-two-d5 {
    background-color: hsl(326.7, 100%, calc(30% - 5 * calc(30% / 7)));
    background-color: var(--accent-two-d5);
}

.bg-accent-two-d4 {
    background-color: hsl(326.7, 100%, calc(30% - 4 * calc(30% / 7)));
    background-color: var(--accent-two-d4);
}

.bg-accent-two-d3 {
    background-color: hsl(326.7, 100%, calc(30% - 3 * calc(30% / 7)));
    background-color: var(--accent-two-d3);
}

.bg-accent-two-d2 {
    background-color: hsl(326.7, 100%, calc(30% - 2 * calc(30% / 7)));
    background-color: var(--accent-two-d2);
}

.bg-accent-two-d1 {
    background-color: hsl(326.7, 100%, calc(30% - calc(30% / 7)));
    background-color: var(--accent-two-d1);
}

.bg-accent-two {
    background-color: hsl(326.7, 100%, 30%);
    background-color: var(--accent-two);
}

.bg-accent-two-1 {
    background-color: hsl(326.7, 100%, calc(30% + calc((100% - 30%) / 6)));
    background-color: var(--accent-two-1);
}

.bg-accent-two-2 {
    background-color: hsl(326.7, 100%, calc(30% + 2 * calc((100% - 30%) / 6)));
    background-color: var(--accent-two-2);
}

.bg-accent-two-3 {
    background-color: hsl(326.7, 100%, calc(30% + 3 * calc((100% - 30%) / 6)));
    background-color: var(--accent-two-3);
}

.bg-accent-two-4 {
    background-color: hsl(326.7, 100%, calc(30% + 4 * calc((100% - 30%) / 6)));
    background-color: var(--accent-two-4);
}

.bg-accent-two-5 {
    background-color: hsl(326.7, 100%, calc(30% + 5 * calc((100% - 30%) / 6)));
    background-color: var(--accent-two-5);
}

.bg-accent-three-d5 {
    background-color: hsl(356, 83%, calc(41% - 5 * calc(41% / 7)));
    background-color: var(--accent-three-d5);
}

.bg-accent-three-d4 {
    background-color: hsl(356, 83%, calc(41% - 4 * calc(41% / 7)));
    background-color: var(--accent-three-d4);
}

.bg-accent-three-d3 {
    background-color: hsl(356, 83%, calc(41% - 3 * calc(41% / 7)));
    background-color: var(--accent-three-d3);
}

.bg-accent-three-d2 {
    background-color: hsl(356, 83%, calc(41% - 2 * calc(41% / 7)));
    background-color: var(--accent-three-d2);
}

.bg-accent-three-d1 {
    background-color: hsl(356, 83%, calc(41% - calc(41% / 7)));
    background-color: var(--accent-three-d1);
}

.bg-accent-three {
    background-color: hsl(356, 83%, 41%);
    background-color: var(--accent-three);
}

.bg-accent-three-1 {
    background-color: hsl(356, 83%, calc(41% + calc((100% - 41%) / 6)));
    background-color: var(--accent-three-1);
}

.bg-accent-three-2 {
    background-color: hsl(356, 83%, calc(41% + 2 * calc((100% - 41%) / 6)));
    background-color: var(--accent-three-2);
}

.bg-accent-three-3 {
    background-color: hsl(356, 83%, calc(41% + 3 * calc((100% - 41%) / 6)));
    background-color: var(--accent-three-3);
}

.bg-accent-three-4 {
    background-color: hsl(356, 83%, calc(41% + 4 * calc((100% - 41%) / 6)));
    background-color: var(--accent-three-4);
}

.bg-accent-three-5 {
    background-color: hsl(356, 83%, calc(41% + 5 * calc((100% - 41%) / 6)));
    background-color: var(--accent-three-5);
}

.bg-accent-four-d5 {
    background-color: hsl(32, 100%, calc(49% - 5 * calc(49% / 7)));
    background-color: var(--accent-four-d5);
}

.bg-accent-four-d4 {
    background-color: hsl(32, 100%, calc(49% - 4 * calc(49% / 7)));
    background-color: var(--accent-four-d4);
}

.bg-accent-four-d3 {
    background-color: hsl(32, 100%, calc(49% - 3 * calc(49% / 7)));
    background-color: var(--accent-four-d3);
}

.bg-accent-four-d2 {
    background-color: hsl(32, 100%, calc(49% - 2 * calc(49% / 7)));
    background-color: var(--accent-four-d2);
}

.bg-accent-four-d1 {
    background-color: hsl(32, 100%, calc(49% - calc(49% / 7)));
    background-color: var(--accent-four-d1);
}

.bg-accent-four {
    background-color: hsl(32, 100%, 49%);
    background-color: var(--accent-four);
}

.bg-accent-four-1 {
    background-color: hsl(32, 100%, calc(49% + calc((100% - 49%) / 6)));
    background-color: var(--accent-four-1);
}

.bg-accent-four-2 {
    background-color: hsl(32, 100%, calc(49% + 2 * calc((100% - 49%) / 6)));
    background-color: var(--accent-four-2);
}

.bg-accent-four-3 {
    background-color: hsl(32, 100%, calc(49% + 3 * calc((100% - 49%) / 6)));
    background-color: var(--accent-four-3);
}

.bg-accent-four-4 {
    background-color: hsl(32, 100%, calc(49% + 4 * calc((100% - 49%) / 6)));
    background-color: var(--accent-four-4);
}

.bg-accent-four-5 {
    background-color: hsl(32, 100%, calc(41% + 5 * calc((100% - 41%) / 6)));
    background-color: var(--accent-four-5);
}

.bg-accent-five-d5 {
    background-color: hsl(43, 100%, calc(51% - 5 * calc(51% / 7)));
    background-color: var(--accent-five-d5);
}

.bg-accent-five-d4 {
    background-color: hsl(43, 100%, calc(51% - 4 * calc(51% / 7)));
    background-color: var(--accent-five-d4);
}

.bg-accent-five-d3 {
    background-color: hsl(43, 100%, calc(51% - 3 * calc(51% / 7)));
    background-color: var(--accent-five-d3);
}

.bg-accent-five-d2 {
    background-color: hsl(43, 100%, calc(51% - 2 * calc(51% / 7)));
    background-color: var(--accent-five-d2);
}

.bg-accent-five-d1 {
    background-color: hsl(43, 100%, calc(51% - calc(51% / 7)));
    background-color: var(--accent-five-d1);
}

.bg-accent-five {
    background-color: hsl(43, 100%, 51%);
    background-color: var(--accent-five);
}

.bg-accent-five-1 {
    background-color: hsl(43, 100%, calc(51% + calc((100% - 51%) / 6)));
    background-color: var(--accent-five-1);
}

.bg-accent-five-2 {
    background-color: hsl(43, 100%, calc(51% + 2 * calc((100% - 51%) / 6)));
    background-color: var(--accent-five-2);
}

.bg-accent-five-3 {
    background-color: hsl(43, 100%, calc(51% + 3 * calc((100% - 51%) / 6)));
    background-color: var(--accent-five-3);
}

.bg-accent-five-4 {
    background-color: hsl(43, 100%, calc(51% + 4 * calc((100% - 51%) / 6)));
    background-color: var(--accent-five-4);
}

.bg-accent-five-5 {
    background-color: hsl(43, 100%, calc(41% + 5 * calc((100% - 41%) / 6)));
    background-color: var(--accent-five-5);
}

/* Border Colors */

.br-primary-d5 {
    border-color: hsl(198, 100%, calc(33.3% - 5 * calc(33.3% / 7)));
    border-color: var(--primary-d5);
}

.br-primary-d4 {
    border-color: hsl(198, 100%, calc(33.3% - 4 * calc(33.3% / 7)));
    border-color: var(--primary-d4);
}

.br-primary-d3 {
    border-color: hsl(198, 100%, calc(33.3% - 3 * calc(33.3% / 7)));
    border-color: var(--primary-d3);
}

.br-primary-d2 {
    border-color: hsl(198, 100%, calc(33.3% - 2 * calc(33.3% / 7)));
    border-color: var(--primary-d2);
}

.br-primary-d1 {
    border-color: hsl(198, 100%, calc(33.3% - calc(33.3% / 7)));
    border-color: var(--primary-d1);
}

.br-primary {
    border-color: hsl(198, 100%, 33.3%);
    border-color: var(--primary);
}

.br-primary-1 {
    border-color: hsl(198, 100%, calc(33.3% + calc((100% - 33.3%) / 6)));
    border-color: var(--primary-1);
}

.br-primary-2 {
    border-color: hsl(198, 100%, calc(33.3% + 2 * calc((100% - 33.3%) / 6)));
    border-color: var(--primary-2);
}

.br-primary-3 {
    border-color: hsl(198, 100%, calc(33.3% + 3 * calc((100% - 33.3%) / 6)));
    border-color: var(--primary-3);
}

.br-primary-4 {
    border-color: hsl(198, 100%, calc(33.3% + 4 * calc((100% - 33.3%) / 6)));
    border-color: var(--primary-4);
}

.br-primary-5 {
    border-color: hsl(198, 100%, calc(33.3% + 5 * calc((100% - 33.3%) / 6)));
    border-color: var(--primary-5);
}

.br-accent-one-d5 {
    border-color: hsl(80, 100%, calc(30% - 5 * calc(30% / 7)));
    border-color: var(--accent-one-d5);
}

.br-accent-one-d4 {
    border-color: hsl(80, 100%, calc(30% - 4 * calc(30% / 7)));
    border-color: var(--accent-one-d4);
}

.br-accent-one-d3 {
    border-color: hsl(80, 100%, calc(30% - 3 * calc(30% / 7)));
    border-color: var(--accent-one-d3);
}

.br-accent-one-d2 {
    border-color: hsl(80, 100%, calc(30% - 2 * calc(30% / 7)));
    border-color: var(--accent-one-d2);
}

.br-accent-one-d1 {
    border-color: hsl(80, 100%, calc(30% - calc(30% / 7)));
    border-color: var(--accent-one-d1);
}

.br-accent-one {
    border-color: hsl(80, 100%, 30%);
    border-color: var(--accent-one);
}

.br-accent-one-1 {
    border-color: hsl(80, 100%, calc(30% + calc((100% - 30%) / 6)));
    border-color: var(--accent-one-1);
}

.br-accent-one-2 {
    border-color: hsl(80, 100%, calc(30% + 2 * calc((100% - 30%) / 6)));
    border-color: var(--accent-one-2);
}

.br-accent-one-3 {
    border-color: hsl(80, 100%, calc(30% + 3 * calc((100% - 30%) / 6)));
    border-color: var(--accent-one-3);
}

.br-accent-one-4 {
    border-color: hsl(80, 100%, calc(30% + 4 * calc((100% - 30%) / 6)));
    border-color: var(--accent-one-4);
}

.br-accent-one-5 {
    border-color: hsl(80, 100%, calc(30% + 5 * calc((100% - 30%) / 6)));
    border-color: var(--accent-one-5);
}

.br-accent-two-d5 {
    border-color: hsl(326.7, 100%, calc(30% - 4 * calc(30% / 7)));
    border-color: var(--accent-two-d4);
}

.br-accent-two-d4 {
    border-color: hsl(326.7, 100%, calc(30% - 4 * calc(30% / 7)));
    border-color: var(--accent-two-d4);
}

.br-accent-two-d3 {
    border-color: hsl(326.7, 100%, calc(30% - 3 * calc(30% / 7)));
    border-color: var(--accent-two-d3);
}

.br-accent-two-d2 {
    border-color: hsl(326.7, 100%, calc(30% - 2 * calc(30% / 7)));
    border-color: var(--accent-two-d2);
}

.br-accent-two-d1 {
    border-color: hsl(326.7, 100%, calc(30% - calc(30% / 7)));
    border-color: var(--accent-two-d1);
}

.br-accent-two {
    border-color: hsl(326.7, 100%, 30%);
    border-color: var(--accent-two);
}

.br-accent-two-1 {
    border-color: hsl(326.7, 100%, calc(30% + calc((100% - 30%) / 6)));
    border-color: var(--accent-two-1);
}

.br-accent-two-2 {
    border-color: hsl(326.7, 100%, calc(30% + 2 * calc((100% - 30%) / 6)));
    border-color: var(--accent-two-2);
}

.br-accent-two-3 {
    border-color: hsl(326.7, 100%, calc(30% + 3 * calc((100% - 30%) / 6)));
    border-color: var(--accent-two-3);
}

.br-accent-two-4 {
    border-color: hsl(326.7, 100%, calc(30% + 4 * calc((100% - 30%) / 6)));
    border-color: var(--accent-two-4);
}

.br-accent-two-5 {
    border-color: hsl(326.7, 100%, calc(30% + 5 * calc((100% - 30%) / 6)));
    border-color: var(--accent-two-5);
}

.br-accent-three-d5 {
    border-color: hsl(356, 83%, calc(41% - 5 * calc(41% / 7)));
    border-color: var(--accent-three-d5);
}

.br-accent-three-d4 {
    border-color: hsl(356, 83%, calc(41% - 4 * calc(41% / 7)));
    border-color: var(--accent-three-d4);
}

.br-accent-three-d3 {
    border-color: hsl(356, 83%, calc(41% - 3 * calc(41% / 7)));
    border-color: var(--accent-three-d3);
}

.br-accent-three-d2 {
    border-color: hsl(356, 83%, calc(41% - 2 * calc(41% / 7)));
    border-color: var(--accent-three-d2);
}

.br-accent-three-d1 {
    border-color: hsl(356, 83%, calc(41% - calc(41% / 7)));
    border-color: var(--accent-three-d1);
}

.br-accent-three {
    border-color: hsl(356, 83%, 41%);
    border-color: var(--accent-three);
}

.br-accent-three-1 {
    border-color: hsl(356, 83%, calc(41% + calc((100% - 41%) / 6)));
    border-color: var(--accent-three-1);
}

.br-accent-three-2 {
    border-color: hsl(356, 83%, calc(41% + 2 * calc((100% - 41%) / 6)));
    border-color: var(--accent-three-2);
}

.br-accent-three-3 {
    border-color: hsl(356, 83%, calc(41% + 3 * calc((100% - 41%) / 6)));
    border-color: var(--accent-three-3);
}

.br-accent-three-4 {
    border-color: hsl(356, 83%, calc(41% + 4 * calc((100% - 41%) / 6)));
    border-color: var(--accent-three-4);
}

.br-accent-three-5 {
    border-color: hsl(356, 83%, calc(41% + 5 * calc((100% - 41%) / 6)));
    border-color: var(--accent-three-5);
}

.br-accent-four-d5 {
    border-color: hsl(32, 100%, calc(49% - 5 * calc(49% / 7)));
    border-color: var(--accent-four-d5);
}

.br-accent-four-d4 {
    border-color: hsl(32, 100%, calc(49% - 4 * calc(49% / 7)));
    border-color: var(--accent-four-d4);
}

.br-accent-four-d3 {
    border-color: hsl(32, 100%, calc(49% - 3 * calc(49% / 7)));
    border-color: var(--accent-four-d3);
}

.br-accent-four-d2 {
    border-color: hsl(32, 100%, calc(49% - 2 * calc(49% / 7)));
    border-color: var(--accent-four-d2);
}

.br-accent-four-d1 {
    border-color: hsl(32, 100%, calc(49% - calc(49% / 7)));
    border-color: var(--accent-four-d1);
}

.br-accent-four {
    border-color: hsl(32, 100%, 49%);
    border-color: var(--accent-four);
}

.br-accent-four-1 {
    border-color: hsl(32, 100%, calc(49% + calc((100% - 49%) / 6)));
    border-color: var(--accent-four-1);
}

.br-accent-four-2 {
    border-color: hsl(32, 100%, calc(49% + 2 * calc((100% - 49%) / 6)));
    border-color: var(--accent-four-2);
}

.br-accent-four-3 {
    border-color: hsl(32, 100%, calc(49% + 3 * calc((100% - 49%) / 6)));
    border-color: var(--accent-four-3);
}

.br-accent-four-4 {
    border-color: hsl(32, 100%, calc(49% + 4 * calc((100% - 49%) / 6)));
    border-color: var(--accent-four-4);
}

.br-accent-four-5 {
    border-color: hsl(32, 100%, calc(41% + 5 * calc((100% - 41%) / 6)));
    border-color: var(--accent-four-5);
}

.br-accent-five-d5 {
    border-color: hsl(43, 100%, calc(51% - 5 * calc(51% / 7)));
    border-color: var(--accent-five-d5);
}

.br-accent-five-d4 {
    border-color: hsl(43, 100%, calc(51% - 4 * calc(51% / 7)));
    border-color: var(--accent-five-d4);
}

.br-accent-five-d3 {
    border-color: hsl(43, 100%, calc(51% - 3 * calc(51% / 7)));
    border-color: var(--accent-five-d3);
}

.br-accent-five-d2 {
    border-color: hsl(43, 100%, calc(51% - 2 * calc(51% / 7)));
    border-color: var(--accent-five-d2);
}

.br-accent-five-d1 {
    border-color: hsl(43, 100%, calc(51% - calc(51% / 7)));
    border-color: var(--accent-five-d1);
}

.br-accent-five {
    border-color: hsl(43, 100%, 51%);
    border-color: var(--accent-five);
}

.br-accent-five-1 {
    border-color: hsl(43, 100%, calc(51% + calc((100% - 51%) / 6)));
    border-color: var(--accent-five-1);
}

.br-accent-five-2 {
    border-color: hsl(43, 100%, calc(51% + 2 * calc((100% - 51%) / 6)));
    border-color: var(--accent-five-2);
}

.br-accent-five-3 {
    border-color: hsl(43, 100%, calc(51% + 3 * calc((100% - 51%) / 6)));
    border-color: var(--accent-five-3);
}

.br-accent-five-4 {
    border-color: hsl(43, 100%, calc(51% + 4 * calc((100% - 51%) / 6)));
    border-color: var(--accent-five-4);
}

.br-accent-five-5 {
    border-color: hsl(43, 100%, calc(41% + 5 * calc((100% - 41%) / 6)));
    border-color: var(--accent-five-5);
}