html {
  font-size: 1rem; }

body {
  margin: 0;
  padding: 0; }

.grid,
.six,
.three {
  max-width: 700px;
  margin: 0 auto; }

@supports (display: grid) {
  .columns {
    column-gap: 1.62rem;
    margin: 0 0 1.62rem; }

  .grid {
    max-width: unset;
    margin: unset;
    display: grid;
    grid-template-columns: 1.62rem 1fr 1fr minmax(0, 700px) 1fr 1fr 1.62rem; }

  .grid > * {
    grid-column: 4 / span 1; }
  .grid .breakout-left {
    grid-column: 3 / span 2; }
  .grid .breakout-right {
    grid-column: 4 / span 2; }
  .grid .breakout {
    grid-column: 3 / span 3; }
  .grid .wide {
    grid-column: 2 / span 5; }
  .grid .full {
    grid-column: 1 / span 7; }
  .grid .columns {
    columns: 2; }
  .grid .breakout .columns,
  .grid .breakout.columns,
  .grid .full .columns,
  .grid .full.columns,
  .grid .wide .columns,
  .grid .wide.columns {
    columns: 3; }

  .six,
  .three {
    max-width: unset;
    margin: unset;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1.62rem; }
    .six > *,
    .three > * {
      grid-column: 1 / span 6; }
    .six .six-1,
    .three .six-1 {
      grid-column: 1 / span 1; }
    .six .six-1-to-2,
    .six .three-1,
    .three .six-1-to-2,
    .three .three-1 {
      grid-column: 1 / span 2; }
    .six .six-1-to-3,
    .three .six-1-to-3 {
      grid-column: 1 / span 3; }
    .six .six-1-to-4,
    .six .three-1-to-2,
    .three .six-1-to-4,
    .three .three-1-to-2 {
      grid-column: 1 / span 4; }
    .six .six-1-to-5,
    .three .six-1-to-5 {
      grid-column: 1 / span 5; }
    .six .six-1-to-6,
    .six .three-1-to-3,
    .three .six-1-to-6,
    .three .three-1-to-3 {
      grid-column: 1 / span 6; }
    .six .six-2,
    .three .six-2 {
      grid-column: 2 / span 1; }
    .six .six-2-to-3,
    .three .six-2-to-3 {
      grid-column: 2 / span 2; }
    .six .six-2-to-4,
    .three .six-2-to-4 {
      grid-column: 2 / span 3; }
    .six .six-2-to-5,
    .three .six-2-to-5 {
      grid-column: 2 / span 4; }
    .six .six-2-to-6,
    .three .six-2-to-6 {
      grid-column: 2 / span 5; }
    .six .six-3,
    .three .six-3 {
      grid-column: 3 / span 1; }
    .six .six-3-to-4,
    .six .trhee-2,
    .three .six-3-to-4,
    .three .trhee-2 {
      grid-column: 3 / span 2; }
    .six .six-3-to-5,
    .three .six-3-to-5 {
      grid-column: 3 / span 3; }
    .six .six-3-to-6,
    .six .three-2-to-3,
    .three .six-3-to-6,
    .three .three-2-to-3 {
      grid-column: 3 / span 4; }
    .six .six-4,
    .three .six-4 {
      grid-column: 4 / span 1; }
    .six .six-4-to-5,
    .three .six-4-to-5 {
      grid-column: 4 / span 2; }
    .six .six-4-to-6,
    .three .six-4-to-6 {
      grid-column: 4 / span 3; }
    .six .six-5,
    .three .six-5 {
      grid-column: 5 / span 1; }
    .six .six-5-to-6,
    .six .three-3,
    .three .six-5-to-6,
    .three .three-3 {
      grid-column: 5 / span 2; }
    .six .six-6,
    .three .six-6 {
      grid-column: 6 / span 1; }

  @media screen and (max-width: 1200px) {
    .grid .breakout-left {
      grid-column: 4 / span 1; }
    .grid .breakout-right {
      grid-column: 4 / span 1; }
    .grid .breakout .columns,
    .grid .breakout.columns,
    .grid .columns,
    .grid .full .columns,
    .grid .full.columns,
    .grid .wide .columns,
    .grid .wide.columns {
      columns: 2; } }
  @media screen and (max-width: 700px) {
    .grid {
      grid-template-columns: 1rem 1fr 1fr minmax(0, 700px) 1fr 1fr 1rem; }
      .grid .breakout .columns,
      .grid .breakout.columns,
      .grid .columns,
      .grid .full .columns,
      .grid .full.columns,
      .grid .wide .columns,
      .grid .wide.columns {
        columns: 1; }

    .six [class^="six-"] {
      grid-column: 1 / span 6; } } }
