@media (min-width: 401px) {
    .xs\:h-unset {
        height: unset;
    }
    .xs\:h-d5 {
        height: var(--space-d5);
    }
    .xs\:h-d4 {
        height: var(--space-d4);
    }
    .xs\:h-d3 {
        height: var(--space-d3);
    }
    .xs\:h-d2 {
        height: var(--space-d2);
    }
    .xs\:h-d1 {
        height: var(--space-d1);
    }
    .xs\:height {
        height: var(--space);
    }
    .xs\:h-1 {
        height: var(--space-1)
    }
    .xs\:h-2 {
        height: var(--space-2);
    }
    .xs\:h-3 {
        height: var(--space-3);
    }
    .xs\:h-4 {
        height: var(--space-4);
    }
    .xs\:h-5 {
        height: var(--space-5);
    }
    .xs\:h-6 {
        height: var(--space-6);
    }
    .xs\:h-100 {
        height: 100%;
    }
    .xs\:vh-100 {
        height: 100vh;
    }
    .xs\:vh-90 {
        height: 90vh;
    }
    .xs\:vh-80 {
        height: 80vh;
    }
    .xs\:vh-70 {
        height: 70vh;
    }
    .xs\:vh-60 {
        height: 60vh;
    }
    .xs\:vh-50 {
        height: 50vh;
    }
    .xs\:vh-40 {
        height: 40vh;
    }
    .xs\:vh-30 {
        height: 30vh;
    }
    .xs\:vh-20 {
        height: 20vh;
    }
    .xs\:vh-10 {
        height: 10vh;
    }
}


@media (--mi-xs-breakpoint) {
    .xs\:h-unset {
        height: unset;
    }
    .xs\:h-d5 {
        height: var(--space-d5);
    }
    .xs\:h-d4 {
        height: var(--space-d4);
    }
    .xs\:h-d3 {
        height: var(--space-d3);
    }
    .xs\:h-d2 {
        height: var(--space-d2);
    }
    .xs\:h-d1 {
        height: var(--space-d1);
    }
    .xs\:height {
        height: var(--space);
    }
    .xs\:h-1 {
        height: var(--space-1)
    }
    .xs\:h-2 {
        height: var(--space-2);
    }
    .xs\:h-3 {
        height: var(--space-3);
    }
    .xs\:h-4 {
        height: var(--space-4);
    }
    .xs\:h-5 {
        height: var(--space-5);
    }
    .xs\:h-6 {
        height: var(--space-6);
    }
    .xs\:h-100 {
        height: 100%;
    }
    .xs\:vh-100 {
        height: 100vh;
    }
    .xs\:vh-90 {
        height: 90vh;
    }
    .xs\:vh-80 {
        height: 80vh;
    }
    .xs\:vh-70 {
        height: 70vh;
    }
    .xs\:vh-60 {
        height: 60vh;
    }
    .xs\:vh-50 {
        height: 50vh;
    }
    .xs\:vh-40 {
        height: 40vh;
    }
    .xs\:vh-30 {
        height: 30vh;
    }
    .xs\:vh-20 {
        height: 20vh;
    }
    .xs\:vh-10 {
        height: 10vh;
    }
}


@media (min-width: 601px) {
    .sm\:h-unset {
        height: unset;
    }
    .sm\:h-d5 {
        height: var(--space-d5);
    }
    .sm\:h-d4 {
        height: var(--space-d4);
    }
    .sm\:h-d3 {
        height: var(--space-d3);
    }
    .sm\:h-d2 {
        height: var(--space-d2);
    }
    .sm\:h-d1 {
        height: var(--space-d1);
    }
    .sm\:height {
        height: var(--space);
    }
    .sm\:h-1 {
        height: var(--space-1)
    }
    .sm\:h-2 {
        height: var(--space-2);
    }
    .sm\:h-3 {
        height: var(--space-3);
    }
    .sm\:h-4 {
        height: var(--space-4);
    }
    .sm\:h-5 {
        height: var(--space-5);
    }
    .sm\:h-6 {
        height: var(--space-6);
    }
    .sm\:h-100 {
        height: 100%;
    }
    .sm\:vh-100 {
        height: 100vh;
    }
    .sm\:vh-90 {
        height: 90vh;
    }
    .sm\:vh-80 {
        height: 80vh;
    }
    .sm\:vh-70 {
        height: 70vh;
    }
    .sm\:vh-60 {
        height: 60vh;
    }
    .sm\:vh-50 {
        height: 50vh;
    }
    .sm\:vh-40 {
        height: 40vh;
    }
    .sm\:vh-30 {
        height: 30vh;
    }
    .sm\:vh-20 {
        height: 20vh;
    }
    .sm\:vh-10 {
        height: 10vh;
    }
}


@media (--mi-sm-breakpoint) {
    .sm\:h-unset {
        height: unset;
    }
    .sm\:h-d5 {
        height: var(--space-d5);
    }
    .sm\:h-d4 {
        height: var(--space-d4);
    }
    .sm\:h-d3 {
        height: var(--space-d3);
    }
    .sm\:h-d2 {
        height: var(--space-d2);
    }
    .sm\:h-d1 {
        height: var(--space-d1);
    }
    .sm\:height {
        height: var(--space);
    }
    .sm\:h-1 {
        height: var(--space-1)
    }
    .sm\:h-2 {
        height: var(--space-2);
    }
    .sm\:h-3 {
        height: var(--space-3);
    }
    .sm\:h-4 {
        height: var(--space-4);
    }
    .sm\:h-5 {
        height: var(--space-5);
    }
    .sm\:h-6 {
        height: var(--space-6);
    }
    .sm\:h-100 {
        height: 100%;
    }
    .sm\:vh-100 {
        height: 100vh;
    }
    .sm\:vh-90 {
        height: 90vh;
    }
    .sm\:vh-80 {
        height: 80vh;
    }
    .sm\:vh-70 {
        height: 70vh;
    }
    .sm\:vh-60 {
        height: 60vh;
    }
    .sm\:vh-50 {
        height: 50vh;
    }
    .sm\:vh-40 {
        height: 40vh;
    }
    .sm\:vh-30 {
        height: 30vh;
    }
    .sm\:vh-20 {
        height: 20vh;
    }
    .sm\:vh-10 {
        height: 10vh;
    }
}


@media (min-width: 801px) {
    .rg\:h-unset {
        height: unset;
    }
    .rg\:h-d5 {
        height: var(--space-d5);
    }
    .rg\:h-d4 {
        height: var(--space-d4);
    }
    .rg\:h-d3 {
        height: var(--space-d3);
    }
    .rg\:h-d2 {
        height: var(--space-d2);
    }
    .rg\:h-d1 {
        height: var(--space-d1);
    }
    .rg\:height {
        height: var(--space);
    }
    .rg\:h-1 {
        height: var(--space-1)
    }
    .rg\:h-2 {
        height: var(--space-2);
    }
    .rg\:h-3 {
        height: var(--space-3);
    }
    .rg\:h-4 {
        height: var(--space-4);
    }
    .rg\:h-5 {
        height: var(--space-5);
    }
    .rg\:h-6 {
        height: var(--space-6);
    }
    .rg\:h-100 {
        height: 100%;
    }
    .rg\:vh-100 {
        height: 100vh;
    }
    .rg\:vh-90 {
        height: 90vh;
    }
    .rg\:vh-80 {
        height: 80vh;
    }
    .rg\:vh-70 {
        height: 70vh;
    }
    .rg\:vh-60 {
        height: 60vh;
    }
    .rg\:vh-50 {
        height: 50vh;
    }
    .rg\:vh-40 {
        height: 40vh;
    }
    .rg\:vh-30 {
        height: 30vh;
    }
    .rg\:vh-20 {
        height: 20vh;
    }
    .rg\:vh-10 {
        height: 10vh;
    }
}


@media (--mi-rg-breakpoint) {
    .rg\:h-unset {
        height: unset;
    }
    .rg\:h-d5 {
        height: var(--space-d5);
    }
    .rg\:h-d4 {
        height: var(--space-d4);
    }
    .rg\:h-d3 {
        height: var(--space-d3);
    }
    .rg\:h-d2 {
        height: var(--space-d2);
    }
    .rg\:h-d1 {
        height: var(--space-d1);
    }
    .rg\:height {
        height: var(--space);
    }
    .rg\:h-1 {
        height: var(--space-1)
    }
    .rg\:h-2 {
        height: var(--space-2);
    }
    .rg\:h-3 {
        height: var(--space-3);
    }
    .rg\:h-4 {
        height: var(--space-4);
    }
    .rg\:h-5 {
        height: var(--space-5);
    }
    .rg\:h-6 {
        height: var(--space-6);
    }
    .rg\:h-100 {
        height: 100%;
    }
    .rg\:vh-100 {
        height: 100vh;
    }
    .rg\:vh-90 {
        height: 90vh;
    }
    .rg\:vh-80 {
        height: 80vh;
    }
    .rg\:vh-70 {
        height: 70vh;
    }
    .rg\:vh-60 {
        height: 60vh;
    }
    .rg\:vh-50 {
        height: 50vh;
    }
    .rg\:vh-40 {
        height: 40vh;
    }
    .rg\:vh-30 {
        height: 30vh;
    }
    .rg\:vh-20 {
        height: 20vh;
    }
    .rg\:vh-10 {
        height: 10vh;
    }
}


@media (min-width: 1025px) {
    .md\:h-unset {
        height: unset;
    }
    .md\:h-d5 {
        height: var(--space-d5);
    }
    .md\:h-d4 {
        height: var(--space-d4);
    }
    .md\:h-d3 {
        height: var(--space-d3);
    }
    .md\:h-d2 {
        height: var(--space-d2);
    }
    .md\:h-d1 {
        height: var(--space-d1);
    }
    .md\:height {
        height: var(--space);
    }
    .md\:h-1 {
        height: var(--space-1)
    }
    .md\:h-2 {
        height: var(--space-2);
    }
    .md\:h-3 {
        height: var(--space-3);
    }
    .md\:h-4 {
        height: var(--space-4);
    }
    .md\:h-5 {
        height: var(--space-5);
    }
    .md\:h-6 {
        height: var(--space-6);
    }
    .md\:h-100 {
        height: 100%;
    }
    .md\:vh-100 {
        height: 100vh;
    }
    .md\:vh-90 {
        height: 90vh;
    }
    .md\:vh-80 {
        height: 80vh;
    }
    .md\:vh-70 {
        height: 70vh;
    }
    .md\:vh-60 {
        height: 60vh;
    }
    .md\:vh-50 {
        height: 50vh;
    }
    .md\:vh-40 {
        height: 40vh;
    }
    .md\:vh-30 {
        height: 30vh;
    }
    .md\:vh-20 {
        height: 20vh;
    }
    .md\:vh-10 {
        height: 10vh;
    }
}


@media (--mi-md-breakpoint) {
    .md\:h-unset {
        height: unset;
    }
    .md\:h-d5 {
        height: var(--space-d5);
    }
    .md\:h-d4 {
        height: var(--space-d4);
    }
    .md\:h-d3 {
        height: var(--space-d3);
    }
    .md\:h-d2 {
        height: var(--space-d2);
    }
    .md\:h-d1 {
        height: var(--space-d1);
    }
    .md\:height {
        height: var(--space);
    }
    .md\:h-1 {
        height: var(--space-1)
    }
    .md\:h-2 {
        height: var(--space-2);
    }
    .md\:h-3 {
        height: var(--space-3);
    }
    .md\:h-4 {
        height: var(--space-4);
    }
    .md\:h-5 {
        height: var(--space-5);
    }
    .md\:h-6 {
        height: var(--space-6);
    }
    .md\:h-100 {
        height: 100%;
    }
    .md\:vh-100 {
        height: 100vh;
    }
    .md\:vh-90 {
        height: 90vh;
    }
    .md\:vh-80 {
        height: 80vh;
    }
    .md\:vh-70 {
        height: 70vh;
    }
    .md\:vh-60 {
        height: 60vh;
    }
    .md\:vh-50 {
        height: 50vh;
    }
    .md\:vh-40 {
        height: 40vh;
    }
    .md\:vh-30 {
        height: 30vh;
    }
    .md\:vh-20 {
        height: 20vh;
    }
    .md\:vh-10 {
        height: 10vh;
    }
}


@media (min-width: 1281px) {
    .lg\:h-unset {
        height: unset;
    }
    .lg\:h-d5 {
        height: var(--space-d5);
    }
    .lg\:h-d4 {
        height: var(--space-d4);
    }
    .lg\:h-d3 {
        height: var(--space-d3);
    }
    .lg\:h-d2 {
        height: var(--space-d2);
    }
    .lg\:h-d1 {
        height: var(--space-d1);
    }
    .lg\:height {
        height: var(--space);
    }
    .lg\:h-1 {
        height: var(--space-1)
    }
    .lg\:h-2 {
        height: var(--space-2);
    }
    .lg\:h-3 {
        height: var(--space-3);
    }
    .lg\:h-4 {
        height: var(--space-4);
    }
    .lg\:h-5 {
        height: var(--space-5);
    }
    .lg\:h-6 {
        height: var(--space-6);
    }
    .lg\:h-100 {
        height: 100%;
    }
    .lg\:vh-100 {
        height: 100vh;
    }
    .lg\:vh-90 {
        height: 90vh;
    }
    .lg\:vh-80 {
        height: 80vh;
    }
    .lg\:vh-70 {
        height: 70vh;
    }
    .lg\:vh-60 {
        height: 60vh;
    }
    .lg\:vh-50 {
        height: 50vh;
    }
    .lg\:vh-40 {
        height: 40vh;
    }
    .lg\:vh-30 {
        height: 30vh;
    }
    .lg\:vh-20 {
        height: 20vh;
    }
    .lg\:vh-10 {
        height: 10vh;
    }
}


@media (--mi-lg-breakpoint) {
    .lg\:h-unset {
        height: unset;
    }
    .lg\:h-d5 {
        height: var(--space-d5);
    }
    .lg\:h-d4 {
        height: var(--space-d4);
    }
    .lg\:h-d3 {
        height: var(--space-d3);
    }
    .lg\:h-d2 {
        height: var(--space-d2);
    }
    .lg\:h-d1 {
        height: var(--space-d1);
    }
    .lg\:height {
        height: var(--space);
    }
    .lg\:h-1 {
        height: var(--space-1)
    }
    .lg\:h-2 {
        height: var(--space-2);
    }
    .lg\:h-3 {
        height: var(--space-3);
    }
    .lg\:h-4 {
        height: var(--space-4);
    }
    .lg\:h-5 {
        height: var(--space-5);
    }
    .lg\:h-6 {
        height: var(--space-6);
    }
    .lg\:h-100 {
        height: 100%;
    }
    .lg\:vh-100 {
        height: 100vh;
    }
    .lg\:vh-90 {
        height: 90vh;
    }
    .lg\:vh-80 {
        height: 80vh;
    }
    .lg\:vh-70 {
        height: 70vh;
    }
    .lg\:vh-60 {
        height: 60vh;
    }
    .lg\:vh-50 {
        height: 50vh;
    }
    .lg\:vh-40 {
        height: 40vh;
    }
    .lg\:vh-30 {
        height: 30vh;
    }
    .lg\:vh-20 {
        height: 20vh;
    }
    .lg\:vh-10 {
        height: 10vh;
    }
}