@media (min-width: 401px) {
    .xs\:mih-unset,
    .xs\:mih-u {
        min-height: unset;
    }
    .xs\:mih-d5,
    .xs\:mih-d5 {
        min-height: var(--space-d5);
    }
    .xs\:mih-d4,
    .xs\:mih-d4 {
        min-height: var(--space-d4);
    }
    .xs\:mih-d3,
    .xs\:mih-d3 {
        min-height: var(--space-d3);
    }
    .xs\:mih-d2,
    .xs\:mih-d2 {
        min-height: var(--space-d2);
    }
    .xs\:mih-d1,
    .xs\:mih-d1 {
        min-height: var(--space-d1);
    }
    .xs\:min-height,
    .xs\:mih {
        min-height: var(--space);
    }
    .xs\:mih-1,
    .xs\:mih-1 {
        min-height: var(--space-1)
    }
    .xs\:mih-2,
    .xs\:mih-2 {
        min-height: var(--space-2);
    }
    .xs\:mih-3,
    .xs\:mih-3 {
        min-height: var(--space-3);
    }
    .xs\:mih-4,
    .xs\:mih-4 {
        min-height: var(--space-4);
    }
    .xs\:mih-5,
    .xs\:mih-5 {
        min-height: var(--space-5);
    }
    .xs\:mih-6,
    .xs\:mih-6 {
        min-height: var(--space-6);
    }
    .xs\:min-vh-100,
    .xs\:mivh-100 {
        min-height: 100vh;
    }
    .xs\:mih-100 {
        min-height: 100%;
    }
}


@media (--mi-xs-breakpoint) {
    .xs\:mih-unset,
    .xs\:mih-u {
        min-height: unset;
    }
    .xs\:mih-d5,
    .xs\:mih-d5 {
        min-height: var(--space-d5);
    }
    .xs\:mih-d4,
    .xs\:mih-d4 {
        min-height: var(--space-d4);
    }
    .xs\:mih-d3,
    .xs\:mih-d3 {
        min-height: var(--space-d3);
    }
    .xs\:mih-d2,
    .xs\:mih-d2 {
        min-height: var(--space-d2);
    }
    .xs\:mih-d1,
    .xs\:mih-d1 {
        min-height: var(--space-d1);
    }
    .xs\:min-height,
    .xs\:mih {
        min-height: var(--space);
    }
    .xs\:mih-1,
    .xs\:mih-1 {
        min-height: var(--space-1)
    }
    .xs\:mih-2,
    .xs\:mih-2 {
        min-height: var(--space-2);
    }
    .xs\:mih-3,
    .xs\:mih-3 {
        min-height: var(--space-3);
    }
    .xs\:mih-4,
    .xs\:mih-4 {
        min-height: var(--space-4);
    }
    .xs\:mih-5,
    .xs\:mih-5 {
        min-height: var(--space-5);
    }
    .xs\:mih-6,
    .xs\:mih-6 {
        min-height: var(--space-6);
    }
    .xs\:min-vh-100,
    .xs\:mivh-100 {
        min-height: 100vh;
    }
    .xs\:mih-100 {
        min-height: 100%;
    }
}


@media (min-width: 601px) {
    .sm\:mih-unset,
    .sm\:mih-u {
        min-height: unset;
    }
    .sm\:mih-d5,
    .sm\:mih-d5 {
        min-height: var(--space-d5);
    }
    .sm\:mih-d4,
    .sm\:mih-d4 {
        min-height: var(--space-d4);
    }
    .sm\:mih-d3,
    .sm\:mih-d3 {
        min-height: var(--space-d3);
    }
    .sm\:mih-d2,
    .sm\:mih-d2 {
        min-height: var(--space-d2);
    }
    .sm\:mih-d1,
    .sm\:mih-d1 {
        min-height: var(--space-d1);
    }
    .sm\:min-height,
    .sm\:mih {
        min-height: var(--space);
    }
    .sm\:mih-1,
    .sm\:mih-1 {
        min-height: var(--space-1)
    }
    .sm\:mih-2,
    .sm\:mih-2 {
        min-height: var(--space-2);
    }
    .sm\:mih-3,
    .sm\:mih-3 {
        min-height: var(--space-3);
    }
    .sm\:mih-4,
    .sm\:mih-4 {
        min-height: var(--space-4);
    }
    .sm\:mih-5,
    .sm\:mih-5 {
        min-height: var(--space-5);
    }
    .sm\:mih-6,
    .sm\:mih-6 {
        min-height: var(--space-6);
    }
    .sm\:min-vh-100,
    .sm\:mivh-100 {
        min-height: 100vh;
    }
    .sm\:mih-100 {
        min-height: 100%;
    }
}


@media (--mi-sm-breakpoint) {
    .sm\:mih-unset,
    .sm\:mih-u {
        min-height: unset;
    }
    .sm\:mih-d5,
    .sm\:mih-d5 {
        min-height: var(--space-d5);
    }
    .sm\:mih-d4,
    .sm\:mih-d4 {
        min-height: var(--space-d4);
    }
    .sm\:mih-d3,
    .sm\:mih-d3 {
        min-height: var(--space-d3);
    }
    .sm\:mih-d2,
    .sm\:mih-d2 {
        min-height: var(--space-d2);
    }
    .sm\:mih-d1,
    .sm\:mih-d1 {
        min-height: var(--space-d1);
    }
    .sm\:min-height,
    .sm\:mih {
        min-height: var(--space);
    }
    .sm\:mih-1,
    .sm\:mih-1 {
        min-height: var(--space-1)
    }
    .sm\:mih-2,
    .sm\:mih-2 {
        min-height: var(--space-2);
    }
    .sm\:mih-3,
    .sm\:mih-3 {
        min-height: var(--space-3);
    }
    .sm\:mih-4,
    .sm\:mih-4 {
        min-height: var(--space-4);
    }
    .sm\:mih-5,
    .sm\:mih-5 {
        min-height: var(--space-5);
    }
    .sm\:mih-6,
    .sm\:mih-6 {
        min-height: var(--space-6);
    }
    .sm\:min-vh-100,
    .sm\:mivh-100 {
        min-height: 100vh;
    }
    .sm\:mih-100 {
        min-height: 100%;
    }
}


@media (min-width: 801px) {
    .rg\:mih-unset,
    .rg\:mih-u {
        min-height: unset;
    }
    .rg\:mih-d5,
    .rg\:mih-d5 {
        min-height: var(--space-d5);
    }
    .rg\:mih-d4,
    .rg\:mih-d4 {
        min-height: var(--space-d4);
    }
    .rg\:mih-d3,
    .rg\:mih-d3 {
        min-height: var(--space-d3);
    }
    .rg\:mih-d2,
    .rg\:mih-d2 {
        min-height: var(--space-d2);
    }
    .rg\:mih-d1,
    .rg\:mih-d1 {
        min-height: var(--space-d1);
    }
    .rg\:min-height,
    .rg\:mih {
        min-height: var(--space);
    }
    .rg\:mih-1,
    .rg\:mih-1 {
        min-height: var(--space-1)
    }
    .rg\:mih-2,
    .rg\:mih-2 {
        min-height: var(--space-2);
    }
    .rg\:mih-3,
    .rg\:mih-3 {
        min-height: var(--space-3);
    }
    .rg\:mih-4,
    .rg\:mih-4 {
        min-height: var(--space-4);
    }
    .rg\:mih-5,
    .rg\:mih-5 {
        min-height: var(--space-5);
    }
    .rg\:mih-6,
    .rg\:mih-6 {
        min-height: var(--space-6);
    }
    .rg\:min-vh-100,
    .rg\:mivh-100 {
        min-height: 100vh;
    }
    .rg\:mih-100 {
        min-height: 100%;
    }
}


@media (--mi-rg-breakpoint) {
    .rg\:mih-unset,
    .rg\:mih-u {
        min-height: unset;
    }
    .rg\:mih-d5,
    .rg\:mih-d5 {
        min-height: var(--space-d5);
    }
    .rg\:mih-d4,
    .rg\:mih-d4 {
        min-height: var(--space-d4);
    }
    .rg\:mih-d3,
    .rg\:mih-d3 {
        min-height: var(--space-d3);
    }
    .rg\:mih-d2,
    .rg\:mih-d2 {
        min-height: var(--space-d2);
    }
    .rg\:mih-d1,
    .rg\:mih-d1 {
        min-height: var(--space-d1);
    }
    .rg\:min-height,
    .rg\:mih {
        min-height: var(--space);
    }
    .rg\:mih-1,
    .rg\:mih-1 {
        min-height: var(--space-1)
    }
    .rg\:mih-2,
    .rg\:mih-2 {
        min-height: var(--space-2);
    }
    .rg\:mih-3,
    .rg\:mih-3 {
        min-height: var(--space-3);
    }
    .rg\:mih-4,
    .rg\:mih-4 {
        min-height: var(--space-4);
    }
    .rg\:mih-5,
    .rg\:mih-5 {
        min-height: var(--space-5);
    }
    .rg\:mih-6,
    .rg\:mih-6 {
        min-height: var(--space-6);
    }
    .rg\:min-vh-100,
    .rg\:mivh-100 {
        min-height: 100vh;
    }
    .rg\:mih-100 {
        min-height: 100%;
    }
}


@media (min-width: 1025px) {
    .md\:mih-unset,
    .md\:mih-u {
        min-height: unset;
    }
    .md\:mih-d5,
    .md\:mih-d5 {
        min-height: var(--space-d5);
    }
    .md\:mih-d4,
    .md\:mih-d4 {
        min-height: var(--space-d4);
    }
    .md\:mih-d3,
    .md\:mih-d3 {
        min-height: var(--space-d3);
    }
    .md\:mih-d2,
    .md\:mih-d2 {
        min-height: var(--space-d2);
    }
    .md\:mih-d1,
    .md\:mih-d1 {
        min-height: var(--space-d1);
    }
    .md\:min-height,
    .md\:mih {
        min-height: var(--space);
    }
    .md\:mih-1,
    .md\:mih-1 {
        min-height: var(--space-1)
    }
    .md\:mih-2,
    .md\:mih-2 {
        min-height: var(--space-2);
    }
    .md\:mih-3,
    .md\:mih-3 {
        min-height: var(--space-3);
    }
    .md\:mih-4,
    .md\:mih-4 {
        min-height: var(--space-4);
    }
    .md\:mih-5,
    .md\:mih-5 {
        min-height: var(--space-5);
    }
    .md\:mih-6,
    .md\:mih-6 {
        min-height: var(--space-6);
    }
    .md\:min-vh-100,
    .md\:mivh-100 {
        min-height: 100vh;
    }
    .md\:mih-100 {
        min-height: 100%;
    }
}


@media (--mi-md-breakpoint) {
    .md\:mih-unset,
    .md\:mih-u {
        min-height: unset;
    }
    .md\:mih-d5,
    .md\:mih-d5 {
        min-height: var(--space-d5);
    }
    .md\:mih-d4,
    .md\:mih-d4 {
        min-height: var(--space-d4);
    }
    .md\:mih-d3,
    .md\:mih-d3 {
        min-height: var(--space-d3);
    }
    .md\:mih-d2,
    .md\:mih-d2 {
        min-height: var(--space-d2);
    }
    .md\:mih-d1,
    .md\:mih-d1 {
        min-height: var(--space-d1);
    }
    .md\:min-height,
    .md\:mih {
        min-height: var(--space);
    }
    .md\:mih-1,
    .md\:mih-1 {
        min-height: var(--space-1)
    }
    .md\:mih-2,
    .md\:mih-2 {
        min-height: var(--space-2);
    }
    .md\:mih-3,
    .md\:mih-3 {
        min-height: var(--space-3);
    }
    .md\:mih-4,
    .md\:mih-4 {
        min-height: var(--space-4);
    }
    .md\:mih-5,
    .md\:mih-5 {
        min-height: var(--space-5);
    }
    .md\:mih-6,
    .md\:mih-6 {
        min-height: var(--space-6);
    }
    .md\:min-vh-100,
    .md\:mivh-100 {
        min-height: 100vh;
    }
    .md\:mih-100 {
        min-height: 100%;
    }
}


@media (min-width: 1281px) {
    .lg\:mih-unset,
    .lg\:mih-u {
        min-height: unset;
    }
    .lg\:mih-d5,
    .lg\:mih-d5 {
        min-height: var(--space-d5);
    }
    .lg\:mih-d4,
    .lg\:mih-d4 {
        min-height: var(--space-d4);
    }
    .lg\:mih-d3,
    .lg\:mih-d3 {
        min-height: var(--space-d3);
    }
    .lg\:mih-d2,
    .lg\:mih-d2 {
        min-height: var(--space-d2);
    }
    .lg\:mih-d1,
    .lg\:mih-d1 {
        min-height: var(--space-d1);
    }
    .lg\:min-height,
    .lg\:mih {
        min-height: var(--space);
    }
    .lg\:mih-1,
    .lg\:mih-1 {
        min-height: var(--space-1)
    }
    .lg\:mih-2,
    .lg\:mih-2 {
        min-height: var(--space-2);
    }
    .lg\:mih-3,
    .lg\:mih-3 {
        min-height: var(--space-3);
    }
    .lg\:mih-4,
    .lg\:mih-4 {
        min-height: var(--space-4);
    }
    .lg\:mih-5,
    .lg\:mih-5 {
        min-height: var(--space-5);
    }
    .lg\:mih-6,
    .lg\:mih-6 {
        min-height: var(--space-6);
    }
    .lg\:min-vh-100,
    .lg\:mivh-100 {
        min-height: 100vh;
    }
    .lg\:mih-100 {
        min-height: 100%;
    }
}


@media (--mi-lg-breakpoint) {
    .lg\:mih-unset,
    .lg\:mih-u {
        min-height: unset;
    }
    .lg\:mih-d5,
    .lg\:mih-d5 {
        min-height: var(--space-d5);
    }
    .lg\:mih-d4,
    .lg\:mih-d4 {
        min-height: var(--space-d4);
    }
    .lg\:mih-d3,
    .lg\:mih-d3 {
        min-height: var(--space-d3);
    }
    .lg\:mih-d2,
    .lg\:mih-d2 {
        min-height: var(--space-d2);
    }
    .lg\:mih-d1,
    .lg\:mih-d1 {
        min-height: var(--space-d1);
    }
    .lg\:min-height,
    .lg\:mih {
        min-height: var(--space);
    }
    .lg\:mih-1,
    .lg\:mih-1 {
        min-height: var(--space-1)
    }
    .lg\:mih-2,
    .lg\:mih-2 {
        min-height: var(--space-2);
    }
    .lg\:mih-3,
    .lg\:mih-3 {
        min-height: var(--space-3);
    }
    .lg\:mih-4,
    .lg\:mih-4 {
        min-height: var(--space-4);
    }
    .lg\:mih-5,
    .lg\:mih-5 {
        min-height: var(--space-5);
    }
    .lg\:mih-6,
    .lg\:mih-6 {
        min-height: var(--space-6);
    }
    .lg\:min-vh-100,
    .lg\:mivh-100 {
        min-height: 100vh;
    }
    .lg\:mih-100 {
        min-height: 100%;
    }
}