@media (max-width: 28rem){
    .max-sm-hide{
        display:none !important
    }
}

@media (max-width: 36rem){
    .max-rg-hide{
        display:none !important
    }
}

@media (max-width: 52rem){
    .max-md-hide{
        display:none !important
    }
}

@media (max-width: 64rem){
    .max-lg-hide{
        display:none !important
    }
}
