.hide{
    display:none !important
}

@media (min-width: 24rem){
    .sm-hide{
        display:none !important
    }
}

@media (min-width: 32rem){
    .rg-hide{
        display:none !important
    }
}

@media (min-width: 42rem){
    .md-hide{
        display:none !important
    }
}

@media (min-width: 64rem){
    .lg-hide{
        display:none !important
    }
}

@media (max-width: 24rem){
    .max-sm-hide{
        display:none !important
    }
}

@media (max-width: 32rem){
    .max-rg-hide{
        display:none !important
    }
}

@media (max-width: 42rem){
    .max-md-hide{
        display:none !important
    }
}

@media (max-width: 64rem){
    .max-lg-hide{
        display:none !important
    }
}