img {
    font-family: var(--meta-font-family);
    font-size: var(--fs-d1);
    filter: var(--img-filter);
}

.bg-cover {
    background-size: cover;
}

.bg-contain {
    background-size: contain;
}

.bg-repeat {
    background-repeat: repeat;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.bg-fixed {
    background-attachment: fixed;
}

.bg-center {
    background-position: center center;
}

.bg-top {
    background-position: top;
}

.bg-top-left {
    background-position: top left;
}

.bg-top-right {
    background-position: top right;
}

.bg-right {
    background-position: right;
}

.bg-bottom {
    background-position: bottom;
}

.bg-bottom-left {
    background-position: bottom left;
}

.bg-bottom-right {
    background-position: bottom right;
}

.bg-left {
    background-position: left;
}

.fit-cover {
    object-fit: cover;
}

.fit-contain {
    object-fit: contain;
}

.fit-center {
    object-position: center center;
}

.fit-top {
    object-position: top;
}

.fit-top-left {
    object-position: top left;
}

.fit-top-right {
    object-position: top right;
}

.fit-right {
    object-position: right;
}

.fit-bottom {
    object-position: bottom;
}

.fit-bottom-left {
    object-position: bottom left;
}

.fit-bottom-right {
    object-position: bottom right;
}

.fit-left {
    object-position: left;
}