.fit{
  max-width:100%;
}

.fit-cover{
  -o-object-fit:cover;
     object-fit:cover;
  background-size:cover;
}

.fit-contain{
  -o-object-fit:contain;
     object-fit:contain;
}

.fit-t{
  -o-object-position:top;
     object-position:top;
}

.fit-tl{
  -o-object-position:top left;
     object-position:top left;
}

.fit-tr{
  -o-object-position:top right;
     object-position:top right;
}

.fit-r{
  -o-object-position:right;
     object-position:right;
}

.fit-b{
  -o-object-position:bottom;
     object-position:bottom;
}

.fit-bl{
  -o-object-position:bottom left;
     object-position:bottom left;
}

.fit-br{
  -o-object-position:bottom right;
     object-position:bottom right;
}

.fit-l{
  -o-object-position:left;
     object-position:left;
}




