/* base */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Rokkitt:700|Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Rokkitt:700|Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
* {
  line-height: 1.62em;
  font-weight: 400;
  font-family: "Open Sans", Sans-serif;
  color: #333; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-feature-settings: "onum" 1;
  background-color: #fff; }

@supports (font-variant-numeric: oldstyle-nums) {
  body {
    font-feature-settings: normal;
    font-variant-numeric: oldstyle-nums; } }
a {
  text-decoration: underline; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 2.6244em;
  margin-bottom: 0.81em;
  text-align: center;
  font-feature-settings: "lnum" 1;
  font-family: "Rokkitt";
  letter-spacing: 1px;
  text-transform: uppercase; }

ul {
  list-style: disc;
  margin: 0;
  padding: 0; }

li {
  list-style-position: outside; }

li h2,
li h3,
li h4,
li h5,
li h6 {
  display: inline-block;
  margin: 0;
  text-align: left;
  font-weight: 400;
  font-style: italic; }
li p {
  margin: 0; }

img {
  margin: 0;
  max-width: 100%; }

hr {
  margin: 1.62em auto;
  border: 0; }

hr:after {
  content: "* * *"; }

.vertical-rhythm,
figure,
p {
  margin: 0 0 1.62em;
  padding: 0; }

figure {
  max-width: 100%; }

figcaption {
  margin: 0;
  font-style: italic;
  font-size: 14px; }

code {
  font-family: "Source Code Pro", monospace;
  font-size: 14px; }

strong {
  font-weight: bold; }

@media screen and (min-width: 1400px) {
  body {
    font-size: 18px; } }
@media screen and (max-width: 700px) {
  li {
    list-style-position: inside; } }
/* base */
* {
  line-height: 1.62em;
  font-weight: 400;
  font-family: "Open Sans", Sans-serif;
  color: #333; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-feature-settings: "onum" 1;
  background-color: #fff; }

@supports (font-variant-numeric: oldstyle-nums) {
  body {
    font-feature-settings: normal;
    font-variant-numeric: oldstyle-nums; } }
a {
  text-decoration: underline; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 2.6244em;
  margin-bottom: 0.81em;
  text-align: center;
  font-feature-settings: "lnum" 1;
  font-family: "Rokkitt";
  letter-spacing: 1px;
  text-transform: uppercase; }

ul {
  list-style: disc;
  margin: 0;
  padding: 0; }

li {
  list-style-position: outside; }

li h2,
li h3,
li h4,
li h5,
li h6 {
  display: inline-block;
  margin: 0;
  text-align: left;
  font-weight: 400;
  font-style: italic; }
li p {
  margin: 0; }

img {
  margin: 0;
  max-width: 100%; }

hr {
  margin: 1.62em auto;
  border: 0; }

hr:after {
  content: "* * *"; }

.vertical-rhythm,
figure,
p {
  margin: 0 0 1.62em;
  padding: 0; }

figure {
  max-width: 100%; }

figcaption {
  margin: 0;
  font-style: italic;
  font-size: 14px; }

code {
  font-family: "Source Code Pro", monospace;
  font-size: 14px; }

strong {
  font-weight: bold; }

@media screen and (min-width: 1400px) {
  body {
    font-size: 18px; } }
@media screen and (max-width: 700px) {
  li {
    list-style-position: inside; } }
.grid {
  display: grid;
  grid-template-columns: 1.62em 1fr 1fr minmax(0, 700px) 1fr 1fr 1.62em; }

.grid > * {
  grid-column: 4 / span 1; }
.grid > .left {
  grid-column: 3 / span 2; }
.grid > .right {
  grid-column: 4 / span 2; }
.grid > .breakout {
  grid-column: 3 / span 3; }
.grid > .wide {
  grid-column: 2 / span 5; }
.grid > .full {
  grid-column: 1 / span 7; }
.grid .columns {
  columns: 2; }
.grid .breakout .columns,
.grid .breakout.columns,
.grid .full .columns,
.grid .full.columns,
.grid .wide .columns,
.grid .wide.columns {
  columns: 3; }

.thirds {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1.62em; }
  .thirds .col-1 {
    grid-column: 1 / span 1; }
  .thirds .col-1-2 {
    grid-column: 1 / span 2; }
  .thirds .col-1-2-3 {
    grid-column: 1 / span 3; }
  .thirds .col-2 {
    grid-column: 2 / span 1; }
  .thirds .col-2-3 {
    grid-column: 2 / span 2; }
  .thirds .col-3 {
    grid-column: 3 / span 1; }

.columns {
  column-gap: 1.62em;
  margin: 0 0 1.62em; }
  .columns figure,
  .columns p {
    margin: 0; }

@media screen and (max-width: 1200px) {
  .grid .left {
    grid-column: 4 / span 1; }
  .grid .right {
    grid-column: 4 / span 1; }
  .grid .breakout {
    grid-column: 4 / span 1; }
  .grid .wide {
    grid-column: 4 / span 1; }
  .grid .full {
    grid-column: 1/ span 7; }
  .grid .breakout .columns,
  .grid .breakout.columns,
  .grid .columns,
  .grid .full .columns,
  .grid .full.columns,
  .grid .wide .columns,
  .grid .wide.columns {
    columns: 2;
    padding-bottom: 0; } }
@media screen and (max-width: 700px) {
  .grid {
    grid-template-columns: 0.81em 1fr 1fr minmax(0, 700px) 1fr 1fr 0.81em; }
    .grid .breakout .columns,
    .grid .breakout.columns,
    .grid .columns,
    .grid .full .columns,
    .grid .full.columns,
    .grid .wide .columns,
    .grid .wide.columns {
      columns: 1;
      padding-bottom: 0; }

  .thirds .col-1,
  .thirds .col-1-2,
  .thirds .col-1-2-3,
  .thirds .col-2,
  .thirds .col-2-3,
  .thirds .col-3 {
    grid-column: 1 / span 3; } }
.small {
  font-size: 14px; }

.normal {
  font-size: 16px; }

.big {
  font-size: 18px; }

.height-500px {
  height: 500px; }

.height-400px {
  height: 400px; }

.height-250px {
  height: 250px; }

.max-height-500px {
  max-height: 500px; }

.max-height-400px {
  max-height: 400px; }

.max-height-250px {
  max-height: 250px; }

.max-width-one-third {
  max-width: 33%; }

.max-width-two-thirds {
  max-width: 66%; }

.cover {
  width: 100%;
  background-size: cover;
  background-position: 50%; }

.no-margin {
  margin: 0; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.align-left {
  text-align: right; }

.align-right {
  text-align: right; }

header {
  background: #333;
  color: #fff;
  padding: 0.81em 0; }
  header * {
    text-align: center; }
    header * a {
      color: white; }

.title {
  margin-top: 4.251528em;
  text-align: center; }
  .title h1 {
    margin: 0;
    font-size: 1.62em; }
  .title .sub-title {
    text-transform: uppercase; }
  .title .abstract {
    margin-top: 1.62em;
    font-style: italic;
    text-align: left; }

.toc ul {
  list-style-type: none; }
.toc li {
  display: inline; }
.toc li:after {
  content: " - "; }
.toc li:last-child:after {
  content: ""; }

.detail-list .item,
.detail-list li {
  margin: 0 0 1.62em;
  list-style-type: none; }
  .detail-list .item h2,
  .detail-list .item h3,
  .detail-list .item h4,
  .detail-list .item h5,
  .detail-list .item h6,
  .detail-list li h2,
  .detail-list li h3,
  .detail-list li h4,
  .detail-list li h5,
  .detail-list li h6 {
    font-weight: bold;
    font-style: normal;
    margin-right: 1.62em; }
  .detail-list .item .meta,
  .detail-list li .meta {
    font-size: 14px; }
