:root {
    --z-1: 1000;
    --z-2: 2000;
    --z-3: 3000;
    --z-4: 4000;
    --bleed-width: var(--mi-lg-bp-px);
    --bleed-padding: var(--space);
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline-table {
    display: inline-table;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
}

.baseline {
    vertical-align: baseline;
}

.top {
    vertical-align: top;
}

.middle {
    vertical-align: middle;
}

.bottom {
    vertical-align: bottom;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.justify {
    text-align: justify;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-auto {
    overflow: auto;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-x-scroll {
    overflow-x: scroll;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.full-bleed {
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

.bleed {
    width: min(100vw - 2 * var(--space), var(--mi-lg-bp-px));
    width: min(100vw - 2 * var(--bleed-padding), var(--bleed-width));
    margin-left: max(50% - 50vw + 1rem, 50% - var(--mi-lg-bp-px) / 2);
    margin-left: max(50% - 50vw + 1rem, 50% - var(--bleed-width) / 2);
}

.bleed-right {
    width: auto;
    margin-right: max(50% - 50vw + var(--space), 50% - var(--mi-lg-bp-px) / 2);
    margin-right: max(50% - 50vw + var(--bleed-padding), 50% - var(--bleed-width) / 2);
}

.bleed-left {
    width: auto;
    margin-left: max(50% - 50vw + var(--space), 50% - var(--mi-lg-bp-px) / 2);
    margin-left: max(50% - 50vw + var(--bleed-padding), 50% - var(--bleed-width) / 2);
}

.split {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--horizontal-rhythm);
    row-gap: var(--mrb-figure);
}

.split>* {
    margin: 0;
}

/* Nicolas Gallaghers Clearfix solution
   Ref: http://nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-clear {
    clear: both;
}

.fit {
    max-width: 100%;
}

.border-box {
    box-sizing: border-box;
}

.content-box {
    box-sizing: content-box;
}

.static {
    position: static;
}

.sticky {
    position: sticky;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.top-0 {
    top: 0;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.z-1 {
    z-index: 1000;
    z-index: var(--z-1)
}

.z-2 {
    z-index: 2000;
    z-index: var(--z-2)
}

.z-3 {
    z-index: 3000;
    z-index: var(--z-3)
}

.z-4 {
    z-index: 4000;
    z-index: var(--z-4)
}

.box-break-clone {
    box-decoration-break: clone;
    -o-box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

/* containment */

.contain-content {
    contain: content;
}

.contain-strict {
    contain: strict;
}

.contain-layout {
    contain: layout;
}

.contain-paint {
    contain: paint;
}

.contain-size {
    contain: paint;
}

.contain-style {
    contain: style;
}