.inline{
  display:inline;
}

.block{
  display:block;
}

.inline-block{
  display:inline-block;
}

.table{
  display:table;
}

.table-cell{
  display:table-cell;
}

.align-baseline{
  vertical-align:baseline;
}

.top{
  vertical-align:top;
}

.middle{
  vertical-align:middle;
}

.bottom{
  vertical-align:bottom;
}

.left{
  text-align:left;
}

.center{
  text-align:center;
}

.right{
  text-align:right;
}

.justify{
  text-align:justify;
}

.overflow-hidden{
  overflow:hidden;
}

.overflow-scroll{
  overflow:scroll;
}

.overflow-auto{
  overflow:auto;
}

.clearfix:before,
.clearfix:after{
  content:" ";
  display:table;
}

.clearfix:after{
  clear:both;
}

.float-left{
  float:left;
}

.float-right{
  float:right;
}

.fit{
  max-width:100%;
}

.sm-max-width{
  max-width:var(--small-width);
}

.rg-max-width{
  max-width:var(--regular-width);
}

.md-max-width{
  max-width:var(--mid-width);
}

.lg-max-width{
  max-width:var(--large-width);
}

.border-box{
  box-sizing:border-box;
}