table{
    border-collapse:collapse;
    font-variant-numeric:tabular-nums;
    margin-top:var(--space);
    margin-bottom:var(--space);
    text-align:left;
}

.alternate-rows tr:nth-child(even){background:var(--silver);}

.alternate-rows tr:nth-child(odd){background:transparent;}

.alternate-cols col:nth-child(even){background:var(--silver);}

.alternate-cols col:nth-child(odd){background:transparent;}

.underline-rows tr{ border-bottom:1px solid var(--silver);}

td{
    vertical-align:top;
}

th{
    vertical-align:top;
    font-weight:var(--font-weight-bold);
}

th,
td{
    padding:var(--space-d2) var(--space-d1);
}

th:first-child,
td:first-child{
    padding-left:0;
}

th:last-child,
td:last-child{
    padding-right:0;
}

tr:first-child td, tr:first-child th{
    padding-top:0;
}

tr:last-child td{
    padding-bottom:0;
}

thead+tbody+tr td{
    padding-top:var(--space-2);
}

.br-separate{
    border-collapse:separate;
}

.br-collapse{
    border-collapse:collapse;
}

table.pdx th,
table th.pdx,
table.pdx td,
table tr.pdx td,
table td.pdx{
    padding-left:var(--space);
    padding-right:var(--space);
}

table.pdx-0 th,
table th.pdx-0,
table.pdx-0 td,
table tr.pdx-0 td,
table td.pdx-0{
    padding-left:0;
    padding-right:0;
}

table.pdy th,
table th.pdy,
table.pdy td,
table tr.pdy td,
table td.pdy{
    padding-top:var(--space);
    padding-bottom:var(--space);
}

table.pdy-0 th,
table th.pdy-0,
table.pdy-0 td,
table tr.pdy-0 td,
table td.pdy-0{
    padding-top:0;
    padding-bottom:0;
}

table.pdx-d1 th,
table th.pdx-d1,
table.pdx-d1 td,
table tr.pdy-d1 td,
table td.pdx-d1{
    padding-left:var(--space-d1);
    padding-right:var(--space-d1);
}

table.pdy-d1 th,
table th.pdy-d1,
table.pdy-d1 td,
table tr.pdy-d1 td,
table td.pdy-d1{
    padding-top:var(--space-d1);
    padding-bottom:var(--space-d1);
}

table.pdx-d2 th,
table th.pdx-d2,
table.pdx-d2 td,
table tr.pdx-d2 td,
table td.pdx-d2{
    padding-left:var(--space-d2);
    padding-right:var(--space-d2);
}

table.pdy-d2 th,
table th.pdy-d2,
table.pdy-d2 td,
table tr.pdy-d2 td,
table td.pdy-d2{
    padding-top:var(--space-d2);
    padding-bottom:var(--space-d2);
}

