:root {
    --size-factor: 1.25;
    --base-font-size: 18px;
    --fs: 1rem;
    --fs-default: var(--fs);
    --fs-mono: .95em;
    --large: var(--fs-1);
    --larger: calc(var(--size-factor) * 1em);
    --small: var(--fs-d1);
    --smaller: .9em;
    --fs-d1: .9rem;
    --fs-1: calc(var(--fs) * var(--size-factor));
    --fs-2: calc(var(--fs) * var(--size-factor) * var(--size-factor));
    --fs-3: calc(var(--fs) * var(--size-factor) * var(--size-factor) * var(--size-factor));
    --fs-4: calc(var(--fs) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor));
    --fs-5: calc(var(--fs) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor));
    --fs-6: calc(var(--fs) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor));
    --fs-7: calc(var(--fs) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor));
    --fs-8: calc(var(--fs) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor));
    --fs-9: calc(var(--fs) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor));
    --fs-10: calc(var(--fs) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor) * var(--size-factor));
    --lh: 1;
    --lh-d1: 0.9;
    --lh-3: calc(var(--space-factor) * var(--lh));
    --lh-2: calc((var(--lh-3) - var(--lh)) / 3 * 2 + var(--lh));
    --lh-1: calc((var(--lh-3) - var(--lh)) / 3 + var(--lh));
    --lh-default: var(--lh-3);
    --lh-4: calc((var(--lh-3) - var(--lh)) / 3 * 4 + var(--lh));
    --lh-5: calc((var(--lh-3) - var(--lh)) / 3 * 5 + var(--lh));
    --fs-h6: var(--fs);
    --fs-h5: var(--fs);
    --fs-h4: var(--fs-1);
    --fs-h3: var(--fs-2);
    --fs-h2: var(--fs-3);
    --fs-h1: var(--fs-7);
    --lh-h6: var(--lh-3);
    --lh-h5: var(--lh-3);
    --lh-h4: var(--lh-2);
    --lh-h3: var(--lh-2);
    --lh-h2: var(--lh-2);
    --lh-h1: var(--lh-1);
    font-size: 18px;
    font-size: var(--base-font-size);
    line-height: calc(var(--space-factor) * 1);
    line-height: var(--lh-default);
}

small,
.small {
    font-size: .9rem;
    font-size: var(--small);
}

.smaller {
    font-size: .9em;
    font-size: var(--smaller);
}

.large {
    font-size: calc(1rem * 1.25);
    font-size: var(--large);
}

.larger {
    font-size: calc(1.25 * 1em);
    font-size: var(--larger);
}

.h1 {
    font-size: calc(1rem * 1.25 * 1.25 * 1.25 * 1.25 * 1.25 * 1.25 * 1.25);
    font-size: var(--fs-h1);
    line-height: calc((calc(var(--space-factor) * 1) - 1) / 3 + 1);
    line-height: var(--lh-h1);
}

.h2 {
    font-size: calc(1rem * 1.25 * 1.25 * 1.25);
    font-size: var(--fs-h2);
    line-height: calc((calc(var(--space-factor) * 1) - 1) / 3 * 2 + 1);
    line-height: var(--lh-h2);
}

.h3 {
    font-size: calc(1rem * 1.25 * 1.25);
    font-size: var(--fs-h3);
    line-height: calc((calc(var(--space-factor) * 1) - 1) / 3 * 2 + 1);
    line-height: var(--lh-h3);
}

.h4 {
    font-size: calc(1rem * 1.25);
    font-size: var(--fs-h4);
    line-height: calc((calc(var(--space-factor) * 1) - 1) / 3 * 2 + 1);
    line-height: var(--lh-h4);
}

.h5 {
    font-size: 1rem;
    font-size: var(--fs-h5);
    line-height: calc(var(--space-factor) * 1);
    line-height: var(--lh-h5);
}

.h6 {
    font-size: 1rem;
    font-size: var(--fs-h6);
    line-height: calc(var(--space-factor) * 1);
    line-height: var(--lh-h6);
}

.fs-d1 {
    font-size: .9rem;
    font-size: var(--fs-d1);
}

.fs,
.fs-default {
    font-size: 1rem;
    font-size: var(--fs);
}

.fs-1 {
    font-size: calc(1rem * 1.25);
    font-size: var(--fs-1);
}

.fs-2 {
    font-size: calc(1rem * 1.25 * 1.25);
    font-size: var(--fs-2);
}

.fs-3 {
    font-size: calc(1rem * 1.25 * 1.25 * 1.25);
    font-size: var(--fs-3);
}

.fs-4 {
    font-size: calc(1rem * 1.25 * 1.25 * 1.25 * 1.25);
    font-size: var(--fs-4);
}

.fs-5 {
    font-size: calc(1rem * 1.25 * 1.25 * 1.25 * 1.25 * 1.25);
    font-size: var(--fs-5);
}

.fs-6 {
    font-size: calc(1rem * 1.25 * 1.25 * 1.25 * 1.25 * 1.25 * 1.25);
    font-size: var(--fs-6);
}

.fs-7 {
    font-size: calc(1rem * 1.25 * 1.25 * 1.25 * 1.25 * 1.25 * 1.25 * 1.25);
    font-size: var(--fs-7);
}

.fs-8 {
    font-size: calc(1rem * 1.25 * 1.25 * 1.25 * 1.25 * 1.25 * 1.25 * 1.25 * 1.25);
    font-size: var(--fs-8);
}

.fs-9 {
    font-size: calc(1rem * 1.25 * 1.25 * 1.25 * 1.25 * 1.25 * 1.25 * 1.25 * 1.25 * 1.25);
    font-size: var(--fs-9);
}

.fs-10 {
    font-size: calc(1rem * 1.25 * 1.25 * 1.25 * 1.25 * 1.25 * 1.25 * 1.25 * 1.25 * 1.25 * 1.25);
    font-size: var(--fs-10);
}

.lh-0 {
    line-height: 0;
}

.lh-unset,
.lh-u {
    line-height: unset;
}

.lh-d1 {
    line-height: 0.9;
    line-height: var(--lh-d1);
}

.lh {
    line-height: 1;
    line-height: var(--lh);
}

.lh-1 {
    line-height: calc((calc(var(--space-factor) * 1) - 1) / 3 + 1);
    line-height: var(--lh-1);
}

.lh-2 {
    line-height: calc((calc(var(--space-factor) * 1) - 1) / 3 * 2 + 1);
    line-height: var(--lh-2);
}

.lh-3,
.lh-default {
    line-height: calc(var(--space-factor) * 1);
    line-height: var(--lh-3);
}

.lh-4 {
    line-height: calc((calc(var(--space-factor) * 1) - 1) / 3 * 4 + 1);
    line-height: var(--lh-4);
}

.lh-5 {
    line-height: calc((calc(var(--space-factor) * 1) - 1) / 3 * 5 + 1);
    line-height: var(--lh-5);
}