:root{
  --font-weight-bold:600;
  --font-weight-normal:400;  

  --font-family:-apple-system, sans-serif;
  --font-family-headlines:var(--font-family);
  --font-family-mono:monospace;
  --link-text-decoration:underline;
  --text-underline-offset:0.25em;
  --text-decoration-thickness:0.08em;
  --font-variant-numeric:normal;


  --h1-margin-top:var(--space-1);
  --h1-font-size:var(--space-2);
  --h1-line-height:1.25em;
  --h1-margin-bottom:var(--space-1);

  --h2-margin-top:var(--space-2);
  --h2-font-size:var(--space-1);
  --h2-line-height:1.25em;
  --h2-margin-bottom:var(--space-1);

  --h3-margin-top:var(--space-2);
  --h3-font-size:1.25rem;
  --h3-line-height:1.25em;
  --h3-margin-bottom:var(--space-1);

  --h4-margin-top:var(--space-1);
  --h4-font-size:1rem;
  --h4-line-height:var(--line-height-default);
  --h4-margin-bottom:var(--space-1);

  --h5-margin-top:var(--space-1);
  --h5-font-size:0.875rem;
  --h5-line-height:var(--line-height-default);
  --h5-margin-bottom:var(--space-1);

  --h6-margin-top:var(--space-1);
  --h6-font-size:0.75rem;
  --h6-line-height:var(--line-height-default);
  --h6-margin-bottom:var(--space-1);


  font-family:-apple-system
,
sans-serif;


  font-family:var(--font-family);
  font-weight:400;
  font-weight:var(--font-weight-normal);
  text-underline-offset:0.25em;
  text-underline-offset:var(--text-underline-offset);
  text-decoration-thickness:0.08em;
  text-decoration-thickness:var(--text-decoration-thickness);
  font-variant-numeric:normal;
  font-variant-numeric:var(--font-variant-numeric);
}

*{
  outline:none;
}

.font-family-inherit{
  font-family:inherit;
}

.font-size-inherit{
  font-size:inherit;
}

.bold,
b,
.b,
strong,
.strong{
  font-weight:600;
  font-weight:var(--font-weight-bold, bold);
}

.normal, .fw-default{
  font-weight:normal;
}

.fw-100{
  font-weight:100;
}

.fw-200{
  font-weight:200;
}

.fw-300{
  font-weight:400;
}

.fw-400{
  font-weight:400;
}

.fw-500{
  font-weight:500;
}

.fw-600{
  font-weight:600;
}

.fw-700{
  font-weight:700;
}

.fw-800{
  font-weight:800;
}

.fw-900{
  font-weight:900;
}

.italic,
i,
.i,
cite,
.cite,
em,
.em{
  font-style:italic;
}

small,
.small{
  font-size:var(--fs--1);
}

.caps{
  text-transform:uppercase;
}

.no-lsp, .lsp-0{
  letter-spacing:none;
}

.lsp-1{
  letter-spacing:0.05em;
}

.lsp-2, .lsp{
  letter-spacing:0.1em;
}

.lsp-3{
  letter-spacing:0.15em;
}

.lsp-4{
  letter-spacing:0.2em;
}

.mono{
  font-family:monospace;
  font-family:var(--font-family-mono);
}

.underline,
u{
  text-decoration:underline;
}

.ft-num-normal{
  font-variant-numeric:normal;
}

.ft-num-ordinal{
  font-variant-numeric:ordinal;
}

.ft-num-zero{
  font-variant-numeric:slashed-zero;
}

.ft-num-onum{
  font-variant-numeric:oldstyle-nums;
}

.ft-num-lnum{
  font-variant-numeric:lining-nums;
}

.ft-num-tab{
  font-variant-numeric:tabular-nums;
}

.no-break{
  white-space:nowrap;
}

.break-word{
  word-wrap:break-word;
}

.truncate{
  max-width:100%;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

s,
.s,
.strike,
del,
.del{
  text-decoration:line-through;
}

sub,
sup,
.sub,
.sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}

sub,
.sub{
  bottom:-0.25em;
}

sup,
.sup{
  top:-0.5em;
}

mark,
.mark{
  background:var(--mark-background);
  padding-top:0.1em;
  padding-bottom:0.1em;
}

kbd,
.kbd{
  background:var(--kbd-background);
  border-radius:var(--space--4);
  border:1px solid var(--base-color);
  padding:0.1em;
  font-family:monospace;
  font-family:var(--font-family-mono);
  white-space:nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6{
  text-transform:unset;
  font-weight:600;
  font-weight:var(--font-weight-bold);
  font-family:-apple-system
,
sans-serif;
  font-family:var(--font-family-headlines);
}

h1{
  font-size:var(--fs-h1);
  line-height:var(--lh-h1);

  margin-top:var(--space-1);

  margin-top:var(--h1-margin-top);
  margin-bottom:var(--space-1);
  margin-bottom:var(--h1-margin-bottom);
}

h2{
  font-size:var(--fs-h2);
  line-height:var(--lh-h2);

  margin-top:var(--space-2);

  margin-top:var(--h2-margin-top);
  margin-bottom:var(--space-1);
  margin-bottom:var(--h2-margin-bottom);
}

h3{
  font-size:var(--fs-h3);
  line-height:var(--lh-h3);

  margin-top:var(--space-2);

  margin-top:var(--h3-margin-top);
  margin-bottom:var(--space-1);
  margin-bottom:var(--h3-margin-bottom);
}

h4{
  font-size:var(--fs-h4);
  line-height:var(--lh-h4);

  margin-top:var(--space-1);

  margin-top:var(--h4-margin-top);
  margin-bottom:var(--space-1);
  margin-bottom:var(--h4-margin-bottom);
}

h5{
  font-size:var(--fs-h5);
  line-height:var(--lh-h5);

  margin-top:var(--space-1);

  margin-top:var(--h5-margin-top);
  margin-bottom:var(--space-1);
  margin-bottom:var(--h5-margin-bottom);
}

h6{
  font-size:var(--fs-h6);
  line-height:var(--lh-h6);

  margin-top:var(--space-1);

  margin-top:var(--h6-margin-top);
  margin-bottom:var(--space-1);
  margin-bottom:var(--h6-margin-bottom);
}

ul,
ul ul{
  list-style-type:disc;
}

ol{
  list-style:none;
  counter-reset:bold-number;
}

ol li{
  counter-increment:bold-number;
}

ol li::before{
  content:counter(bold-number) ". ";
  font-weight:bold;
}

ol,
ul{
  margin-top:1em;
  margin-bottom:1em;
  padding-left:0;
  list-style-position:inside;
}

ol ol,
ul ol,
ol ul,
ul ul{
  margin-top:0em;
  margin-bottom:0em;
  padding-left:var(--space-1);
}

p{
  margin-top:0;
  margin-bottom:1em;
}

.pindent p{
  margin-top:0;
  margin-bottom:0;
}

.pindent p+p{
  text-indent:var(--space-1);
}

p.pindent{
  margin:0;
  text-indent:var(--space-1);
}

.no-pindent p,
.no-pindent p+p,
p.no-pindent{
  text-indent:0;
  margin-top:1em;
  margin-bottom:1em;
}

.no-text-decoration{
  text-decoration:none;
}

.no-list{
  list-style:none;
  padding-left:0;
}

.code,
code,
pre{
  font-family:monospace;
  font-family:var(--font-family-mono);
  line-height:var(--lh);
  font-size:var(--fs);
}

code{
  padding-top:0.1em;
  padding-bottom:0.1em;
}

p>code,
li>code,
blockquote>code{
  background:var(--code-background);
  color:var(--code-color);
}

pre{
  margin-top:var(--space);
  margin-bottom:var(--space);
  padding-top:var(--space--1);
  padding-bottom:var(--space--1);
  border-top:var(--border-width-sm) dotted var(--gray);
  border-bottom:var(--border-width-sm) dotted var(--gray);
  overflow:auto;
}

.tag{
  white-space:nowrap;
  padding:0.1em;
  border-radius:var(--space--4);
}

a{
  color:var(--link-color);
  -webkit-text-decoration-color:var(--link-decoration-color);
          text-decoration-color:var(--link-decoration-color);
  text-decoration:underline;
  -webkit-text-decoration:var(--link-text-decoration);
          text-decoration:var(--link-text-decoration);
  cursor:pointer;
}

blockquote{
  margin:var(--space) 0;
  padding-left:var(--space-1);
  font-style:italic;
  border-left-style:solid;
  border-left-width:var(--border-width-lg);
  border-color:var(--silver);
}

blockquote p{
  margin:0;
}

blockquote p+p{
  text-indent:var(--space-1);
}

blockquote figcaption{
  font-weight:bold;
  font-size:small;
  margin-top:var(--space);
}

.quote:before{
  content:'“';
  margin-left:-.5em;
  position:absolute;
}

.quote:after{
  content:'”';
  position:absolute;
}

figure{
  margin:var(--space-1) 0;
}

figcaption{
  font-style:normal;
  font-size:calc(var(--space) - var(--space--4));
}