:root{
  --font-weight-bold:600;
  --font-weight-normal:400;
  --line-height:1.62em;
  --letter-spacing:0.1em;
  --font-family:-apple-system, sans-serif;
  --font-family-headlines:var(--font-family);
  --font-family-mono:monospace;
  --link-text-decoration:underline;
  --text-underline-offset:0.25em;
  --text-decoration-thickness:0.1em;
  --font-variant-numeric:tabular-nums;
  --h1-margin-top:var(--size-1);
  --h2-margin-top:var(--size-2);
  --h3-margin-top:var(--size-2);
  --h4-margin-top:var(--size-1);
  --h5-margin-top:var(--size-1);
  --h6-margin-top:var(--size-1);
  --h1-margin-bottom:var(--size);
  --h2-margin-bottom:var(--size);
  --h3-margin-bottom:var(--size);
  --h4-margin-bottom:var(--size);
  --h5-margin-bottom:var(--size);
  --h6-margin-bottom:var(--size);
  line-height:1.62em;
  line-height:var(--line-height);
  font-family:-apple-system
,
sans-serif;
  font-family:var(--font-family);
  font-weight:400;
  font-weight:var(--font-weight-normal);
  text-underline-offset:0.25em;
  text-underline-offset:var(--text-underline-offset);
  text-decoration-thickness:0.1em;
  text-decoration-thickness:var(--text-decoration-thickness);
  font-variant-numeric:var(--font-variant-normal);
}

*{
  outline:none;
}

.font-family-inherit{
  font-family:inherit;
}

.font-size-inherit{
  font-size:inherit;
}

.bold,
b,
.b,
strong,
.strong{
  font-weight:600;
  font-weight:var(--font-weight-bold, bold);
}

.regular{
  font-weight:normal;
}

.italic,
i,
.i,
cite,
.cite,
em,
.em,
var,
.var,
dfn,
.dfn{
  font-style:italic;
}

small,
.small{
  font-size:calc(var(--size) - var(--size--4));
}

.caps{
  text-transform:uppercase;
}

.space{
  letter-spacing:0.1em;
  letter-spacing:var(--letter-spacing);
}

.mono{
  font-family:monospace;
  font-family:var(--font-family-mono);
}

.underline,
u{
  text-decoration:underline;
}

.ft-num-normal{
  font-variant-numeric:normal;
}

.ft-num-ordinal{
  font-variant-numeric:ordinal;
}

.ft-num-zero{
  font-variant-numeric:slashed-zero;
}

.ft-num-onum{
  font-variant-numeric:oldstyle-nums;
}

.ft-num-lnum{
  font-variant-numeric:lining-nums;
}

.ft-num-tab{
  font-variant-numeric:tabular-nums;
}

.no-break{
  white-space:nowrap;
}

.break-word{
  word-wrap:break-word;
}

.truncate{
  max-width:100%;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

s,
.s,
.strike,
del,
.del{
  text-decoration:line-through;
}

sub,
sup,
.sub,
.sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}

sub,
.sub{
  bottom:-0.25em;
}

sup,
.sup{
  top:-0.5em;
}

mark,
.mark{
  background:var(--mark-background);
  border-radius:var(--border-radius);
  padding:calc(0.25em/var(--size-factor));
  padding:calc(var(--text-underline-offset)/var(--size-factor));
}

kbd,
.kbd{
  background:var(--kbd-background);
  border-radius:var(--size--4);
  border:1px solid var(--base-color);
  padding:calc(0.25em/var(--size-factor));
  padding:calc(var(--text-underline-offset)/var(--size-factor));
  font-family:monospace;
  font-family:var(--font-family-mono);
  white-space:nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6{
  text-transform:unset;
  font-weight:600;
  font-weight:var(--font-weight-bold);
  font-family:-apple-system
,
sans-serif;
  font-family:var(--font-family-headlines);
}

h1{
  font-size:var(--size-1);
  text-transform:uppercase;
  line-height:1.2em;
  margin-top:var(--size-1);
  margin-top:var(--h1-margin-top);
  margin-bottom:var(--size);
  margin-bottom:var(--h1-margin-bottom);
}

h2{
  font-size:calc(var(--size-1) - var(--size--2));
  line-height:1.2em;
  margin-top:var(--size-2);
  margin-top:var(--h2-margin-top);
  margin-bottom:var(--size);
  margin-bottom:var(--h2-margin-bottom);
}

h3{
  margin-top:var(--size-2);
  margin-top:var(--h3-margin-top);
  margin-bottom:var(--size);
  margin-bottom:var(--h3-margin-bottom);
}

h4{
  margin-top:var(--size-1);
  margin-top:var(--h4-margin-top);
  margin-bottom:var(--size);
  margin-bottom:var(--h4-margin-bottom);
}

h5{
  margin-top:var(--size-1);
  margin-top:var(--h5-margin-top);
  margin-bottom:var(--size);
  margin-bottom:var(--h5-margin-bottom);
}

h6{
  margin-top:var(--size-1);
  margin-top:var(--h6-margin-top);
  margin-bottom:var(--size);
  margin-bottom:var(--h6-margin-bottom);
}

h3,
h4,
h5,
h6{
  font-size:var(--size);
  line-height:1.62em;
  line-height:var(--line-height);
}

ul,
ul ul{
  list-style-type:disc;
}

ol{
  list-style:none;
  counter-reset:bold-number;
}

ol li{
  counter-increment:bold-number;
}

ol li::before{
  content:counter(bold-number) ". ";
  font-weight:bold;
}

ol,
ul{
  margin-top:1em;
  margin-bottom:1em;
  padding-left:0;
  list-style-position:inside;
}

ol ol,
ul ol,
ol ul,
ul ul{
  margin-top:0em;
  margin-bottom:0em;
  padding-left:var(--size-1);
}

p{
  margin-top:0;
  margin-bottom:1em;
}

.pindent p{
  margin-top:0;
  margin-bottom:0;
}

.pindent p+p{
  text-indent:var(--size-1);
}

p.pindent{
  margin:0;
  text-indent:var(--size-1);
}

.no-pindent p,
.no-pindent p+p,
p.no-pindent{
  text-indent:0;
  margin-top:0;
  margin-bottom:1em;
}

.no-text-decoration{
  text-decoration:none;
}

.no-list{
  list-style:none;
  padding-left:0;
}

.code,
code,
pre{
  font-family:monospace;
  font-family:var(--font-family-mono);
  line-height:1.62em;
  line-height:var(--line-height);
}

code{
  padding:calc(0.25em/var(--size-factor));
  padding:calc(var(--text-underline-offset)/var(--size-factor));
}

p>code,
li>code,
blockquote>code{
  background:var(--code-background);
  color:var(--code-color);
}

pre{
  margin-top:var(--size);
  margin-bottom:var(--size);
  border-top:var(--border-width-small) dotted var(--gray);
  border-bottom:var(--border-width-small) dotted var(--gray);
}

.tag{
  white-space:nowrap;
  padding:calc(0.25em/var(--size-factor));
  padding:calc(var(--text-underline-offset)/var(--size-factor));
}

a{
  color:var(--link-color);
  -webkit-text-decoration-color:var(--link-decoration-color);
          text-decoration-color:var(--link-decoration-color);
  text-decoration:underline;
  -webkit-text-decoration:var(--link-text-decoration);
          text-decoration:var(--link-text-decoration);
  cursor:pointer;
}

blockquote{
  margin:var(--size) 0;
  padding-left:var(--size-1);
  font-style:italic;
  border-left-style:solid;
  border-left-width:var(--border-width-mid);
  border-color:var(--base-color);
}

blockquote p{
  margin:0;
}

blockquote p+p{
  text-indent:var(--size-1);
}

blockquote figcaption{
  font-weight:bold;
  font-size:unset;
  margin-top:var(--size);
}

figure{
  margin:var(--size-1) 0;
}

figcaption{
  font-style:normal;
  font-size:calc(var(--size) - var(--size--4));
}

.fs{
  font-size:var(--size);
  line-height:1.62em;
  line-height:var(--line-height);
}

.fs-1{
  font-size:var(--size-1);
  line-height:var(--size-1);
}

.fs-2{
  font-size:var(--size-2);
  line-height:var(--size-2);
}

.fs-3{
  font-size:var(--size-3);
  line-height:var(--size-3);
}

.fs-4{
  font-size:var(--size-4);
  line-height:var(--size-4);
}

.fs--1{
  font-size:calc(var(--size) - var(--size--4));
  line-height:1.62em;
  line-height:var(--line-height);
}

.lh{
  line-height:var(--size);
}

.lh-1{
  line-height:var(--size-1);
}

.lh-2{
  line-height:var(--size-2);
}

.lh-3{
  line-height:var(--size-3);
}

.lh-4{
  line-height:var(--size-4);
}

.lh--1{
  line-height:calc(var(--size) - var(--size--4));
  font-size:calc(var(--size) - var(--size--4));
}

@media (min-width: 28rem){
  .sm-fs{
    font-size:var(--size);
  }

  .sm-fs-1{
    font-size:var(--size-1);
  }

  .sm-fs-2{
    font-size:var(--size-2);
  }

  .sm-fs-3{
    font-size:var(--size-3);
  }

  .sm-fs-4{
    font-size:var(--size-4);
  }

  .sm-fs--1{
    font-size:calc(var(--size) - var(--size--4));
  }

  .sm-lh{
    line-height:var(--size);
  }

  .sm-lh-1{
    line-height:var(--size-1);
  }

  .sm-lh-2{
    line-height:var(--size-2);
  }

  .sm-lh-3{
    line-height:var(--size-3);
  }

  .sm-lh-4{
    line-height:var(--size-4);
  }

  .sm-lh--1{
    line-height:calc(var(--size) - var(--size--4));
    font-size:calc(var(--size) - var(--size--4));
  }
}

@media (min-width: 36rem){
  .rg-fs{
    font-size:var(--size);
  }

  .rg-fs-1{
    font-size:var(--size-1);
  }

  .rg-fs-2{
    font-size:var(--size-2);
  }

  .rg-fs-3{
    font-size:var(--size-3);
  }

  .rg-fs-4{
    font-size:var(--size-4);
  }

  .rg-fs--1{
    font-size:calc(var(--size) - var(--size--4));
  }

  .rg-lh{
    line-height:var(--size);
  }

  .rg-lh-1{
    line-height:var(--size-1);
  }

  .rg-lh-2{
    line-height:var(--size-2);
  }

  .rg-lh-3{
    line-height:var(--size-3);
  }

  .rg-lh-4{
    line-height:var(--size-4);
  }

  .rg-lh--1{
    line-height:calc(var(--size) - var(--size--4));
    font-size:calc(var(--size) - var(--size--4));
  }
}

@media (min-width: 52rem){
  .md-fs{
    font-size:var(--size);
  }

  .md-fs-1{
    font-size:var(--size-1);
  }

  .md-fs-2{
    font-size:var(--size-2);
  }

  .md-fs-3{
    font-size:var(--size-3);
  }

  .md-fs-4{
    font-size:var(--size-4);
  }

  .md-fs--1{
    font-size:calc(var(--size) - var(--size--4));
  }

  .md-lh{
    line-height:var(--size);
  }

  .md-lh-1{
    line-height:var(--size-1);
  }

  .md-lh-2{
    line-height:var(--size-2);
  }

  .md-lh-3{
    line-height:var(--size-3);
  }

  .md-lh-4{
    line-height:var(--size-4);
  }

  .md-lh--1{
    line-height:calc(var(--size) - var(--size--4));
    font-size:calc(var(--size) - var(--size--4));
  }

}

@media (min-width: 64rem){
  .lg-fs{
    font-size:var(--size);
  }

  .lg-fs-1{
    font-size:var(--size-1);
  }

  .lg-fs-2{
    font-size:var(--size-2);
  }

  .lg-fs-3{
    font-size:var(--size-3);
  }

  .lg-fs-4{
    font-size:var(--size-4);
  }

  .lg-fs--1{
    font-size:calc(var(--size) - var(--size--4));
  }

  .lg-lh{
    line-height:var(--size);
  }

  .lg-lh-1{
    line-height:var(--size-1);
  }

  .lg-lh-2{
    line-height:var(--size-2);
  }

  .lg-lh-3{
    line-height:var(--size-3);
  }

  .lg-lh-4{
    line-height:var(--size-4);
  }

  .lg-lh--1{
    line-height:calc(var(--size) - var(--size--4));
    font-size:calc(var(--size) - var(--size--4));
  }

}