:root{
  --small-width:28rem;
  --regular-width:36rem;
  --mid-width:52rem;
  --large-width:64rem;

  --space:1rem;
  --space-factor:1.62;
  --space-1:calc(var(--space-factor)*var(--space));
  --space-2:calc(var(--space-1)*var(--space-factor));
  --space-3:calc(var(--space-2)*var(--space-factor));
  --space-4:calc(var(--space-3)*var(--space-factor));
  --space--1:calc(var(--space)/var(--space-factor));
  --space--2:calc(var(--space--1)/var(--space-factor));
  --space--3:calc(var(--space--2)/var(--space-factor));
  --space--4:calc(var(--space--3)/var(--space-factor));
}

.gp-0{
  grid-column-gap:0 !important;
  grid-row-gap:0 !important;
}

.gpx-0{
  grid-column-gap:0 !important;
}

.gpy-0{
  grid-row-gap:0 !important;
}

.gp{
  grid-column-gap:1rem !important;
  grid-column-gap:var(--space) !important;
  grid-row-gap:1rem !important;
  grid-row-gap:var(--space) !important;
}

.gpx{
  grid-column-gap:1rem !important;
  grid-column-gap:var(--space) !important;
}

.gpy{
  grid-row-gap:1rem !important;
  grid-row-gap:var(--space) !important;
}

.gp{
  grid-column-gap:1rem !important;
  grid-column-gap:var(--space) !important;
  grid-row-gap:1rem !important;
  grid-row-gap:var(--space) !important;
}

.gpx-1{
  grid-column-gap:1.62rem !important;
  grid-column-gap:var(--space-1) !important;
}

.gpy-1{
  grid-row-gap:1.62rem !important;
  grid-row-gap:var(--space-1) !important;
}

.gp--1{
  grid-column-gap:var(--border-width-mid) !important;
  grid-row-gap:var(--border-width-mid) !important;
}

.gpx--1{
  grid-column-gap:var(--border-width-mid) !important;
}

.gpy--1{
  grid-row-gap:var(--border-width-mid) !important;
}

.mr-0{
  margin:0 !important;
}

.mrx-0{
  margin-left:0 !important;
  margin-right:0 !important;
}

.mry-0{
  margin-top:0 !important;
  margin-bottom:0 !important;
}

.mrt-0{
  margin-top:0 !important;
}

.mrr-0{
  margin-right:0 !important;
}

.mrb-0{
  margin-bottom:0 !important;
}

.mrl-0{
  margin-left:0 !important;
}

.mr{
  margin:1rem !important;
  margin:var(--space) !important;
}

.mrx{
  margin-left:1rem !important;
  margin-left:var(--space) !important;
  margin-right:1rem !important;
  margin-right:var(--space) !important;
}

.mry{
  margin-top:1rem !important;
  margin-top:var(--space) !important;
  margin-bottom:1rem !important;
  margin-bottom:var(--space) !important;
}

.mrt{
  margin-top:1rem !important;
  margin-top:var(--space) !important;
}

.mrr{
  margin-right:1rem !important;
  margin-right:var(--space) !important;
}

.mrb{
  margin-bottom:1rem !important;
  margin-bottom:var(--space) !important;
}

.mrl{
  margin-left:1rem !important;
  margin-left:var(--space) !important;
}

.mr-1{
  margin:1.62rem !important;
  margin:var(--space-1) !important;
}

.mrx-1{
  margin-left:1.62rem !important;
  margin-left:var(--space-1) !important;
  margin-right:1.62rem !important;
  margin-right:var(--space-1) !important;
}

.mry-1{
  margin-top:1.62rem !important;
  margin-top:var(--space-1) !important;
  margin-bottom:1.62rem !important;
  margin-bottom:var(--space-1) !important;
}

.mrt-1{
  margin-top:1.62rem !important;
  margin-top:var(--space-1) !important;
}

.mrr-1{
  margin-right:1.62rem !important;
  margin-right:var(--space-1) !important;
}

.mrb-1{
  margin-bottom:1.62rem !important;
  margin-bottom:var(--space-1) !important;
}

.mrl-1{
  margin-left:1.62rem !important;
  margin-left:var(--space-1) !important;
}

.mr-2{
  margin:2.6244rem !important;
  margin:var(--space-2) !important;
}

.mrx-2{
  margin-left:2.6244rem !important;
  margin-left:var(--space-2) !important;
  margin-right:2.6244rem !important;
  margin-right:var(--space-2) !important;
}

.mry-2{
  margin-top:2.6244rem !important;
  margin-top:var(--space-2) !important;
  margin-bottom:2.6244rem !important;
  margin-bottom:var(--space-2) !important;
}

.mrt-2{
  margin-top:2.6244rem !important;
  margin-top:var(--space-2) !important;
}

.mrr-2{
  margin-right:2.6244rem !important;
  margin-right:var(--space-2) !important;
}

.mrb-2{
  margin-bottom:2.6244rem !important;
  margin-bottom:var(--space-2) !important;
}

.mrl-2{
  margin-left:2.6244rem !important;
  margin-left:var(--space-2) !important;
}

.mr-3{
  margin:4.25153rem !important;
  margin:var(--space-3) !important;
}

.mrx-3{
  margin-left:4.25153rem !important;
  margin-left:var(--space-3) !important;
  margin-right:4.25153rem !important;
  margin-right:var(--space-3) !important;
}

.mry-3{
  margin-top:4.25153rem !important;
  margin-top:var(--space-3) !important;
  margin-bottom:4.25153rem !important;
  margin-bottom:var(--space-3) !important;
}

.mrt-3{
  margin-top:4.25153rem !important;
  margin-top:var(--space-3) !important;
}

.mrr-3{
  margin-right:4.25153rem !important;
  margin-right:var(--space-3) !important;
}

.mrb-3{
  margin-bottom:4.25153rem !important;
  margin-bottom:var(--space-3) !important;
}

.mrl-3{
  margin-left:4.25153rem !important;
  margin-left:var(--space-3) !important;
}

.mr-4{
  margin:6.88748rem !important;
  margin:var(--space-4) !important;
}

.mrx-4{
  margin-left:6.88748rem !important;
  margin-left:var(--space-4) !important;
  margin-right:6.88748rem !important;
  margin-right:var(--space-4) !important;
}

.mry-4{
  margin-top:6.88748rem !important;
  margin-top:var(--space-4) !important;
  margin-bottom:6.88748rem !important;
  margin-bottom:var(--space-4) !important;
}

.mrt-4{
  margin-top:6.88748rem !important;
  margin-top:var(--space-4) !important;
}

.mrr-4{
  margin-right:6.88748rem !important;
  margin-right:var(--space-4) !important;
}

.mrb-4{
  margin-bottom:6.88748rem !important;
  margin-bottom:var(--space-4) !important;
}

.mrl-4{
  margin-left:6.88748rem !important;
  margin-left:var(--space-4) !important;
}

.mrn{
  margin:-1rem !important;
  margin:calc(-1*var(--space)) !important;
}

.mrxn{
  margin-left:-1rem !important;
  margin-left:calc(-1*var(--space)) !important;
  margin-right:-1rem !important;
  margin-right:calc(-1*var(--space)) !important;
}

.mryn{
  margin-top:-1rem !important;
  margin-top:calc(-1*var(--space)) !important;
  margin-bottom:-1rem !important;
  margin-bottom:calc(-1*var(--space)) !important;
}

.mrtn{
  margin-top:-1rem !important;
  margin-top:calc(-1*var(--space)) !important;
}

.mrrn{
  margin-right:-1rem !important;
  margin-right:calc(-1*var(--space)) !important;
}

.mrbn{
  margin-bottom:-1rem !important;
  margin-bottom:calc(-1*var(--space)) !important;
}

.mrln{
  margin-left:-1rem !important;
  margin-left:calc(-1*var(--space)) !important;
}

.mrn-1{
  margin:-1.62rem !important;
  margin:calc(-1*var(--space-1)) !important;
}

.mrxn-1{
  margin-left:-1.62rem !important;
  margin-left:calc(-1*var(--space-1)) !important;
  margin-right:-1.62rem !important;
  margin-right:calc(-1*var(--space-1)) !important;
}

.mryn-1{
  margin-top:-1.62rem !important;
  margin-top:calc(-1*var(--space-1)) !important;
  margin-bottom:-1.62rem !important;
  margin-bottom:calc(-1*var(--space-1)) !important;
}

.mrtn-1{
  margin-top:-1.62rem !important;
  margin-top:calc(-1*var(--space-1)) !important;
}

.mrrn-1{
  margin-right:-1.62rem !important;
  margin-right:calc(-1*var(--space-1)) !important;
}

.mrbn-1{
  margin-bottom:-1.62rem !important;
  margin-bottom:calc(-1*var(--space-1)) !important;
}

.mrln-1{
  margin-left:-1.62rem !important;
  margin-left:calc(-1*var(--space-1)) !important;
}

.mr--1{
  margin:0.61728rem !important;
  margin:var(--space--1) !important;
}

.mrx--1{
  margin-left:0.61728rem !important;
  margin-left:var(--space--1) !important;
  margin-right:0.61728rem !important;
  margin-right:var(--space--1) !important;
}

.mry--1{
  margin-top:0.61728rem !important;
  margin-top:var(--space--1) !important;
  margin-bottom:0.61728rem !important;
  margin-bottom:var(--space--1) !important;
}

.mrt--1{
  margin-top:0.61728rem !important;
  margin-top:var(--space--1) !important;
}

.mrr--1{
  margin-right:0.61728rem !important;
  margin-right:var(--space--1) !important;
}

.mrb--1{
  margin-bottom:0.61728rem !important;
  margin-bottom:var(--space--1) !important;
}

.mrl--1{
  margin-left:0.61728rem !important;
  margin-left:var(--space--1) !important;
}

.mrl-auto{
  margin-left:auto !important;
}

.mrr-auto{
  margin-right:auto !important;
}

.mrx-auto{
  margin-left:auto !important;
  margin-right:auto !important;
}

.pd-0{
  padding:0 !important;
}

.pdx-0{
  padding-left:0 !important;
  padding-right:0 !important;
}

.pdy-0{
  padding-top:0 !important;
  padding-bottom:0 !important;
}

.pdt-0{
  padding-top:0 !important;
}

.pdr-0{
  padding-right:0 !important;
}

.pdb-0{
  padding-bottom:0 !important;
}

.pdl-0{
  padding-left:0 !important;
}

.pd{
  padding:1rem !important;
  padding:var(--space) !important;
}

.pdx{
  padding-left:1rem !important;
  padding-left:var(--space) !important;
  padding-right:1rem !important;
  padding-right:var(--space) !important;
}

.pdy{
  padding-top:1rem !important;
  padding-top:var(--space) !important;
  padding-bottom:1rem !important;
  padding-bottom:var(--space) !important;
}

.pdt{
  padding-top:1rem !important;
  padding-top:var(--space) !important;
}

.pdr{
  padding-right:1rem !important;
  padding-right:var(--space) !important;
}

.pdb{
  padding-bottom:1rem !important;
  padding-bottom:var(--space) !important;
}

.pdl{
  padding-left:1rem !important;
  padding-left:var(--space) !important;
}

.pd-1{
  padding:1.62rem !important;
  padding:var(--space-1) !important;
}

.pdx-1{
  padding-left:1.62rem !important;
  padding-left:var(--space-1) !important;
  padding-right:1.62rem !important;
  padding-right:var(--space-1) !important;
}

.pdy-1{
  padding-top:1.62rem !important;
  padding-top:var(--space-1) !important;
  padding-bottom:1.62rem !important;
  padding-bottom:var(--space-1) !important;
}

.pdt-1{
  padding-top:1.62rem !important;
  padding-top:var(--space-1) !important;
}

.pdr-1{
  padding-right:1.62rem !important;
  padding-right:var(--space-1) !important;
}

.pdb-1{
  padding-bottom:1.62rem !important;
  padding-bottom:var(--space-1) !important;
}

.pdl-1{
  padding-left:1.62rem !important;
  padding-left:var(--space-1) !important;
}

.pd-2{
  padding:2.6244rem !important;
  padding:var(--space-2) !important;
}

.pdx-2{
  padding-left:2.6244rem !important;
  padding-left:var(--space-2) !important;
  padding-right:2.6244rem !important;
  padding-right:var(--space-2) !important;
}

.pdy-2{
  padding-top:2.6244rem !important;
  padding-top:var(--space-2) !important;
  padding-bottom:2.6244rem !important;
  padding-bottom:var(--space-2) !important;
}

.pdt-2{
  padding-top:2.6244rem !important;
  padding-top:var(--space-2) !important;
}

.pdr-2{
  padding-right:2.6244rem !important;
  padding-right:var(--space-2) !important;
}

.pdb-2{
  padding-bottom:2.6244rem !important;
  padding-bottom:var(--space-2) !important;
}

.pdl-2{
  padding-left:2.6244rem !important;
  padding-left:var(--space-2) !important;
}

.pd-3{
  padding:4.25153rem !important;
  padding:var(--space-3) !important;
}

.pdx-3{
  padding-left:4.25153rem !important;
  padding-left:var(--space-3) !important;
  padding-right:4.25153rem !important;
  padding-right:var(--space-3) !important;
}

.pdy-3{
  padding-top:4.25153rem !important;
  padding-top:var(--space-3) !important;
  padding-bottom:4.25153rem !important;
  padding-bottom:var(--space-3) !important;
}

.pdt-3{
  padding-top:4.25153rem !important;
  padding-top:var(--space-3) !important;
}

.pdr-3{
  padding-right:4.25153rem !important;
  padding-right:var(--space-3) !important;
}

.pdb-3{
  padding-bottom:4.25153rem !important;
  padding-bottom:var(--space-3) !important;
}

.pdl-3{
  padding-left:4.25153rem !important;
  padding-left:var(--space-3) !important;
}

.pd-4{
  padding:6.88748rem !important;
  padding:var(--space-4) !important;
}

.pdx-4{
  padding-left:6.88748rem !important;
  padding-left:var(--space-4) !important;
  padding-right:6.88748rem !important;
  padding-right:var(--space-4) !important;
}

.pdy-4{
  padding-top:6.88748rem !important;
  padding-top:var(--space-4) !important;
  padding-bottom:6.88748rem !important;
  padding-bottom:var(--space-4) !important;
}

.pdt-4{
  padding-top:6.88748rem !important;
  padding-top:var(--space-4) !important;
}

.pdr-4{
  padding-right:6.88748rem !important;
  padding-right:var(--space-4) !important;
}

.pdb-4{
  padding-bottom:6.88748rem !important;
  padding-bottom:var(--space-4) !important;
}

.pdl-4{
  padding-left:6.88748rem !important;
  padding-left:var(--space-4) !important;
}

.pd--1{
  padding:0.61728rem !important;
  padding:var(--space--1) !important;
}

.pdx--1{
  padding-left:0.61728rem !important;
  padding-left:var(--space--1) !important;
  padding-right:0.61728rem !important;
  padding-right:var(--space--1) !important;
}

.pdy--1{
  padding-top:0.61728rem !important;
  padding-top:var(--space--1) !important;
  padding-bottom:0.61728rem !important;
  padding-bottom:var(--space--1) !important;
}

.pdt--1{
  padding-top:0.61728rem !important;
  padding-top:var(--space--1) !important;
}

.pdr--1{
  padding-right:0.61728rem !important;
  padding-right:var(--space--1) !important;
}

.pdb--1{
  padding-bottom:0.61728rem !important;
  padding-bottom:var(--space--1) !important;
}

.pdl--1{
  padding-left:0.61728rem !important;
  padding-left:var(--space--1) !important;
}