:root{
  --small-width:28rem;
  --regular-width:36rem;
  --mid-width:52rem;
  --large-width:64rem;

  --space:1rem;
  --space-factor:1.62;
  --space-1:calc(var(--space-factor)*var(--space));
  --space-2:calc(var(--space-1)*var(--space-factor));
  --space-3:calc(var(--space-2)*var(--space-factor));
  --space-4:calc(var(--space-3)*var(--space-factor));
  --space-d1:calc(var(--space)/var(--space-factor));
  --space-d2:calc(var(--space-d1)/var(--space-factor));
  --space-d3:3px;
  --space-d4:2px;
  --space-d5:1px;
}

.gp-0{
  grid-gap:0;
}

.gpx-0{
  grid-column-gap:0;
}

.gpy-0{
  grid-row-gap:0;
}

.gp-d5{
  grid-gap:1px;
  grid-gap:var(--space-d5);
}

.gpx-d5{
  grid-column-gap:1px;
  grid-column-gap:var(--space-d5);
}

.gpy-d5{
  grid-row-gap:1px;
  grid-row-gap:var(--space-d5)
}

.gp-d4{
  grid-gap:2px;
  grid-gap:var(--space-d4);
}

.gpx-d4{
  grid-column-gap:2px;
  grid-column-gap:var(--space-d4);
}

.gpy-d4{
  grid-row-gap:2px;
  grid-row-gap:var(--space-d4);
}

.gp-d3{
  grid-gap:3px;
  grid-gap:var(--space-d3);
}

.gpx-d3{
  grid-column-gap:3px;
  grid-column-gap:var(--space-d3);
}

.gpy-d3{
  grid-row-gap:3px;
  grid-row-gap:var(--space-d3);
}

.gp-d2{
  grid-gap:0.38104rem;
  grid-gap:var(--space-d2);
}

.gpx-d2{
  grid-column-gap:0.38104rem;
  grid-column-gap:var(--space-d2);
}

.gpy-d2{
  grid-row-gap:0.38104rem;
  grid-row-gap:var(--space-d2);
}

.gp-d1{
  grid-gap:0.61728rem;
  grid-gap:var(--space-d1);
}

.gpx-d1{
  grid-column-gap:0.61728rem;
  grid-column-gap:var(--space-d1);
}

.gpy-d1{
  grid-row-gap:0.61728rem;
  grid-row-gap:var(--space-d1);
}

.gp{
  grid-gap:1rem;
  grid-gap:var(--space);
}

.gpx{
  grid-column-gap:1rem;
  grid-column-gap:var(--space);
}

.gpy{
  grid-row-gap:1rem;
  grid-row-gap:var(--space);
}

.gp-1{
  grid-gap:1.62rem;
  grid-gap:var(--space-1);
}

.gpx-1{
  grid-column-gap:1.62rem;
  grid-column-gap:var(--space-1);
}

.gpy-1{
  grid-row-gap:1.62rem;
  grid-row-gap:var(--space-1);
}

.gp-2{
  grid-gap:2.6244rem;
  grid-gap:var(--space-2);
}

.gpx-2{
  grid-column-gap:2.6244rem;
  grid-column-gap:var(--space-2);
}

.gpy-2{
  grid-row-gap:2.6244rem;
  grid-row-gap:var(--space-2);
}

.gp-3{
  grid-gap:4.25153rem;
  grid-gap:var(--space-3);
}

.gpx-3{
  grid-column-gap:4.25153rem;
  grid-column-gap:var(--space-3);
}

.gpy-3{
  grid-row-gap:4.25153rem;
  grid-row-gap:var(--space-3);
}

.gp-4{
  grid-gap:6.88748rem;
  grid-gap:var(--space-4);
}

.gpx-4{
  grid-column-gap:6.88748rem;
  grid-column-gap:var(--space-4);
}

.gpy-4{
  grid-row-gap:6.88748rem;
  grid-row-gap:var(--space-4);
}

.mr-0{
  margin:0;
}

.mrx-0{
  margin-left:0;
  margin-right:0;
}

.mry-0{
  margin-top:0;
  margin-bottom:0;
}

.mrt-0{
  margin-top:0;
}

.mrr-0{
  margin-right:0;
}

.mrb-0{
  margin-bottom:0;
}

.mrl-0{
  margin-left:0;
}

.mr-d5{
  margin:1px;
  margin:var(--space-d5);
}

.mrx-d5{
  margin-left:1px;
  margin-left:var(--space-d5);
  margin-right:1px;
  margin-right:var(--space-d5);
}

.mry-d5{
  margin-top:1px;
  margin-top:var(--space-d5);
  margin-bottom:1px;
  margin-bottom:var(--space-d5);
}

.mrt-d5{
  margin-top:1px;
  margin-top:var(--space-d5);
}

.mrr-d5{
  margin-right:1px;
  margin-right:var(--space-d5);
}

.mrb-d5{
  margin-bottom:1px;
  margin-bottom:var(--space-d5);
}

.mr-d4{
  margin:2px;
  margin:var(--space-d4);
}

.mrx-d4{
  margin-left:2px;
  margin-left:var(--space-d4);
  margin-right:2px;
  margin-right:var(--space-d4);
}

.mry-d4{
  margin-top:2px;
  margin-top:var(--space-d4);
  margin-bottom:2px;
  margin-bottom:var(--space-d4);
}

.mrt-d4{
  margin-top:2px;
  margin-top:var(--space-d4);
}

.mrr-d4{
  margin-right:2px;
  margin-right:var(--space-d4);
}

.mrb-d4{
  margin-bottom:2px;
  margin-bottom:var(--space-d4);
}

.mr-d3{
  margin:3px;
  margin:var(--space-d3);
}

.mrx-d3{
  margin-left:3px;
  margin-left:var(--space-d3);
  margin-right:3px;
  margin-right:var(--space-d3);
}

.mry-d3{
  margin-top:3px;
  margin-top:var(--space-d3);
  margin-bottom:3px;
  margin-bottom:var(--space-d3);
}

.mrt-d3{
  margin-top:3px;
  margin-top:var(--space-d3);
}

.mrr-d3{
  margin-right:3px;
  margin-right:var(--space-d3);
}

.mrb-d3{
  margin-bottom:3px;
  margin-bottom:var(--space-d3);
}

.mr-d2{
  margin:0.38104rem;
  margin:var(--space-d2);
}

.mrx-d2{
  margin-left:0.38104rem;
  margin-left:var(--space-d2);
  margin-right:0.38104rem;
  margin-right:var(--space-d2);
}

.mry-d2{
  margin-top:0.38104rem;
  margin-top:var(--space-d2);
  margin-bottom:0.38104rem;
  margin-bottom:var(--space-d2);
}

.mrt-d2{
  margin-top:0.38104rem;
  margin-top:var(--space-d2);
}

.mrr-d2{
  margin-right:0.38104rem;
  margin-right:var(--space-d2);
}

.mrb-d2{
  margin-bottom:0.38104rem;
  margin-bottom:var(--space-d2);
}

.mr-d1{
  margin:0.61728rem;
  margin:var(--space-d1);
}

.mrx-d1{
  margin-left:0.61728rem;
  margin-left:var(--space-d1);
  margin-right:0.61728rem;
  margin-right:var(--space-d1);
}

.mry-d1{
  margin-top:0.61728rem;
  margin-top:var(--space-d1);
  margin-bottom:0.61728rem;
  margin-bottom:var(--space-d1);
}

.mrt-d1{
  margin-top:0.61728rem;
  margin-top:var(--space-d1);
}

.mrr-d1{
  margin-right:0.61728rem;
  margin-right:var(--space-d1);
}

.mrb-d1{
  margin-bottom:0.61728rem;
  margin-bottom:var(--space-d1);
}

.mr{
  margin:1rem;
  margin:var(--space);
}

.mrx{
  margin-left:1rem;
  margin-left:var(--space);
  margin-right:1rem;
  margin-right:var(--space);
}

.mry{
  margin-top:1rem;
  margin-top:var(--space);
  margin-bottom:1rem;
  margin-bottom:var(--space);
}

.mrt{
  margin-top:1rem;
  margin-top:var(--space);
}

.mrr{
  margin-right:1rem;
  margin-right:var(--space);
}

.mrb{
  margin-bottom:1rem;
  margin-bottom:var(--space);
}

.mrl{
  margin-left:1rem;
  margin-left:var(--space);
}

.mr-1{
  margin:1.62rem;
  margin:var(--space-1);
}

.mrx-1{
  margin-left:1.62rem;
  margin-left:var(--space-1);
  margin-right:1.62rem;
  margin-right:var(--space-1);
}

.mry-1{
  margin-top:1.62rem;
  margin-top:var(--space-1);
  margin-bottom:1.62rem;
  margin-bottom:var(--space-1);
}

.mrt-1{
  margin-top:1.62rem;
  margin-top:var(--space-1);
}

.mrr-1{
  margin-right:1.62rem;
  margin-right:var(--space-1);
}

.mrb-1{
  margin-bottom:1.62rem;
  margin-bottom:var(--space-1);
}

.mrl-1{
  margin-left:1.62rem;
  margin-left:var(--space-1);
}

.mr-2{
  margin:2.6244rem;
  margin:var(--space-2);
}

.mrx-2{
  margin-left:2.6244rem;
  margin-left:var(--space-2);
  margin-right:2.6244rem;
  margin-right:var(--space-2);
}

.mry-2{
  margin-top:2.6244rem;
  margin-top:var(--space-2);
  margin-bottom:2.6244rem;
  margin-bottom:var(--space-2);
}

.mrt-2{
  margin-top:2.6244rem;
  margin-top:var(--space-2);
}

.mrr-2{
  margin-right:2.6244rem;
  margin-right:var(--space-2);
}

.mrb-2{
  margin-bottom:2.6244rem;
  margin-bottom:var(--space-2);
}

.mrl-2{
  margin-left:2.6244rem;
  margin-left:var(--space-2);
}

.mr-3{
  margin:4.25153rem;
  margin:var(--space-3);
}

.mrx-3{
  margin-left:4.25153rem;
  margin-left:var(--space-3);
  margin-right:4.25153rem;
  margin-right:var(--space-3);
}

.mry-3{
  margin-top:4.25153rem;
  margin-top:var(--space-3);
  margin-bottom:4.25153rem;
  margin-bottom:var(--space-3);
}

.mrt-3{
  margin-top:4.25153rem;
  margin-top:var(--space-3);
}

.mrr-3{
  margin-right:4.25153rem;
  margin-right:var(--space-3);
}

.mrb-3{
  margin-bottom:4.25153rem;
  margin-bottom:var(--space-3);
}

.mrl-3{
  margin-left:4.25153rem;
  margin-left:var(--space-3);
}

.mr-4{
  margin:6.88748rem;
  margin:var(--space-4);
}

.mrx-4{
  margin-left:6.88748rem;
  margin-left:var(--space-4);
  margin-right:6.88748rem;
  margin-right:var(--space-4);
}

.mry-4{
  margin-top:6.88748rem;
  margin-top:var(--space-4);
  margin-bottom:6.88748rem;
  margin-bottom:var(--space-4);
}

.mrt-4{
  margin-top:6.88748rem;
  margin-top:var(--space-4);
}

.mrr-4{
  margin-right:6.88748rem;
  margin-right:var(--space-4);
}

.mrb-4{
  margin-bottom:6.88748rem;
  margin-bottom:var(--space-4);
}

.mrl-4{
  margin-left:6.88748rem;
  margin-left:var(--space-4);
}

.mrtn-d5{
  margin-top:-1px;
  margin-top:calc(-1*var(--space-d5));
}

.mrrn-d5{
  margin-right:-1px;
  margin-right:calc(-1*var(--space-d5));
}

.mrbn-d5{
  margin-bottom:-1px;
  margin-bottom:calc(-1*var(--space-d5));
}

.mrln-d5{
  margin-left:-1px;
  margin-left:calc(-1*var(--space-d5));
}

.mrtn{
  margin-top:-1rem;
  margin-top:calc(-1*var(--space));
}

.mrrn{
  margin-right:-1rem;
  margin-right:calc(-1*var(--space));
}

.mrbn{
  margin-bottom:-1rem;
  margin-bottom:calc(-1*var(--space));
}

.mrln{
  margin-left:-1rem;
  margin-left:calc(-1*var(--space));
}

.mrtn-1{
  margin-top:-1.62rem;
  margin-top:calc(-1*var(--space-1));
}

.mrrn-1{
  margin-right:-1.62rem;
  margin-right:calc(-1*var(--space-1));
}

.mrbn-1{
  margin-bottom:-1.62rem;
  margin-bottom:calc(-1*var(--space-1));
}

.mrln-1{
  margin-left:-1.62rem;
  margin-left:calc(-1*var(--space-1));
}

.mrl-d1{
  margin-left:0.61728rem;
  margin-left:var(--space-d1);
}

.mrl-auto{
  margin-left:auto;
}

.mrr-auto{
  margin-right:auto;
}

.mrx-auto{
  margin-left:auto;
  margin-right:auto;
}

.pd-0{
  padding:0;
}

.pdx-0{
  padding-left:0;
  padding-right:0;
}

.pdy-0{
  padding-top:0;
  padding-bottom:0;
}

.pdt-0{
  padding-top:0;
}

.pdr-0{
  padding-right:0;
}

.pdb-0{
  padding-bottom:0;
}

.pdl-0{
  padding-left:0;
}

.pd{
  padding:1rem;
  padding:var(--space);
}

.pdx{
  padding-left:1rem;
  padding-left:var(--space);
  padding-right:1rem;
  padding-right:var(--space);
}

.pdy{
  padding-top:1rem;
  padding-top:var(--space);
  padding-bottom:1rem;
  padding-bottom:var(--space);
}

.pdt{
  padding-top:1rem;
  padding-top:var(--space);
}

.pdr{
  padding-right:1rem;
  padding-right:var(--space);
}

.pdb{
  padding-bottom:1rem;
  padding-bottom:var(--space);
}

.pdl{
  padding-left:1rem;
  padding-left:var(--space);
}

.pd-1{
  padding:1.62rem;
  padding:var(--space-1);
}

.pdx-1{
  padding-left:1.62rem;
  padding-left:var(--space-1);
  padding-right:1.62rem;
  padding-right:var(--space-1);
}

.pdy-1{
  padding-top:1.62rem;
  padding-top:var(--space-1);
  padding-bottom:1.62rem;
  padding-bottom:var(--space-1);
}

.pdt-1{
  padding-top:1.62rem;
  padding-top:var(--space-1);
}

.pdr-1{
  padding-right:1.62rem;
  padding-right:var(--space-1);
}

.pdb-1{
  padding-bottom:1.62rem;
  padding-bottom:var(--space-1);
}

.pdl-1{
  padding-left:1.62rem;
  padding-left:var(--space-1);
}

.pd-2{
  padding:2.6244rem;
  padding:var(--space-2);
}

.pdx-2{
  padding-left:2.6244rem;
  padding-left:var(--space-2);
  padding-right:2.6244rem;
  padding-right:var(--space-2);
}

.pdy-2{
  padding-top:2.6244rem;
  padding-top:var(--space-2);
  padding-bottom:2.6244rem;
  padding-bottom:var(--space-2);
}

.pdt-2{
  padding-top:2.6244rem;
  padding-top:var(--space-2);
}

.pdr-2{
  padding-right:2.6244rem;
  padding-right:var(--space-2);
}

.pdb-2{
  padding-bottom:2.6244rem;
  padding-bottom:var(--space-2);
}

.pdl-2{
  padding-left:2.6244rem;
  padding-left:var(--space-2);
}

.pd-3{
  padding:4.25153rem;
  padding:var(--space-3);
}

.pdx-3{
  padding-left:4.25153rem;
  padding-left:var(--space-3);
  padding-right:4.25153rem;
  padding-right:var(--space-3);
}

.pdy-3{
  padding-top:4.25153rem;
  padding-top:var(--space-3);
  padding-bottom:4.25153rem;
  padding-bottom:var(--space-3);
}

.pdt-3{
  padding-top:4.25153rem;
  padding-top:var(--space-3);
}

.pdr-3{
  padding-right:4.25153rem;
  padding-right:var(--space-3);
}

.pdb-3{
  padding-bottom:4.25153rem;
  padding-bottom:var(--space-3);
}

.pdl-3{
  padding-left:4.25153rem;
  padding-left:var(--space-3);
}

.pd-4{
  padding:6.88748rem;
  padding:var(--space-4);
}

.pdx-4{
  padding-left:6.88748rem;
  padding-left:var(--space-4);
  padding-right:6.88748rem;
  padding-right:var(--space-4);
}

.pdy-4{
  padding-top:6.88748rem;
  padding-top:var(--space-4);
  padding-bottom:6.88748rem;
  padding-bottom:var(--space-4);
}

.pdt-4{
  padding-top:6.88748rem;
  padding-top:var(--space-4);
}

.pdr-4{
  padding-right:6.88748rem;
  padding-right:var(--space-4);
}

.pdb-4{
  padding-bottom:6.88748rem;
  padding-bottom:var(--space-4);
}

.pdl-4{
  padding-left:6.88748rem;
  padding-left:var(--space-4);
}

.pd-d1{
  padding:0.61728rem;
  padding:var(--space-d1);
}

.pdx-d1{
  padding-left:0.61728rem;
  padding-left:var(--space-d1);
  padding-right:0.61728rem;
  padding-right:var(--space-d1);
}

.pdy-d1{
  padding-top:0.61728rem;
  padding-top:var(--space-d1);
  padding-bottom:0.61728rem;
  padding-bottom:var(--space-d1);
}

.pdt-d1{
  padding-top:0.61728rem;
  padding-top:var(--space-d1);
}

.pdr-d1{
  padding-right:0.61728rem;
  padding-right:var(--space-d1);
}

.pdb-d1{
  padding-bottom:0.61728rem;
  padding-bottom:var(--space-d1);
}

.pdl-d1{
  padding-left:0.61728rem;
  padding-left:var(--space-d1);
}