@media (min-width: 400px) {
    .sm\:mxw-unset,
    .sm\:mxw-u {
        max-width: unset;
    }
    .sm\:mxw-d5 {
        max-width: var(--space-d5);
    }
    .sm\:mxw-d4 {
        max-width: var(--space-d4);
    }
    .sm\:mxw-d3 {
        max-width: var(--space-d3);
    }
    .sm\:mxw-d2 {
        max-width: var(--space-d2);
    }
    .sm\:mxw-d1 {
        max-width: var(--space-d1);
    }
    .sm\:mxw {
        max-width: var(--space);
    }
    .sm\:mxw-1 {
        max-width: var(--space-1);
    }
    .sm\:mxw-2 {
        max-width: var(--space-2);
    }
    .sm\:mxw-3 {
        max-width: var(--space-3);
    }
    .sm\:mxw-4 {
        max-width: var(--space-4);
    }
    .sm\:mxw-5 {
        max-width: var(--space-5);
    }
    .sm\:mxw-6 {
        max-width: var(--space-6);
    }
}

@media (--sm) {
    .sm\:mxw-unset,
    .sm\:mxw-u {
        max-width: unset;
    }
    .sm\:mxw-d5 {
        max-width: var(--space-d5);
    }
    .sm\:mxw-d4 {
        max-width: var(--space-d4);
    }
    .sm\:mxw-d3 {
        max-width: var(--space-d3);
    }
    .sm\:mxw-d2 {
        max-width: var(--space-d2);
    }
    .sm\:mxw-d1 {
        max-width: var(--space-d1);
    }
    .sm\:mxw {
        max-width: var(--space);
    }
    .sm\:mxw-1 {
        max-width: var(--space-1);
    }
    .sm\:mxw-2 {
        max-width: var(--space-2);
    }
    .sm\:mxw-3 {
        max-width: var(--space-3);
    }
    .sm\:mxw-4 {
        max-width: var(--space-4);
    }
    .sm\:mxw-5 {
        max-width: var(--space-5);
    }
    .sm\:mxw-6 {
        max-width: var(--space-6);
    }
}

@media (min-width: 600px) {
    .rg\:mxw-unset,
    .rg\:mxw-u {
        max-width: unset;
    }
    .rg\:mxw-d5 {
        max-width: var(--space-d5);
    }
    .rg\:mxw-d4 {
        max-width: var(--space-d4);
    }
    .rg\:mxw-d3 {
        max-width: var(--space-d3);
    }
    .rg\:mxw-d2 {
        max-width: var(--space-d2);
    }
    .rg\:mxw-d1 {
        max-width: var(--space-d1);
    }
    .rg\:mxw {
        max-width: var(--space);
    }
    .rg\:mxw-1 {
        max-width: var(--space-1);
    }
    .rg\:mxw-2 {
        max-width: var(--space-2);
    }
    .rg\:mxw-3 {
        max-width: var(--space-3);
    }
    .rg\:mxw-4 {
        max-width: var(--space-4);
    }
    .rg\:mxw-5 {
        max-width: var(--space-5);
    }
    .rg\:mxw-6 {
        max-width: var(--space-6);
    }
}

@media (--rg) {
    .rg\:mxw-unset,
    .rg\:mxw-u {
        max-width: unset;
    }
    .rg\:mxw-d5 {
        max-width: var(--space-d5);
    }
    .rg\:mxw-d4 {
        max-width: var(--space-d4);
    }
    .rg\:mxw-d3 {
        max-width: var(--space-d3);
    }
    .rg\:mxw-d2 {
        max-width: var(--space-d2);
    }
    .rg\:mxw-d1 {
        max-width: var(--space-d1);
    }
    .rg\:mxw {
        max-width: var(--space);
    }
    .rg\:mxw-1 {
        max-width: var(--space-1);
    }
    .rg\:mxw-2 {
        max-width: var(--space-2);
    }
    .rg\:mxw-3 {
        max-width: var(--space-3);
    }
    .rg\:mxw-4 {
        max-width: var(--space-4);
    }
    .rg\:mxw-5 {
        max-width: var(--space-5);
    }
    .rg\:mxw-6 {
        max-width: var(--space-6);
    }
}

@media (min-width: 900px) {
    .md\:mxw-unset,
    .md\:mxw-u {
        max-width: unset;
    }
    .md\:mxw-d5 {
        max-width: var(--space-d5);
    }
    .md\:mxw-d4 {
        max-width: var(--space-d4);
    }
    .md\:mxw-d3 {
        max-width: var(--space-d3);
    }
    .md\:mxw-d2 {
        max-width: var(--space-d2);
    }
    .md\:mxw-d1 {
        max-width: var(--space-d1);
    }
    .md\:mxw {
        max-width: var(--space);
    }
    .md\:mxw-1 {
        max-width: var(--space-1);
    }
    .md\:mxw-2 {
        max-width: var(--space-2);
    }
    .md\:mxw-3 {
        max-width: var(--space-3);
    }
    .md\:mxw-4 {
        max-width: var(--space-4);
    }
    .md\:mxw-5 {
        max-width: var(--space-5);
    }
    .md\:mxw-6 {
        max-width: var(--space-6);
    }
}

@media (--md) {
    .md\:mxw-unset,
    .md\:mxw-u {
        max-width: unset;
    }
    .md\:mxw-d5 {
        max-width: var(--space-d5);
    }
    .md\:mxw-d4 {
        max-width: var(--space-d4);
    }
    .md\:mxw-d3 {
        max-width: var(--space-d3);
    }
    .md\:mxw-d2 {
        max-width: var(--space-d2);
    }
    .md\:mxw-d1 {
        max-width: var(--space-d1);
    }
    .md\:mxw {
        max-width: var(--space);
    }
    .md\:mxw-1 {
        max-width: var(--space-1);
    }
    .md\:mxw-2 {
        max-width: var(--space-2);
    }
    .md\:mxw-3 {
        max-width: var(--space-3);
    }
    .md\:mxw-4 {
        max-width: var(--space-4);
    }
    .md\:mxw-5 {
        max-width: var(--space-5);
    }
    .md\:mxw-6 {
        max-width: var(--space-6);
    }
}

@media (min-width: 1400px) {
    .lg\:mxw-unset,
    .lg\:mxw-u {
        max-width: unset;
    }
    .lg\:mxw-d5 {
        max-width: var(--space-d5);
    }
    .lg\:mxw-d4 {
        max-width: var(--space-d4);
    }
    .lg\:mxw-d3 {
        max-width: var(--space-d3);
    }
    .lg\:mxw-d2 {
        max-width: var(--space-d2);
    }
    .lg\:mxw-d1 {
        max-width: var(--space-d1);
    }
    .lg\:mxw {
        max-width: var(--space);
    }
    .lg\:mxw-1 {
        max-width: var(--space-1);
    }
    .lg\:mxw-2 {
        max-width: var(--space-2);
    }
    .lg\:mxw-3 {
        max-width: var(--space-3);
    }
    .lg\:mxw-4 {
        max-width: var(--space-4);
    }
    .lg\:mxw-5 {
        max-width: var(--space-5);
    }
    .lg\:mxw-6 {
        max-width: var(--space-6);
    }
}

@media (--lg) {
    .lg\:mxw-unset,
    .lg\:mxw-u {
        max-width: unset;
    }
    .lg\:mxw-d5 {
        max-width: var(--space-d5);
    }
    .lg\:mxw-d4 {
        max-width: var(--space-d4);
    }
    .lg\:mxw-d3 {
        max-width: var(--space-d3);
    }
    .lg\:mxw-d2 {
        max-width: var(--space-d2);
    }
    .lg\:mxw-d1 {
        max-width: var(--space-d1);
    }
    .lg\:mxw {
        max-width: var(--space);
    }
    .lg\:mxw-1 {
        max-width: var(--space-1);
    }
    .lg\:mxw-2 {
        max-width: var(--space-2);
    }
    .lg\:mxw-3 {
        max-width: var(--space-3);
    }
    .lg\:mxw-4 {
        max-width: var(--space-4);
    }
    .lg\:mxw-5 {
        max-width: var(--space-5);
    }
    .lg\:mxw-6 {
        max-width: var(--space-6);
    }
}