:root {

    --xs-width: 16rem;
    --sm-width: 26rem;
    --rg-width: 34rem;
    --md-width: 46rem;
    --lg-width: 58rem;
}

.w-unset {
    width: unset;
}

.w-100 {
    width: 100%;
}

.vw-100 {
    width: 100vw;
}

.vw-90 {
    width: 90vw;
}

.vw-80 {
    width: 80vw;
}

.vw-70 {
    width: 70vw;
}

.vw-60 {
    width: 60vw;
}

.vw-50 {
    width: 50vw;
}

.vw-40 {
    width: 40vw;
}

.vw-30 {
    width: 30vw;
}

.vw-20 {
    width: 20vw;
}

.vw-10 {
    width: 10vw;
}

.w-xs {
    width: 16rem;
    width: var(--xs-width);
}

.w-xs-breakpoint {
    width: var(--xs-breakpoint);
}

.w-sm {
    width: 26rem;
    width: var(--sm-width);
}

.w-sm-breakpoint {
    width: var(--sm-breakpoint);
}

.w-rg {
    width: 34rem;
    width: var(--rg-width);
}

.w-rg-breakpoint {
    width: var(--rg-breakpoint);
}

.w-md {
    width: 46rem;
    width: var(--md-width);
}

.w-md-breakpoint {
    width: var(--md-breakpoint);
}

.w-lg {
    width: 58rem;
    width: var(--lg-width);
}

.w-lg-breakpoint {
    width: var(--lg-breakpoint);
}

.w-d5 {
    width: var(--space-d5);
}

.w-d4 {
    width: var(--space-d4);
}

.w-d3 {
    width: var(--space-d3);
}

.w-d2 {
    width: var(--space-d2);
}

.w-d1 {
    width: var(--space-d1);
}

.w {
    width: var(--space);
}

.w-1 {
    width: var(--space-1);
}

.w-2 {
    width: var(--space-2);
}

.w-3 {
    width: var(--space-3);
}

.w-4 {
    width: var(--space-4);
}

.w-5 {
    width: var(--space-5);
}

.w-6 {
    width: var(--space-6);
}

.w-bleed {
    width: var(--bleed-width);
}

