@media (min-width: 401px) {
    .sm\:w-unset {
        width: unset;
    }
    .sm\:w-100 {
        width: 100%;
    }
    .sm\:w-d5 {
        width: var(--space-d5);
    }
    .sm\:w-d4 {
        width: var(--space-d4);
    }
    .sm\:w-d3 {
        width: var(--space-d3);
    }
    .sm\:w-d2 {
        width: var(--space-d2);
    }
    .sm\:w-d1 {
        width: var(--space-d1);
    }
    .sm\:width {
        width: var(--space);
    }
    .sm\:w-1 {
        width: var(--space-1);
    }
    .sm\:w-2 {
        width: var(--space-2);
    }
    .sm\:w-3 {
        width: var(--space-3);
    }
    .sm\:w-4 {
        width: var(--space-4);
    }
    .sm\:w-5 {
        width: var(--space-5);
    }
    .sm\:w-6 {
        width: var(--space-6);
    }
    .sm\:w-bleed {
        width: var(--bleed-width);
    }
}

@media (--mi-sm-bp) {
    .sm\:w-unset {
        width: unset;
    }
    .sm\:w-100 {
        width: 100%;
    }
    .sm\:w-d5 {
        width: var(--space-d5);
    }
    .sm\:w-d4 {
        width: var(--space-d4);
    }
    .sm\:w-d3 {
        width: var(--space-d3);
    }
    .sm\:w-d2 {
        width: var(--space-d2);
    }
    .sm\:w-d1 {
        width: var(--space-d1);
    }
    .sm\:width {
        width: var(--space);
    }
    .sm\:w-1 {
        width: var(--space-1);
    }
    .sm\:w-2 {
        width: var(--space-2);
    }
    .sm\:w-3 {
        width: var(--space-3);
    }
    .sm\:w-4 {
        width: var(--space-4);
    }
    .sm\:w-5 {
        width: var(--space-5);
    }
    .sm\:w-6 {
        width: var(--space-6);
    }
    .sm\:w-bleed {
        width: var(--bleed-width);
    }
}

@media (min-width: 601px) {
    .rg\:w-unset {
        width: unset;
    }
    .rg\:w-100 {
        width: 100%;
    }
    .rg\:w-d5 {
        width: var(--space-d5);
    }
    .rg\:w-d4 {
        width: var(--space-d4);
    }
    .rg\:w-d3 {
        width: var(--space-d3);
    }
    .rg\:w-d2 {
        width: var(--space-d2);
    }
    .rg\:w-d1 {
        width: var(--space-d1);
    }
    .rg\:width {
        width: var(--space);
    }
    .rg\:w-1 {
        width: var(--space-1);
    }
    .rg\:w-2 {
        width: var(--space-2);
    }
    .rg\:w-3 {
        width: var(--space-3);
    }
    .rg\:w-4 {
        width: var(--space-4);
    }
    .rg\:w-5 {
        width: var(--space-5);
    }
    .rg\:w-6 {
        width: var(--space-6);
    }
    .rg\:w-bleed {
        width: var(--bleed-width);
    }
}

@media (--mi-rg-bp) {
    .rg\:w-unset {
        width: unset;
    }
    .rg\:w-100 {
        width: 100%;
    }
    .rg\:w-d5 {
        width: var(--space-d5);
    }
    .rg\:w-d4 {
        width: var(--space-d4);
    }
    .rg\:w-d3 {
        width: var(--space-d3);
    }
    .rg\:w-d2 {
        width: var(--space-d2);
    }
    .rg\:w-d1 {
        width: var(--space-d1);
    }
    .rg\:width {
        width: var(--space);
    }
    .rg\:w-1 {
        width: var(--space-1);
    }
    .rg\:w-2 {
        width: var(--space-2);
    }
    .rg\:w-3 {
        width: var(--space-3);
    }
    .rg\:w-4 {
        width: var(--space-4);
    }
    .rg\:w-5 {
        width: var(--space-5);
    }
    .rg\:w-6 {
        width: var(--space-6);
    }
    .rg\:w-bleed {
        width: var(--bleed-width);
    }
}

@media (min-width: 901px) {
    .md\:w-unset {
        width: unset;
    }
    .md\:w-100 {
        width: 100%;
    }
    .md\:w-d5 {
        width: var(--space-d5);
    }
    .md\:w-d4 {
        width: var(--space-d4);
    }
    .md\:w-d3 {
        width: var(--space-d3);
    }
    .md\:w-d2 {
        width: var(--space-d2);
    }
    .md\:w-d1 {
        width: var(--space-d1);
    }
    .md\:width {
        width: var(--space);
    }
    .md\:w-1 {
        width: var(--space-1);
    }
    .md\:w-2 {
        width: var(--space-2);
    }
    .md\:w-3 {
        width: var(--space-3);
    }
    .md\:w-4 {
        width: var(--space-4);
    }
    .md\:w-5 {
        width: var(--space-5);
    }
    .md\:w-6 {
        width: var(--space-6);
    }
    .md\:w-bleed {
        width: var(--bleed-width);
    }
}

@media (--mi-md-bp) {
    .md\:w-unset {
        width: unset;
    }
    .md\:w-100 {
        width: 100%;
    }
    .md\:w-d5 {
        width: var(--space-d5);
    }
    .md\:w-d4 {
        width: var(--space-d4);
    }
    .md\:w-d3 {
        width: var(--space-d3);
    }
    .md\:w-d2 {
        width: var(--space-d2);
    }
    .md\:w-d1 {
        width: var(--space-d1);
    }
    .md\:width {
        width: var(--space);
    }
    .md\:w-1 {
        width: var(--space-1);
    }
    .md\:w-2 {
        width: var(--space-2);
    }
    .md\:w-3 {
        width: var(--space-3);
    }
    .md\:w-4 {
        width: var(--space-4);
    }
    .md\:w-5 {
        width: var(--space-5);
    }
    .md\:w-6 {
        width: var(--space-6);
    }
    .md\:w-bleed {
        width: var(--bleed-width);
    }
}

@media (min-width: 1201px) {
    .lg\:w-unset {
        width: unset;
    }
    .lg\:w-100 {
        width: 100%;
    }
    .lg\:w-sm {
        width: var(--sm-width);
    }
    .lg\:w-rg {
        width: var(--rg-width);
    }
    .lg\:w-md {
        width: var(--md-width);
    }
    .lg\:w-lg {
        width: var(--lg-width);
    }
    .lg\:w-d5 {
        width: var(--space-d5);
    }
    .lg\:w-d4 {
        width: var(--space-d4);
    }
    .lg\:w-d3 {
        width: var(--space-d3);
    }
    .lg\:w-d2 {
        width: var(--space-d2);
    }
    .lg\:w-d1 {
        width: var(--space-d1);
    }
    .lg\:width {
        width: var(--space);
    }
    .lg\:w-1 {
        width: var(--space-1);
    }
    .lg\:w-2 {
        width: var(--space-2);
    }
    .lg\:w-3 {
        width: var(--space-3);
    }
    .lg\:w-4 {
        width: var(--space-4);
    }
    .lg\:w-5 {
        width: var(--space-5);
    }
    .lg\:w-6 {
        width: var(--space-6);
    }
    .lg\:w-bleed {
        width: var(--bleed-width);
    }
}

@media (--mi-lg-bp) {
    .lg\:w-unset {
        width: unset;
    }
    .lg\:w-100 {
        width: 100%;
    }
    .lg\:w-sm {
        width: var(--sm-width);
    }
    .lg\:w-rg {
        width: var(--rg-width);
    }
    .lg\:w-md {
        width: var(--md-width);
    }
    .lg\:w-lg {
        width: var(--lg-width);
    }
    .lg\:w-d5 {
        width: var(--space-d5);
    }
    .lg\:w-d4 {
        width: var(--space-d4);
    }
    .lg\:w-d3 {
        width: var(--space-d3);
    }
    .lg\:w-d2 {
        width: var(--space-d2);
    }
    .lg\:w-d1 {
        width: var(--space-d1);
    }
    .lg\:width {
        width: var(--space);
    }
    .lg\:w-1 {
        width: var(--space-1);
    }
    .lg\:w-2 {
        width: var(--space-2);
    }
    .lg\:w-3 {
        width: var(--space-3);
    }
    .lg\:w-4 {
        width: var(--space-4);
    }
    .lg\:w-5 {
        width: var(--space-5);
    }
    .lg\:w-6 {
        width: var(--space-6);
    }
    .lg\:w-bleed {
        width: var(--bleed-width);
    }
}