:root {
    --column-gap: 0;
    --column-fluid-width: 16rem;
    --column-rule: 1px solid var(--neutral-2);
}

.columns-1 {
    columns: 1;
}

.columns-2 {
    columns: 2;
}

.columns-3 {
    columns: 3;
}

.columns-4 {
    columns: 4;
}

.columns-5 {
    columns: 5;
}

.columns-6 {
    columns: 6;
}

.columns-fluid {
    column-width: 16rem;
    column-width: var(--column-fluid-width);
}

.column-rule {
    column-rule: 1px solid var(--neutral-2);
    column-rule: var(--column-rule);
}

.x-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 0;
    column-gap: var(--column-gap);
}

.x-12>* {
    grid-column: auto / span 12;
}

.x-12>.xx-1 {
    grid-column: auto / span 1;
}

.x-12>.xx-2 {
    grid-column: auto / span 2;
}

.x-12>.xx-3 {
    grid-column: auto / span 3;
}

.x-12>.xx-4 {
    grid-column: auto / span 4;
}

.x-12>.xx-5 {
    grid-column: auto / span 5;
}

.x-12>.xx-6 {
    grid-column: auto / span 6;
}

.x-12>.xx-7 {
    grid-column: auto / span 7;
}

.x-12>.xx-8 {
    grid-column: auto / span 8;
}

.x-12>.xx-9 {
    grid-column: auto / span 9;
}

.x-12>.xx-10 {
    grid-column: auto / span 10;
}

.x-12>.xx-11 {
    grid-column: auto / span 11;
}

.x-12>.xx-12 {
    grid-column: auto / span 12;
}

/* column start points */

.x-12>.xs-1 {
    grid-column-start: 1;
}

.x-12>.xs-2 {
    grid-column-start: 2;
}

.x-12>.xs-3 {
    grid-column-start: 3;
}

.x-12>.xs-4 {
    grid-column-start: 4;
}

.x-12>.xs-5 {
    grid-column-start: 5;
}

.x-12>.xs-6 {
    grid-column-start: 6;
}

.x-12>.xs-7 {
    grid-column-start: 7;
}

.x-12>.xs-8 {
    grid-column-start: 8;
}

.x-12>.xs-9 {
    grid-column-start: 9;
}

.x-12>.xs-10 {
    grid-column-start: 10;
}

.x-12>.xs-11 {
    grid-column-start: 11;
}

.x-12>.xs-12 {
    grid-column-start: 12;
}

@media (min-width: 400px) {
    .sm\:columns-1 {
        columns: 1;
    }
    .sm\:columns-2 {
        columns: 2;
    }
    .sm\:columns-3 {
        columns: 3;
    }
    .sm\:columns-4 {
        columns: 4;
    }
    .sm\:columns-5 {
        columns: 5;
    }
    .sm\:columns-6 {
        columns: 6;
    }
    .x-12>.sm\:xx-1 {
        grid-column: auto / span 1;
    }
    .x-12>.sm\:xx-2 {
        grid-column: auto / span 2;
    }
    .x-12>.sm\:xx-3 {
        grid-column: auto / span 3;
    }
    .x-12>.sm\:xx-4 {
        grid-column: auto / span 4;
    }
    .x-12>.sm\:xx-5 {
        grid-column: auto / span 5;
    }
    .x-12>.sm\:xx-6 {
        grid-column: auto / span 6;
    }
    .x-12>.sm\:xx-7 {
        grid-column: auto / span 7;
    }
    .x-12>.sm\:xx-8 {
        grid-column: auto / span 8;
    }
    .x-12>.sm\:xx-9 {
        grid-column: auto / span 9;
    }
    .x-12>.sm\:xx-10 {
        grid-column: auto / span 10;
    }
    .x-12>.sm\:xx-11 {
        grid-column: auto / span 11;
    }
    .x-12>.sm\:xx-12 {
        grid-column: auto / span 12;
    }
    /* column start points */
    .x-12>.sm\:xs-1 {
        grid-column-start: 1;
    }
    .x-12>.sm\:xs-2 {
        grid-column-start: 2;
    }
    .x-12>.sm\:xs-3 {
        grid-column-start: 3;
    }
    .x-12>.sm\:xs-4 {
        grid-column-start: 4;
    }
    .x-12>.sm\:xs-5 {
        grid-column-start: 5;
    }
    .x-12>.sm\:xs-6 {
        grid-column-start: 6;
    }
    .x-12>.sm\:xs-7 {
        grid-column-start: 7;
    }
    .x-12>.sm\:xs-8 {
        grid-column-start: 8;
    }
    .x-12>.sm\:xs-9 {
        grid-column-start: 9;
    }
    .x-12>.sm\:xs-10 {
        grid-column-start: 10;
    }
    .x-12>.sm\:xs-11 {
        grid-column-start: 11;
    }
    .x-12>.sm\:xs-12 {
        grid-column-start: 12;
    }
}

@media (--sm) {
    .sm\:columns-1 {
        columns: 1;
    }
    .sm\:columns-2 {
        columns: 2;
    }
    .sm\:columns-3 {
        columns: 3;
    }
    .sm\:columns-4 {
        columns: 4;
    }
    .sm\:columns-5 {
        columns: 5;
    }
    .sm\:columns-6 {
        columns: 6;
    }
    .x-12>.sm\:xx-1 {
        grid-column: auto / span 1;
    }
    .x-12>.sm\:xx-2 {
        grid-column: auto / span 2;
    }
    .x-12>.sm\:xx-3 {
        grid-column: auto / span 3;
    }
    .x-12>.sm\:xx-4 {
        grid-column: auto / span 4;
    }
    .x-12>.sm\:xx-5 {
        grid-column: auto / span 5;
    }
    .x-12>.sm\:xx-6 {
        grid-column: auto / span 6;
    }
    .x-12>.sm\:xx-7 {
        grid-column: auto / span 7;
    }
    .x-12>.sm\:xx-8 {
        grid-column: auto / span 8;
    }
    .x-12>.sm\:xx-9 {
        grid-column: auto / span 9;
    }
    .x-12>.sm\:xx-10 {
        grid-column: auto / span 10;
    }
    .x-12>.sm\:xx-11 {
        grid-column: auto / span 11;
    }
    .x-12>.sm\:xx-12 {
        grid-column: auto / span 12;
    }
    /* column start points */
    .x-12>.sm\:xs-1 {
        grid-column-start: 1;
    }
    .x-12>.sm\:xs-2 {
        grid-column-start: 2;
    }
    .x-12>.sm\:xs-3 {
        grid-column-start: 3;
    }
    .x-12>.sm\:xs-4 {
        grid-column-start: 4;
    }
    .x-12>.sm\:xs-5 {
        grid-column-start: 5;
    }
    .x-12>.sm\:xs-6 {
        grid-column-start: 6;
    }
    .x-12>.sm\:xs-7 {
        grid-column-start: 7;
    }
    .x-12>.sm\:xs-8 {
        grid-column-start: 8;
    }
    .x-12>.sm\:xs-9 {
        grid-column-start: 9;
    }
    .x-12>.sm\:xs-10 {
        grid-column-start: 10;
    }
    .x-12>.sm\:xs-11 {
        grid-column-start: 11;
    }
    .x-12>.sm\:xs-12 {
        grid-column-start: 12;
    }
}

@media (min-width: 600px) {
    .rg\:columns-1 {
        columns: 1;
    }
    .rg\:columns-2 {
        columns: 2;
    }
    .rg\:columns-3 {
        columns: 3;
    }
    .rg\:columns-4 {
        columns: 4;
    }
    .rg\:columns-5 {
        columns: 5;
    }
    .rg\:columns-6 {
        columns: 6;
    }
    .x-12>.rg\:xx-1 {
        grid-column: auto / span 1;
    }
    .x-12>.rg\:xx-2 {
        grid-column: auto / span 2;
    }
    .x-12>.rg\:xx-3 {
        grid-column: auto / span 3;
    }
    .x-12>.rg\:xx-4 {
        grid-column: auto / span 4;
    }
    .x-12>.rg\:xx-5 {
        grid-column: auto / span 5;
    }
    .x-12>.rg\:xx-6 {
        grid-column: auto / span 6;
    }
    .x-12>.rg\:xx-7 {
        grid-column: auto / span 7;
    }
    .x-12>.rg\:xx-8 {
        grid-column: auto / span 8;
    }
    .x-12>.rg\:xx-9 {
        grid-column: auto / span 9;
    }
    .x-12>.rg\:xx-10 {
        grid-column: auto / span 10;
    }
    .x-12>.rg\:xx-11 {
        grid-column: auto / span 11;
    }
    .x-12>.rg\:xx-12 {
        grid-column: auto / span 12;
    }
    /* column start points */
    .x-12>.rg\:xs-1 {
        grid-column-start: 1;
    }
    .x-12>.rg\:xs-2 {
        grid-column-start: 2;
    }
    .x-12>.rg\:xs-3 {
        grid-column-start: 3;
    }
    .x-12>.rg\:xs-4 {
        grid-column-start: 4;
    }
    .x-12>.rg\:xs-5 {
        grid-column-start: 5;
    }
    .x-12>.rg\:xs-6 {
        grid-column-start: 6;
    }
    .x-12>.rg\:xs-7 {
        grid-column-start: 7;
    }
    .x-12>.rg\:xs-8 {
        grid-column-start: 8;
    }
    .x-12>.rg\:xs-9 {
        grid-column-start: 9;
    }
    .x-12>.rg\:xs-10 {
        grid-column-start: 10;
    }
    .x-12>.rg\:xs-11 {
        grid-column-start: 11;
    }
    .x-12>.rg\:xs-12 {
        grid-column-start: 12;
    }
}

@media (--rg) {
    .rg\:columns-1 {
        columns: 1;
    }
    .rg\:columns-2 {
        columns: 2;
    }
    .rg\:columns-3 {
        columns: 3;
    }
    .rg\:columns-4 {
        columns: 4;
    }
    .rg\:columns-5 {
        columns: 5;
    }
    .rg\:columns-6 {
        columns: 6;
    }
    .x-12>.rg\:xx-1 {
        grid-column: auto / span 1;
    }
    .x-12>.rg\:xx-2 {
        grid-column: auto / span 2;
    }
    .x-12>.rg\:xx-3 {
        grid-column: auto / span 3;
    }
    .x-12>.rg\:xx-4 {
        grid-column: auto / span 4;
    }
    .x-12>.rg\:xx-5 {
        grid-column: auto / span 5;
    }
    .x-12>.rg\:xx-6 {
        grid-column: auto / span 6;
    }
    .x-12>.rg\:xx-7 {
        grid-column: auto / span 7;
    }
    .x-12>.rg\:xx-8 {
        grid-column: auto / span 8;
    }
    .x-12>.rg\:xx-9 {
        grid-column: auto / span 9;
    }
    .x-12>.rg\:xx-10 {
        grid-column: auto / span 10;
    }
    .x-12>.rg\:xx-11 {
        grid-column: auto / span 11;
    }
    .x-12>.rg\:xx-12 {
        grid-column: auto / span 12;
    }
    /* column start points */
    .x-12>.rg\:xs-1 {
        grid-column-start: 1;
    }
    .x-12>.rg\:xs-2 {
        grid-column-start: 2;
    }
    .x-12>.rg\:xs-3 {
        grid-column-start: 3;
    }
    .x-12>.rg\:xs-4 {
        grid-column-start: 4;
    }
    .x-12>.rg\:xs-5 {
        grid-column-start: 5;
    }
    .x-12>.rg\:xs-6 {
        grid-column-start: 6;
    }
    .x-12>.rg\:xs-7 {
        grid-column-start: 7;
    }
    .x-12>.rg\:xs-8 {
        grid-column-start: 8;
    }
    .x-12>.rg\:xs-9 {
        grid-column-start: 9;
    }
    .x-12>.rg\:xs-10 {
        grid-column-start: 10;
    }
    .x-12>.rg\:xs-11 {
        grid-column-start: 11;
    }
    .x-12>.rg\:xs-12 {
        grid-column-start: 12;
    }
}

@media (min-width: 900px) {
    .md\:columns-1 {
        columns: 1;
    }
    .md\:columns-2 {
        columns: 2;
    }
    .md\:columns-3 {
        columns: 3;
    }
    .md\:columns-4 {
        columns: 4;
    }
    .md\:columns-5 {
        columns: 5;
    }
    .md\:columns-6 {
        columns: 6;
    }
    .x-12>.md\:xx-1 {
        grid-column: auto / span 1;
    }
    .x-12>.md\:xx-2 {
        grid-column: auto / span 2;
    }
    .x-12>.md\:xx-3 {
        grid-column: auto / span 3;
    }
    .x-12>.md\:xx-4 {
        grid-column: auto / span 4;
    }
    .x-12>.md\:xx-5 {
        grid-column: auto / span 5;
    }
    .x-12>.md\:xx-6 {
        grid-column: auto / span 6;
    }
    .x-12>.md\:xx-7 {
        grid-column: auto / span 7;
    }
    .x-12>.md\:xx-8 {
        grid-column: auto / span 8;
    }
    .x-12>.md\:xx-9 {
        grid-column: auto / span 9;
    }
    .x-12>.md\:xx-10 {
        grid-column: auto / span 10;
    }
    .x-12>.md\:xx-11 {
        grid-column: auto / span 11;
    }
    .x-12>.md\:xx-12 {
        grid-column: auto / span 12;
    }
    /* column start points */
    .x-12>.md\:xs-1 {
        grid-column-start: 1;
    }
    .x-12>.md\:xs-2 {
        grid-column-start: 2;
    }
    .x-12>.md\:xs-3 {
        grid-column-start: 3;
    }
    .x-12>.md\:xs-4 {
        grid-column-start: 4;
    }
    .x-12>.md\:xs-5 {
        grid-column-start: 5;
    }
    .x-12>.md\:xs-6 {
        grid-column-start: 6;
    }
    .x-12>.md\:xs-7 {
        grid-column-start: 7;
    }
    .x-12>.md\:xs-8 {
        grid-column-start: 8;
    }
    .x-12>.md\:xs-9 {
        grid-column-start: 9;
    }
    .x-12>.md\:xs-10 {
        grid-column-start: 10;
    }
    .x-12>.md\:xs-11 {
        grid-column-start: 11;
    }
    .x-12>.md\:xs-12 {
        grid-column-start: 12;
    }
}

@media (--md) {
    .md\:columns-1 {
        columns: 1;
    }
    .md\:columns-2 {
        columns: 2;
    }
    .md\:columns-3 {
        columns: 3;
    }
    .md\:columns-4 {
        columns: 4;
    }
    .md\:columns-5 {
        columns: 5;
    }
    .md\:columns-6 {
        columns: 6;
    }
    .x-12>.md\:xx-1 {
        grid-column: auto / span 1;
    }
    .x-12>.md\:xx-2 {
        grid-column: auto / span 2;
    }
    .x-12>.md\:xx-3 {
        grid-column: auto / span 3;
    }
    .x-12>.md\:xx-4 {
        grid-column: auto / span 4;
    }
    .x-12>.md\:xx-5 {
        grid-column: auto / span 5;
    }
    .x-12>.md\:xx-6 {
        grid-column: auto / span 6;
    }
    .x-12>.md\:xx-7 {
        grid-column: auto / span 7;
    }
    .x-12>.md\:xx-8 {
        grid-column: auto / span 8;
    }
    .x-12>.md\:xx-9 {
        grid-column: auto / span 9;
    }
    .x-12>.md\:xx-10 {
        grid-column: auto / span 10;
    }
    .x-12>.md\:xx-11 {
        grid-column: auto / span 11;
    }
    .x-12>.md\:xx-12 {
        grid-column: auto / span 12;
    }
    /* column start points */
    .x-12>.md\:xs-1 {
        grid-column-start: 1;
    }
    .x-12>.md\:xs-2 {
        grid-column-start: 2;
    }
    .x-12>.md\:xs-3 {
        grid-column-start: 3;
    }
    .x-12>.md\:xs-4 {
        grid-column-start: 4;
    }
    .x-12>.md\:xs-5 {
        grid-column-start: 5;
    }
    .x-12>.md\:xs-6 {
        grid-column-start: 6;
    }
    .x-12>.md\:xs-7 {
        grid-column-start: 7;
    }
    .x-12>.md\:xs-8 {
        grid-column-start: 8;
    }
    .x-12>.md\:xs-9 {
        grid-column-start: 9;
    }
    .x-12>.md\:xs-10 {
        grid-column-start: 10;
    }
    .x-12>.md\:xs-11 {
        grid-column-start: 11;
    }
    .x-12>.md\:xs-12 {
        grid-column-start: 12;
    }
}

@media (min-width: 1400px) {
    .x>.lg\:columns-1 {
        columns: 1;
    }
    .x>.lg\:columns-2 {
        columns: 2;
    }
    .x>.lg\:columns-3 {
        columns: 3;
    }
    .x>.lg\:columns-4 {
        columns: 4;
    }
    .x>.lg\:columns-5 {
        columns: 5;
    }
    .x>.lg\:columns-6 {
        columns: 6;
    }
    .x-12>.lg\:xx-1 {
        grid-column: auto / span 1;
    }
    .x-12>.lg\:xx-2 {
        grid-column: auto / span 2;
    }
    .x-12>.lg\:xx-3 {
        grid-column: auto / span 3;
    }
    .x-12>.lg\:xx-4 {
        grid-column: auto / span 4;
    }
    .x-12>.lg\:xx-5 {
        grid-column: auto / span 5;
    }
    .x-12>.lg\:xx-6 {
        grid-column: auto / span 6;
    }
    .x-12>.lg\:xx-7 {
        grid-column: auto / span 7;
    }
    .x-12>.lg\:xx-8 {
        grid-column: auto / span 8;
    }
    .x-12>.lg\:xx-9 {
        grid-column: auto / span 9;
    }
    .x-12>.lg\:xx-10 {
        grid-column: auto / span 10;
    }
    .x-12>.lg\:xx-11 {
        grid-column: auto / span 11;
    }
    .x-12>.lg\:xx-12 {
        grid-column: auto / span 12;
    }
    /* column start points */
    .x-12>.lg\:xs-1 {
        grid-column-start: 1;
    }
    .x-12>.lg\:xs-2 {
        grid-column-start: 2;
    }
    .x-12>.lg\:xs-3 {
        grid-column-start: 3;
    }
    .x-12>.lg\:xs-4 {
        grid-column-start: 4;
    }
    .x-12>.lg\:xs-5 {
        grid-column-start: 5;
    }
    .x-12>.lg\:xs-6 {
        grid-column-start: 6;
    }
    .x-12>.lg\:xs-7 {
        grid-column-start: 7;
    }
    .x-12>.lg\:xs-8 {
        grid-column-start: 8;
    }
    .x-12>.lg\:xs-9 {
        grid-column-start: 9;
    }
    .x-12>.lg\:xs-10 {
        grid-column-start: 10;
    }
    .x-12>.lg\:xs-11 {
        grid-column-start: 11;
    }
    .x-12>.lg\:xs-12 {
        grid-column-start: 12;
    }
}

@media (--lg) {
    .x>.lg\:columns-1 {
        columns: 1;
    }
    .x>.lg\:columns-2 {
        columns: 2;
    }
    .x>.lg\:columns-3 {
        columns: 3;
    }
    .x>.lg\:columns-4 {
        columns: 4;
    }
    .x>.lg\:columns-5 {
        columns: 5;
    }
    .x>.lg\:columns-6 {
        columns: 6;
    }
    .x-12>.lg\:xx-1 {
        grid-column: auto / span 1;
    }
    .x-12>.lg\:xx-2 {
        grid-column: auto / span 2;
    }
    .x-12>.lg\:xx-3 {
        grid-column: auto / span 3;
    }
    .x-12>.lg\:xx-4 {
        grid-column: auto / span 4;
    }
    .x-12>.lg\:xx-5 {
        grid-column: auto / span 5;
    }
    .x-12>.lg\:xx-6 {
        grid-column: auto / span 6;
    }
    .x-12>.lg\:xx-7 {
        grid-column: auto / span 7;
    }
    .x-12>.lg\:xx-8 {
        grid-column: auto / span 8;
    }
    .x-12>.lg\:xx-9 {
        grid-column: auto / span 9;
    }
    .x-12>.lg\:xx-10 {
        grid-column: auto / span 10;
    }
    .x-12>.lg\:xx-11 {
        grid-column: auto / span 11;
    }
    .x-12>.lg\:xx-12 {
        grid-column: auto / span 12;
    }
    /* column start points */
    .x-12>.lg\:xs-1 {
        grid-column-start: 1;
    }
    .x-12>.lg\:xs-2 {
        grid-column-start: 2;
    }
    .x-12>.lg\:xs-3 {
        grid-column-start: 3;
    }
    .x-12>.lg\:xs-4 {
        grid-column-start: 4;
    }
    .x-12>.lg\:xs-5 {
        grid-column-start: 5;
    }
    .x-12>.lg\:xs-6 {
        grid-column-start: 6;
    }
    .x-12>.lg\:xs-7 {
        grid-column-start: 7;
    }
    .x-12>.lg\:xs-8 {
        grid-column-start: 8;
    }
    .x-12>.lg\:xs-9 {
        grid-column-start: 9;
    }
    .x-12>.lg\:xs-10 {
        grid-column-start: 10;
    }
    .x-12>.lg\:xs-11 {
        grid-column-start: 11;
    }
    .x-12>.lg\:xs-12 {
        grid-column-start: 12;
    }
}