/* base */

$font-size:18px;
$line-height: 1.62em;
$spacing-half: .81em;  /*spacings must be em unit */
$spacing-1: 1.62em;
$spacing-2: 1.62 * 1.62em;
$spacing-3: 1.62 * 1.62 * 1.62em;
$spacing-4: 1.62 * 1.62 * 1.62 * 1.62em;

* {
  line-height:$line-height;
}

body {
  margin:0;
  padding:0;
  font-size: $font-size;
  font-feature-settings: "onum" 1;
}
@supports (font-variant-numeric: oldstyle-nums) {
    body {
        font-feature-settings: normal;
        font-variant-numeric: oldstyle-nums;
    }
}


h1, h2, h3, h4, h5, h6 {
  font-size:1em;
  font-weight:bold;
  margin-top:$spacing-2;
  margin-bottom:$spacing-half;
  text-align:center;
  font-feature-settings: "lnum" 1;
}

@supports (font-variant-numeric: lining-nums) {
    body {
        font-variant-numeric: lining-nums;
    }
}

img {
  margin:0;
  max-width:100%;
}

p, figure {
  margin:$spacing-1 0;
  padding:0;
}

figure {
  max-width:100%;
}

figcaption {
  margin:$spacing-half 0 0 0;
  font-style:italic;
  font-size:$font-size - 2px;
  line-height:$font-size;
}

/* media queries */
@media screen and (min-width: 1400px) {
  body {
    font-size:$font-size + 1px;
  }
}
