@import "base-space";

:root {
    --font-weight-bold: bold;
    --font-weight-normal: normal;
    --line-height: 1.62em;
    --letter-spacing: 0.1em;
    --font-family: sans-serif;
    --font-family-headlines: var(--font-family);    
    --font-family-mono: monospace;
    --base-color: #333;
    --link-color: var(--base-color);    
    --text-decoration-color: var(--base-color);
    color: var(--base-color); 
    line-height: var(--line-height); 
    font-family: var(--font-family); 
    font-weight: var(--font-weight-normal);   
    text-underline-offset: 0.25em;     
    text-decoration-thickness: 0.08em;
}

* {
    outline: none;
}

.font-family-inherit { font-family: inherit; }
.font-size-inherit { font-size: inherit; }
.text-decoration-none { text-decoration: none; }
.bold, b { font-weight: var(--font-weight-bold, bold);}
.regular { font-weight: normal; }
.italic, i { font-style: italic; }
.caps { text-transform: uppercase; }
.mono { font-family: var(--font-family-mono); }
.underline, u { text-decoration: underline; }
.left-align { text-align: left; }
.center { text-align: center; }
.right-align { text-align: right; }
.justify { text-align: justify; }
.nowrap { white-space: nowrap; }
.break-word { word-wrap: break-word; }
.truncate { max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

h1,h2,h3,h4,h5,h6 {
    margin-top: var(--sizing-2);
    margin-bottom: 1rem;
    text-transform: unset;
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-headlines);
}

h1 { font-size: var(--sizing-1); text-transform: uppercase; line-height: 1.2em; }

h2,h3 { font-size: calc(var(--sizing-1) - var(--sizing-minus-2)); line-height: 1.2em; } 

h3 { font-weight: var(--font-weight-normal); }

h4,h5,h6 { margin-top: var(--sizing-1); font-size: var(--sizing); line-height: var(--line-height);}

ol,ul { margin-top: 1em; margin-bottom: 1em; padding-left: 0; list-style-position: inside; }

p { margin-top:1em; margin-bottom: 1em }
.pindent {
    p { margin: 0; }

    p+p { text-indent: var(--sizing-1); }
}

p.pindent { text-indent: var(--sizing-1); }

.nopindent p, p.nopindent { text-indent: 0; }

.list-reset { list-style: none; padding-left: 0; }

pre, code {
    font-family: var(--font-family-mono);
}

a {
    color: var(--link-color);
    text-decoration-color: var(--link-decoration-color);
    text-decoration: underline;    

}


