$small-width: 40rem;
$mid-width: 52rem;
$large-width: 64rem;
$spacing-factor: 1.62;
@function spacer($count: 1) {
    $result: 1rem;
    @if $count > 0 {
        @for $_ from 1 through $count {
            $result: $result * $spacing-factor;
        }
    }
    @if $count < 0 {
        @for $_ from $count through -1 {
            $result: $result / $spacing-factor;
        }
    }
    @return $result;
}
$spacing: spacer(1);
$spacing-2: spacer(2);
$spacing-3: spacer(3);
$spacing-4: spacer(4);
$spacing-minus-1: spacer(-1);
$spacing-minus-2: spacer(-2);
$spacing-minus-3: spacer(-3);
$spacing-minus-4: spacer(-4);
/**
Naming conventions
    x=x-axis
    y=y-axis
    t=top
    r=right
    b=bottom
    l=left
    0=none
    1=default size
    minus=reduce
    auto=

    g=grid gap
    m=margin
    p=padding
*/
.g-0 {
    grid-column-gap: 0 !important;
    grid-row-gap: 0 !important;
}

.gx-0 {
    grid-column-gap: 0 !important;
}

.gy-0 {
    grid-row-gap: 0 !important;
}

.g-1 {
    grid-column-gap: $spacing !important;
    grid-row-gap: $spacing !important;
}

.gx-01 {
    grid-column-gap: $spacing !important;
}

.gy-1 {
    grid-row-gap: $spacing !important;
}

.g-minus {
    grid-column-gap: 0.125rem !important;
    grid-row-gap: 0.125rem !important;
}

.gx-minus {
    grid-column-gap: 0.125rem !important;
}

.gy-minus {
    grid-row-gap: 0.125rem !important;
}

.m-0 {
    margin: 0 !important;
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.m-1 {
    margin: $spacing !important;
}

.mx-1 {
    margin-left: $spacing !important;
    margin-right: $spacing !important;
}

.my-1 {
    margin-top: $spacing !important;
    margin-bottom: $spacing !important;
}

.mt-1 {
    margin-top: $spacing !important;
}

.mr-1 {
    margin-right: $spacing !important;
}

.mb-1 {
    margin-bottom: $spacing !important;
}

.ml-1 {
    margin-left: $spacing !important;
}

.m-2 {
    margin: $spacing-2 !important;
}

.mx-2 {
    margin-left: $spacing-2 !important;
    margin-right: $spacing-2 !important;
}

.my-2 {
    margin-top: $spacing-2 !important;
    margin-bottom: $spacing-2 !important;
}

.mt-2 {
    margin-top: $spacing-2 !important;
}

.mr-2 {
    margin-right: $spacing-2 !important;
}

.mb-2 {
    margin-bottom: $spacing-2 !important;
}

.ml-2 {
    margin-left: $spacing-2 !important;
}

.m-3 {
    margin: $spacing-3 !important;
}

.mx-3 {
    margin-left: $spacing-3 !important;
    margin-right: $spacing-3 !important;
}

.my-3 {
    margin-top: $spacing-3 !important;
    margin-bottom: $spacing-3 !important;
}

.mt-3 {
    margin-top: $spacing-3 !important;
}

.mr-3 {
    margin-right: $spacing-3 !important;
}

.mb-3 {
    margin-bottom: $spacing-3 !important;
}

.ml-3 {
    margin-left: $spacing-3 !important;
}

.m-4 {
    margin: $spacing-4 !important;
}

.mx-4 {
    margin-left: $spacing-4 !important;
    margin-right: $spacing-4 !important;
}

.my-4 {
    margin-top: $spacing-4 !important;
    margin-bottom: $spacing-4 !important;
}

.mt-4 {
    margin-top: $spacing-4 !important;
}

.mr-4 {
    margin-right: $spacing-4 !important;
}

.mb-4 {
    margin-bottom: $spacing-4 !important;
}

.ml-4 {
    margin-left: $spacing-4 !important;
}

.m-minus {
    margin: $spacing-minus-1 !important;
}

.mx-minus {
    margin-left: $spacing-minus-1 !important;
    margin-right: $spacing-minus-1 !important;
}

.my-minus {
    margin-top: $spacing-minus-1 !important;
    margin-bottom: $spacing-minus-1 !important;
}

.mt-minus {
    margin-top: $spacing-minus-1 !important;
}

.mr-minus {
    margin-right: $spacing-minus-1 !important;
}

.mb-minus {
    margin-bottom: $spacing-minus-1 !important;
}

.ml-minus {
    margin-left: $spacing-minus-1 !important;
}

.ml-auto {
    margin-left: auto !important;
}

.mr-auto {
    margin-right: auto !important;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}