/* base */

$font-size:19px;
$line-height: 1.62em;
$spacing-half: .81em;  /*spacings must be em unit */
$spacing-1: 1.62em;
$spacing-2: 1.62 * 1.62em;
$spacing-3: 1.62 * 1.62 * 1.62em;
$spacing-4: 1.62 * 1.62 * 1.62 * 1.62em;

* {
  line-height:$line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-size:1em;
  font-weight:bold;
  margin-top:$spacing-2;
  margin-bottom:$spacing-half;
  text-align:center;
}

body {
  margin:0;
  padding:0;
  font-size:$font-size;
}

img {
  margin:0;
  max-width:100%;
}

figure {
  margin:$spacing-1 0;
}

figcaption {
  margin:0em;
  margin-top:$spacing-half;
  font-style:italic;
  font-size:$font-size - 1px;
  line-height:$font-size;
}

p {
  margin:$spacing-1 0;
  padding:0;
}


/* media queries */
@media screen and (min-width: 1400px) {
  body {
    font-size:$font-size + 1px;
  }
}
