$small-width: 40rem;
$mid-width: 52rem;
$large-width: 64rem;
$spacing-factor: 1.62;
@function spacer($count: 1) {
    $result: 1rem;
    @if $count > 0 {
        @for $_ from 1 through $count {
            $result: $result * $spacing-factor;
        }
    }
    @if $count < 0 {
        @for $_ from $count through -1 {
            $result: $result / $spacing-factor;
        }
    }
    @return $result;
}
$spacing: spacer(1);
$spacing-2: spacer(2);
$spacing-3: spacer(3);
$spacing-4: spacer(4);
$spacing-minus-1: spacer(-1);
$spacing-minus-2: spacer(-2);
$spacing-minus-3: spacer(-3);
$spacing-minus-4: spacer(-4);
/**
Naming conventions
    x=x-axis
    y=y-axis
    t=top
    r=right
    b=bottom
    l=left
    0=none
    1=default size
    minus=reduce
    auto=

    g=grid gap
    m=margin
    p=padding
*/
.g0 {
    grid-column-gap: 0 !important;
    grid-row-gap: 0 !important;
}

.gx0 {
    grid-column-gap: 0 !important;
}

.gy0 {
    grid-row-gap: 0 !important;
}

.g1 {
    grid-column-gap: $spacing !important;
    grid-row-gap: $spacing !important;
}

.gx1 {
    grid-column-gap: $spacing !important;
}

.gy1 {
    grid-row-gap: $spacing !important;
}

.gminus {
    grid-column-gap: 0.125rem !important;
    grid-row-gap: 0.125rem !important;
}

.gxminus {
    grid-column-gap: 0.125rem !important;
}

.gyminus {
    grid-row-gap: 0.125rem !important;
}

.m0 {
    margin: 0;
}

.mx0 {
    margin-left: 0;
    margin-right: 0;
}

.my0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mt0 {
    margin-top: 0;
}

.mr0 {
    margin-right: 0;
}

.mb0 {
    margin-bottom: 0;
}

.ml0 {
    margin-left: 0;
}

.m1 {
    margin: $spacing;
}

.mx1 {
    margin-left: $spacing;
    margin-right: $spacing;
}

.my1 {
    margin-top: $spacing;
    margin-bottom: $spacing;
}

.mt1 {
    margin-top: $spacing;
}

.mr1 {
    margin-right: $spacing;
}

.mb1 {
    margin-bottom: $spacing;
}

.ml1 {
    margin-left: $spacing;
}

.m2 {
    margin: $spacing-2;
}

.mx2 {
    margin-left: $spacing-2;
    margin-right: $spacing-2;
}

.my2 {
    margin-top: $spacing-2;
    margin-bottom: $spacing-2;
}

.mt2 {
    margin-top: $spacing-2;
}

.mr2 {
    margin-right: $spacing-2;
}

.mb2 {
    margin-bottom: $spacing-2;
}

.ml2 {
    margin-left: $spacing-2;
}

.m3 {
    margin: $spacing-3;
}

.mx3 {
    margin-left: $spacing-3;
    margin-right: $spacing-3;
}

.my3 {
    margin-top: $spacing-3;
    margin-bottom: $spacing-3;
}

.mt3 {
    margin-top: $spacing-3;
}

.mr3 {
    margin-right: $spacing-3;
}

.mb3 {
    margin-bottom: $spacing-3;
}

.ml3 {
    margin-left: $spacing-3;
}

.m4 {
    margin: $spacing-4;
}

.mx4 {
    margin-left: $spacing-4;
    margin-right: $spacing-4;
}

.my4 {
    margin-top: $spacing-4;
    margin-bottom: $spacing-4;
}

.mt4 {
    margin-top: $spacing-4;
}

.mr4 {
    margin-right: $spacing-4;
}

.mb4 {
    margin-bottom: $spacing-4;
}

.ml4 {
    margin-left: $spacing-4;
}

.mminus {
    margin: $spacing-minus-1;
}

.mxminus {
    margin-left: $spacing-minus-1;
    margin-right: $spacing-minus-1;
}

.myminus {
    margin-top: $spacing-minus-1;
    margin-bottom: $spacing-minus-1;
}

.mtminus {
    margin-top: $spacing-minus-1;
}

.mrminus {
    margin-right: $spacing-minus-1;
}

.mbminus {
    margin-bottom: $spacing-minus-1;
}

.mlminus {
    margin-left: $spacing-minus-1;
}