$small-width: 40rem;
$mid-width: 52rem;
$large-width: 64rem;
$spacing-factor: 1.62;
@function spacer($count: 1) {
    $result: 1rem;
    @if $count > 0 {
        @for $_ from 1 through $count {
            $result: $result * $spacing-factor;
        }
    }
    @if $count < 0 {
        @for $_ from $count through -1 {
            $result: $result / $spacing-factor;
        }
    }
    @return $result;
}
$spacing: spacer(1);
$spacing-2: spacer(2);
$spacing-3: spacer(3);
$spacing-4: spacer(4);
$spacing-minus-1: spacer(-1);
$spacing-minus-2: spacer(-2);
$spacing-minus-3: spacer(-3);
$spacing-minus-4: spacer(-4);
/**
Naming conventions
    x=x-axis
    y=y-axis
    t=top
    r=right
    b=bottom
    l=left
    0=none
    1=default size
    minus=reduce
    auto=

    g=grid gap
    m=margin
    p=padding
*/
.g-0 {
    grid-column-gap: 0 !important;
    grid-row-gap: 0 !important;
}

.g-x-0 {
    grid-column-gap: 0 !important;
}

.g-y-0 {
    grid-row-gap: 0 !important;
}

.g-1 {
    grid-column-gap: $spacing !important;
    grid-row-gap: $spacing !important;
}

.g-x-01 {
    grid-column-gap: $spacing !important;
}

.g-y-1 {
    grid-row-gap: $spacing !important;
}

.g-minus {
    grid-column-gap: 0.125rem !important;
    grid-row-gap: 0.125rem !important;
}

.g-x-minus {
    grid-column-gap: 0.125rem !important;
}

.g-y-minus {
    grid-row-gap: 0.125rem !important;
}

.m-0 {
    margin: 0 !important;
}

.m-x-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.m-y-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.m-t-0 {
    margin-top: 0 !important;
}

.m-r-0 {
    margin-right: 0 !important;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-l-0 {
    margin-left: 0 !important;
}

.m-1 {
    margin: $spacing !important;
}

.m-x-1 {
    margin-left: $spacing !important;
    margin-right: $spacing !important;
}

.m-y-1 {
    margin-top: $spacing !important;
    margin-bottom: $spacing !important;
}

.m-t-1 {
    margin-top: $spacing !important;
}

.m-r-1 {
    margin-right: $spacing !important;
}

.m-b-1 {
    margin-bottom: $spacing !important;
}

.m-l-1 {
    margin-left: $spacing !important;
}

.m-2 {
    margin: $spacing-2 !important;
}

.m-x-2 {
    margin-left: $spacing-2 !important;
    margin-right: $spacing-2 !important;
}

.m-y-2 {
    margin-top: $spacing-2 !important;
    margin-bottom: $spacing-2 !important;
}

.m-t-2 {
    margin-top: $spacing-2 !important;
}

.m-r-2 {
    margin-right: $spacing-2 !important;
}

.m-b-2 {
    margin-bottom: $spacing-2 !important;
}

.m-l-2 {
    margin-left: $spacing-2 !important;
}

.m-3 {
    margin: $spacing-3 !important;
}

.m-x-3 {
    margin-left: $spacing-3 !important;
    margin-right: $spacing-3 !important;
}

.m-y-3 {
    margin-top: $spacing-3 !important;
    margin-bottom: $spacing-3 !important;
}

.m-t-3 {
    margin-top: $spacing-3 !important;
}

.m-r-3 {
    margin-right: $spacing-3 !important;
}

.m-b-3 {
    margin-bottom: $spacing-3 !important;
}

.m-l-3 {
    margin-left: $spacing-3 !important;
}

.m-4 {
    margin: $spacing-4 !important;
}

.m-x-4 {
    margin-left: $spacing-4 !important;
    margin-right: $spacing-4 !important;
}

.m-y-4 {
    margin-top: $spacing-4 !important;
    margin-bottom: $spacing-4 !important;
}

.m-t-4 {
    margin-top: $spacing-4 !important;
}

.m-r-4 {
    margin-right: $spacing-4 !important;
}

.m-b-4 {
    margin-bottom: $spacing-4 !important;
}

.m-l-4 {
    margin-left: $spacing-4 !important;
}

.m-minus {
    margin: $spacing-minus-1 !important;
}

.m-x-minus {
    margin-left: $spacing-minus-1 !important;
    margin-right: $spacing-minus-1 !important;
}

.m-y-minus {
    margin-top: $spacing-minus-1 !important;
    margin-bottom: $spacing-minus-1 !important;
}

.m-t-minus {
    margin-top: $spacing-minus-1 !important;
}

.m-r-minus {
    margin-right: $spacing-minus-1 !important;
}

.m-b-minus {
    margin-bottom: $spacing-minus-1 !important;
}

.m-l-minus {
    margin-left: $spacing-minus-1 !important;
}

.m-l-auto {
    margin-left: auto !important;
}

.m-r-auto {
    margin-right: auto !important;
}

.m-x-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}