$small-width: 40rem;
$mid-width: 52rem;
$large-width: 64rem;
$spacing-factor: 1.62;
@function spacer($count: 1) {
    @if $count > 0 {
        $result: 1;
        @for $_ from 1 through $count {
            $result: $result * $spacing-factor;
        }
        @return $result;
    }
    @if $count < 0 {
        $result: $spacing-factor;
        @for $_ from $count through 0 {
            $result: $result / $spacing-factor;
        }
        @return $result;
    }
}
$spacing: spacer(1) * 1rem;
$spacing-1: spacer(1) * 1rem;
$spacing-2: spacer(2) * 1rem;
$spacing-3: spacer(3) * 1rem;
$spacing-4: spacer(4) * 1rem;
$spacing-minus: spacer(-1) * 1rem;
$spacing-minus-1: spacer(-1) * 1rem;
$spacing-minus-2: spacer(-2) * 1rem;
$spacing-minus-3: spacer(-3) * 1rem;
$spacing-minus-4: spacer(-4) * 1rem;