$spacing: 1.62rem;
$spacing-minus-1: 1rem;
$content-width: 700px;
$mid-width: 1200px;

html {
    font-size: 1rem;
}

body {
    margin: 0;
    padding: 0;
}

.grid,
.six,
.three {
    max-width: $content-width;
    margin: 0 auto;
}
@supports (display: grid) {
    .columns {
        column-gap: $spacing;
        margin: 0 0 $spacing;
    }

    .grid {
        max-width: unset;
        margin: unset;
        display: grid;
        grid-template-columns: $spacing 1fr 1fr minmax(0, $content-width) 1fr 1fr $spacing;
    }

    .grid {
        > * {
            grid-column: 4 / span 1;
        }

        .breakout-left {
            grid-column: 3 / span 2;
        }

        .breakout-right {
            grid-column: 4 / span 2;
        }

        .breakout {
            grid-column: 3 / span 3;
        }

        .wide {
            grid-column: 2 / span 5;
        }

        .full {
            grid-column: 1 / span 7;
        }

        .columns {
            columns: 2;
        }

        .breakout .columns,
        .breakout.columns,
        .full .columns,
        .full.columns,
        .wide .columns,
        .wide.columns {
            columns: 3;
        }
    }

    .six,
    .three {
        max-width: unset;
        margin: unset;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: $spacing;

        > * {
            grid-column: 1 / span 6;
        }

        .six-1 {
            grid-column: 1 / span 1;
        }

        .six-1-to-2,
        .three-1 {
            grid-column: 1 / span 2;
        }

        .six-1-to-3 {
            grid-column: 1 / span 3;
        }

        .six-1-to-4,
        .three-1-to-2 {
            grid-column: 1 / span 4;
        }

        .six-1-to-5 {
            grid-column: 1 / span 5;
        }

        .six-1-to-6,
        .three-1-to-3 {
            grid-column: 1 / span 6;
        }

        .six-2 {
            grid-column: 2 / span 1;
        }

        .six-2-to-3 {
            grid-column: 2 / span 2;
        }

        .six-2-to-4 {
            grid-column: 2 / span 3;
        }

        .six-2-to-5 {
            grid-column: 2 / span 4;
        }

        .six-2-to-6 {
            grid-column: 2 / span 5;
        }

        .six-3 {
            grid-column: 3 / span 1;
        }

        .six-3-to-4,
        .trhee-2 {
            grid-column: 3 / span 2;
        }

        .six-3-to-5 {
            grid-column: 3 / span 3;
        }

        .six-3-to-6,
        .three-2-to-3 {
            grid-column: 3 / span 4;
        }

        .six-4 {
            grid-column: 4 / span 1;
        }

        .six-4-to-5 {
            grid-column: 4 / span 2;
        }

        .six-4-to-6 {
            grid-column: 4 / span 3;
        }

        .six-5 {
            grid-column: 5 / span 1;
        }

        .six-5-to-6,
        .three-3 {
            grid-column: 5 / span 2;
        }

        .six-6 {
            grid-column: 6 / span 1;
        }
    }
    @media screen and (max-width: $mid-width) {
        .grid {
            .breakout-left {
                grid-column: 4 / span 1;
            }

            .breakout-right {
                grid-column: 4 / span 1;
            }

            .breakout .columns,
            .breakout.columns,
            .columns,
            .full .columns,
            .full.columns,
            .wide .columns,
            .wide.columns {
                columns: 2;
            }
        }
    }
    @media screen and (max-width: $content-width) {
        .grid {
            grid-template-columns: $spacing-minus-1 1fr 1fr minmax(0, $content-width) 1fr 1fr $spacing-minus-1;

            .breakout .columns,
            .breakout.columns,
            .columns,
            .full .columns,
            .full.columns,
            .wide .columns,
            .wide.columns {
                columns: 1;
            }
        }

        .six {
            [class^="six-"] {
                grid-column: 1 / span 6;
            }
        }
    }
}