$spacing: 1.62em;
$spacing--1: 1em;
$palm-width: 400px;
$content-width: 700px;
$mid-width: 1200px;

body {
    margin: 0;
    padding: 0;
}

.columns {
    column-gap: $spacing;
    margin: 0 0 $spacing;
}

.grid {
    display: grid;
    grid-template-columns: $spacing 1fr 1fr minmax(0, $content-width) 1fr 1fr $spacing;
}

.grid {
    > * {
        grid-column: 4 / span 1;
    }

    > .left {
        grid-column: 3 / span 2;
    }

    > .right {
        grid-column: 4 / span 2;
    }

    > .breakout {
        grid-column: 3 / span 3;
    }

    > .wide {
        grid-column: 2 / span 5;
    }

    > .full {
        grid-column: 1 / span 7;
    }

    .columns {
        columns: 2;
    }

    .breakout .columns,
    .breakout.columns,
    .full .columns,
    .full.columns,
    .wide .columns,
    .wide.columns {
        columns: 3;
    }
}

.thirds {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: $spacing;

    > * {
        grid-column: 1 / span 3;
    }

    .third-1 {
        grid-column: 1 / span 1;
    }

    .third-1-2 {
        grid-column: 1 / span 2;
    }

    .third-1-2-3 {
        grid-column: 1 / span 3;
    }

    .third-2 {
        grid-column: 2 / span 1;
    }

    .third-2-3 {
        grid-column: 2 / span 2;
    }

    .third-3 {
        grid-column: 3 / span 1;
    }
}
@media screen and (max-width: $mid-width) {
    .grid {
        .left {
            grid-column: 4 / span 1;
        }

        .right {
            grid-column: 4 / span 1;
        }

        .breakout .columns,
        .breakout.columns,
        .columns,
        .full .columns,
        .full.columns,
        .wide .columns,
        .wide.columns {
            columns: 2;
        }
    }
}
@media screen and (max-width: $content-width) {
    .grid {
        grid-template-columns: $spacing--1 1fr 1fr minmax(0, $content-width) 1fr 1fr $spacing--1;

        .breakout .columns,
        .breakout.columns,
        .columns,
        .full .columns,
        .full.columns,
        .wide .columns,
        .wide.columns {
            columns: 1;
        }
    }

    .thirds {
        .third-1,
        .third-1-2,
        .third-1-2-3,
        .third-2,
        .third-2-3,
        .third-3 {
            grid-column: 1 / span 3;
        }
    }
}
@media screen and (max-width: $palm-width) {}