@import 'base';
@import 'grid';

.small {
    font-size: $small-font-size;
}

.normal {
    font-size: $font-size;
}

.big {
    font-size: $big-font-size;
}

.height-500px {
    height: 500px;
}

.height-400px {
    height: 400px;
}

.height-250px {
    height: 250px;
}

.max-height-500px {
    max-height: 500px;
}

.max-height-400px {
    max-height: 400px;
}

.max-height-250px {
    max-height: 250px;
}

.max-width-one-third {
    max-width: 33%;
}

.max-width-two-thirds {
    max-width: 66%;
}

.cover {
    width: 100%;
    background-size: cover;
    background-position: 50%;
}

.no-margin {
    margin: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.align-left {
    text-align: right;
}

.align-right {
    text-align: right;
}

header {
    background: $text-color;
    color: $background-color;
    padding: $spacing-half 0;

    * {
        text-align: center;

        a {
            color: white;
        }
    }
}

.title {
    text-align: center;
    margin-top: $spacing-3;
}

.title .sub-title {
    text-transform: uppercase;
}

.title .abstract {
    margin-top: $spacing-1;
    font-style: italic;
    text-align: left;
}

.title {
    h1 {
        margin: 0;
    }
}

.title.strong {
    h1 {
        font-size: $spacing-1;
    }
}

.toc {
    ul {
        list-style-type: none;
    }

    li {
        display: inline;
    }

    li:after {
        content: " — ";
    }

    li:last-child:after {
        content: "";
    }
}

.toc-list {
    .item,
    li {
        margin: 0 0 $spacing-1;
        list-style-type: none;

        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: bold;
            font-style: normal;
            margin-right: $spacing-1;
        }

        .meta {
            font-style: italic;
        }
    }
}