$small-width: 28rem;
$regular-width: 36rem;
$mid-width: 52rem;
$large-width: 64rem;

:root {
  --small-width: 28rem;
  --regular-width: 36rem;
  --mid-width: 52rem;
  --large-width: 64rem;
  --sizing: 1rem;
  --sizing-factor: 1.62;
  --sizing-1: calc(var(--sizing-factor) * var(--sizing));
  --sizing-2: calc(var(--sizing-1) * var(--sizing-factor));
  --sizing-3: calc(var(--sizing-2) * var(--sizing-factor));
  --sizing-4: calc(var(--sizing-3) * var(--sizing-factor));
  --sizing-minus-1: calc(var(--sizing) / var(--sizing-factor));
  --sizing-minus-2: calc(var(--sizing-minus-1) / var(--sizing-factor));
  --sizing-minus-3: calc(var(--sizing-minus-2) / var(--sizing-factor));
  --sizing-minus-4: calc(var(--sizing-minus-3) / var(--sizing-factor));
}
