/* basics */

* {
  line-height:1.62em;
}

h2 {
  font-size:1em;
  font-weight:bold;
  margin-top:2.62em;
  margin-bottom:.81em;
}

body {
  margin:0;
  padding:0;
}

img {
  margin:1.62em 0;
  max-width:100%;
}

figcaption {
  margin-top:-1.62em;
  font-style:italic;
}

p {
  margin:1.62em 0;
  padding:0;
}

/* grid */

.grid {
  display:grid;
  grid-template-columns: 1.62em 1fr 1fr minmax(0, 700px) 1fr 1fr 1.62em;
}

.grid * {
  grid-column: 4 / span 1;
}

.grid .left {
  grid-column: 3 / span 2;
}

.grid .right {
  grid-column: 4 / span 2;
}

.grid .breakout {
  grid-column: 3 / span 3;
}

.grid .wide {
  grid-column: 2 / span 5;
}

.grid .full {
  grid-column: 1/ span 7;
}

.thirds {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap:1.62em;
}

.thirds .col-1 {
  grid-column: 1 / span 1;
}

.thirds .col-1-2 {
  grid-column: 1 / span 2;
}

.thirds .col-1-2-3 {
  grid-column: 1 / span 3;
}

.thirds .col-2 {
  grid-column: 2 / span 1;
}

.thirds .col-2-3 {
  grid-column: 2 / span 2;
}

.thirds .col-3 {
  grid-column: 3 / span 1;
}


/* inner structure */

.height-500px {
  height:500px;
}

.height-400px {
  height:400px;
}

.height-250px {
  height:250px;
}

.max-height-500px {
  max-height:500px;
}

.max-height-400px {
  max-height:400px;
}

.max-height-250px {
  max-height:250px;
}

.max-width-one-third {
  max-width:33%;
}

.max-width-two-thirds {
  max-width:66%;
}

.cover {
  width: 100%;
  background-size:cover;
  background-position: 50%;
}

.float-left {
  float:left;
}

.float-right {
  float:right;
}

.align-left {
  text-align:right;
}

.align-right {
  text-align: right;
}



/* media queries */
@media screen and (max-width: 700px) {

  .thirds .col-1, .thirds .col-1-2, .thirds .col-1-2-3, .thirds .col-2, .thirds .col-2-3, .thirds .col-3 {
    grid-column: 1 / span 3;
  }
}


@media screen and (max-width: 1000px) {
  .grid .left {
    grid-column: 4 / span 1;
  }

  .grid .right {
    grid-column: 4 / span 1;
  }

  .grid .breakout {
    grid-column: 4 / span 1;
  }

  .grid .wide {
    grid-column: 2 / span 5;
  }

  .grid .full {
    grid-column: 1/ span 7;
  }
}
