:root {
    --pre-background: transparent;
    --code-background: transparent;
}

.anchor {
    font-size: var(--fs);
    color: var(--neutral);
    text-decoration: none;
    font-weight: normal;
}

@media (--rg) {
    main>figure,  
    pre,  
    main>.title {
        margin-right: calc(-0.5 * (100vw - var(--regular-width)) + var(--space));
        min-width: 100%;
        max-width: 133%;
    }
    main>.scroll-table {
        margin-right: calc(-0.5 * (100vw - var(--regular-width)) + var(--space));
        min-width: 100%;
    }
}