:root {
    --mrt-h2: var(--space-4);
    --mrt-h3: var(--space-3);
    --fs-h1: var(--fs-5);
    --fs-h2: var(--fs-4);
    --fs-h2: var(--fs-3);
    --base-font-size: 17px;
}

p,
td,
th,
ol,
ul,
dl {
    max-width: var(--rg-width);
}

.anchor {
    font-size: var(--fs);
    color: var(--neutral);
    text-decoration: none;
    font-weight: normal;
}

.table-of-contents ol {
    margin-top: 0;
    margin-bottom: 0;
}

.table-of-contents ol a {
    display: inline-block;
}

.table-of-contents ol li::before {
    content: var(--h-counter);
    font-weight: normal;
    font-size: inherit;
}

.table-of-contents ol ol {
    margin: 0;
    font-size: smaller;
}

.table-of-contents ol ol li {
    line-height: var(--lh-1);
    margin: var(--space-d2) 0;
}

.table-of-contents ol ol li::before {
    content: "";
}

.table-of-contents li a {
    text-decoration: none;
}

.sotable caption button,
.sotable th button {}

pre[class^=language] {
    margin-bottom: var(--space-3);
}