:root {
    --mrt-h2: var(--space-4);
    --mrt-h3: var(--space-3);
    --fs-h1: var(--fs-5);
    --fs-h2: var(--fs-4);
    --fs-h2: var(--fs-3);
    --base-font-size: 17px;
}

.anchor {
    font-size: var(--fs);
    color: var(--neutral);
    text-decoration: none;
    font-weight: normal;
}

.table-of-contents ol {
    font-size: smaller;
    margin-top: 0;
    margin-bottom: 0;
}

.table-of-contents ol li::before {
    content: var(--h-counter);
    font-weight: normal;
    font-size: inherit;
}

.table-of-contents ol ol {
    margin: 0;
}

.table-of-contents ol ol li {
    line-height: var(--lh-2);
    margin: var(--space-d3) 0;
}

.table-of-contents ol ol li::before {
    content: "";
}

.table-of-contents li a {
    text-decoration: none;    
}

pre[class^=language] {
    margin-bottom: var(--space-3);
    width: auto;
    margin-right: max(50% - 50vw + var(--bleed-padding), 50% - var(--bleed-width) / 2);
}

@media (--rg) {
    main>.bleed {
        width: min(100vw - 2rem, var(--lg-px));
        margin-left: max(50% - 50vw + 1rem, 50% - var(--lg-px) / 2);
    }
    main>.bleed-left {
        width: unset;
        margin-left: max(50% - 50vw + 1rem, 50% - var(--lg-px) / 2);
    }
    main>.bleed-right,
    main>pre,
    main>figure,
    h1.title {
        width: unset;
        margin-right: max(50% - 50vw + 1rem, 50% - var(--lg-px) / 2);
    }
    main>[class^="bleed"]>img {
        width: 100%;
    }
}

@media(--lg) {
    main>.bleed\:lg {
        width: min(100vw - 2rem, var(--lg-px));
        margin-left: max(50% - 50vw + 1rem, 50% - var(--lg-px) / 2);
    }
    main>.bleed-left\:lg {
        width: unset;
        margin-left: max(50% - 50vw + 1rem, 50% - var(--lg-px) / 2);
    }
    main>.bleed-right\:lg {
        width: unset;
        margin-right: max(50% - 50vw + 1rem, 50% - var(--lg-px) / 2);
    }
}