/* PrismJS 1.26.0
https://prismjs.com/download.html#themes=prism-funky&languages=markup+css+clike+javascript */


/**
 * prism.js Funky theme
 * Based on “Polyfilling the gaps” talk slides http://lea.verou.me/polyfilling-the-gaps/
 * @author Lea Verou
 */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: var(--accent-one-3);
}

.token.punctuation {
    color: var(--neutral-3);
}

.token.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
    color: var(--primary-3);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
    color: var(--accent-four-3);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.token.variable,
.token.inserted {
    color: var(--accent-one-3);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: var(--accent-two-3);
}

.token.regex,
.token.important {
    color: var(--accent-three-3);
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.deleted {
    color: var(--accent-three);
}


/* Plugin styles: Diff Highlight */

pre.diff-highlight.diff-highlight>code .token.deleted:not(.prefix),
pre>code.diff-highlight.diff-highlight .token.deleted:not(.prefix) {
    background-color: rgba(255, 0, 0, .3);
    display: inline;
}

pre.diff-highlight.diff-highlight>code .token.inserted:not(.prefix),
pre>code.diff-highlight.diff-highlight .token.inserted:not(.prefix) {
    background-color: rgba(0, 255, 128, .3);
    display: inline;
}