:root {  
  --base-color: #333;
  --base-background: white;
  --mark-background: yellow;
  --kbd-background: lightgray;
  --link-color: var(--base-color);
  --text-decoration-color: var(--base-color);
  --pre-border-color: gray;
  --code-background: var(--base-background);
  --code-color: var(--base-color);
  color: var(--base-color);
}

.white {
  color: white;
}

.black {
  color: black;
}

.base-background {
  color: var(--base-background);
}

.base-color {
  color: var(--base-color);
}

/* Background */

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.bg-base-background {
  background-color: var(--base-background);
}

.bg-base-color {
  background-color: var(--base-color);
}

/* Border Colors */

.br-white {
  border-color: white;
}

.br-black {
  border-color: black;
}

.br-base-background {
  border-color: var(--base-background);
}

.br-base-color {
  border-color: var(--base-color);
}