:root {
  --font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
  --font-weight-bold: 600;
  --font-weight-normal: 400;

  --headline-font-family: var(--font-family);
  --headline-font-weight: 600;
  --headline-letter-spacing: 0.025em;
  --headline-text-transform: uppercase;

  --mono-font-family: monospace;

  --code-font-family: monospace;

  --link-text-decoration: underline;
  --text-underline-offset: 0.25em;
  --text-decoration-thickness: 0.035em;
  --font-variant-numeric: normal;

  --mrt-h1: var(--space-1);
  --mrb-h1: var(--space);

  --mrt-h2: var(--space-2);
  --mrb-h2: var(--space);

  --mrt-h3: var(--space-2);
  --mrb-h3: var(--space);

  --mrt-h4: var(--space-2);
  --mrb-h4: var(--space);

  --mrt-h5: var(--space-2);
  --mrb-h5: var(--space);

  --mrt-h6: var(--space-2);
  --mrb-h6: var(--space);

  --mrt-blockquote: var(--space);
  --mrb-blockquote: var(--space);

  --mrt-list: var(--space);
  --mrb-list: var(--space);

  --mrt-figure: var(--space);
  --mrb-figure: var(--space);
  --mrt-figcaption: var(--space-d1);
  --mrb-figcaption: 0;

  --mrt-pre: var(--space);
  --mrb-pre: var(--space);

  --list-item-type: "– ";

  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  text-underline-offset: var(--text-underline-offset);
  text-decoration-thickness: var(--text-decoration-thickness);
  font-variant-numeric: var(--font-variant-numeric);
}

* {
  outline: none;
}

.font-family-inherit {
  font-family: inherit;
}

.font-size-inherit {
  font-size: inherit;
}

.bold,
b,
.b,
strong,
.strong {
  font-weight: var(--font-weight-bold, bold);
}

.normal,
.fw-default {
  font-weight: normal;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 400;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}


.italic,
i,
.i,
cite,
.cite,
em,
.em {
  font-style: italic;
}

small,
.small {
  font-size: var(--fs-d1);
}

.caps {
  text-transform: uppercase;
}

.no-lsp,
.lsp-0 {
  letter-spacing: none;
}

.lsp-1 {
  letter-spacing: 0.05em;
}

.lsp-2,
.lsp {
  letter-spacing: 0.1em;
}

.lsp-3 {
  letter-spacing: 0.15em;
}

.lsp-4 {
  letter-spacing: 0.2em;
}

.underline,
u {
  text-decoration: underline;
}

.ft-num-normal {
  font-variant-numeric: normal;
}

.ft-num-ordinal {
  font-feature-settings: ordn;
  font-variant-numeric: ordinal;
}

.ft-num-zero {
  font-feature-settings: zero;
  font-variant-numeric: slashed-zero;
}

.ft-num-onum {
  font-feature-settings: onum;
  font-variant-numeric: oldstyle-nums;
}

.ft-num-lnum {
  font-feature-settings: lnum;
  font-variant-numeric: lining-nums;
}

.ft-num-tab {
  font-feature-settings: tnum;
  font-variant-numeric: tabular-nums;
}

.no-wrap {
  white-space: nowrap;
}

.no-deco {
  text-decoration: none;
}

.break-word {
  word-wrap: break-word;
}

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

s,
.s,
.strike,
del,
.del {
  text-decoration: line-through;
}

sub,
sup,
.sub,
.sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub,
.sub {
  bottom: -0.25em;
}

sup,
.sup {
  top: -0.5em;
}

mark,
.mark {
  background: var(--mark-background);
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

kbd,
.kbd {
  background: var(--kbd-background);
  border-radius: var(--space-d4);
  border: 1px solid var(--base-color);
  padding: 0.1em;
  font-family: var(--mono-font-family);
  white-space: nowrap;
}


.mono {
  font-family: var(--mono-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: var(--headline-text-transform);
  letter-spacing: var(--headline-letter-spacing);
  font-weight: var(--headline-font-weight);
  font-family: var(--headline-font-family);
}

h1,
h1.no-indent {
  font-size: var(--fs-h1);
  line-height: var(--lh-h1);
  margin-top: var(--mrt-h1);
  margin-bottom: var(--mrb-h1);
  padding-left: 0;
}

h2,
h2.no-indent {
  font-size: var(--fs-h2);
  line-height: var(--lh-h2);
  margin-top: var(--mrt-h2);
  margin-bottom: var(--mrb-h2);
  padding-left: 0;
}

h3,
h3.no-indent {
  font-size: var(--fs-h3);
  line-height: var(--lh-h3);
  margin-top: var(--mrt-h3);
  margin-bottom: var(--mrb-h3);
  padding-left: 0;
}

h4,
h4.no-indent {
  font-size: var(--fs-h4);
  line-height: var(--lh-h4);
  margin-top: var(--mrt-h4);
  margin-bottom: var(--mrb-h4);
  padding-left: 0;
}

h5,
h5.no-indent {
  font-size: var(--fs-h5);
  line-height: var(--lh-h5);

  margin-top: var(--mrt-h5);
  margin-bottom: var(--mrb-h5);
}

h6,
h6.no-indent {
  font-size: var(--fs-h6);
  line-height: var(--lh-h6);

  margin-top: var(--mrt-h6);
  margin-bottom: var(--mrb-h6);
}

.indent h2,
h2.indent,
.indent h3,
h3.indent,
.indent h4,
h4.indent,
.indent h5,
h5.indent .indent h6,
h6.indent {
  padding-left: var(--space-2);
}

dl {
  margin-top: var(--mrt-list);
  margin-bottom: var(--mrb-list);
}

dd {
  margin-left: var(--space-2);  
}

dd+dt {
  margin-top: var(--mrt-list);
}

ul {
  list-style: none;
}

ol {
  list-style: none;
  counter-reset: styled-number;
}

ol,
ul {
  padding-left: var(--space-2);
  margin-top: var(--mrt-list);
  margin-bottom: var(--mrb-list);
}

li {
  margin-top: 0;
  margin-bottom: 0;
}

li p {
  display: inline;
}



ol li {
  counter-increment: styled-number;
}

ol li::before {
  content: counter(styled-number) ". ";
  margin-left: calc(var(--space-2) * -1);
  min-width: var(--space-2);
  display: inline-block;
}

ul li::before {
  content: var(--list-item-type);
  margin-left: calc(var(--space-2) * -1);
  min-width: var(--space-2);
  display: inline-block;
}

.indent ol,
.indent ul,
ol.indent,
ul.indent {
  padding-left: 0;
}

.indent ol ol,
ol.indent ol,
.indent ul ol,
ul.indent ol,
.indent ol ul,
ol.indent ul,
.indent ul ul,
ul.indent ul {
  padding-left: var(--space-2);
}

.indent li::before {
  margin-left: unset;
}

ul.no-list-type li::before {
  content: unset;
}

ul.reset {
  padding-left: 0;
}

ul.reset li:before {
  content: unset;
  margin-left: unset;
  min-width: unset;
  display: unset;
}

p {
  margin-top: 0;
  margin-bottom: var(--space);
}

.indent p {
  margin-bottom: 0;
  text-indent: var(--space-2);
}


p.indent {
  margin-bottom: 0;
  text-indent: var(--space-2);
}

.no-indent p,
p.no-indent {
  text-indent: 0;
  margin-bottom: var(--space);
}

.quote:before {
  content: '“';
}

.quote:after {
  content: '”';
}

.code,
code,
pre {
  font-family: var(--code-font-family);
}

pre {
  margin-top: var(--mrt-pre);
  margin-bottom: var(--mrb-pre);
  padding-top: var(--space-d2);
  padding-bottom: var(--space-d2);
  border-top: var(--border-width-default) dotted var(--neutral);
  border-bottom: var(--border-width-default) dotted var(--neutral);
  overflow: auto;
}

.tag {
  white-space: nowrap;
  padding: var(--space-d4);
  border-radius: var(--space-d4);
  display: inline-block;
  line-height: 1em;
}

a {
  color: unset;
  text-decoration-color: unset;
  text-decoration: var(--link-text-decoration);
  cursor: pointer;
}

blockquote {
  margin-top: var(--mrt-blockquote);
  margin-bottom: var(--mrb-blockquote);
  margin-left: 0;
  margin-right: 0;
  padding-left: var(--space-2);
}

blockquote p,
.indent blockquote p {
  margin: 0;
  text-indent: 0;
}

blockquote p+p {
  text-indent: var(--space-2);
}

figure {
  margin-top: var(--mrt-figure);
  margin-bottom: var(--mrb-figure);
  margin-left: 0;
  margin-right: 0;
}

figcaption {
  margin-top: var(--mrt-figcaption);
  margin-bottom: var(--mrb-figcaption);
  font-style: normal;
  font-size: small;
}

figure blockquote {
  margin-top: 0;
  margin-bottom: 0;
}

hr {
  border: 0;
  text-align: center;
  margin-top: var(--space-1);
  margin-bottom: var(--space-1);
}

hr:after {
  content: "–    –    –";
  white-space: pre;
}