:root {
  --border-width-sm: 1px;
  --border-width-default: var(--border-width-sm);

  --border-radius--2: calc(var(--space) / 4);
  --border-radius--1: calc(var(--space) / 2);
  --border-radius: var(--space);

  --border-radius-default: var(--border-radius--2);

  border-color: var(--base-color);
}

.br {
  border-style: solid;
  border-width: var(--border-width-default);
}

.brx {
  border-left-style: solid;
  border-left-width: var(--border-width-default);
  border-right-style: solid;
  border-right-width: var(--border-width-default);
  border-top-width: 0;
  border-bottom-width: 0;
}

.bry {
  border-top-style: solid;
  border-top-width: var(--border-width-default);
  border-bottom-style: solid;
  border-bottom-width: var(--border-width-default);
  border-left-width: 0;
  border-right-width: 0;
}

.brt {
  border-top-style: solid;
  border-top-width: var(--border-width-default);
}

.brr {
  border-right-style: solid;
  border-right-width: var(--border-width-default);
}

.brb {
  border-bottom-style: solid;
  border-bottom-width: var(--border-width-default);
}

.brl {
  border-left-style: solid;
  border-left-width: var(--border-width-default);
}

.br-0 {
  border-style: none;
  border-width: 0;
}

.br-dotted {
  border-style: dotted;
}

.br-dashed {
  border-style: dashed;
}

.br-solid {
  border-style: solid;
}

.brw-0 {
  border-width: 0;
}

.brw-sm {
  border-width: var(--border-width-sm);
}

.brw--4, .brw-default {
  border-width: var(--space--4);
}

.brw--3 {
  border-width: var(--space--3);
}

.brw--2 {
  border-width: var(--space--2);
}

.brw--1 {
  border-width: var(--space--1);
}

.brw {
  border-width: var(--space);
}


.no-br-radius, .br-radius-0 {
  border-radius: none;
}

.br-radius--2, .rounded {
  border-radius: var(--border-radius--2);
}

.br-radius--1 {
  border-radius: var(--border-radius--1);
}

.br-radius {
  border-radius: var(--border-radius);
}

.br-radius-pill {
  border-radius: 9999px;
}

.br-radius-100 {
  border-radius: 100%;
}

.br-radius-t {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.br-radius-r {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.br-radius-b {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.br-radius-l {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

