:root {
    --border-width: 1px;
    --rounded: var(--space-d3);
    --border-style: solid;
    --border: var(--border-width) var(--border-style) var(--border-color);
    border-color: var(--border-color);
}

.br {
    border-style: var(--border-style);
    border-width: var(--border-width);
    border-color: var(--border-color);
}

.brx {
    border-left-style: var(--border-style);
    border-left-width: var(--border-width);
    border-left-color: var(--border-color);
    border-right-style: var(--border-style);
    border-right-width: var(--border-width);
    border-right-color: var(--border-color);
    border-top-width: 0;
    border-bottom-width: 0;
}

.bry {
    border-top-style: var(--border-style);
    border-top-width: var(--border-width);
    border-top-color: var(--border-color);
    border-bottom-style: var(--border-style);
    border-bottom-width: var(--border-width);
    border-bottom-color: var(--border-color);
    border-left-width: 0;
    border-right-width: 0;
}

.brt {
    border-top-style: var(--border-style);
    border-top-width: var(--border-width);
    border-top-color: var(--border-color);
}

.brr {
    border-right-style: var(--border-style);
    border-right-width: var(--border-width);
    border-right-color: var(--border-color);
}

.brb {
    border-bottom-style: var(--border-style);
    border-bottom-width: var(--border-width);
    border-bottom-color: var(--border-color);
}

.brl {
    border-left-style: var(--border-style);
    border-left-width: var(--border-width);
    border-left-color: var(--border-color);
}

.br-0,
.no-br {
    border-style: none;
    border-width: 0;
}

.dotted {
    border-style: dotted;
}

.dashed {
    border-style: dashed;
}

.solid {
    border-style: solid;
}

.brw-0 {
    border-width: 0;
}

.brw-d5,
.brw-default {
    border-width: var(--space-d5);
}

.brw-d4 {
    border-width: var(--space-d4);
}

.brw-d3 {
    border-width: var(--space-d3);
}

.brw-d2 {
    border-width: var(--space-d2);
}

.brw-d1 {
    border-width: var(--space-d1);
}

.brw {
    border-width: var(--space);
}

.no-radius,
.radius-0 {
    border-radius: none;
}

.radius-d3,
.rounded {
    border-radius: var(--rounded);
}

.radius-d2 {
    border-radius: var(--space-d2);
}

.radius-d1 {
    border-radius: var(--space-d1);
}

.radius {
    border-radius: var(--space);
}

.radius-pill {
    border-radius: 9999px;
}

.radius-100 {
    border-radius: 100%;
}

.radius-t {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.radius-tl {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.radius-tr {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.radius-r {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.radius-b {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.radius-bl {
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.radius-br {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.radius-l {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}