/* https://www.freecodecamp.org/news/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862/ */

:root {
    --sm-breakpoint: 400px;
    --rg-breakpoint: 600px;
    --md-breakpoint: 900px;
    --lg-breakpoint: 1200px;
}

@custom-media --mx-sm-bp (max-width: 400px);
@custom-media --mx-rg-bp (max-width: 600px);
@custom-media --mx-md-bp (max-width: 900px);
@custom-media --mx-lg-bp (max-width: 1200px);
@custom-media --mi-sm-bp (min-width: 401px);
@custom-media --mi-rg-bp (min-width: 601px);
@custom-media --mi-md-bp (min-width: 901px);
@custom-media --mi-lg-bp (min-width: 1201px);
@custom-media --touch-device screen and (hover: none) and (pointer: coarse);