:root {
    /*smaller dn-spread number makes darker colors*/
    --color-dn-spread: 7;
    /*smaller up-spread number makes lighter colors*/
    --color-up-spread: 6;

    --neutral-h: 0;
    --neutral-s: 0%;
    --neutral-l: 53%;
    --primary-h: 198;
    --primary-s: 100%;
    --primary-l: 33.3%;
    --accent-one-h: 80;
    --accent-one-s: 100%;
    --accent-one-l: 30%;
    --accent-two-h: 326.7;
    --accent-two-s: 100%;
    --accent-two-l: 30%;
    --accent-three-h: 356;
    --accent-three-s: 83%;
    --accent-three-l: 41%;
    --accent-four-h: 32;
    --accent-four-s: 100%;
    --accent-four-l: 49%;
    --accent-five-h: 43;
    --accent-five-s: 100%;
    --accent-five-l: 51%;
    --neutral-up-step: calc((100% - var(--neutral-l)) / var(--color-up-spread));
    --neutral-dn-step: calc(var(--neutral-l) / var(--color-dn-spread));
    --neutral-d5: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) - 5 * var(--neutral-dn-step)));
    --neutral-d4: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) - 4 * var(--neutral-dn-step)));
    --neutral-d3: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) - 3 * var(--neutral-dn-step)));
    --neutral-d2: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) - 2 * var(--neutral-dn-step)));
    --neutral-d1: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) - var(--neutral-dn-step)));
    --neutral: hsl(var(--neutral-h), var(--neutral-s), var(--neutral-l));
    --neutral-1: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) + var(--neutral-up-step)));
    --neutral-2: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) + 2 * var(--neutral-up-step)));
    --neutral-3: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) + 3 * var(--neutral-up-step)));
    --neutral-4: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) + 4 * var(--neutral-up-step)));
    --neutral-5: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) + 5 * var(--neutral-up-step)));
    --primary-up-step: calc((100% - var(--primary-l)) / var(--color-up-spread));
    --primary-dn-step: calc(var(--primary-l) / var(--color-dn-spread));
    --primary-d5: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - 5 * var(--primary-dn-step)));
    --primary-d4: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - 4 * var(--primary-dn-step)));
    --primary-d3: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - 3 * var(--primary-dn-step)));
    --primary-d2: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - 2 * var(--primary-dn-step)));
    --primary-d1: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - var(--primary-dn-step)));
    --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
    --primary-1: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + var(--primary-up-step)));
    --primary-2: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + 2 * var(--primary-up-step)));
    --primary-3: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + 3 * var(--primary-up-step)));
    --primary-4: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + 4 * var(--primary-up-step)));
    --primary-5: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + 5 * var(--primary-up-step)));
    --accent-one-up-step: calc((100% - var(--accent-one-l)) / var(--color-up-spread));
    --accent-one-dn-step: calc(var(--accent-one-l) / var(--color-dn-spread));
    --accent-one-d5: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) - 5 * var(--accent-one-dn-step)));
    --accent-one-d4: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) - 4 * var(--accent-one-dn-step)));
    --accent-one-d3: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) - 3 * var(--accent-one-dn-step)));
    --accent-one-d2: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) - 2 * var(--accent-one-dn-step)));
    --accent-one-d1: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) - var(--accent-one-dn-step)));
    --accent-one: hsl(var(--accent-one-h), var(--accent-one-s), var(--accent-one-l));
    --accent-one-1: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) + var(--accent-one-up-step)));
    --accent-one-2: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) + 2 * var(--accent-one-up-step)));
    --accent-one-3: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) + 3 * var(--accent-one-up-step)));
    --accent-one-4: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) + 4 * var(--accent-one-up-step)));
    --accent-one-5: hsl(var(--accent-one-h), var(--accent-one-s), calc(var(--accent-one-l) + 5 * var(--accent-one-up-step)));
    --accent-two-up-step: calc((100% - var(--accent-two-l)) / var(--color-up-spread));
    --accent-two-dn-step: calc(var(--accent-two-l) / var(--color-dn-spread));
    --accent-two-d5: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) - 5 * var(--accent-two-dn-step)));
    --accent-two-d4: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) - 4 * var(--accent-two-dn-step)));
    --accent-two-d3: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) - 3 * var(--accent-two-dn-step)));
    --accent-two-d2: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) - 2 * var(--accent-two-dn-step)));
    --accent-two-d1: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) - var(--accent-two-dn-step)));
    --accent-two: hsl(var(--accent-two-h), var(--accent-two-s), var(--accent-two-l));
    --accent-two-1: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) + var(--accent-two-up-step)));
    --accent-two-2: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) + 2 * var(--accent-two-up-step)));
    --accent-two-3: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) + 3 * var(--accent-two-up-step)));
    --accent-two-4: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) + 4 * var(--accent-two-up-step)));
    --accent-two-5: hsl(var(--accent-two-h), var(--accent-two-s), calc(var(--accent-two-l) + 5 * var(--accent-two-up-step)));
    --accent-three-up-step: calc((100% - var(--accent-three-l)) / var(--color-up-spread));
    --accent-three-dn-step: calc(var(--accent-three-l) / var(--color-dn-spread));
    --accent-three-d5: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) - 5 * var(--accent-three-dn-step)));
    --accent-three-d4: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) - 4 * var(--accent-three-dn-step)));
    --accent-three-d3: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) - 3 * var(--accent-three-dn-step)));
    --accent-three-d2: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) - 2 * var(--accent-three-dn-step)));
    --accent-three-d1: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) - var(--accent-three-dn-step)));
    --accent-three: hsl(var(--accent-three-h), var(--accent-three-s), var(--accent-three-l));
    --accent-three-1: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) + var(--accent-three-up-step)));
    --accent-three-2: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) + 2 * var(--accent-three-up-step)));
    --accent-three-3: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) + 3 * var(--accent-three-up-step)));
    --accent-three-4: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) + 4 * var(--accent-three-up-step)));
    --accent-three-5: hsl(var(--accent-three-h), var(--accent-three-s), calc(var(--accent-three-l) + 5 * var(--accent-three-up-step)));
    --accent-four-up-step: calc((100% - var(--accent-four-l)) / var(--color-up-spread));
    --accent-four-dn-step: calc(var(--accent-four-l) / var(--color-dn-spread));
    --accent-four-d5: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-four-l) - 5 * var(--accent-four-dn-step)));
    --accent-four-d4: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-four-l) - 4 * var(--accent-four-dn-step)));
    --accent-four-d3: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-four-l) - 3 * var(--accent-four-dn-step)));
    --accent-four-d2: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-four-l) - 2 * var(--accent-four-dn-step)));
    --accent-four-d1: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-four-l) - var(--accent-four-dn-step)));
    --accent-four: hsl(var(--accent-four-h), var(--accent-four-s), var(--accent-four-l));
    --accent-four-1: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-four-l) + var(--accent-four-up-step)));
    --accent-four-2: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-four-l) + 2 * var(--accent-four-up-step)));
    --accent-four-3: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-four-l) + 3 * var(--accent-four-up-step)));
    --accent-four-4: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-four-l) + 4 * var(--accent-four-up-step)));
    --accent-four-5: hsl(var(--accent-four-h), var(--accent-four-s), calc(var(--accent-three-l) + 5 * var(--accent-three-up-step)));
    --accent-five-up-step: calc((100% - var(--accent-five-l)) / var(--color-up-spread));
    --accent-five-dn-step: calc(var(--accent-five-l) / var(--color-dn-spread));
    --accent-five-d5: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-five-l) - 5 * var(--accent-five-dn-step)));
    --accent-five-d4: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-five-l) - 4 * var(--accent-five-dn-step)));
    --accent-five-d3: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-five-l) - 3 * var(--accent-five-dn-step)));
    --accent-five-d2: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-five-l) - 2 * var(--accent-five-dn-step)));
    --accent-five-d1: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-five-l) - var(--accent-five-dn-step)));
    --accent-five: hsl(var(--accent-five-h), var(--accent-five-s), var(--accent-five-l));
    --accent-five-1: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-five-l) + var(--accent-five-up-step)));
    --accent-five-2: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-five-l) + 2 * var(--accent-five-up-step)));
    --accent-five-3: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-five-l) + 3 * var(--accent-five-up-step)));
    --accent-five-4: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-five-l) + 4 * var(--accent-five-up-step)));
    --accent-five-5: hsl(var(--accent-five-h), var(--accent-five-s), calc(var(--accent-three-l) + 5 * var(--accent-three-up-step)));

    --base-color: var(--neutral-d5);
    --base-background: white;

    --mark-background: yellow;
    --mark-color: var(--neutral-d5);

    --mark-background: yellow;
    --mark-color: var(--neutral-d5);

    --inserted-background: greenyellow;
    --inserted-color: var(--neutral-d5);

    --deleted-background: lightsalmon;
    --deleted-color: var(--neutral-d5);

    --selection-background: var(--primary-5);
    --selection-color: var(--base-color);


    --border-color: var(--base-color);
    --link-color: inherit;
    --link-hover-color: var(--primary);
    --link-focus-color: var(--link-hover-color);
    --link-active-color: var(--link-hover-color);
    --outline-color: var(--primary);
    --heading-color: var(--base-color);
    --meta-color: var(--neutral-d1);
    --description-color: var(--meta-color);
    --error-color: crimson;
    --li-prefix-color: currentColor;
    --ul-li-prefix-color: var(--li-prefix-color);
    --ol-li-prefix-color: var(--li-prefix-color);
    --heading-outline-color: var(--ol-li-prefix-color);
    --form-label-color: var(--base-color);
    --form-field-color: var(--base-color);
    --form-field-border-color: var(--border-color);
    --caret-color: var(--primary-d1);
    --form-button-background: var(--primary);
    --form-button-active-brightness: 1.15;
    --form-button-hover-brightness: var(--form-button-active-brightness);
    --form-button-focus-brightness: 1;
    --form-button-disabled-opacity: .6;
    --form-button-color: white;
    --form-field-background: var(--neutral-5);
    --form-field-focus-color: var(--primary);
    --kbd-background: transparent;
    --kbd-color: var(--base-color);
    --kbd-border-color: var(--border-color);
    --timeline-color: var(--li-prefix-color);
    --timeline-blub-color: var(--timeline-color);
    --timeline-blub-background: var(--base-background);
    --code-background: var(--neutral-5);
    --code-color: var(--base-color);
    --pre-background: transparent;
    --pre-color: var(--base-color);
    --pre-code-color: var(--neutral-5);
    --pre-code-background: var(--neutral-d5);
    --blockquote-background: transparent;
    --table-alternate-row-background: var(--neutral-5);
    --table-alternate-col-background: var(--neutral-5);
    --table-hover-row-background: var(--primary-5);
    --table-underline-row-color: var(--border-color);
    --table-head-background: var(--base-background);

    --img-filter: ;
}