@media (--mi-xs-breakpoint) {
    .xs\:flex,
    .xs\:flex-row {
        display: flex;
        flex-direction: row;
    }
    .xs\:flex-row-reverse {
        display: flex;
        flex-direction: row-reverse;
    }
    .xs\:flex-column {
        display: flex;
        flex-direction: column;
    }
    .xs\:flex-column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
    .xs\:flex-nowrap {
        display: flex;
        flex-wrap: nowrap;
    }
    .xs\:flex-wrap {
        display: flex;
        flex-wrap: wrap;
    }
    .xs\:flex-wrap-reverse {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .xs\:justify-start {
        justify-content: start;
    }
    .xs\:justify-end {
        justify-content: end;
    }
    .xs\:justify-center {
        justify-content: center;
    }
    .xs\:justify-space-between {
        justify-content: space-between;
    }
    .xs\:justify-space-around {
        justify-content: space-around;
    }
    .xs\:justify-space-evenly {
        justify-content: space-evenly
    }
    .xs\:align-auto {
        align-items: auto;
    }
    .xs\:align-start {
        align-items: start;
    }
    .xs\:align-end {
        align-items: end;
    }
    .xs\:align-center {
        align-items: center;
    }
    .xs\:align-stretch {
        align-items: stretch;
    }
    .xs\:align-baseline {
        align-items: baseline;
    }
    .xs\:align-self-auto {
        align-self: auto;
    }
    .xs\:align-self-start {
        align-self: start;
    }
    .xs\:align-self-end {
        align-self: end;
    }
    .xs\:align-self-center {
        align-self: center;
    }
    .xs\:align-self-stretch {
        align-self: stretch;
    }
    .xs\:align-self-baseline {
        align-self: baseline;
    }
    .xs\:order-0 {
        order: 0;
    }
    .xs\:order-1 {
        order: 1;
    }
    .xs\:order-2 {
        order: 2;
    }
    .xs\:order-3 {
        order: 3;
    }
    .xs\:order-4 {
        order: 4;
    }
    .xs\:order-5 {
        order: 5;
    }
    .xs\:order-6 {
        order: 6;
    }
    .xs\:order-7 {
        order: 7;
    }
    .xs\:order-8 {
        order: 8;
    }
    .xs\:order-9 {
        order: 9;
    }
    .xs\:order-d1 {
        order: -1;
    }
    .xs\:order-d2 {
        order: -2;
    }
    .xs\:order-d3 {
        order: -3;
    }
    .xs\:order-d4 {
        order: -4;
    }
    .xs\:order-d5 {
        order: -5;
    }
    .xs\:order-d6 {
        order: -6;
    }
    .xs\:order-d7 {
        order: -7;
    }
    .xs\:order-d8 {
        order: -8;
    }
    .xs\:order-d9 {
        order: -9;
    }
    .xs\:flex-grow-0 {
        flex-grow: 0;
    }
    .xs\:flex-grow-1 {
        flex-grow: 1;
    }
    .xs\:flex-grow-2 {
        flex-grow: 2;
    }
    .xs\:flex-grow-3 {
        flex-grow: 3;
    }
    .xs\:flex-grow-4 {
        flex-grow: 4;
    }
    .xs\:flex-shrink-0 {
        flex-shrink: 0;
    }
    .xs\:flex-shrink-1 {
        flex-shrink: 1;
    }
    .xs\:flex-shrink-2 {
        flex-shrink: 2;
    }
    .xs\:lex-shrink-3 {
        flex-shrink: 3;
    }
    .xs\:flex-shrink-4 {
        flex-shrink: 4;
    }
}

@media (--mi-sm-breakpoint) {
    .sm\:flex,
    .sm\:flex-row {
        display: flex;
        flex-direction: row;
    }
    .sm\:flex-row-reverse {
        display: flex;
        flex-direction: row-reverse;
    }
    .sm\:flex-column {
        display: flex;
        flex-direction: column;
    }
    .sm\:flex-column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
    .sm\:flex-nowrap {
        display: flex;
        flex-wrap: nowrap;
    }
    .sm\:flex-wrap {
        display: flex;
        flex-wrap: wrap;
    }
    .sm\:flex-wrap-reverse {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .sm\:justify-start {
        justify-content: start;
    }
    .sm\:justify-end {
        justify-content: end;
    }
    .sm\:justify-center {
        justify-content: center;
    }
    .sm\:justify-space-between {
        justify-content: space-between;
    }
    .sm\:justify-space-around {
        justify-content: space-around;
    }
    .sm\:justify-space-evenly {
        justify-content: space-evenly
    }
    .sm\:align-auto {
        align-items: auto;
    }
    .sm\:align-start {
        align-items: start;
    }
    .sm\:align-end {
        align-items: end;
    }
    .sm\:align-center {
        align-items: center;
    }
    .sm\:align-stretch {
        align-items: stretch;
    }
    .sm\:align-baseline {
        align-items: baseline;
    }
    .sm\:align-self-auto {
        align-self: auto;
    }
    .sm\:align-self-start {
        align-self: start;
    }
    .sm\:align-self-end {
        align-self: end;
    }
    .sm\:align-self-center {
        align-self: center;
    }
    .sm\:align-self-stretch {
        align-self: stretch;
    }
    .sm\:align-self-baseline {
        align-self: baseline;
    }
    .sm\:order-0 {
        order: 0;
    }
    .sm\:order-1 {
        order: 1;
    }
    .sm\:order-2 {
        order: 2;
    }
    .sm\:order-3 {
        order: 3;
    }
    .sm\:order-4 {
        order: 4;
    }
    .sm\:order-5 {
        order: 5;
    }
    .sm\:order-6 {
        order: 6;
    }
    .sm\:order-7 {
        order: 7;
    }
    .sm\:order-8 {
        order: 8;
    }
    .sm\:order-9 {
        order: 9;
    }
    .sm\:order-d1 {
        order: -1;
    }
    .sm\:order-d2 {
        order: -2;
    }
    .sm\:order-d3 {
        order: -3;
    }
    .sm\:order-d4 {
        order: -4;
    }
    .sm\:order-d5 {
        order: -5;
    }
    .sm\:order-d6 {
        order: -6;
    }
    .sm\:order-d7 {
        order: -7;
    }
    .sm\:order-d8 {
        order: -8;
    }
    .sm\:order-d9 {
        order: -9;
    }
    .sm\:flex-grow-0 {
        flex-grow: 0;
    }
    .sm\:flex-grow-1 {
        flex-grow: 1;
    }
    .sm\:flex-grow-2 {
        flex-grow: 2;
    }
    .sm\:flex-grow-3 {
        flex-grow: 3;
    }
    .sm\:flex-grow-4 {
        flex-grow: 4;
    }
    .sm\:flex-shrink-0 {
        flex-shrink: 0;
    }
    .sm\:flex-shrink-1 {
        flex-shrink: 1;
    }
    .sm\:flex-shrink-2 {
        flex-shrink: 2;
    }
    .sm\:lex-shrink-3 {
        flex-shrink: 3;
    }
    .sm\:flex-shrink-4 {
        flex-shrink: 4;
    }
}

@media (--mi-rg-breakpoint) {
    .rg\:flex,
    .rg\:flex-row {
        display: flex;
        flex-direction: row;
    }
    .rg\:flex-row-reverse {
        display: flex;
        flex-direction: row-reverse;
    }
    .rg\:flex-column {
        display: flex;
        flex-direction: column;
    }
    .rg\:flex-column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
    .rg\:flex-nowrap {
        display: flex;
        flex-wrap: nowrap;
    }
    .rg\:flex-wrap {
        display: flex;
        flex-wrap: wrap;
    }
    .rg\:flex-wrap-reverse {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .rg\:justify-start {
        justify-content: start;
    }
    .rg\:justify-end {
        justify-content: end;
    }
    .rg\:justify-center {
        justify-content: center;
    }
    .rg\:justify-space-between {
        justify-content: space-between;
    }
    .rg\:justify-space-around {
        justify-content: space-around;
    }
    .rg\:justify-space-evenly {
        justify-content: space-evenly
    }
    .rg\:align-auto {
        align-items: auto;
    }
    .rg\:align-start {
        align-items: start;
    }
    .rg\:align-end {
        align-items: end;
    }
    .rg\:align-center {
        align-items: center;
    }
    .rg\:align-stretch {
        align-items: stretch;
    }
    .rg\:align-baseline {
        align-items: baseline;
    }
    .rg\:align-self-auto {
        align-self: auto;
    }
    .rg\:align-self-start {
        align-self: start;
    }
    .rg\:align-self-end {
        align-self: end;
    }
    .rg\:align-self-center {
        align-self: center;
    }
    .rg\:align-self-stretch {
        align-self: stretch;
    }
    .rg\:align-self-baseline {
        align-self: baseline;
    }
    .rg\:order-0 {
        order: 0;
    }
    .rg\:order-1 {
        order: 1;
    }
    .rg\:order-2 {
        order: 2;
    }
    .rg\:order-3 {
        order: 3;
    }
    .rg\:order-4 {
        order: 4;
    }
    .rg\:order-5 {
        order: 5;
    }
    .rg\:order-6 {
        order: 6;
    }
    .rg\:order-7 {
        order: 7;
    }
    .rg\:order-8 {
        order: 8;
    }
    .rg\:order-9 {
        order: 9;
    }
    .rg\:order-d1 {
        order: -1;
    }
    .rg\:order-d2 {
        order: -2;
    }
    .rg\:order-d3 {
        order: -3;
    }
    .rg\:order-d4 {
        order: -4;
    }
    .rg\:order-d5 {
        order: -5;
    }
    .rg\:order-d6 {
        order: -6;
    }
    .rg\:order-d7 {
        order: -7;
    }
    .rg\:order-d8 {
        order: -8;
    }
    .rg\:order-d9 {
        order: -9;
    }
    .rg\:flex-grow-0 {
        flex-grow: 0;
    }
    .rg\:flex-grow-1 {
        flex-grow: 1;
    }
    .rg\:flex-grow-2 {
        flex-grow: 2;
    }
    .rg\:flex-grow-3 {
        flex-grow: 3;
    }
    .rg\:flex-grow-4 {
        flex-grow: 4;
    }
    .rg\:flex-shrink-0 {
        flex-shrink: 0;
    }
    .rg\:flex-shrink-1 {
        flex-shrink: 1;
    }
    .rg\:flex-shrink-2 {
        flex-shrink: 2;
    }
    .rg\:lex-shrink-3 {
        flex-shrink: 3;
    }
    .rg\:flex-shrink-4 {
        flex-shrink: 4;
    }
}

@media (--mi-md-breakpoint) {
    .md\:flex,
    .md\:flex-row {
        display: flex;
        flex-direction: row;
    }
    .md\:flex-row-reverse {
        display: flex;
        flex-direction: row-reverse;
    }
    .md\:flex-column {
        display: flex;
        flex-direction: column;
    }
    .md\:flex-column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
    .md\:flex-nowrap {
        display: flex;
        flex-wrap: nowrap;
    }
    .md\:flex-wrap {
        display: flex;
        flex-wrap: wrap;
    }
    .md\:flex-wrap-reverse {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .md\:justify-start {
        justify-content: start;
    }
    .md\:justify-end {
        justify-content: end;
    }
    .md\:justify-center {
        justify-content: center;
    }
    .md\:justify-space-between {
        justify-content: space-between;
    }
    .md\:justify-space-around {
        justify-content: space-around;
    }
    .md\:justify-space-evenly {
        justify-content: space-evenly
    }
    .md\:align-auto {
        align-items: auto;
    }
    .md\:align-start {
        align-items: start;
    }
    .md\:align-end {
        align-items: end;
    }
    .md\:align-center {
        align-items: center;
    }
    .md\:align-stretch {
        align-items: stretch;
    }
    .md\:align-baseline {
        align-items: baseline;
    }
    .md\:align-self-auto {
        align-self: auto;
    }
    .md\:align-self-start {
        align-self: start;
    }
    .md\:align-self-end {
        align-self: end;
    }
    .md\:align-self-center {
        align-self: center;
    }
    .md\:align-self-stretch {
        align-self: stretch;
    }
    .md\:align-self-baseline {
        align-self: baseline;
    }
    .md\:order-0 {
        order: 0;
    }
    .md\:order-1 {
        order: 1;
    }
    .md\:order-2 {
        order: 2;
    }
    .md\:order-3 {
        order: 3;
    }
    .md\:order-4 {
        order: 4;
    }
    .md\:order-5 {
        order: 5;
    }
    .md\:order-6 {
        order: 6;
    }
    .md\:order-7 {
        order: 7;
    }
    .md\:order-8 {
        order: 8;
    }
    .md\:order-9 {
        order: 9;
    }
    .md\:order-d1 {
        order: -1;
    }
    .md\:order-d2 {
        order: -2;
    }
    .md\:order-d3 {
        order: -3;
    }
    .md\:order-d4 {
        order: -4;
    }
    .md\:order-d5 {
        order: -5;
    }
    .md\:order-d6 {
        order: -6;
    }
    .md\:order-d7 {
        order: -7;
    }
    .md\:order-d8 {
        order: -8;
    }
    .md\:order-d9 {
        order: -9;
    }
    .md\:flex-grow-0 {
        flex-grow: 0;
    }
    .md\:flex-grow-1 {
        flex-grow: 1;
    }
    .md\:flex-grow-2 {
        flex-grow: 2;
    }
    .md\:flex-grow-3 {
        flex-grow: 3;
    }
    .md\:flex-grow-4 {
        flex-grow: 4;
    }
    .md\:flex-shrink-0 {
        flex-shrink: 0;
    }
    .md\:flex-shrink-1 {
        flex-shrink: 1;
    }
    .md\:flex-shrink-2 {
        flex-shrink: 2;
    }
    .md\:lex-shrink-3 {
        flex-shrink: 3;
    }
    .md\:flex-shrink-4 {
        flex-shrink: 4;
    }
}

@media (--mi-lg-breakpoint) {
    .lg\:flex,
    .lg\:flex-row {
        display: flex;
        flex-direction: row;
    }
    .lg\:flex-row-reverse {
        display: flex;
        flex-direction: row-reverse;
    }
    .lg\:flex-column {
        display: flex;
        flex-direction: column;
    }
    .lg\:flex-column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
    .lg\:flex-nowrap {
        display: flex;
        flex-wrap: nowrap;
    }
    .lg\:flex-wrap {
        display: flex;
        flex-wrap: wrap;
    }
    .lg\:flex-wrap-reverse {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .lg\:justify-start {
        justify-content: start;
    }
    .lg\:justify-end {
        justify-content: end;
    }
    .lg\:justify-center {
        justify-content: center;
    }
    .lg\:justify-space-between {
        justify-content: space-between;
    }
    .lg\:justify-space-around {
        justify-content: space-around;
    }
    .lg\:justify-space-evenly {
        justify-content: space-evenly
    }
    .lg\:align-auto {
        align-items: auto;
    }
    .lg\:align-start {
        align-items: start;
    }
    .lg\:align-end {
        align-items: end;
    }
    .lg\:align-center {
        align-items: center;
    }
    .lg\:align-stretch {
        align-items: stretch;
    }
    .lg\:align-baseline {
        align-items: baseline;
    }
    .lg\:align-self-auto {
        align-self: auto;
    }
    .lg\:align-self-start {
        align-self: start;
    }
    .lg\:align-self-end {
        align-self: end;
    }
    .lg\:align-self-center {
        align-self: center;
    }
    .lg\:align-self-stretch {
        align-self: stretch;
    }
    .lg\:align-self-baseline {
        align-self: baseline;
    }
    .lg\:order-0 {
        order: 0;
    }
    .lg\:order-1 {
        order: 1;
    }
    .lg\:order-2 {
        order: 2;
    }
    .lg\:order-3 {
        order: 3;
    }
    .lg\:order-4 {
        order: 4;
    }
    .lg\:order-5 {
        order: 5;
    }
    .lg\:order-6 {
        order: 6;
    }
    .lg\:order-7 {
        order: 7;
    }
    .lg\:order-8 {
        order: 8;
    }
    .lg\:order-9 {
        order: 9;
    }
    .lg\:order-d1 {
        order: -1;
    }
    .lg\:order-d2 {
        order: -2;
    }
    .lg\:order-d3 {
        order: -3;
    }
    .lg\:order-d4 {
        order: -4;
    }
    .lg\:order-d5 {
        order: -5;
    }
    .lg\:order-d6 {
        order: -6;
    }
    .lg\:order-d7 {
        order: -7;
    }
    .lg\:order-d8 {
        order: -8;
    }
    .lg\:order-d9 {
        order: -9;
    }
    .lg\:flex-grow-0 {
        flex-grow: 0;
    }
    .lg\:flex-grow-1 {
        flex-grow: 1;
    }
    .lg\:flex-grow-2 {
        flex-grow: 2;
    }
    .lg\:flex-grow-3 {
        flex-grow: 3;
    }
    .lg\:flex-grow-4 {
        flex-grow: 4;
    }
    .lg\:flex-shrink-0 {
        flex-shrink: 0;
    }
    .lg\:flex-shrink-1 {
        flex-shrink: 1;
    }
    .lg\:flex-shrink-2 {
        flex-shrink: 2;
    }
    .lg\:lex-shrink-3 {
        flex-shrink: 3;
    }
    .lg\:flex-shrink-4 {
        flex-shrink: 4;
    }
}