:root {
    --form-font-family: var(--font-family);
    --form-label-color: var(--neutral-2);
    --form-font-size: var(--fs);
    --form-radius: var(--space-d3);

    --form-field-border-color: var(--neutral-3);

    --form-button-pdx: var(--space-d2);
    --form-button-pdy: var(--space-d2);
    --form-button-bg-color: var(--neutral-4);
}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
    color: var(--form-label-color);
    opacity: 1;
    text-transform: uppercase;
}

form dl {
    margin-top: var(--space-1);
    margin-bottom: var(--space-1);
}

input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=url],
input[list],
button,
.button,
select,
textarea,
fieldset {
    margin: 0;
    font-family: var(--form-font-family);
    font-size: var(--form-font-size);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button,
.button,
select {
    border: 0;
    border-radius: var(--form-radius);
    vertical-align: middle;
    background: var(--form-button-bg-color);
    padding: var(--form-button-pdx) var(--form-button-pdy);
    cursor: pointer;
}

label {
    vertical-align: middle;
    text-transform: uppercase;
    font-size: var(--fs-d1);
    color: var(--form-label-color);
}


input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=url],
input[list] {
    border: none;
    border-bottom: 1px solid var(--form-field-border-color);
    vertical-align: middle;
    padding: 0 0 var(--space-d2) 0;
    line-height: var(--lh);
    border-radius: 0;
    -webkit-border-radius: 0;
}

textarea {
    line-height: var(--lh-2);
    border: 1px solid var(--form-field-border-color);
    border-radius: var(--form-radius);
    resize: none;
}