:root {
    --form-font-family: var(--font-family);
    --form-font-size: var(--fs);
    --form-radius: 0px;
    --form-component-pdx: var(--space-d2);
    --form-component-pdy: var(--space-d2);
    --label-line-height: var(--lh-2);
    --button-line-height: var(--lh-2);
    --custom-check-line-height: var(--label-line-height);
    --custom-check-space: .1em;
    --custom-check-size: 1em;
    --custom-check-pos: calc((var(--custom-check-line-height) * 1em - var(--custom-check-size)) / 3 * 2);
    --custom-check-border-width: 1px;
    --form-error-border-width: 2px;
    --form-input-border-width: 1px;
    --custom-radio-gap: 2px;
    caret-color: var(--caret-color);
}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
    color: var(--form-label-color);
    opacity: 1;
    text-transform: var(--heading-text-transform);
}

form dl {
    margin-top: var(--space-1);
    margin-bottom: var(--space-1);
}

input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=url],
input[list],
input[type=submit],
input[type=reset],
button,
.button,
select,
textarea,
fieldset,
label,
legend {
    font-family: var(--form-font-family);
    font-size: var(--form-font-size);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=submit],
input[type=reset],
button,
.button,
select {
    border: 0;
    border-radius: var(--form-radius);
    vertical-align: baseline;
    background: var(--form-button-background);
    color: var(--form-button-color);
    padding: var(--form-component-pdy) var(--form-component-pdx);
    cursor: pointer;
    transition: filter var(--transition-duration) ease-out;
    line-height: var(--button-line-height);
}

input[type=submit]:disabled,
input[type=reset]:disabled,
button:disabled,
.button:disabled,
select:disabled {
    opacity: var(--form-button-disabled-opacity);
    cursor: not-allowed;
}

@media(hover: hover) {

    input[type=submit]:hover:not(:disabled),
    input[type=reset]:hover:not(:disabled),
    button:hover:not(:disabled),
    .button:hover:not(:disabled),
    select:hover:not(:disabled) {
        filter: brightness(var(--form-button-hover-brightness));
    }
}

input[type=submit]:focus:not(:disabled),
input[type=reset]:focus:not(:disabled),
button:focus:not(:disabled),
.button:focus:not(:disabled),
select:focus:not(:disabled) {
    filter: brightness(var(--form-button-focus-brightness));
}

input[type=submit]:active:not(:disabled),
input[type=reset]:active:not(:disabled),
button:active:not(:disabled),
.button:active:not(:disabled),
select:active:not(:disabled) {
    filter: brightness(var(--form-button-active-brightness));
}

label:not(.custom-control),
.label:not(.custom-control),
legend {
    vertical-align: baseline;
    font-weight: var(--font-weight-bold);
    color: var(--form-label-color);
    line-height: var(--label-line-height);
    margin-top: var(--space-d2);
    margin-bottom: var(--space-d2);
}

label.custom-control,
.custom-control .label {
    margin-top: unset;
    margin-bottom: unset;
}


form .desc,
form .error:not(form .group.error),
form .afv-error:not(form .afv-group.afv-error) {
    color: var(--description-color);
    line-height: var(--lh-1);
    margin-top: var(--space-d2);
    margin-bottom: var(--space-d2);
}

form .error:not(form .group.error),
form .afv-error:not(form .afv-group.afv-error) {
    color: var(--error-color);
    font-weight: var(--font-weight-bold);
}

form .error:not(form .group .error),
form .afv-error:not(form .afv-group .afv-error) {
    /* mind the space between .group and .error*/
    border-left: var(--outline-width) solid var(--error-color);
    padding-left: var(--space-d2);
    margin-left: calc(-1 * (var(--space-d2) + var(--outline-width)));
}

form .error,
form .afv-error {

    input[type=text]:not(:focus),
    input[type=email]:not(:focus),
    input[type=number]:not(:focus),
    input[type=password]:not(:focus),
    input[type=search]:not(:focus),
    input[type=tel]:not(:focus),
    input[type=url]:not(:focus),
    input[list]:not(:focus),
    textarea:not(:focus) {
        border: var(--form-error-border-width) solid var(--error-color);
        padding: calc(var(--form-component-pdy) + var(--form-input-border-width) - var(--form-error-border-width)) calc(var(--form-component-pdx) + var(--form-input-border-width) - var(--form-error-border-width));
    }
}

input[type=text].error:not(:focus),
input[type=text].afv-error:not(:focus),
input[type=email].error:not(:focus),
input[type=email].afv-error:not(:focus),
input[type=number].error:not(:focus),
input[type=number].afv-error:not(:focus),
input[type=password].error:not(:focus),
input[type=password].afv-error:not(:focus),
input[type=search].error:not(:focus),
input[type=search].afv-error:not(:focus),
input[type=tel].error:not(:focus),
input[type=tel].afv-error:not(:focus),
input[type=url].error:not(:focus),
input[type=url].afv-error:not(:focus),
input[list].error:not(:focus),
input[list].afv-error:not(:focus),
textarea.error:not(:focus),
textarea.afv-error:not(:focus) {
    border: 2px solid var(--error-color);
    padding: calc(var(--form-component-pdy) + var(--form-input-border-width) - var(--form-error-border-width)) calc(var(--form-component-pdx) + var(--form-input-border-width) - var(--form-error-border-width));
}


input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=url],
input[list] {
    border: var(--form-input-border-width) solid var(--form-field-border-color);
    vertical-align: middle;
    padding: var(--form-component-pdy) var(--form-component-pdx);
    line-height: var(--lh);
    border-radius: 0;
    -webkit-border-radius: 0;
    background: var(--form-field-background);
    color: var(--form-field-color);
}

textarea {
    line-height: var(--lh-2);
    border: 1px solid var(--form-field-border-color);
    border-radius: 0;
    padding: var(--form-component-pdy) var(--form-component-pdx);
    -webkit-border-radius: 0;
    resize: none;
    background: var(--form-field-background);
    color: var(--form-field-color);
    font-weight: normal;
}

fieldset {
    border: none;
    padding: 0;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=url]:focus,
input[list]:focus,
textarea:focus {
    border-color: transparent;
}

input:focus+label,
textarea:focus+label {
    color: var(--form-field-focus-color);
}


/*
https://www.sarasoueidan.com/blog/inclusively-hiding-and-styling-checkboxes-and-radio-buttons/
and
https://www.creativejuiz.fr/blog/en/tutorials/customize-checkbox-and-radio-button-with-css 
*/

.custom-control {
    position: relative;
    color: inherit;
    display: inline-block;
    font-size: inherit;
}

.custom-control * {
    font-size: inherit;
    cursor: pointer;
}

.custom-control:focus-within input[type=checkbox]+*::before,
.custom-control:focus-within input[type=radio]+*::before {
    outline: var(--outline);
    outline-offset: var(--outline-offset);
}

.custom-control input[type=checkbox],
.custom-control input[type=radio] {
    /* remove the control from flow */
    position: absolute;
    /* hide it visually */
    opacity: 0.00001;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.custom-control input[type=checkbox]+*,
.custom-control input[type=radio]+* {
    margin-left: var(--horizontal-rhythm);
    display: inline-block;
}


/* box */

.custom-control input[type=checkbox]+*::before,
.custom-control input[type=radio]+*::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: var(--custom-check-pos);
    height: var(--custom-check-size);
    width: var(--custom-check-size);
    border: var(--custom-check-border-width) solid currentColor;
    border-radius: var(--form-radius);
    background: var(--form-field-background);
}


/* circle */

.custom-control input[type=radio]+*::before {
    border-radius: 50%;
}


/* check */
.custom-control input[type=checkbox]+*::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: calc(var(--custom-check-size) * .2);
    top: calc(var(--custom-check-pos) + (var(--custom-check-size) * .25));
    width: calc(var(--custom-check-size) * .6);
    height: calc(var(--custom-check-size) * .3);
    transform: rotate(-45deg);
    border: solid var(--base-background);
    border-width: 0 0 2px 2px;
    border-top-color: transparent;
    opacity: 0;
    background: transparent;
}

/* select */
.custom-control input[type=radio]+*::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: calc(var(--custom-radio-gap) * 2);
    top: calc(var(--custom-check-pos) + var(--custom-radio-gap) * 2);
    height: calc(var(--custom-check-size) - var(--custom-radio-gap) * 4);
    width: calc(var(--custom-check-size) - var(--custom-radio-gap) * 4);
    background: currentColor;
    border-radius: 50%;
}


/* unchecked / unselected */

.custom-control input[type=checkbox]:not(:checked)+*::after,
.custom-control input[type=radio]:not(:checked)+*::after {
    opacity: 0;
}


/* checked / selected*/

.custom-control input[type=checkbox]:checked+*::before {
    background: currentColor;
}

.custom-control input[type=checkbox]:checked+*::after,
.custom-control input[type=radio]:checked+*::after {
    opacity: 1;
}