.x-12,
.x {
  max-width: var(--regular-width);
  margin: 0 auto;
}

@supports (display: grid) {

  .x-12,
  .x {
    max-width: unset;
    margin: unset;
  }
}

[class^=columns],
[class^=sm-columns],
[class^=rg-columns],
[class^=md-columns],
[class^=lg-columns] {
  column-gap: var(--space-1);
}

.x {
  display: grid;
  grid-template-columns: var(--space-1) 1fr 1fr minmax(0, var(--regular-width)) 1fr 1fr var(--space-1);
}

.x>* {
  grid-column: 4/span 1;
}

.x .breakout-l {
  grid-column: 3/span 2;
}

.x .breakout-r {
  grid-column: 4/span 2;
}

.x .breakout {
  grid-column: 3/span 3;
}

.x .wide {
  grid-column: 2/span 5;
}

.x .full {
  grid-column: 1/span 7;
}

.x .columns-1 {
  columns: 1;
}

.x .columns-2 {
  columns: 2;
}

.x .columns-3 {
  columns: 3;
}

.x .columns-4 {
  columns: 4;
}

.x .columns-5 {
  columns: 5;
}

.x .columns-6 {
  columns: 6;
}

.x-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: var(--space-1);
}

.x-12>* {
  grid-area: span 1/span 12;
}

.x-12 .xx-1 {
  grid-area: span 1/span 1;
}

.x-12 .xx-2 {
  grid-area: span 1/span 2;
}

.x-12 .xx-3 {
  grid-area: span 1/span 3;
}

.x-12 .xx-4 {
  grid-area: span 1/span 4;
}

.x-12 .xx-5 {
  grid-area: span 1/span 5;
}

.x-12 .xx-6 {
  grid-area: span 1/span 6;
}

.x-12 .xx-7 {
  grid-area: span 1/span 7;
}

.x-12 .xx-8 {
  grid-area: span 1/span 8;
}

.x-12 .xx-9 {
  grid-area: span 1/span 9;
}

.x-12 .xx-10 {
  grid-area: span 1/span 10;
}

.x-12 .xx-11 {
  grid-area: span 1/span 11;
}

.x-12 .xx-12 {
  grid-area: span 1/span 12;
}


@media (--breakpoint-max-rg) {
  .x {
    grid-template-columns: var(--space) 1fr 1fr minmax(0, var(--regular-width)) 1fr 1fr var(--space);
  }
}

@media (--breakpoint-min-sm) {
  .x .sm-breakout-l {
    grid-column: 3/span 2;
  }
  
  .x .sm-breakout-r {
    grid-column: 4/span 2;
  }
  
  .x .sm-breakout {
    grid-column: 3/span 3;
  }
  
  .x .sm-wide {
    grid-column: 2/span 5;
  }
  
  .x .sm-full {
    grid-column: 1/span 7;
  }
  
  .x .sm-columns-1 {
    columns: 1 ;
  }

  .x .sm-columns-2 {
    columns: 2 ;
  }

  .x .sm-columns-3 {
    columns: 3 ;
  }

  .x .sm-columns-4 {
    columns: 4 ;
  }

  .x .sm-columns-5 {
    columns: 5 ;
  }

  .x .sm-columns-6 {
    columns: 6 ;
  }

  .x .sm-xx-1 {
    grid-area: span 1/span 1 ;
  }

  .x .sm-xx-2 {
    grid-area: span 1/span 2 ;
  }

  .x .sm-xx-3 {
    grid-area: span 1/span 3 ;
  }

  .x .sm-xx-4 {
    grid-area: span 1/span 4 ;
  }

  .x .sm-xx-5 {
    grid-area: span 1/span 5 ;
  }

  .x .sm-xx-6 {
    grid-area: span 1/span 6 ;
  }

  .x .sm-xx-7 {
    grid-area: span 1/span 7 ;
  }

  .x .sm-xx-8 {
    grid-area: span 1/span 8 ;
  }

  .x .sm-xx-9 {
    grid-area: span 1/span 9 ;
  }

  .x .sm-xx-10 {
    grid-area: span 1/span 10 ;
  }

  .x .sm-xx-11 {
    grid-area: span 1/span 11 ;
  }

  .x .sm-xx-12 {
    grid-area: span 1/span 12 ;
  }
}

@media (--breakpoint-min-rg) {
  .x .rg-breakout-l {
    grid-column: 3/span 2;
  }
  
  .x .rg-breakout-r {
    grid-column: 4/span 2;
  }
  
  .x .rg-breakout {
    grid-column: 3/span 3;
  }
  
  .x .rg-wide {
    grid-column: 2/span 5;
  }
  
  .x .rg-full {
    grid-column: 1/span 7;
  }
  
  .x .rg-columns-1 {
    columns: 1 ;
  }

  .x .rg-columns-2 {
    columns: 2 ;
  }

  .x .rg-columns-3 {
    columns: 3 ;
  }

  .x .rg-columns-4 {
    columns: 4 ;
  }

  .x .rg-columns-5 {
    columns: 5 ;
  }

  .x .rg-columns-6 {
    columns: 6 ;
  }

  .x .rg-xx-1 {
    grid-area: span 1/span 1 ;
  }

  .x .rg-xx-2 {
    grid-area: span 1/span 2 ;
  }

  .x .rg-xx-3 {
    grid-area: span 1/span 3 ;
  }

  .x .rg-xx-4 {
    grid-area: span 1/span 4 ;
  }

  .x .rg-xx-5 {
    grid-area: span 1/span 5 ;
  }

  .x .rg-xx-6 {
    grid-area: span 1/span 6 ;
  }

  .x .rg-xx-7 {
    grid-area: span 1/span 7 ;
  }

  .x .rg-xx-8 {
    grid-area: span 1/span 8 ;
  }

  .x .rg-xx-9 {
    grid-area: span 1/span 9 ;
  }

  .x .rg-xx-10 {
    grid-area: span 1/span 10 ;
  }

  .x .rg-xx-11 {
    grid-area: span 1/span 11 ;
  }

  .x .rg-xx-12 {
    grid-area: span 1/span 12 ;
  }
}

@media (--breakpoint-min-md) {
  .x .md-breakout-l {
    grid-column: 3/span 2;
  }
  
  .x .md-breakout-r {
    grid-column: 4/span 2;
  }
  
  .x .md-breakout {
    grid-column: 3/span 3;
  }
  
  .x .md-wide {
    grid-column: 2/span 5;
  }
  
  .x .md-full {
    grid-column: 1/span 7;
  }
  
  .x .md-columns-1 {
    columns: 1 ;
  }

  .x .md-columns-2 {
    columns: 2 ;
  }

  .x .md-columns-3 {
    columns: 3 ;
  }

  .x .md-columns-4 {
    columns: 4 ;
  }

  .x .md-columns-5 {
    columns: 5 ;
  }

  .x .md-columns-6 {
    columns: 6 ;
  }

  .x .md-xx-1 {
    grid-area: span 1/span 1 ;
  }

  .x .md-xx-2 {
    grid-area: span 1/span 2 ;
  }

  .x .md-xx-3 {
    grid-area: span 1/span 3 ;
  }

  .x .md-xx-4 {
    grid-area: span 1/span 4 ;
  }

  .x .md-xx-5 {
    grid-area: span 1/span 5 ;
  }

  .x .md-xx-6 {
    grid-area: span 1/span 6 ;
  }

  .x .md-xx-7 {
    grid-area: span 1/span 7 ;
  }

  .x .md-xx-8 {
    grid-area: span 1/span 8 ;
  }

  .x .md-xx-9 {
    grid-area: span 1/span 9 ;
  }

  .x .md-xx-10 {
    grid-area: span 1/span 10 ;
  }

  .x .md-xx-11 {
    grid-area: span 1/span 11 ;
  }

  .x .md-xx-12 {
    grid-area: span 1/span 12 ;
  }
}

@media (--breakpoint-min-lg) {
  .x .lg-breakout-l {
    grid-column: 3/span 2;
  }
  
  .x .lg-breakout-r {
    grid-column: 4/span 2;
  }
  
  .x .lg-breakout {
    grid-column: 3/span 3;
  }
  
  .x .lg-wide {
    grid-column: 2/span 5;
  }
  
  .x .lg-full {
    grid-column: 1/span 7;
  }
  
  .x .lg-columns-1 {
    columns: 1 ;
  }

  .x .lg-columns-2 {
    columns: 2 ;
  }

  .x .lg-columns-3 {
    columns: 3 ;
  }

  .x .lg-columns-4 {
    columns: 4 ;
  }

  .x .lg-columns-5 {
    columns: 5 ;
  }

  .x .lg-columns-6 {
    columns: 6 ;
  }

  .x .lg-xx-1 {
    grid-area: span 1/span 1 ;
  }

  .x .lg-xx-2 {
    grid-area: span 1/span 2 ;
  }

  .x .lg-xx-3 {
    grid-area: span 1/span 3 ;
  }

  .x .lg-xx-4 {
    grid-area: span 1/span 4 ;
  }

  .x .lg-xx-5 {
    grid-area: span 1/span 5 ;
  }

  .x .lg-xx-6 {
    grid-area: span 1/span 6 ;
  }

  .x .lg-xx-7 {
    grid-area: span 1/span 7 ;
  }

  .x .lg-xx-8 {
    grid-area: span 1/span 8 ;
  }

  .x .lg-xx-9 {
    grid-area: span 1/span 9 ;
  }

  .x .lg-xx-10 {
    grid-area: span 1/span 10 ;
  }

  .x .lg-xx-11 {
    grid-area: span 1/span 11 ;
  }

  .x .lg-xx-12 {
    grid-area: span 1/span 12 ;
  }
}