@media (--mi-xs-breakpoint) {
    .xs\:mxh-unset,
    .xs\:mxh-u {
        max-height: unset;
    }
    .xs\:mxh-d5,
    .xs\:mxh-d5 {
        max-height: var(--space-d5);
    }
    .xs\:mxh-d4,
    .xs\:mxh-d4 {
        max-height: var(--space-d4);
    }
    .xs\:mxh-d3,
    .xs\:mxh-d3 {
        max-height: var(--space-d3);
    }
    .xs\:mxh-d2,
    .xs\:mxh-d2 {
        max-height: var(--space-d2);
    }
    .xs\:mxh-d1,
    .xs\:mxh-d1 {
        max-height: var(--space-d1);
    }
    .xs\:max-height,
    .xs\:mxh {
        max-height: var(--space);
    }
    .xs\:mxh-1,
    .xs\:mxh-1 {
        max-height: var(--space-1)
    }
    .xs\:mxh-2,
    .xs\:mxh-2 {
        max-height: var(--space-2);
    }
    .xs\:mxh-3,
    .xs\:mxh-3 {
        max-height: var(--space-3);
    }
    .xs\:mxh-4,
    .xs\:mxh-4 {
        max-height: var(--space-4);
    }
    .xs\:mxh-5,
    .xs\:mxh-5 {
        max-height: var(--space-5);
    }
    .xs\:mxh-6,
    .xs\:mxh-6 {
        max-height: var(--space-6);
    }
    .xs\:max-vh-100,
    .xs\:mxvh-100 {
        max-height: 100vh;
    }
    .xs\:mxw-100 {
        max-height: 100%;
    }
}


@media (--mi-sm-breakpoint) {
    .sm\:mxh-unset,
    .sm\:mxh-u {
        max-height: unset;
    }
    .sm\:mxh-d5,
    .sm\:mxh-d5 {
        max-height: var(--space-d5);
    }
    .sm\:mxh-d4,
    .sm\:mxh-d4 {
        max-height: var(--space-d4);
    }
    .sm\:mxh-d3,
    .sm\:mxh-d3 {
        max-height: var(--space-d3);
    }
    .sm\:mxh-d2,
    .sm\:mxh-d2 {
        max-height: var(--space-d2);
    }
    .sm\:mxh-d1,
    .sm\:mxh-d1 {
        max-height: var(--space-d1);
    }
    .sm\:max-height,
    .sm\:mxh {
        max-height: var(--space);
    }
    .sm\:mxh-1,
    .sm\:mxh-1 {
        max-height: var(--space-1)
    }
    .sm\:mxh-2,
    .sm\:mxh-2 {
        max-height: var(--space-2);
    }
    .sm\:mxh-3,
    .sm\:mxh-3 {
        max-height: var(--space-3);
    }
    .sm\:mxh-4,
    .sm\:mxh-4 {
        max-height: var(--space-4);
    }
    .sm\:mxh-5,
    .sm\:mxh-5 {
        max-height: var(--space-5);
    }
    .sm\:mxh-6,
    .sm\:mxh-6 {
        max-height: var(--space-6);
    }
    .sm\:max-vh-100,
    .sm\:mxvh-100 {
        max-height: 100vh;
    }
    .sm\:mxw-100 {
        max-height: 100%;
    }
}

@media (--mi-rg-breakpoint) {
    .rg\:mxh-unset,
    .rg\:mxh-u {
        max-height: unset;
    }
    .rg\:mxh-d5,
    .rg\:mxh-d5 {
        max-height: var(--space-d5);
    }
    .rg\:mxh-d4,
    .rg\:mxh-d4 {
        max-height: var(--space-d4);
    }
    .rg\:mxh-d3,
    .rg\:mxh-d3 {
        max-height: var(--space-d3);
    }
    .rg\:mxh-d2,
    .rg\:mxh-d2 {
        max-height: var(--space-d2);
    }
    .rg\:mxh-d1,
    .rg\:mxh-d1 {
        max-height: var(--space-d1);
    }
    .rg\:max-height,
    .rg\:mxh {
        max-height: var(--space);
    }
    .rg\:mxh-1,
    .rg\:mxh-1 {
        max-height: var(--space-1)
    }
    .rg\:mxh-2,
    .rg\:mxh-2 {
        max-height: var(--space-2);
    }
    .rg\:mxh-3,
    .rg\:mxh-3 {
        max-height: var(--space-3);
    }
    .rg\:mxh-4,
    .rg\:mxh-4 {
        max-height: var(--space-4);
    }
    .rg\:mxh-5,
    .rg\:mxh-5 {
        max-height: var(--space-5);
    }
    .rg\:mxh-6,
    .rg\:mxh-6 {
        max-height: var(--space-6);
    }
    .rg\:max-vh-100,
    .rg\:mxvh-100 {
        max-height: 100vh;
    }
    .rg\:mxw-100 {
        max-height: 100%;
    }
}

@media (--mi-md-breakpoint) {
    .md\:mxh-unset,
    .md\:mxh-u {
        max-height: unset;
    }
    .md\:mxh-d5,
    .md\:mxh-d5 {
        max-height: var(--space-d5);
    }
    .md\:mxh-d4,
    .md\:mxh-d4 {
        max-height: var(--space-d4);
    }
    .md\:mxh-d3,
    .md\:mxh-d3 {
        max-height: var(--space-d3);
    }
    .md\:mxh-d2,
    .md\:mxh-d2 {
        max-height: var(--space-d2);
    }
    .md\:mxh-d1,
    .md\:mxh-d1 {
        max-height: var(--space-d1);
    }
    .md\:max-height,
    .md\:mxh {
        max-height: var(--space);
    }
    .md\:mxh-1,
    .md\:mxh-1 {
        max-height: var(--space-1)
    }
    .md\:mxh-2,
    .md\:mxh-2 {
        max-height: var(--space-2);
    }
    .md\:mxh-3,
    .md\:mxh-3 {
        max-height: var(--space-3);
    }
    .md\:mxh-4,
    .md\:mxh-4 {
        max-height: var(--space-4);
    }
    .md\:mxh-5,
    .md\:mxh-5 {
        max-height: var(--space-5);
    }
    .md\:mxh-6,
    .md\:mxh-6 {
        max-height: var(--space-6);
    }
    .md\:max-vh-100,
    .md\:mxvh-100 {
        max-height: 100vh;
    }
    .md\:mxw-100 {
        max-height: 100%;
    }
}

@media (--mi-lg-breakpoint) {
    .lg\:mxh-unset,
    .lg\:mxh-u {
        max-height: unset;
    }
    .lg\:mxh-d5,
    .lg\:mxh-d5 {
        max-height: var(--space-d5);
    }
    .lg\:mxh-d4,
    .lg\:mxh-d4 {
        max-height: var(--space-d4);
    }
    .lg\:mxh-d3,
    .lg\:mxh-d3 {
        max-height: var(--space-d3);
    }
    .lg\:mxh-d2,
    .lg\:mxh-d2 {
        max-height: var(--space-d2);
    }
    .lg\:mxh-d1,
    .lg\:mxh-d1 {
        max-height: var(--space-d1);
    }
    .lg\:max-height,
    .lg\:mxh {
        max-height: var(--space);
    }
    .lg\:mxh-1,
    .lg\:mxh-1 {
        max-height: var(--space-1)
    }
    .lg\:mxh-2,
    .lg\:mxh-2 {
        max-height: var(--space-2);
    }
    .lg\:mxh-3,
    .lg\:mxh-3 {
        max-height: var(--space-3);
    }
    .lg\:mxh-4,
    .lg\:mxh-4 {
        max-height: var(--space-4);
    }
    .lg\:mxh-5,
    .lg\:mxh-5 {
        max-height: var(--space-5);
    }
    .lg\:mxh-6,
    .lg\:mxh-6 {
        max-height: var(--space-6);
    }
    .lg\:max-vh-100,
    .lg\:mxvh-100 {
        max-height: 100vh;
    }
    .lg\:mxw-100 {
        max-height: 100%;
    }
}