.max-height-unset,
.mxh-u {
    max-height: unset;
}

.max-height-sm,
.mxh-sm {
    max-height: var(--small-width);
}

.max-height-rg,
.mxh-rg {
    max-height: var(--regular-width);
}

.max-height-md,
.mxh-md {
    max-height: var(--mid-width);
}

.max-height-lg,
.mxh-lg {
    max-height: var(--large-width);
}

.max-height-d5,
.mxh-d5 {
    max-height: var(--space-d5);
}

.max-height-d4,
.mxh-d4 {
    max-height: var(--space-d4);
}

.max-height-d3,
.mxh-d3 {
    max-height: var(--space-d3);
}

.max-height-d2,
.mxh-d2 {
    max-height: var(--space-d2);
}

.max-height-d1,
.mxh-d1 {
    max-height: var(--space-d1);
}

.max-height,
.mxh {
    max-height: var(--space);
}

.max-height-1,
.mxh-1 {
    max-height: var(--space-1)
}

.max-height-2,
.mxh-2 {
    max-height: var(--space-2);
}

.max-height-3,
.mxh-3 {
    max-height: var(--space-3)
}

.max-height-4,
.mxh-4 {
    max-height: var(--space-4)
}

.min-height-unset,
.mih-u {
    min-height: unset;
}

.min-height-sm,
.mih-sm {
    min-height: var(--small-width);
}

.min-height-rg,
.mih-rg {
    min-height: var(--regular-width);
}

.min-height-md,
.mih-md {
    min-height: var(--mid-width);
}

.min-height-lg,
.mih-lg {
    min-height: var(--large-width);
}

.min-height-d5,
.mih-d5 {
    min-height: var(--space-d5);
}

.min-height-d4,
.mih-d4 {
    min-height: var(--space-d4);
}

.min-height-d3,
.mih-d3 {
    min-height: var(--space-d3);
}

.min-height-d2,
.mih-d2 {
    min-height: var(--space-d2);
}

.min-height-d1,
.mih-d1 {
    min-height: var(--space-d1);
}

.min-height,
.mih {
    min-height: var(--space);
}

.min-height-1,
.mih-1 {
    min-height: var(--space-1)
}

.min-height-2,
.mih-2 {
    min-height: var(--space-2);
}

.min-height-3,
.mih-3 {
    min-height: var(--space-3)
}

.min-height-4,
.mih-4 {
    min-height: var(--space-4)
}




.height-unset {
    height: unset;
}

.height-sm {
    height: var(--small-width);
}

.height-rg {
    height: var(--regular-width);
}

.height-md {
    height: var(--mid-width);
}

.height-lg {
    height: var(--large-width);
}

.height-d5 {
    height: var(--space-d5);
}

.height-d4 {
    height: var(--space-d4);
}

.height-d3 {
    height: var(--space-d3);
}

.height-d2 {
    height: var(--space-d2);
}

.height-d1 {
    height: var(--space-d1);
}

.height {
    height: var(--space);
}

.height-1 {
    height: var(--space-1)
}

.height-2 {
    height: var(--space-2);
}

.height-3 {
    height: var(--space-3)
}

.height-4 {
    height: var(--space-4)
}



@media (--breakpoint-sm) {

    .sm-max-height-unset,
    .sm-mxh-u {
        max-height: unset;
    }

    .sm-max-height-d5,
    .sm-mxh-d5 {
        max-height: var(--space-d5);
    }

    .sm-max-height-d4,
    .sm-mxh-d4 {
        max-height: var(--space-d4);
    }

    .sm-max-height-d3,
    .sm-mxh-d3 {
        max-height: var(--space-d3);
    }

    .sm-max-height-d2,
    .sm-mxh-d2 {
        max-height: var(--space-d2);
    }

    .sm-max-height-d1,
    .sm-mxh-d1 {
        max-height: var(--space-d1);
    }

    .sm-max-height,
    .sm-mxh {
        max-height: var(--space);
    }

    .sm-max-height-1,
    .sm-mxh-1 {
        max-height: var(--space-1)
    }

    .sm-max-height-2,
    .sm-mxh-2 {
        max-height: var(--space-2);
    }

    .sm-max-height-3,
    .sm-mxh-3 {
        max-height: var(--space-3)
    }

    .sm-max-height-4,
    .sm-mxh-4 {
        max-height: var(--space-4)
    }




    .sm-min-height-unset,
    .sm-mih-u {
        min-height: unset;
    }

    .sm-min-height-d5,
    .sm-mih-d5 {
        min-height: var(--space-d5);
    }

    .sm-min-height-d4,
    .sm-mih-d4 {
        min-height: var(--space-d4);
    }

    .sm-min-height-d3,
    .sm-mih-d3 {
        min-height: var(--space-d3);
    }

    .sm-min-height-d2,
    .sm-mih-d2 {
        min-height: var(--space-d2);
    }

    .sm-min-height-d1,
    .sm-mih-d1 {
        min-height: var(--space-d1);
    }

    .sm-min-height,
    .sm-mih {
        min-height: var(--space);
    }

    .sm-min-height-1,
    .sm-mih-1 {
        min-height: var(--space-1)
    }

    .sm-min-height-2,
    .sm-mih-2 {
        min-height: var(--space-2);
    }

    .sm-min-height-3,
    .sm-mih-3 {
        min-height: var(--space-3)
    }

    .sm-min-height-4,
    .sm-mih-4 {
        min-height: var(--space-4)
    }




    .sm-height-unset {
        height: unset;
    }

    .sm-height-d5 {
        height: var(--space-d5);
    }

    .sm-height-d4 {
        height: var(--space-d4);
    }

    .sm-height-d3 {
        height: var(--space-d3);
    }

    .sm-height-d2 {
        height: var(--space-d2);
    }

    .sm-height-d1 {
        height: var(--space-d1);
    }

    .sm-height {
        height: var(--space);
    }

    .sm-height-1 {
        height: var(--space-1)
    }

    .sm-height-2 {
        height: var(--space-2);
    }

    .sm-height-3 {
        height: var(--space-3)
    }

    .sm-height-4 {
        height: var(--space-4)
    }
}

@media (--breakpoint-rg) {

    .rg-max-height-unset,
    .rg-mxh-u {
        max-height: unset;
    }

    .rg-max-height-d5,
    .rg-mxh-d5 {
        max-height: var(--space-d5);
    }

    .rg-max-height-d4,
    .rg-mxh-d4 {
        max-height: var(--space-d4);
    }

    .rg-max-height-d3,
    .rg-mxh-d3 {
        max-height: var(--space-d3);
    }

    .rg-max-height-d2,
    .rg-mxh-d2 {
        max-height: var(--space-d2);
    }

    .rg-max-height-d1,
    .rg-mxh-d1 {
        max-height: var(--space-d1);
    }

    .rg-max-height,
    .rg-mxh {
        max-height: var(--space);
    }

    .rg-max-height-1,
    .rg-mxh-1 {
        max-height: var(--space-1)
    }

    .rg-max-height-2,
    .rg-mxh-2 {
        max-height: var(--space-2);
    }

    .rg-max-height-3,
    .rg-mxh-3 {
        max-height: var(--space-3)
    }

    .rg-max-height-4,
    .rg-mxh-4 {
        max-height: var(--space-4)
    }




    .rg-min-height-unset,
    .rg-mih-u {
        min-height: unset;
    }

    .rg-min-height-d5,
    .rg-mih-d5 {
        min-height: var(--space-d5);
    }

    .rg-min-height-d4,
    .rg-mih-d4 {
        min-height: var(--space-d4);
    }

    .rg-min-height-d3,
    .rg-mih-d3 {
        min-height: var(--space-d3);
    }

    .rg-min-height-d2,
    .rg-mih-d2 {
        min-height: var(--space-d2);
    }

    .rg-min-height-d1,
    .rg-mih-d1 {
        min-height: var(--space-d1);
    }

    .rg-min-height,
    .rg-mih {
        min-height: var(--space);
    }

    .rg-min-height-1,
    .rg-mih-1 {
        min-height: var(--space-1)
    }

    .rg-min-height-2,
    .rg-mih-2 {
        min-height: var(--space-2);
    }

    .rg-min-height-3,
    .rg-mih-3 {
        min-height: var(--space-3)
    }

    .rg-min-height-4,
    .rg-mih-4 {
        min-height: var(--space-4)
    }




    .rg-height-unset {
        height: unset;
    }

    .rg-height-d5 {
        height: var(--space-d5);
    }

    .rg-height-d4 {
        height: var(--space-d4);
    }

    .rg-height-d3 {
        height: var(--space-d3);
    }

    .rg-height-d2 {
        height: var(--space-d2);
    }

    .rg-height-d1 {
        height: var(--space-d1);
    }

    .rg-height {
        height: var(--space);
    }

    .rg-height-1 {
        height: var(--space-1)
    }

    .rg-height-2 {
        height: var(--space-2);
    }

    .rg-height-3 {
        height: var(--space-3)
    }

    .rg-height-4 {
        height: var(--space-4)
    }
}

@media (--breakpoint-md) {

    .md-max-height-unset,
    .md-mxh-u {
        max-height: unset;
    }

    .md-max-height-d5,
    .md-mxh-d5 {
        max-height: var(--space-d5);
    }

    .md-max-height-d4,
    .md-mxh-d4 {
        max-height: var(--space-d4);
    }

    .md-max-height-d3,
    .md-mxh-d3 {
        max-height: var(--space-d3);
    }

    .md-max-height-d2,
    .md-mxh-d2 {
        max-height: var(--space-d2);
    }

    .md-max-height-d1,
    .md-mxh-d1 {
        max-height: var(--space-d1);
    }

    .md-max-height,
    .md-mxh {
        max-height: var(--space);
    }

    .md-max-height-1,
    .md-mxh-1 {
        max-height: var(--space-1)
    }

    .md-max-height-2,
    .md-mxh-2 {
        max-height: var(--space-2);
    }

    .md-max-height-3,
    .md-mxh-3 {
        max-height: var(--space-3)
    }

    .md-max-height-4,
    .md-mxh-4 {
        max-height: var(--space-4)
    }




    .md-min-height-unset,
    .md-mih-u {
        min-height: unset;
    }

    .md-min-height-d5,
    .md-mih-d5 {
        min-height: var(--space-d5);
    }

    .md-min-height-d4,
    .md-mih-d4 {
        min-height: var(--space-d4);
    }

    .md-min-height-d3,
    .md-mih-d3 {
        min-height: var(--space-d3);
    }

    .md-min-height-d2,
    .md-mih-d2 {
        min-height: var(--space-d2);
    }

    .md-min-height-d1,
    .md-mih-d1 {
        min-height: var(--space-d1);
    }

    .md-min-height,
    .md-mih {
        min-height: var(--space);
    }

    .md-min-height-1,
    .md-mih-1 {
        min-height: var(--space-1)
    }

    .md-min-height-2,
    .md-mih-2 {
        min-height: var(--space-2);
    }

    .md-min-height-3,
    .md-mih-3 {
        min-height: var(--space-3)
    }

    .md-min-height-4,
    .md-mih-4 {
        min-height: var(--space-4)
    }




    .md-height-unset {
        height: unset;
    }

    .md-height-d5 {
        height: var(--space-d5);
    }

    .md-height-d4 {
        height: var(--space-d4);
    }

    .md-height-d3 {
        height: var(--space-d3);
    }

    .md-height-d2 {
        height: var(--space-d2);
    }

    .md-height-d1 {
        height: var(--space-d1);
    }

    .md-height {
        height: var(--space);
    }

    .md-height-1 {
        height: var(--space-1)
    }

    .md-height-2 {
        height: var(--space-2);
    }

    .md-height-3 {
        height: var(--space-3)
    }

    .md-height-4 {
        height: var(--space-4)
    }
}

@media (--breakpoint-lg) {

    .lg-max-height-unset,
    .lg-mxh-u {
        max-height: unset;
    }

    .lg-max-height-d5,
    .lg-mxh-d5 {
        max-height: var(--space-d5);
    }

    .lg-max-height-d4,
    .lg-mxh-d4 {
        max-height: var(--space-d4);
    }

    .lg-max-height-d3,
    .lg-mxh-d3 {
        max-height: var(--space-d3);
    }

    .lg-max-height-d2,
    .lg-mxh-d2 {
        max-height: var(--space-d2);
    }

    .lg-max-height-d1,
    .lg-mxh-d1 {
        max-height: var(--space-d1);
    }

    .lg-max-height,
    .lg-mxh {
        max-height: var(--space);
    }

    .lg-max-height-1,
    .lg-mxh-1 {
        max-height: var(--space-1)
    }

    .lg-max-height-2,
    .lg-mxh-2 {
        max-height: var(--space-2);
    }

    .lg-max-height-3,
    .lg-mxh-3 {
        max-height: var(--space-3)
    }

    .lg-max-height-4,
    .lg-mxh-4 {
        max-height: var(--space-4)
    }




    .lg-min-height-unset,
    .lg-mih-u {
        min-height: unset;
    }

    .lg-min-height-sm,
    .lg-mih-sm {
        min-height: var(--small-height);
    }

    .lg-min-height-rg,
    .lg-mih-rg {
        min-height: var(--regular-height);
    }

    .lg-min-height-md,
    .lg-mih-md {
        min-height: var(--mid-height);
    }

    .lg-min-height-lg,
    .lg-mih-lg {
        min-height: var(--large-height);
    }

    .lg-min-height-d5,
    .lg-mih-d5 {
        min-height: var(--space-d5);
    }

    .lg-min-height-d4,
    .lg-mih-d4 {
        min-height: var(--space-d4);
    }

    .lg-min-height-d3,
    .lg-mih-d3 {
        min-height: var(--space-d3);
    }

    .lg-min-height-d2,
    .lg-mih-d2 {
        min-height: var(--space-d2);
    }

    .lg-min-height-d1,
    .lg-mih-d1 {
        min-height: var(--space-d1);
    }

    .lg-min-height,
    .lg-mih {
        min-height: var(--space);
    }

    .lg-min-height-1,
    .lg-mih-1 {
        min-height: var(--space-1)
    }

    .lg-min-height-2,
    .lg-mih-2 {
        min-height: var(--space-2);
    }

    .lg-min-height-3,
    .lg-mih-3 {
        min-height: var(--space-3)
    }

    .lg-min-height-4,
    .lg-mih-4 {
        min-height: var(--space-4)
    }




    .lg-height-unset {
        height: unset;
    }

    .lg-height-sm {
        height: var(--small-height);
    }

    .lg-height-rg {
        height: var(--regular-height);
    }

    .lg-height-md {
        height: var(--mid-height);
    }

    .lg-height-lg {
        height: var(--large-height);
    }

    .lg-height-d5 {
        height: var(--space-d5);
    }

    .lg-height-d4 {
        height: var(--space-d4);
    }

    .lg-height-d3 {
        height: var(--space-d3);
    }

    .lg-height-d2 {
        height: var(--space-d2);
    }

    .lg-height-d1 {
        height: var(--space-d1);
    }

    .lg-height {
        height: var(--space);
    }

    .lg-height-1 {
        height: var(--space-1)
    }

    .lg-height-2 {
        height: var(--space-2);
    }

    .lg-height-3 {
        height: var(--space-3)
    }

    .lg-height-4 {
        height: var(--space-4)
    }
}