@media (--breakpoint-sm) {
    .sm\:h-unset {
        height: unset;
    }

    .sm\:h-d5 {
        height: var(--space-d5);
    }

    .sm\:h-d4 {
        height: var(--space-d4);
    }

    .sm\:h-d3 {
        height: var(--space-d3);
    }

    .sm\:h-d2 {
        height: var(--space-d2);
    }

    .sm\:h-d1 {
        height: var(--space-d1);
    }

    .sm\:height {
        height: var(--space);
    }

    .sm\:h-1 {
        height: var(--space-1)
    }

    .sm\:h-2 {
        height: var(--space-2);
    }

    .sm\:h-3 {
        height: var(--space-3);
    }

    .sm\:h-4 {
        height: var(--space-4);
    }

    .sm\:h-5 {
        height: var(--space-5);
    }

    .sm\:h-6 {
        height: var(--space-6);
    }
    
}

@media (--breakpoint-rg) {

    .rg\:h-unset {
        height: unset;
    }

    .rg\:h-d5 {
        height: var(--space-d5);
    }

    .rg\:h-d4 {
        height: var(--space-d4);
    }

    .rg\:h-d3 {
        height: var(--space-d3);
    }

    .rg\:h-d2 {
        height: var(--space-d2);
    }

    .rg\:h-d1 {
        height: var(--space-d1);
    }

    .rg\:height {
        height: var(--space);
    }

    .rg\:h-1 {
        height: var(--space-1)
    }

    .rg\:h-2 {
        height: var(--space-2);
    }

    .rg\:h-3 {
        height: var(--space-3);
    }

    .rg\:h-4 {
        height: var(--space-4);
    }

    .rg\:h-5 {
        height: var(--space-5);
    }

    .rg\:h-6 {
        height: var(--space-6);
    }
}

@media (--breakpoint-md) {

    .md\:h-unset {
        height: unset;
    }

    .md\:h-d5 {
        height: var(--space-d5);
    }

    .md\:h-d4 {
        height: var(--space-d4);
    }

    .md\:h-d3 {
        height: var(--space-d3);
    }

    .md\:h-d2 {
        height: var(--space-d2);
    }

    .md\:h-d1 {
        height: var(--space-d1);
    }

    .md\:height {
        height: var(--space);
    }

    .md\:h-1 {
        height: var(--space-1)
    }

    .md\:h-2 {
        height: var(--space-2);
    }

    .md\:h-3 {
        height: var(--space-3);
    }

    .md\:h-4 {
        height: var(--space-4);
    }

    .md\:h-5 {
        height: var(--space-5);
    }

    .md\:h-6 {
        height: var(--space-6);
    }
}

@media (--breakpoint-lg) {
    .lg\:h-unset {
        height: unset;
    }

    .lg\:h-sm {
        height: var(--small-height);
    }

    .lg\:h-rg {
        height: var(--regular-height);
    }

    .lg\:h-md {
        height: var(--mid-height);
    }

    .lg\:h-lg {
        height: var(--large-height);
    }

    .lg\:h-d5 {
        height: var(--space-d5);
    }

    .lg\:h-d4 {
        height: var(--space-d4);
    }

    .lg\:h-d3 {
        height: var(--space-d3);
    }

    .lg\:h-d2 {
        height: var(--space-d2);
    }

    .lg\:h-d1 {
        height: var(--space-d1);
    }

    .lg\:height {
        height: var(--space);
    }

    .lg\:h-1 {
        height: var(--space-1)
    }

    .lg\:h-2 {
        height: var(--space-2);
    }

    .lg\:h-3 {
        height: var(--space-3);
    }

    .lg\:h-4 {
        height: var(--space-4);
    }

    .lg\:h-5 {
        height: var(--space-5);
    }


    .lg\:h-6 {
        height: var(--space-6);
    }
}