.hide {
    display: none !important
}

@media (--breakpoint-max-sm) {
    .max-sm-hide {
        display: none !important
    }
}

@media (--breakpoint-max-rg) {
    .max-rg-hide {
        display: none !important
    }
}


@media (--breakpoint-max-md) {
    .max-md-hide {
        display: none !important
    }
}

@media (--breakpoint-max-lg) {
    .max-lg-hide {
        display: none !important
    }
}