.fit-cover {
  object-fit: cover;
  background-size: cover;
}

.fit-contain {
  object-fit: contain;
}

.fit-t {
  object-position: top;
}

.fit-tl {
  object-position: top left;
}

.fit-tr {
  object-position: top right;
}

.fit-r {
  object-position: right;
}

.fit-b {
  object-position: bottom;
}

.fit-bl {
  object-position: bottom left;
}

.fit-br {
  object-position: bottom right;
}

.fit-l {
  object-position: left;
}

.bg-fixed {
  background-attachment: fixed;
}