:root {
    --z-1: 1000;
    --z-2: 2000;
    --z-3: 3000;
    --z-4: 4000;
    --zn-1: -1000;
    --zn-2: -2000;
    --zn-3: -3000;
    --zn-4: -4000;
    --bleed-width: var(--lg-breakpoint);
    --bleed-padding: var(--space);
    --justify-split-items: inherit;
    --align-split-items: inherit;
    --split-column-gap: var(--horizontal-rhythm);
    --split-row-gap: var(--mrb-figure);    
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline-table {
    display: inline-table;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
}

.baseline {
    vertical-align: baseline;
}

.top {
    vertical-align: top;
}

.middle {
    vertical-align: middle;
}

.bottom {
    vertical-align: bottom;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.justify {
    text-align: justify;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-auto {
    overflow: auto;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-x-scroll {
    overflow-x: scroll;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.full-bleed {    
    width: calc(100vw - 2 * var(--bleed-padding));
    margin-left: calc(50% - 50vw + var(--bleed-padding));
}

.full-bleed-unpadded {
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

.bleed {
    width: min(100vw - 2 * var(--bleed-padding), var(--bleed-width));
    margin-left: max(50% - 50vw + var(--bleed-padding), 50% - var(--bleed-width) / 2);
}

.bleed-right {
    width: auto;
    margin-right: max(50% - 50vw + var(--bleed-padding), 50% - var(--bleed-width) / 2);
}

.bleed-left {
    width: auto;
    margin-left: max(50% - 50vw + var(--bleed-padding), 50% - var(--bleed-width) / 2);
}

[class*=" split"],
[class|="split"],
.split {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--split-column-gap);
    row-gap: var(--split-row-gap);
    align-items: var(--align-split-items);
    justify-items: var(--justify-split-items);
}

[class*=" split"]>*,
[class|="split"]>* {
    margin: 0;
}

.split-1-2 {
    grid-template-columns: 1fr 2fr;
}

.split-2-1 {
    grid-template-columns: 2fr 1fr;
}

.split-1-3 {
    grid-template-columns: 1fr 3fr;
}

.split-3-1 {
    grid-template-columns: 3fr 1fr;
}

.split-1-4 {
    grid-template-columns: 1fr 4fr;
}

.split-4-1 {
    grid-template-columns: 4fr 1fr;
}

.split-1-5 {
    grid-template-columns: 1fr 5fr;
}

.split-5-1 {
    grid-template-columns: 5fr 1fr;
}

.split-1-6 {
    grid-template-columns: 1fr 6fr;
}

.split-6-1 {
    grid-template-columns: 6fr 1fr;
}

.split-1-sm {
    grid-template-columns: 1fr var(--sm-width);
}

.split-1-rg {
    grid-template-columns: 1fr var(--rg-width);
}

.split-1-md {
    grid-template-columns: 1fr var(--md-width);
}

.split-1-lg {
    grid-template-columns: 1fr var(--lg-width);
}

.split-sm-1 {
    grid-template-columns: var(--sm-width) 1fr;
}

.split-rg-1 {
    grid-template-columns: var(--rg-width) 1fr;
}

.split-md-1 {
    grid-template-columns: var(--md-width) 1fr;
}

.split-lg-1 {
    grid-template-columns: var(--lg-width) 1fr;
}

.split-aside-left {
    grid-template-columns: calc((min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2 - var(--split-column-gap)) 1fr;
}

.split-aside-right {
    grid-template-columns: 1fr calc((min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2 - var(--split-column-gap));
}

.aside-left {
    float: left;
    margin-left: calc(-1 * (min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2);
    width: calc((min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2 - var(--split-column-gap));
}

.aside-right {
    float: right;
    margin-right: calc(-1 * (min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2);
    width: calc((min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2 - var(--split-column-gap));
}


/* Nicolas Gallaghers Clearfix solution
   Ref: http://nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-clear {
    clear: both;
}

.fit {
    max-width: 100%;
}

.border-box {
    box-sizing: border-box;
}

.content-box {
    box-sizing: content-box;
}

.static {
    position: static;
}

.sticky {
    position: sticky;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.top-0 {
    top: 0;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.z-1 {
    z-index: var(--z-1)
}

.z-2 {
    z-index: var(--z-2)
}

.z-3 {
    z-index: var(--z-3)
}

.z-4 {
    z-index: var(--z-4)
}

.zn-1 {
    z-index: var(--zn-1)
}

.zn-2 {
    z-index: var(--zn-2)
}

.zn-3 {
    z-index: var(--zn-3)
}

.zn-4 {
    z-index: var(--zn-4)
}

.box-break-clone {
    box-decoration-break: clone;
    -o-box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}


/* containment */

.contain-content {
    contain: content;
}

.contain-strict {
    contain: strict;
}

.contain-layout {
    contain: layout;
}

.contain-paint {
    contain: paint;
}

.contain-size {
    contain: paint;
}

.contain-style {
    contain: style;
}