@media (--mi-xs-breakpoint) {
    .xs\:inline {
        display: inline;
    }
    .xs\:block {
        display: block;
    }
    .xs\:inline-block {
        display: inline-block;
    }
    .xs\:inline-table {
        display: inline-table;
    }
    .xs\:table {
        display: table;
    }
    .xs\:table-cell {
        display: table-cell;
    }
    .xs\:baseline {
        vertical-align: baseline;
    }
    .xs\:top {
        vertical-align: top;
    }
    .xs\:middle {
        vertical-align: middle;
    }
    .xs\:bottom {
        vertical-align: bottom;
    }
    .xs\:left {
        text-align: left;
    }
    .xs\:center {
        text-align: center;
    }
    .xs\:right {
        text-align: right;
    }
    .xs\:justify {
        text-align: justify;
    }
    .xs\:overflow-hidden {
        overflow: hidden;
    }
    .xs\:overflow-x-hidden {
        overflow-x: hidden;
    }
    .xs\:overflow-y-hidden {
        overflow-y: hidden;
    }
    .xs\:overflow-auto {
        overflow: auto;
    }
    .xs\:overflow-x-auto {
        overflow-x: auto;
    }
    .xs\:overflow-y-auto {
        overflow-y: auto;
    }
    .xs\:overflow-scroll {
        overflow: scroll;
    }
    .xs\:overflow-x-scroll {
        overflow-x: scroll;
    }
    .xs\:overflow-y-scroll {
        overflow-y: scroll;
    }
    .xs\:full-bleed {        
        width: calc(100vw - 2 * var(--bleed-padding));
        margin-left: calc(50% - 50vw + var(--bleed-padding));
    }
    .xs\:full-bleed-unpadded {
        width: 100vw;
        margin-left: calc(50% - 50vw);
    }
    .xs\:bleed {
        width: min(100vw - 2 * var(--bleed-padding), var(--bleed-width));
        margin-left: max(50% - 50vw + var(--bleed-padding), 50% - var(--bleed-width) / 2);
    }
    .xs\:bleed-right {
        width: auto;
        margin-right: max(50% - 50vw + var(--bleed-padding), 50% - var(--bleed-width) / 2);
    }
    .xs\:bleed-left {
        width: auto;
        margin-left: max(50% - 50vw + var(--bleed-padding), 50% - var(--bleed-width) / 2);
    }
    [class*="sm\:split"],
    .xs\:split {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: var(--split-column-gap);
        row-gap: var(--split-row-gap);
        align-items: var(--align-split-items);
        justify-items: var(--justify-split-items);
    }
    [class*="sm\:split"]>* {
        margin: 0;
    }
    .xs\:split-1-2 {
        grid-template-columns: 1fr 2fr;
    }
    .xs\:split-2-1 {
        grid-template-columns: 2fr 1fr;
    }
    .xs\:split-1-3 {
        grid-template-columns: 1fr 3fr;
    }
    .xs\:split-3-1 {
        grid-template-columns: 3fr 1fr;
    }
    .xs\:split-1-4 {
        grid-template-columns: 1fr 4fr;
    }
    .xs\:split-4-1 {
        grid-template-columns: 4fr 1fr;
    }
    .xs\:split-1-5 {
        grid-template-columns: 1fr 5fr;
    }
    .xs\:split-5-1 {
        grid-template-columns: 5fr 1fr;
    }
    .xs\:split-1-6 {
        grid-template-columns: 1fr 6fr;
    }
    .xs\:split-6-1 {
        grid-template-columns: 6fr 1fr;
    }
    .xs\:aside-left {
        float: left;
        margin-left: calc(-1 * (min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2);
        width: calc((min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2 - var(--split-column-gap));
    }
    .xs\:aside-right {
        float: right;
        margin-right: calc(-1 * (min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2);
        width: calc((min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2 - var(--split-column-gap));
    }
    /* Nicolas Gallaghers Clearfix solution
   Ref: http://nicolasgallagher.com/micro-clearfix-hack/ */
    .xs\:clearfix::before,
    .xs\:clearfix::after {
        content: " ";
        display: table;
    }
    .xs\:clearfix::after {
        clear: both;
    }
    .xs\:clearfix {
        *zoom: 1;
    }
    .xs\:float-left {
        float: left;
    }
    .xs\:float-right {
        float: right;
    }
    .xs\:float-clear {
        clear: both;
    }
    .xs\:fit {
        max-width: 100%;
    }
    .xs\:border-box {
        box-sizing: border-box;
    }
    .xs\:content-box {
        box-sizing: content-box;
    }
    .xs\:static {
        position: static;
    }
    .xs\:sticky {
        position: sticky;
    }
    .xs\:relative {
        position: relative;
    }
    .xs\:absolute {
        position: absolute;
    }
    .xs\:fixed {
        position: fixed;
    }
    .xs\:top-0 {
        top: 0;
    }
    .xs\:right-0 {
        right: 0;
    }
    .xs\:bottom-0 {
        bottom: 0;
    }
    .xs\:left-0 {
        left: 0;
    }
    .xs\:z-1 {
        z-index: var(--z-1)
    }
    .xs\:z-2 {
        z-index: var(--z-2)
    }
    .xs\:z-3 {
        z-index: var(--z-3)
    }
    .xs\:z-4 {
        z-index: var(--z-4)
    }
    .xs\:box-break-clone {
        box-decoration-break: clone;
        -o-box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
    }
    .xs\:contain-content {
        contain: content;
    }
    .xs\:contain-strict {
        contain: strict;
    }
    .xs\:contain-layout {
        contain: layout;
    }
    .xs\:contain-paint {
        contain: paint;
    }
    .xs\:contain-size {
        contain: paint;
    }
    .xs\:contain-style {
        contain: style;
    }
}


@media (--mi-sm-breakpoint) {
    .sm\:inline {
        display: inline;
    }
    .sm\:block {
        display: block;
    }
    .sm\:inline-block {
        display: inline-block;
    }
    .sm\:inline-table {
        display: inline-table;
    }
    .sm\:table {
        display: table;
    }
    .sm\:table-cell {
        display: table-cell;
    }
    .sm\:baseline {
        vertical-align: baseline;
    }
    .sm\:top {
        vertical-align: top;
    }
    .sm\:middle {
        vertical-align: middle;
    }
    .sm\:bottom {
        vertical-align: bottom;
    }
    .sm\:left {
        text-align: left;
    }
    .sm\:center {
        text-align: center;
    }
    .sm\:right {
        text-align: right;
    }
    .sm\:justify {
        text-align: justify;
    }
    .sm\:overflow-hidden {
        overflow: hidden;
    }
    .sm\:overflow-x-hidden {
        overflow-x: hidden;
    }
    .sm\:overflow-y-hidden {
        overflow-y: hidden;
    }
    .sm\:overflow-auto {
        overflow: auto;
    }
    .sm\:overflow-x-auto {
        overflow-x: auto;
    }
    .sm\:overflow-y-auto {
        overflow-y: auto;
    }
    .sm\:overflow-scroll {
        overflow: scroll;
    }
    .sm\:overflow-x-scroll {
        overflow-x: scroll;
    }
    .sm\:overflow-y-scroll {
        overflow-y: scroll;
    }
    .sm\:full-bleed {        
        width: calc(100vw - 2 * var(--bleed-padding));
        margin-left: calc(50% - 50vw + var(--bleed-padding));
    }
    .sm\:full-bleed-unpadded {
        width: 100vw;
        margin-left: calc(50% - 50vw);
    }
    .sm\:bleed {
        width: min(100vw - 2 * var(--bleed-padding), var(--bleed-width));
        margin-left: max(50% - 50vw + var(--bleed-padding), 50% - var(--bleed-width) / 2);
    }
    .sm\:bleed-right {
        width: auto;
        margin-right: max(50% - 50vw + var(--bleed-padding), 50% - var(--bleed-width) / 2);
    }
    .sm\:bleed-left {
        width: auto;
        margin-left: max(50% - 50vw + var(--bleed-padding), 50% - var(--bleed-width) / 2);
    }
    [class*="sm\:split"],
    .sm\:split {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: var(--split-column-gap);
        row-gap: var(--split-row-gap);
        align-items: var(--align-split-items);
        justify-items: var(--justify-split-items);
    }
    [class*="sm\:split"]>* {
        margin: 0;
    }
    .sm\:split-1-2 {
        grid-template-columns: 1fr 2fr;
    }
    .sm\:split-2-1 {
        grid-template-columns: 2fr 1fr;
    }
    .sm\:split-1-3 {
        grid-template-columns: 1fr 3fr;
    }
    .sm\:split-3-1 {
        grid-template-columns: 3fr 1fr;
    }
    .sm\:split-1-4 {
        grid-template-columns: 1fr 4fr;
    }
    .sm\:split-4-1 {
        grid-template-columns: 4fr 1fr;
    }
    .sm\:split-1-5 {
        grid-template-columns: 1fr 5fr;
    }
    .sm\:split-5-1 {
        grid-template-columns: 5fr 1fr;
    }
    .sm\:split-1-6 {
        grid-template-columns: 1fr 6fr;
    }
    .sm\:split-6-1 {
        grid-template-columns: 6fr 1fr;
    }
    .sm\:aside-left {
        float: left;
        margin-left: calc(-1 * (min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2);
        width: calc((min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2 - var(--split-column-gap));
    }
    .sm\:aside-right {
        float: right;
        margin-right: calc(-1 * (min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2);
        width: calc((min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2 - var(--split-column-gap));
    }
    /* Nicolas Gallaghers Clearfix solution
   Ref: http://nicolasgallagher.com/micro-clearfix-hack/ */
    .sm\:clearfix::before,
    .sm\:clearfix::after {
        content: " ";
        display: table;
    }
    .sm\:clearfix::after {
        clear: both;
    }
    .sm\:clearfix {
        *zoom: 1;
    }
    .sm\:float-left {
        float: left;
    }
    .sm\:float-right {
        float: right;
    }
    .sm\:float-clear {
        clear: both;
    }
    .sm\:fit {
        max-width: 100%;
    }
    .sm\:border-box {
        box-sizing: border-box;
    }
    .sm\:content-box {
        box-sizing: content-box;
    }
    .sm\:static {
        position: static;
    }
    .sm\:sticky {
        position: sticky;
    }
    .sm\:relative {
        position: relative;
    }
    .sm\:absolute {
        position: absolute;
    }
    .sm\:fixed {
        position: fixed;
    }
    .sm\:top-0 {
        top: 0;
    }
    .sm\:right-0 {
        right: 0;
    }
    .sm\:bottom-0 {
        bottom: 0;
    }
    .sm\:left-0 {
        left: 0;
    }
    .sm\:z-1 {
        z-index: var(--z-1)
    }
    .sm\:z-2 {
        z-index: var(--z-2)
    }
    .sm\:z-3 {
        z-index: var(--z-3)
    }
    .sm\:z-4 {
        z-index: var(--z-4)
    }
    .sm\:box-break-clone {
        box-decoration-break: clone;
        -o-box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
    }
    .sm\:contain-content {
        contain: content;
    }
    .sm\:contain-strict {
        contain: strict;
    }
    .sm\:contain-layout {
        contain: layout;
    }
    .sm\:contain-paint {
        contain: paint;
    }
    .sm\:contain-size {
        contain: paint;
    }
    .sm\:contain-style {
        contain: style;
    }
}

@media (--mi-rg-breakpoint) {
    .rg\:inline {
        display: inline;
    }
    .rg\:block {
        display: block;
    }
    .rg\:inline-block {
        display: inline-block;
    }
    .rg\:inline-table {
        display: inline-table;
    }
    .rg\:table {
        display: table;
    }
    .rg\:table-cell {
        display: table-cell;
    }
    .rg\:baseline {
        vertical-align: baseline;
    }
    .rg\:top {
        vertical-align: top;
    }
    .rg\:middle {
        vertical-align: middle;
    }
    .rg\:bottom {
        vertical-align: bottom;
    }
    .rg\:left {
        text-align: left;
    }
    .rg\:center {
        text-align: center;
    }
    .rg\:right {
        text-align: right;
    }
    .rg\:justify {
        text-align: justify;
    }
    .rg\:overflow-hidden {
        overflow: hidden;
    }
    .rg\:overflow-x-hidden {
        overflow-x: hidden;
    }
    .rg\:overflow-y-hidden {
        overflow-y: hidden;
    }
    .rg\:overflow-auto {
        overflow: auto;
    }
    .rg\:overflow-x-auto {
        overflow-x: auto;
    }
    .rg\:overflow-y-auto {
        overflow-y: auto;
    }
    .rg\:overflow-scroll {
        overflow: scroll;
    }
    .rg\:overflow-x-scroll {
        overflow-x: scroll;
    }
    .rg\:overflow-y-scroll {
        overflow-y: scroll;
    }
    .rg\:full-bleed {
        width: calc(100vw - 2 * var(--bleed-padding));
        margin-left: calc(50% - 50vw + var(--bleed-padding));
    }
    .rg\:full-bleed-unpadded {
        width: 100vw;
        margin-left: calc(50% - 50vw);        
    }
    .rg\:bleed {
        width: min(100vw - 2 * var(--bleed-padding), var(--bleed-width));
        margin-left: max(50% - 50vw + var(--bleed-padding), 50% - var(--bleed-width) / 2);
    }
    .rg\:bleed-right {
        width: auto;
        margin-right: max(50% - 50vw + var(--bleed-padding), 50% - var(--bleed-width) / 2);
    }
    .rg\:bleed-left {
        width: auto;
        margin-left: max(50% - 50vw + var(--bleed-padding), 50% - var(--bleed-width) / 2);
    }
    [class*="rg\:split"],
    .rg\:split {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: var(--split-column-gap);
        row-gap: var(--split-row-gap);
        align-items: var(--align-split-items);
        justify-items: var(--justify-split-items);
    }
    [class*="rg\:split"]>* {
        margin: 0;
    }
    .rg\:split-1-2 {
        grid-template-columns: 1fr 2fr;
    }
    .rg\:split-2-1 {
        grid-template-columns: 2fr 1fr;
    }
    .rg\:split-1-3 {
        grid-template-columns: 1fr 3fr;
    }
    .rg\:split-3-1 {
        grid-template-columns: 3fr 1fr;
    }
    .rg\:split-1-4 {
        grid-template-columns: 1fr 4fr;
    }
    .rg\:split-4-1 {
        grid-template-columns: 4fr 1fr;
    }
    .rg\:split-1-5 {
        grid-template-columns: 1fr 5fr;
    }
    .rg\:split-5-1 {
        grid-template-columns: 5fr 1fr;
    }
    .rg\:split-1-6 {
        grid-template-columns: 1fr 6fr;
    }
    .rg\:split-6-1 {
        grid-template-columns: 6fr 1fr;
    }
    .rg\:split-1-sm {
        grid-template-columns: 1fr var(--sm-width);
    }
    .rg\:split-sm-1 {
        grid-template-columns: var(--sm-width) 1fr;
    }
    .rg\:aside-left {
        float: left;
        margin-left: calc(-1 * (min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2);
        width: calc((min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2 - var(--split-column-gap));
    }
    .rg\:aside-right {
        float: right;
        margin-right: calc(-1 * (min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2);
        width: calc((min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2 - var(--split-column-gap));
    }
    /* Nicolas Gallaghers Clearfix solution
   Ref: http://nicolasgallagher.com/micro-clearfix-hack/ */
    .rg\:clearfix::before,
    .rg\:clearfix::after {
        content: " ";
        display: table;
    }
    .rg\:clearfix::after {
        clear: both;
    }
    .rg\:clearfix {
        *zoom: 1;
    }
    .rg\:float-left {
        float: left;
    }
    .rg\:float-right {
        float: right;
    }
    .rg\:float-clear {
        clear: both;
    }
    .rg\:fit {
        max-width: 100%;
    }
    .rg\:border-box {
        box-sizing: border-box;
    }
    .rg\:content-box {
        box-sizing: content-box;
    }
    .rg\:static {
        position: static;
    }
    .rg\:sticky {
        position: sticky;
    }
    .rg\:relative {
        position: relative;
    }
    .rg\:absolute {
        position: absolute;
    }
    .rg\:fixed {
        position: fixed;
    }
    .rg\:top-0 {
        top: 0;
    }
    .rg\:right-0 {
        right: 0;
    }
    .rg\:bottom-0 {
        bottom: 0;
    }
    .rg\:left-0 {
        left: 0;
    }
    .rg\:z-1 {
        z-index: var(--z-1)
    }
    .rg\:z-2 {
        z-index: var(--z-2)
    }
    .rg\:z-3 {
        z-index: var(--z-3)
    }
    .rg\:z-4 {
        z-index: var(--z-4)
    }
    .rg\:box-break-clone {
        box-decoration-break: clone;
        -o-box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
    }
    .rg\:contain-content {
        contain: content;
    }
    .rg\:contain-strict {
        contain: strict;
    }
    .rg\:contain-layout {
        contain: layout;
    }
    .rg\:contain-paint {
        contain: paint;
    }
    .rg\:contain-size {
        contain: paint;
    }
    .rg\:contain-style {
        contain: style;
    }
}

@media (--mi-md-breakpoint) {
    .md\:inline {
        display: inline;
    }
    .md\:block {
        display: block;
    }
    .md\:inline-block {
        display: inline-block;
    }
    .md\:inline-table {
        display: inline-table;
    }
    .md\:table {
        display: table;
    }
    .md\:table-cell {
        display: table-cell;
    }
    .md\:baseline {
        vertical-align: baseline;
    }
    .md\:top {
        vertical-align: top;
    }
    .md\:middle {
        vertical-align: middle;
    }
    .md\:bottom {
        vertical-align: bottom;
    }
    .md\:left {
        text-align: left;
    }
    .md\:center {
        text-align: center;
    }
    .md\:right {
        text-align: right;
    }
    .md\:justify {
        text-align: justify;
    }
    .md\:overflow-hidden {
        overflow: hidden;
    }
    .md\:overflow-x-hidden {
        overflow-x: hidden;
    }
    .md\:overflow-y-hidden {
        overflow-y: hidden;
    }
    .md\:overflow-auto {
        overflow: auto;
    }
    .md\:overflow-x-auto {
        overflow-x: auto;
    }
    .md\:overflow-y-auto {
        overflow-y: auto;
    }
    .md\:overflow-scroll {
        overflow: scroll;
    }
    .md\:overflow-x-scroll {
        overflow-x: scroll;
    }
    .md\:overflow-y-scroll {
        overflow-y: scroll;
    }
    .md\:full-bleed {
        width: calc(100vw - 2 * var(--bleed-padding));
        margin-left: calc(50% - 50vw + var(--bleed-padding));
    }
    .md\:full-bleed-unpadded {
        width: 100vw;
        margin-left: calc(50% - 50vw);
    }
    .md\:bleed {
        width: min(100vw - 2 * var(--bleed-padding), var(--bleed-width));
        margin-left: max(50% - 50vw + var(--bleed-padding), 50% - var(--bleed-width) / 2);
    }
    .md\:bleed-right {
        width: auto;
        margin-right: max(50% - 50vw + var(--bleed-padding), 50% - var(--bleed-width) / 2);
    }
    .md\:bleed-left {
        width: auto;
        margin-left: max(50% - 50vw + var(--bleed-padding), 50% - var(--bleed-width) / 2);
    }
    [class*="md\:split"],
    .md\:split {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: var(--split-column-gap);
        row-gap: var(--split-row-gap);
        align-items: var(--align-split-items);
        justify-items: var(--justify-split-items);
    }
    [class*="md\:split"]>* {
        margin: 0;
    }
    .md\:split-1-2 {
        grid-template-columns: 1fr 2fr;
    }
    .md\:split-2-1 {
        grid-template-columns: 2fr 1fr;
    }
    .md\:split-1-3 {
        grid-template-columns: 1fr 3fr;
    }
    .md\:split-3-1 {
        grid-template-columns: 3fr 1fr;
    }
    .md\:split-1-4 {
        grid-template-columns: 1fr 4fr;
    }
    .md\:split-4-1 {
        grid-template-columns: 4fr 1fr;
    }
    .md\:split-1-5 {
        grid-template-columns: 1fr 5fr;
    }
    .md\:split-5-1 {
        grid-template-columns: 5fr 1fr;
    }
    .md\:split-1-6 {
        grid-template-columns: 1fr 6fr;
    }
    .md\:split-6-1 {
        grid-template-columns: 6fr 1fr;
    }
    .md\:split-1-sm {
        grid-template-columns: 1fr var(--sm-width);
    }
    .md\:split-1-rg {
        grid-template-columns: 1fr var(--rg-width);
    }
    .md\:split-sm-1 {
        grid-template-columns: var(--sm-width) 1fr;
    }
    .md\:split-rg-1 {
        grid-template-columns: var(--rg-width) 1fr;
    }
    .md\:split-aside-left {
        grid-template-columns: calc((min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2 - var(--split-column-gap)) 1fr;
    }
    .md\:split-aside-right {
        grid-template-columns: 1fr calc((min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2 - var(--split-column-gap));
    }
    .md\:aside-left {
        float: left;
        margin-left: calc(-1 * (min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2);
        width: calc((min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2 - var(--split-column-gap));
    }
    .md\:aside-right {
        float: right;
        margin-right: calc(-1 * (min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2);
        width: calc((min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2 - var(--split-column-gap));
    }
    /* Nicolas Gallaghers Clearfix solution
   Ref: http://nicolasgallagher.com/micro-clearfix-hack/ */
    .md\:clearfix::before,
    .md\:clearfix::after {
        content: " ";
        display: table;
    }
    .md\:clearfix::after {
        clear: both;
    }
    .md\:clearfix {
        *zoom: 1;
    }
    .md\:float-left {
        float: left;
    }
    .md\:float-right {
        float: right;
    }
    .md\:float-clear {
        clear: both;
    }
    .md\:fit {
        max-width: 100%;
    }
    .md\:border-box {
        box-sizing: border-box;
    }
    .md\:content-box {
        box-sizing: content-box;
    }
    .md\:static {
        position: static;
    }
    .md\:sticky {
        position: sticky;
    }
    .md\:relative {
        position: relative;
    }
    .md\:absolute {
        position: absolute;
    }
    .md\:fixed {
        position: fixed;
    }
    .md\:top-0 {
        top: 0;
    }
    .md\:right-0 {
        right: 0;
    }
    .md\:bottom-0 {
        bottom: 0;
    }
    .md\:left-0 {
        left: 0;
    }
    .md\:z-1 {
        z-index: var(--z-1)
    }
    .md\:z-2 {
        z-index: var(--z-2)
    }
    .md\:z-3 {
        z-index: var(--z-3)
    }
    .md\:z-4 {
        z-index: var(--z-4)
    }
    .md\:box-break-clone {
        box-decoration-break: clone;
        -o-box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
    }
    .md\:contain-content {
        contain: content;
    }
    .md\:contain-strict {
        contain: strict;
    }
    .md\:contain-layout {
        contain: layout;
    }
    .md\:contain-paint {
        contain: paint;
    }
    .md\:contain-size {
        contain: paint;
    }
    .md\:contain-style {
        contain: style;
    }
}

@media (--mi-lg-breakpoint) {
    .lg\:inline {
        display: inline;
    }
    .lg\:block {
        display: block;
    }
    .lg\:inline-block {
        display: inline-block;
    }
    .lg\:inline-table {
        display: inline-table;
    }
    .lg\:table {
        display: table;
    }
    .lg\:table-cell {
        display: table-cell;
    }
    .lg\:baseline {
        vertical-align: baseline;
    }
    .lg\:top {
        vertical-align: top;
    }
    .lg\:middle {
        vertical-align: middle;
    }
    .lg\:bottom {
        vertical-align: bottom;
    }
    .lg\:left {
        text-align: left;
    }
    .lg\:center {
        text-align: center;
    }
    .lg\:right {
        text-align: right;
    }
    .lg\:justify {
        text-align: justify;
    }
    .lg\:overflow-hidden {
        overflow: hidden;
    }
    .lg\:overflow-x-hidden {
        overflow-x: hidden;
    }
    .lg\:overflow-y-hidden {
        overflow-y: hidden;
    }
    .lg\:overflow-auto {
        overflow: auto;
    }
    .lg\:overflow-x-auto {
        overflow-x: auto;
    }
    .lg\:overflow-y-auto {
        overflow-y: auto;
    }
    .lg\:overflow-scroll {
        overflow: scroll;
    }
    .lg\:overflow-x-scroll {
        overflow-x: scroll;
    }
    .lg\:overflow-y-scroll {
        overflow-y: scroll;
    }
    .lg\:full-bleed {        
        width: calc(100vw - 2 * var(--bleed-padding));
        margin-left: calc(50% - 50vw + var(--bleed-padding));
    }
    .lg\:full-bleed-unpadded {
        width: 100vw;
        margin-left: calc(50% - 50vw);
    }
    .lg\:bleed {
        width: min(100vw - 2 * var(--bleed-padding), var(--bleed-width));
        margin-left: max(50% - 50vw + var(--bleed-padding), 50% - var(--bleed-width) / 2);
    }
    .lg\:bleed-right {
        width: auto;
        margin-right: max(50% - 50vw + var(--bleed-padding), 50% - var(--bleed-width) / 2);
    }
    .lg\:bleed-left {
        width: auto;
        margin-left: max(50% - 50vw + var(--bleed-padding), 50% - var(--bleed-width) / 2);
    }
    [class*="lg\:split"],
    .lg\:split {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: var(--split-column-gap);
        row-gap: var(--split-row-gap);
        align-items: var(--align-split-items);
        justify-items: var(--justify-split-items);
    }
    [class*="lg\:split"]>* {
        margin: 0;
    }
    .lg\:split-1-2 {
        grid-template-columns: 1fr 2fr;
    }
    .lg\:split-2-1 {
        grid-template-columns: 2fr 1fr;
    }
    .lg\:split-1-3 {
        grid-template-columns: 1fr 3fr;
    }
    .lg\:split-3-1 {
        grid-template-columns: 3fr 1fr;
    }
    .lg\:split-1-4 {
        grid-template-columns: 1fr 4fr;
    }
    .lg\:split-4-1 {
        grid-template-columns: 4fr 1fr;
    }
    .lg\:split-1-5 {
        grid-template-columns: 1fr 5fr;
    }
    .lg\:split-5-1 {
        grid-template-columns: 5fr 1fr;
    }
    .lg\:split-1-6 {
        grid-template-columns: 1fr 6fr;
    }
    .lg\:split-6-1 {
        grid-template-columns: 6fr 1fr;
    }
    .lg\:split-1-sm {
        grid-template-columns: 1fr var(--sm-width);
    }
    .lg\:split-1-rg {
        grid-template-columns: 1fr var(--rg-width);
    }
    .lg\:split-1-md {
        grid-template-columns: 1fr var(--md-width);
    }
    .lg\:split-sm-1 {
        grid-template-columns: var(--sm-width) 1fr;
    }
    .lg\:split-rg-1 {
        grid-template-columns: var(--rg-width) 1fr;
    }
    .lg\:split-md-1 {
        grid-template-columns: var(--md-width) 1fr;
    }
    .lg\:split-aside-left {
        grid-template-columns: calc((min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2 - var(--split-column-gap)) 1fr;
    }
    .lg\:split-aside-right {
        grid-template-columns: 1fr calc((min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2 - var(--split-column-gap));
    }
    .lg\:aside-left {
        float: left;
        margin-left: calc(-1 * (min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2);
        width: calc((min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2 - var(--split-column-gap));
    }
    .lg\:aside-right {
        float: right;
        margin-right: calc(-1 * (min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2);
        width: calc((min(var(--bleed-width), 100vw - 2*var(--bleed-padding)) - var(--rg-width)) / 2 - var(--split-column-gap));
    }
    /* Nicolas Gallaghers Clearfix solution
   Ref: http://nicolasgallagher.com/micro-clearfix-hack/ */
    .lg\:clearfix::before,
    .lg\:clearfix::after {
        content: " ";
        display: table;
    }
    .lg\:clearfix::after {
        clear: both;
    }
    .lg\:clearfix {
        *zoom: 1;
    }
    .lg\:float-left {
        float: left;
    }
    .lg\:float-right {
        float: right;
    }
    .lg\:float-clear {
        clear: both;
    }
    .lg\:fit {
        max-width: 100%;
    }
    .lg\:border-box {
        box-sizing: border-box;
    }
    .lg\:content-box {
        box-sizing: content-box;
    }
    .lg\:static {
        position: static;
    }
    .lg\:sticky {
        position: sticky;
    }
    .lg\:relative {
        position: relative;
    }
    .lg\:absolute {
        position: absolute;
    }
    .lg\:fixed {
        position: fixed;
    }
    .lg\:top-0 {
        top: 0;
    }
    .lg\:right-0 {
        right: 0;
    }
    .lg\:bottom-0 {
        bottom: 0;
    }
    .lg\:left-0 {
        left: 0;
    }
    .lg\:z-1 {
        z-index: var(--z-1)
    }
    .lg\:z-2 {
        z-index: var(--z-2)
    }
    .lg\:z-3 {
        z-index: var(--z-3)
    }
    .lg\:z-4 {
        z-index: var(--z-4)
    }
    .lg\:box-break-clone {
        box-decoration-break: clone;
        -o-box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
    }
    .lg\:contain-content {
        contain: content;
    }
    .lg\:contain-strict {
        contain: strict;
    }
    .lg\:contain-layout {
        contain: layout;
    }
    .lg\:contain-paint {
        contain: paint;
    }
    .lg\:contain-size {
        contain: paint;
    }
    .lg\:contain-style {
        contain: style;
    }
}