.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline-table {
  display: inline-table;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
}

.baseline {
  vertical-align: baseline;
}

.top {
  vertical-align: top;
}

.middle {
  vertical-align: middle;
}

.bottom {
  vertical-align: bottom;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.justify {
  text-align: justify;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-auto {
  overflow: auto;
}


/* Nicolas Gallaghers Clearfix solution
   Ref: http://nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.fit {
  max-width: 100%;
}

.max-width-sm {
  max-width: var(--small-width);
}

.max-width-rg {
  max-width: var(--regular-width);
}

.max-width-md {
  max-width: var(--mid-width);
}

.max-width-lg {
  max-width: var(--large-width);
}

.border-box {
  box-sizing: border-box;
}

.content-box {
  box-sizing: content-box;
}

.width-d5 {
  width: var(--space-d5);
}

.width-d4 {
  width: var(--space-d4);
}

.width-d3 {
  width: var(--space-d3);
}

.width-d2 {
  width: var(--space-d2);
}

.width-d1 {
  width: var(--space-d1);
}

.width {
  width: var(--space);
}

.width-1 {
  width: var(--space-1)
}

.width-2 {
  width: var(--space-2);
}

.width-3 {
  width: var(--space-3)
}

.width-4 {
  width: var(--space-4)
}

.height-d5 {
  height: var(--space-d5);
}

.height-d4 {
  height: var(--space-d4);
}

.height-d3 {
  height: var(--space-d3);
}

.height-d2 {
  height: var(--space-d2);
}

.height-d1 {
  height: var(--space-d1);
}

.height {
  height: var(--space);
}

.height-1 {
  height: var(--space-1)
}

.height-2 {
  height: var(--space-2);
}

.height-3 {
  height: var(--space-3)
}

.height-4 {
  height: var(--space-4)
}

.square-d5 {
  width: var(--space-d5);
  height: var(--space-d5);
}

.square-d4 {
  width: var(--space-d4);
  height: var(--space-d4);
}

.square-d3 {
  width: var(--space-d3);
  height: var(--space-d3);
}

.square-d2 {
  width: var(--space-d2);
  height: var(--space-d2);
}

.square-d1 {
  width: var(--space-d1);
  height: var(--space-d1);
}

.square {
  width: var(--space);
  height: var(--space);
}

.square-1 {
  width: var(--space-1);
  height: var(--space-1)
}

.square-2 {
  width: var(--space-2);
  height: var(--space-2);
}

.square-3 {
  width: var(--space-3);
  height: var(--space-3)
}

.square-4 {
  width: var(--space-4);
  height: var(--space-4)
}

@media (--breakpoint-sm) {
  .sm-width-d5 {
    width: var(--space-d5);
  }

  .sm-width-d4 {
    width: var(--space-d4);
  }

  .sm-width-d3 {
    width: var(--space-d3);
  }

  .sm-width-d2 {
    width: var(--space-d2);
  }

  .sm-width-d1 {
    width: var(--space-d1);
  }

  .sm-width {
    width: var(--space);
  }

  .sm-width-1 {
    width: var(--space-1)
  }

  .sm-width-2 {
    width: var(--space-2);
  }

  .sm-width-3 {
    width: var(--space-3)
  }

  .sm-width-4 {
    width: var(--space-4)
  }

  .sm-height-d5 {
    height: var(--space-d5);
  }

  .sm-height-d4 {
    height: var(--space-d4);
  }

  .sm-height-d3 {
    height: var(--space-d3);
  }

  .sm-height-d2 {
    height: var(--space-d2);
  }

  .sm-height-d1 {
    height: var(--space-d1);
  }

  .sm-height {
    height: var(--space);
  }

  .sm-height-1 {
    height: var(--space-1)
  }

  .sm-height-2 {
    height: var(--space-2);
  }

  .sm-height-3 {
    height: var(--space-3)
  }

  .sm-height-4 {
    height: var(--space-4)
  }


  .sm-square-d5 {
    width: var(--space-d5);
    height: var(--space-d5);
  }

  .sm-square-d4 {
    width: var(--space-d4);
    height: var(--space-d4);
  }

  .sm-square-d3 {
    width: var(--space-d3);
    height: var(--space-d3);
  }

  .sm-square-d2 {
    width: var(--space-d2);
    height: var(--space-d2);
  }

  .sm-square-d1 {
    width: var(--space-d1);
    height: var(--space-d1);
  }

  .sm-square {
    width: var(--space);
    height: var(--space);
  }

  .sm-square-1 {
    width: var(--space-1);
    height: var(--space-1)
  }

  .sm-square-2 {
    width: var(--space-2);
    height: var(--space-2);
  }

  .sm-square-3 {
    width: var(--space-3);
    height: var(--space-3)
  }

  .sm-square-4 {
    width: var(--space-4);
    height: var(--space-4)
  }
}

@media (--breakpoint-rg) {
  .rg-width-d5 {
    width: var(--space-d5);
  }

  .rg-width-d4 {
    width: var(--space-d4);
  }

  .rg-width-d3 {
    width: var(--space-d3);
  }

  .rg-width-d2 {
    width: var(--space-d2);
  }

  .rg-width-d1 {
    width: var(--space-d1);
  }

  .rg-width {
    width: var(--space);
  }

  .rg-width-1 {
    width: var(--space-1)
  }

  .rg-width-2 {
    width: var(--space-2);
  }

  .rg-width-3 {
    width: var(--space-3)
  }

  .rg-width-4 {
    width: var(--space-4)
  }

  .rg-height-d5 {
    height: var(--space-d5);
  }

  .rg-height-d4 {
    height: var(--space-d4);
  }

  .rg-height-d3 {
    height: var(--space-d3);
  }

  .rg-height-d2 {
    height: var(--space-d2);
  }

  .rg-height-d1 {
    height: var(--space-d1);
  }

  .rg-height {
    height: var(--space);
  }

  .rg-height-1 {
    height: var(--space-1)
  }

  .rg-height-2 {
    height: var(--space-2);
  }

  .rg-height-3 {
    height: var(--space-3)
  }

  .rg-height-4 {
    height: var(--space-4)
  }

  .rg-square-d5 {
    width: var(--space-d5);
    height: var(--space-d5);
  }

  .rg-square-d4 {
    width: var(--space-d4);
    height: var(--space-d4);
  }

  .rg-square-d3 {
    width: var(--space-d3);
    height: var(--space-d3);
  }

  .rg-square-d2 {
    width: var(--space-d2);
    height: var(--space-d2);
  }

  .rg-square-d1 {
    width: var(--space-d1);
    height: var(--space-d1);
  }

  .rg-square {
    width: var(--space);
    height: var(--space);
  }

  .rg-square-1 {
    width: var(--space-1);
    height: var(--space-1)
  }

  .rg-square-2 {
    width: var(--space-2);
    height: var(--space-2);
  }

  .rg-square-3 {
    width: var(--space-3);
    height: var(--space-3)
  }

  .rg-square-4 {
    width: var(--space-4);
    height: var(--space-4)
  }
}

@media (--breakpoint-md) {
  .md-width-d5 {
    width: var(--space-d5);
  }

  .md-width-d4 {
    width: var(--space-d4);
  }

  .md-width-d3 {
    width: var(--space-d3);
  }

  .md-width-d2 {
    width: var(--space-d2);
  }

  .md-width-d1 {
    width: var(--space-d1);
  }

  .md-width {
    width: var(--space);
  }

  .md-width-1 {
    width: var(--space-1)
  }

  .md-width-2 {
    width: var(--space-2);
  }

  .md-width-3 {
    width: var(--space-3)
  }

  .md-width-4 {
    width: var(--space-4)
  }

  .md-height-d5 {
    height: var(--space-d5);
  }

  .md-height-d4 {
    height: var(--space-d4);
  }

  .md-height-d3 {
    height: var(--space-d3);
  }

  .md-height-d2 {
    height: var(--space-d2);
  }

  .md-height-d1 {
    height: var(--space-d1);
  }

  .md-height {
    height: var(--space);
  }

  .md-height-1 {
    height: var(--space-1)
  }

  .md-height-2 {
    height: var(--space-2);
  }

  .md-height-3 {
    height: var(--space-3)
  }

  .md-height-4 {
    height: var(--space-4)
  }

  .md-square-d5 {
    width: var(--space-d5);
    height: var(--space-d5);
  }

  .md-square-d4 {
    width: var(--space-d4);
    height: var(--space-d4);
  }

  .md-square-d3 {
    width: var(--space-d3);
    height: var(--space-d3);
  }

  .md-square-d2 {
    width: var(--space-d2);
    height: var(--space-d2);
  }

  .md-square-d1 {
    width: var(--space-d1);
    height: var(--space-d1);
  }

  .md-square {
    width: var(--space);
    height: var(--space);
  }

  .md-square-1 {
    width: var(--space-1);
    height: var(--space-1)
  }

  .md-square-2 {
    width: var(--space-2);
    height: var(--space-2);
  }

  .md-square-3 {
    width: var(--space-3);
    height: var(--space-3)
  }

  .md-square-4 {
    width: var(--space-4);
    height: var(--space-4)
  }
}

@media (--breakpoint-lg) {
  .lg-width-d5 {
    width: var(--space-d5);
  }

  .lg-width-d4 {
    width: var(--space-d4);
  }

  .lg-width-d3 {
    width: var(--space-d3);
  }

  .lg-width-d2 {
    width: var(--space-d2);
  }

  .lg-width-d1 {
    width: var(--space-d1);
  }

  .lg-width {
    width: var(--space);
  }

  .lg-width-1 {
    width: var(--space-1)
  }

  .lg-width-2 {
    width: var(--space-2);
  }

  .lg-width-3 {
    width: var(--space-3)
  }

  .lg-width-4 {
    width: var(--space-4)
  }

  .lg-height-d5 {
    height: var(--space-d5);
  }

  .lg-height-d4 {
    height: var(--space-d4);
  }

  .lg-height-d3 {
    height: var(--space-d3);
  }

  .lg-height-d2 {
    height: var(--space-d2);
  }

  .lg-height-d1 {
    height: var(--space-d1);
  }

  .lg-height {
    height: var(--space);
  }

  .lg-height-1 {
    height: var(--space-1)
  }

  .lg-height-2 {
    height: var(--space-2);
  }

  .lg-height-3 {
    height: var(--space-3)
  }

  .lg-height-4 {
    height: var(--space-4)
  }

  .lg-square-d5 {
    width: var(--space-d5);
    height: var(--space-d5);
  }

  .lg-square-d4 {
    width: var(--space-d4);
    height: var(--space-d4);
  }

  .lg-square-d3 {
    width: var(--space-d3);
    height: var(--space-d3);
  }

  .lg-square-d2 {
    width: var(--space-d2);
    height: var(--space-d2);
  }

  .lg-square-d1 {
    width: var(--space-d1);
    height: var(--space-d1);
  }

  .lg-square {
    width: var(--space);
    height: var(--space);
  }

  .lg-square-1 {
    width: var(--space-1);
    height: var(--space-1)
  }

  .lg-square-2 {
    width: var(--space-2);
    height: var(--space-2);
  }

  .lg-square-3 {
    width: var(--space-3);
    height: var(--space-3)
  }

  .lg-square-4 {
    width: var(--space-4);
    height: var(--space-4)
  }
}