:root {
    --mrt-list: var(--vertical-rhythm);
    --mrb-list: var(--vertical-rhythm);
    --list-item-type: "–";
    --ol-counter-delimiter: "-";
    --ol-counter-type: decimal-leading-zero;
    --h-counter-type: decimal;
    --h-counter-delimiter: ".";
    --ol-counter: counters(ol-counter, var(--ol-counter-delimiter), var(--ol-counter-type));
    --h-counter: counters(ol-counter, var(--h-counter-delimiter), var(--h-counter-type));
    --h2-counter: counter(h2-counter);
    --h3-counter: counter(h2-counter) var(--h-counter-delimiter) counter(h3-counter);
    --h4-counter: counter(h2-counter) var(--h-counter-delimiter) counter(h3-counter) var(--h-counter-delimiter) counter(h4-counter);
    --h5-counter: counter(h2-counter) var(--h-counter-delimiter) counter(h3-counter) var(--h-counter-delimiter) counter(h4-counter) var(--h-counter-delimiter) counter(h5-counter);
    --h6-counter: counter(h2-counter) var(--h-counter-delimiter) counter(h3-counter) var(--h-counter-delimiter) counter(h4-counter) var(--h-counter-delimiter) counter(h5-counter) var(--h-counter-delimiter) counter(h6-counter);
    --timeline-blub-size: 1em;
    --timeline-width: var(--border-width);
    --timeline-blub-border-width: var(--border-width);
}

dl {
    margin-top: var(--mrt-list);
    margin-bottom: var(--mrb-list);
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

dd {
    margin-left: var(--horizontal-rhythm);
}

dd+dt {
    margin-top: var(--mrt-list);
}

dl.timeline {
    border-left: var(--timeline-width) solid var(--timeline-color);
}

dl.timeline>dt,
dl.timeline>dd {
    margin-left: 0;
    padding-left: calc(var(--horizontal-rhythm));
}

dl.timeline>dt {
    font-style: italic;
}

dl.timeline>dt::before {
    border-radius: 50%;
    content: "";
    width: var(--timeline-blub-size);
    height: var(--timeline-blub-size);
    display: block;
    position: absolute;
    margin-left: calc(-0.5 * (var(--timeline-blub-size) + var(--timeline-width)) - var(--horizontal-rhythm));
    margin-top: calc(0.5em * var(--lh-default) - 0.5 * var(--timeline-blub-size) - var(--timeline-width));
    background-color: var(--timeline-blub-background);
    border: var(--timeline-blub-border-width) solid var(--timeline-blub-color);
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin-left: 0;
    padding-left: var(--horizontal-rhythm);
    list-style-position: outside;
    margin-right: 0;
    margin-top: var(--mrt-list);
    margin-bottom: var(--mrb-list);
}

ol ol,
ol ul,
ul ul,
ul ol {
    margin-top: 0;
    margin-bottom: 0;
}

li {
    margin: 0;
    padding: 0;
}

li p {
    margin-top: 0;
    margin-bottom: 0;
}

li>ol {
    counter-reset: ol-counter;
}

ol>li {
    counter-increment: ol-counter;
}

ol li::before {
    content: var(--ol-counter);
    min-width: var(--horizontal-rhythm);
    padding-right: var(--space-d2);
    margin-left: calc(var(--horizontal-rhythm) * -1);
    display: inline-grid;
    justify-content: start;
    align-items: baseline;
    font-family: var(--meta-font-family);
    font-size: smaller;
    color: var(--li-prefix-color);
}

ul li::before {
    content: var(--list-item-type);
    margin-left: calc(var(--horizontal-rhythm) * -1);
    padding-right: var(--space-d2);
    min-width: var(--horizontal-rhythm);
    display: inline-grid;
    justify-content: start;
    align-items: baseline;
    color: var(--li-prefix-color);
}

ol ol li::before,
ol ul li::before,
ul ul li::before,
ul ol li::before {
    min-width: var(--horizontal-rhythm);
    padding-left: 0;
}

*.outline {
    counter-reset: h2-counter;
}

.outline h2::before,
.outline h3::before,
.outline h4::before,
.outline h5::before,
.outline h6::before {
    display: inline-block;
    color: var(--heading-outline-color);
    font-weight: inherit;
    min-width: var(--horizontal-rhythm);
    padding-right: var(--space-d2);
}

.outline h2::before {
    content: var(--h2-counter);
}

.outline h2 {
    counter-increment: h2-counter;
    counter-reset: h3-counter;
}

.outline h3::before {
    content: var(--h3-counter);
}

.outline h3 {
    counter-increment: h3-counter;
    counter-reset: h4-counter;
}

.outline h4::before {
    content: var(--h4-counter);
}

.outline h4 {
    counter-increment: h4-counter;
    counter-reset: h5-counter;
}

.outline h5::before {
    content: var(--h5-counter);
}

.outline h5 {
    counter-increment: h5-counter;
    counter-reset: h6-counter;
}

.outline h6::before {
    content: var(--h6-counter);
}

.outline h6 {
    counter-increment: h6-counter;
}

ul.indent,
ol.indent,
[class^="columns"] ul,
[class^="columns"] ol {
    margin-left: 0;
}

ol.indent li::before,
ul.indent li::before,
[class^="columns"] ol li::before,
[class^="columns"] ul li::before {
    margin-left: 0;
    padding-left: 0;
}

ul.no-list-type li::before {
    content: unset;
}

ul.reset {
    margin-left: 0;
}

ul.reset li::before {
    content: unset;
    margin-left: unset;
    min-width: unset;
    display: unset;
}