:root {
    --mrt-list: var(--vertical-rhythm);
    --mrb-list: var(--vertical-rhythm);
    --list-item-type: "●";
    /*▁⁕●■ → */
    --ol-counter-delimiter: ".";
    --ol-counter-type: decimal;
    --h-counter-type: decimal;
    --h-counter-delimiter: ".";
    --ol-counter: counters(ol-counter, var(--ol-counter-delimiter), var(--ol-counter-type));
    --h-counter: counters(ol-counter, var(--h-counter-delimiter), var(--h-counter-type));
    --h2-counter: counter(h2-counter);
    --h3-counter: counter(h2-counter) var(--h-counter-delimiter) counter(h3-counter);
    --h4-counter: counter(h2-counter) var(--h-counter-delimiter) counter(h3-counter) var(--h-counter-delimiter) counter(h4-counter);
    --h5-counter: counter(h2-counter) var(--h-counter-delimiter) counter(h3-counter) var(--h-counter-delimiter) counter(h4-counter) var(--h-counter-delimiter) counter(h5-counter);
    --h6-counter: counter(h2-counter) var(--h-counter-delimiter) counter(h3-counter) var(--h-counter-delimiter) counter(h4-counter) var(--h-counter-delimiter) counter(h5-counter) var(--h-counter-delimiter) counter(h6-counter);
    --timeline-blub-size: 1rem;
    --timeline-width: 1px;
    --timeline-blub-border-width: 1px;
    --timeline-left-gap: calc(var(--timeline-blub-size) / 2 + 2px);
    --timeline-right-gap: calc(var(--horizontal-rhythm) - var(--timeline-left-gap) - var(--timeline-width));
    --timeline-left-blub-pos: calc(-1 * (var(--timeline-right-gap) + .5 * (var(--timeline-blub-size) + var(--timeline-width))));
    --timeline-top-blub-pos: calc(1em * var(--lh-default) / 2 - var(--timeline-blub-size) / 2);
    --timeline-framed-figure-indent: var(--horizontal-rhythm);
    --timeline-framed-figure-padding: var(--space);
    --timeline-framed-right-gap: calc(var(--timeline-framed-figure-indent) + var(--horizontal-rhythm) - var(--timeline-left-gap) - var(--timeline-width));
    --timeline-framed-left-blub-pos: calc(-1 * (var(--timeline-framed-figure-indent) + var(--timeline-right-gap) + .5 * (var(--timeline-blub-size) + var(--timeline-width))));
}

dl {
    margin-top: var(--mrt-list);
    margin-bottom: var(--mrb-list);
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

dd {
    margin-left: var(--horizontal-rhythm);
}

table dd {
    margin-left: 0;
}

dd+dt {
    margin-top: var(--mrt-list);
}

dl.timeline.framed dd+dt {
    margin-top: var(--mrt-figure);
}

dl.timeline {
    border-left: var(--timeline-width) solid var(--timeline-color);
    margin-left: var(--timeline-left-gap);
}

dl.timeline>dt,
dl.timeline>dd {
    margin-left: 0;
    padding-left: var(--timeline-right-gap);
}

dl.timeline.framed>dt,
dl.timeline.framed>dd {
    padding-left: var(--timeline-framed-right-gap);
}

dl.timeline>dt::before {
    border-radius: 50%;
    content: "";
    width: var(--timeline-blub-size);
    height: var(--timeline-blub-size);
    display: block;
    position: absolute;
    margin-left: var(--timeline-left-blub-pos);
    margin-top: var(--timeline-top-blub-pos);
    background-color: var(--timeline-blub-background);
    border: var(--timeline-blub-border-width) solid var(--timeline-blub-color);
}

dl.timeline.framed>dt::before {
    margin-left: var(--timeline-framed-left-blub-pos);
}

dl.timeline.framed>dt>figure,
dl.timeline.framed>dd>figure,
dl.timeline>dt>figure.framed,
dl.timeline>dd>figure.framed {
    margin-left: 0;
    border: var(--timeline-width) solid var(--timeline-color);
    padding: var(--timeline-framed-figure-padding);
}

dl.timeline:not(dl.timeline.framed)>dt>figure.framed,
dl.timeline:not(dl.timeline.framed)>dd>figure.framed {
    margin-left: var(--timeline-framed-figure-indent);
}

dl.timeline.framed>dt>figure::before,
dl.timeline>dt>figure.framed::before {
    content: "";
    width: calc(var(--timeline-framed-figure-indent) + var(--timeline-right-gap) + var(--timeline-width) - var(--timeline-blub-size) / 2);
    border-top: var(--timeline-width) solid var(--timeline-color);
    position: absolute;
    margin-top: calc(var(--timeline-top-blub-pos) + var(--timeline-blub-size) / 2 - var(--timeline-framed-figure-padding));
    margin-left: calc(-1 * (var(--timeline-right-gap) + var(--timeline-framed-figure-indent) + var(--timeline-width) + var(--timeline-framed-figure-padding)) + var(--timeline-blub-size) / 2);
}

dl.timeline.framed>dd>figure::before,
dl.timeline>dd>figure.framed::before {
    content: "";
    width: calc(var(--timeline-framed-figure-indent) + var(--timeline-right-gap) + var(--timeline-width));
    border-top: var(--timeline-width) solid var(--timeline-color);
    position: absolute;
    margin-top: calc(var(--timeline-top-blub-pos) + var(--timeline-blub-size) / 2 - var(--timeline-framed-figure-padding));
    margin-left: calc(-1 * (var(--timeline-right-gap) + var(--timeline-framed-figure-indent) + var(--timeline-width) + var(--timeline-framed-figure-padding)));
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: var(--horizontal-rhythm);
    margin-top: var(--mrt-list);
    margin-bottom: var(--mrb-list);
}

ol ol,
ol ul,
ul ul,
ul ol {
    margin-top: 0;
    margin-bottom: 0;
}

li {
    margin: 0;
    padding: 0;
}

li>p:first-child {
    display: inline;
}

li>ol {
    counter-reset: ol-counter;
}

ol>li {
    counter-increment: ol-counter;
}

ol li::before {
    content: var(--ol-counter);
    min-width: var(--horizontal-rhythm);
    padding-right: var(--space-d1);
    margin-left: calc(var(--horizontal-rhythm) * -1);
    display: inline-flex;
    justify-content: flex-end;
    align-items: baseline;
    font-family: var(--meta-font-family);
    color: var(--li-prefix-color);
    font-variant-numeric: lining-nums;
}

ul li::before {
    content: var(--list-item-type);
    margin-left: calc(var(--horizontal-rhythm) * -1);
    padding-right: var(--space-d1);
    min-width: var(--horizontal-rhythm);
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--li-prefix-color);
    font-size: smaller;
}

*.outline {
    counter-reset: h2-counter;
}

.outline h2::before,
.outline h3::before,
.outline h4::before,
.outline h5::before,
.outline h6::before {
    display: inline-block;
    color: var(--heading-outline-color);
    padding-right: var(--space-d1);
    font-variant-numeric: lining-nums;
}

.outline h2::before {
    content: var(--h2-counter);
}

.outline h2 {
    counter-increment: h2-counter;
    counter-reset: h3-counter;
}

.outline h3::before {
    content: var(--h3-counter);
}

.outline h3 {
    counter-increment: h3-counter;
    counter-reset: h4-counter;
}

.outline h4::before {
    content: var(--h4-counter);
}

.outline h4 {
    counter-increment: h4-counter;
    counter-reset: h5-counter;
}

.outline h5::before {
    content: var(--h5-counter);
}

.outline h5 {
    counter-increment: h5-counter;
    counter-reset: h6-counter;
}

.outline h6::before {
    content: var(--h6-counter);
}

.outline h6 {
    counter-increment: h6-counter;
}

ul.indent,
ol.indent {
    padding-left: 0;
}

ul.indent ul,
ul.indent ol,
ol.indent ol,
ol.indent ul {
    padding-left: var(--horizontal-rhythm);
}

ol.indent li::before,
ul.indent li::before {
    margin-left: 0;
    justify-content: flex-start;
}

@media (--mx-sm-breakpoint) {
    dl:not(dl.timeline) dd {
        margin-left: 0;
    }
}

ul.no-list-type li::before {
    content: unset;
}

ul.reset,
ul.clear,
ol.reset,
ol.clear {
    padding-left: 0;
}

ul.reset li::before,
ul.clear li::before,
ol.reset li::before,
ol.clear li::before {
    content: unset;
    min-width: 0;
    padding: 0;
    margin: 0;
}