/**
Naming conventions
    x=x-axis
    y=y-axis
    t=top
    r=right
    b=bottom
    l=left
    n=negative
    0=none
    d<i>=decrease by <i>  
    <i>=increase by <i>
    
*/

.pd-0,
.no-pd {
    padding: 0;
}

.pdx-0 {
    padding-left: 0;
    padding-right: 0;
}

.pdy-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.pdt-0 {
    padding-top: 0;
}

.pdr-0 {
    padding-right: 0;
}

.pdb-0 {
    padding-bottom: 0;
}

.pdl-0 {
    padding-left: 0;
}

.pd-d5 {
    padding: var(--space-d5);
}

.pdx-d5 {
    padding-left: var(--space-d5);
    padding-right: var(--space-d5);
}

.pdy-d5 {
    padding-top: var(--space-d5);
    padding-bottom: var(--space-d5);
}

.pdt-d5 {
    padding-top: var(--space-d5);
}

.pdr-d5 {
    padding-right: var(--space-d5);
}

.pdb-d5 {
    padding-bottom: var(--space-d5);
}

.pdl-d5 {
    padding-left: var(--space-d5);
}

.pd-d4 {
    padding: var(--space-d4);
}

.pdx-d4 {
    padding-left: var(--space-d4);
    padding-right: var(--space-d4);
}

.pdy-d4 {
    padding-top: var(--space-d4);
    padding-bottom: var(--space-d4);
}

.pdt-d4 {
    padding-top: var(--space-d4);
}

.pdr-d4 {
    padding-right: var(--space-d4);
}

.pdb-d4 {
    padding-bottom: var(--space-d4);
}

.pdl-d4 {
    padding-left: var(--space-d4);
}

.pd-d3 {
    padding: var(--space-d3);
}

.pdx-d3 {
    padding-left: var(--space-d3);
    padding-right: var(--space-d3);
}

.pdy-d3 {
    padding-top: var(--space-d3);
    padding-bottom: var(--space-d3);
}

.pdt-d3 {
    padding-top: var(--space-d3);
}

.pdr-d3 {
    padding-right: var(--space-d3);
}

.pdb-d3 {
    padding-bottom: var(--space-d3);
}

.pdl-d3 {
    padding-left: var(--space-d3);
}

.pd-d2 {
    padding: var(--space-d2);
}

.pdx-d2 {
    padding-left: var(--space-d2);
    padding-right: var(--space-d2);
}

.pdy-d2 {
    padding-top: var(--space-d2);
    padding-bottom: var(--space-d2);
}

.pdt-d2 {
    padding-top: var(--space-d2);
}

.pdr-d2 {
    padding-right: var(--space-d2);
}

.pdb-d2 {
    padding-bottom: var(--space-d2);
}

.pdl-d2 {
    padding-left: var(--space-d2);
}

.pd-d1 {
    padding: var(--space-d1);
}

.pdx-d1 {
    padding-left: var(--space-d1);
    padding-right: var(--space-d1);
}

.pdy-d1 {
    padding-top: var(--space-d1);
    padding-bottom: var(--space-d1);
}

.pdt-d1 {
    padding-top: var(--space-d1);
}

.pdr-d1 {
    padding-right: var(--space-d1);
}

.pdb-d1 {
    padding-bottom: var(--space-d1);
}

.pdl-d1 {
    padding-left: var(--space-d1);
}

.pd {
    padding: var(--space);
}

.pdx {
    padding-left: var(--space);
    padding-right: var(--space);
}

.pdy {
    padding-top: var(--space);
    padding-bottom: var(--space);
}

.pdt {
    padding-top: var(--space);
}

.pdr {
    padding-right: var(--space);
}

.pdb {
    padding-bottom: var(--space);
}

.pdl {
    padding-left: var(--space);
}

.pd-1 {
    padding: var(--space-1);
}

.pdx-1 {
    padding-left: var(--space-1);
    padding-right: var(--space-1);
}

.pdy-1 {
    padding-top: var(--space-1);
    padding-bottom: var(--space-1);
}

.pdt-1 {
    padding-top: var(--space-1);
}

.pdr-1 {
    padding-right: var(--space-1);
}

.pdb-1 {
    padding-bottom: var(--space-1);
}

.pdl-1 {
    padding-left: var(--space-1);
}

.pd-2 {
    padding: var(--space-2);
}

.pdx-2 {
    padding-left: var(--space-2);
    padding-right: var(--space-2);
}

.pdy-2 {
    padding-top: var(--space-2);
    padding-bottom: var(--space-2);
}

.pdt-2 {
    padding-top: var(--space-2);
}

.pdr-2 {
    padding-right: var(--space-2);
}

.pdb-2 {
    padding-bottom: var(--space-2);
}

.pdl-2 {
    padding-left: var(--space-2);
}

.pd-3 {
    padding: var(--space-3);
}

.pdx-3 {
    padding-left: var(--space-3);
    padding-right: var(--space-3);
}

.pdy-3 {
    padding-top: var(--space-3);
    padding-bottom: var(--space-3);
}

.pdt-3 {
    padding-top: var(--space-3);
}

.pdr-3 {
    padding-right: var(--space-3);
}

.pdb-3 {
    padding-bottom: var(--space-3);
}

.pdl-3 {
    padding-left: var(--space-3);
}

.pd-4 {
    padding: var(--space-4);
}

.pdx-4 {
    padding-left: var(--space-4);
    padding-right: var(--space-4);
}

.pdy-4 {
    padding-top: var(--space-4);
    padding-bottom: var(--space-4);
}

.pdt-4 {
    padding-top: var(--space-4);
}

.pdr-4 {
    padding-right: var(--space-4);
}

.pdb-4 {
    padding-bottom: var(--space-4);
}

.pdl-4 {
    padding-left: var(--space-4);
}

.pd-5 {
    padding: var(--space-5);
}

.pdx-5 {
    padding-left: var(--space-5);
    padding-right: var(--space-5);
}

.pdy-5 {
    padding-top: var(--space-5);
    padding-bottom: var(--space-5);
}

.pdt-5 {
    padding-top: var(--space-5);
}

.pdr-5 {
    padding-right: var(--space-5);
}

.pdb-5 {
    padding-bottom: var(--space-5);
}

.pdl-5 {
    padding-left: var(--space-5);
}

.pd-6 {
    padding: var(--space-6);
}

.pdx-6 {
    padding-left: var(--space-6);
    padding-right: var(--space-6);
}

.pdy-6 {
    padding-top: var(--space-6);
    padding-bottom: var(--space-6);
}

.pdt-6 {
    padding-top: var(--space-6);
}

.pdr-6 {
    padding-right: var(--space-6);
}

.pdb-6 {
    padding-bottom: var(--space-6);
}

.pdl-6 {
    padding-left: var(--space-6);
}

.pdy-vr {
    padding-top: var(--vertical-rhythm);
    padding-bottom: var(--vertical-rhythm);
}

.pdt-vr {
    padding-top: var(--vertical-rhythm);
}

.pdb-vr {
    padding-bottom: var(--vertical-rhythm);
}

.pdy-vrplus {
    padding-top: var(--vertical-rhythm-plus);
    padding-bottom: var(--vertical-rhythm-plus);
}

.pdt-vrplus {
    padding-top: var(--vertical-rhythm-plus);
}

.pdb-vrplus {
    padding-bottom: var(--vertical-rhythm-plus);
}

.pdx-hr {
    padding-left: var(--horizontal-rhythm);
    padding-right: var(--horizontal-rhythm);
}

.pdl-hr {
    padding-left: var(--horizontal-rhythm);
}

.pdr-hr {
    padding-right: var(--horizontal-rhythm);
}