:root {
    --breakout-width: 1100px;
}

body {
    overflow-x: hidden;
}

.x {
    max-width: var(--breakout-width);
    margin-left: auto;
    margin-right: auto;
}

.x>* {
    max-width: var(--regular-width);
    margin-left: auto;
    margin-right: auto;  
}

.x>.breakout, .x.breakout {
    max-width: var(--breakout-width);    
    margin-left: auto;
    margin-right: auto;
}

.x.breakout>*, .x.breakout-l>*, .x.breakout-r>* {
    margin-left: unset;
    margin-right: unset;
    max-width: var(--breakout-width);
}


@media(--breakpoint-x-breakout) {
    .x>.breakout-r, .x.breakout-r {
        margin-left: calc((100% - var(--regular-width)) / 2);   
        max-width: unset;
    }    
    .x>.breakout-l, .x.breakout-l {        
        margin-right: calc((100% - var(--regular-width)) / 2); 
        max-width: unset;
    }

    .x.breakout-r, .x.breakout-l {
        max-width: calc(var(--breakout-width) - (var(--breakout-width) - var(--regular-width)) / 2);
    }
}


.x>.breakout-full, .x.breakout-full {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    max-width: unset;
}



