*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    counter-reset: h2-counter h3-counter h4-counter h5-counter h6-counter;
}

iframe {
    max-width: 100%;
    height: auto;
}