:root {
  --small-width: 28rem;
  --regular-width: 36rem;
  --mid-width: 52rem;
  --large-width: 64rem;
  --size: 1rem;
  --size-factor: 1.62;
  --size-1:calc(var(--size-factor) * var(--size));
  --size-2:calc(var(--size-1) * var(--size-factor));
  --size-3:calc(var(--size-2) * var(--size-factor));
  --size-4:calc(var(--size-3) * var(--size-factor));
  --size--1:calc(var(--size) / var(--size-factor));
  --size--2:calc(var(--size--1) / var(--size-factor));
  --size--3:calc(var(--size--2) / var(--size-factor));
  --size--4:calc(var(--size--3) / var(--size-factor));
}

@custom-media --breakpoint-max-sm (max-width: 28rem);
@custom-media --breakpoint-max-rg (max-width: 36rem);
@custom-media --breakpoint-max-md (max-width: 52rem);
@custom-media --breakpoint-max-lg (max-width: 64rem);
@custom-media --breakpoint-min-sm (min-width: 28rem);
@custom-media --breakpoint-min-rg (min-width: 36rem);
@custom-media --breakpoint-min-md (min-width: 52rem);
@custom-media --breakpoint-min-lg (min-width: 64rem);


