:root {
  --space: 1rem;
  --space-factor: 1.7;
  --space-1: calc(var(--space-factor) * var(--space));
  --space-2: calc(var(--space-1) * var(--space-factor));
  --space-3: calc(var(--space-2) * var(--space-factor));
  --space-4: calc(var(--space-3) * var(--space-factor));
  --space-5: calc(var(--space-4) * var(--space-factor));
  --space-6: calc(var(--space-5) * var(--space-factor));
  --space-d1: calc(var(--space) / var(--space-factor));
  --space-d2: calc(var(--space-d1) / var(--space-factor));
  --space-d3: 3px;
  --space-d4: 2px;
  --space-d5: 1px;
}


/**
Naming conventions
    x=x-axis
    y=y-axis
    t=top
    r=right
    b=bottom
    l=left
    n=negative
    0=none
    d<i>=decrease by <i>  
    <i>=increase by <i>
    
    gp=grid gap
    mr=margin
    pd=padding
*/

.gp-0,
.no-gp {
  grid-gap: 0;
}

.gpx-0 {
  grid-column-gap: 0;
}

.gpy-0 {
  grid-row-gap: 0;
}

.gp-d5 {
  grid-gap: var(--space-d5);
}

.gpx-d5 {
  grid-column-gap: var(--space-d5);
}

.gpy-d5 {
  grid-row-gap: var(--space-d5);
}

.gp-d4 {
  grid-gap: var(--space-d4);
}

.gpx-d4 {
  grid-column-gap: var(--space-d4);
}

.gpy-d4 {
  grid-row-gap: var(--space-d4);
}

.gp-d3 {
  grid-gap: var(--space-d3);
}

.gpx-d3 {
  grid-column-gap: var(--space-d3);
}

.gpy-d3 {
  grid-row-gap: var(--space-d3);
}

.gp-d2 {
  grid-gap: var(--space-d2);
}

.gpx-d2 {
  grid-column-gap: var(--space-d2);
}

.gpy-d2 {
  grid-row-gap: var(--space-d2);
}

.gp-d1 {
  grid-gap: var(--space-d1);
}

.gpx-d1 {
  grid-column-gap: var(--space-d1);
}

.gpy-d1 {
  grid-row-gap: var(--space-d1);
}

.gp {
  grid-gap: var(--space);
}

.gpx {
  grid-column-gap: var(--space);
}

.gpy {
  grid-row-gap: var(--space);
}

.gp-1 {
  grid-gap: var(--space-1);
}

.gpx-1 {
  grid-column-gap: var(--space-1);
}

.gpy-1 {
  grid-row-gap: var(--space-1);
}

.gp-2 {
  grid-gap: var(--space-2);
}

.gpx-2 {
  grid-column-gap: var(--space-2);
}

.gpy-2 {
  grid-row-gap: var(--space-2);
}

.gp-3 {
  grid-gap: var(--space-3);
}

.gpx-3 {
  grid-column-gap: var(--space-3);
}

.gpy-3 {
  grid-row-gap: var(--space-3);
}

.gp-4 {
  grid-gap: var(--space-4);
}

.gpx-4 {
  grid-column-gap: var(--space-4);
}

.gpy-4 {
  grid-row-gap: var(--space-4);
}


.mr-0,
.no-mr {
  margin: 0;
}

.mrx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mry-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mrt-0 {
  margin-top: 0;
}

.mrr-0 {
  margin-right: 0;
}

.mrb-0 {
  margin-bottom: 0;
}

.mrl-0 {
  margin-left: 0;
}

.mr-d5 {
  margin: var(--space-d5);
}

.mrx-d5 {
  margin-left: var(--space-d5);
  margin-right: var(--space-d5);
}

.mry-d5 {
  margin-top: var(--space-d5);
  margin-bottom: var(--space-d5);
}

.mrt-d5 {
  margin-top: var(--space-d5);
}

.mrr-d5 {
  margin-right: var(--space-d5);
}

.mrb-d5 {
  margin-bottom: var(--space-d5);
}

.mr-d4 {
  margin: var(--space-d4);
}

.mrx-d4 {
  margin-left: var(--space-d4);
  margin-right: var(--space-d4);
}

.mry-d4 {
  margin-top: var(--space-d4);
  margin-bottom: var(--space-d4);
}

.mrt-d4 {
  margin-top: var(--space-d4);
}

.mrr-d4 {
  margin-right: var(--space-d4);
}

.mrb-d4 {
  margin-bottom: var(--space-d4);
}


.mr-d3 {
  margin: var(--space-d3);
}

.mrx-d3 {
  margin-left: var(--space-d3);
  margin-right: var(--space-d3);
}

.mry-d3 {
  margin-top: var(--space-d3);
  margin-bottom: var(--space-d3);
}

.mrt-d3 {
  margin-top: var(--space-d3);
}

.mrr-d3 {
  margin-right: var(--space-d3);
}

.mrb-d3 {
  margin-bottom: var(--space-d3);
}


.mr-d2 {
  margin: var(--space-d2);
}

.mrx-d2 {
  margin-left: var(--space-d2);
  margin-right: var(--space-d2);
}

.mry-d2 {
  margin-top: var(--space-d2);
  margin-bottom: var(--space-d2);
}

.mrt-d2 {
  margin-top: var(--space-d2);
}

.mrr-d2 {
  margin-right: var(--space-d2);
}

.mrb-d2 {
  margin-bottom: var(--space-d2);
}

.mr-d1 {
  margin: var(--space-d1);
}

.mrx-d1 {
  margin-left: var(--space-d1);
  margin-right: var(--space-d1);
}

.mry-d1 {
  margin-top: var(--space-d1);
  margin-bottom: var(--space-d1);
}

.mrt-d1 {
  margin-top: var(--space-d1);
}

.mrr-d1 {
  margin-right: var(--space-d1);
}

.mrb-d1 {
  margin-bottom: var(--space-d1);
}


.mr {
  margin: var(--space);
}

.mrx {
  margin-left: var(--space);
  margin-right: var(--space);
}

.mry {
  margin-top: var(--space);
  margin-bottom: var(--space);
}

.mrt {
  margin-top: var(--space);
}

.mrr {
  margin-right: var(--space);
}

.mrb {
  margin-bottom: var(--space);
}

.mrl {
  margin-left: var(--space);
}

.mr-1 {
  margin: var(--space-1);
}

.mrx-1 {
  margin-left: var(--space-1);
  margin-right: var(--space-1);
}

.mry-1 {
  margin-top: var(--space-1);
  margin-bottom: var(--space-1);
}

.mrt-1 {
  margin-top: var(--space-1);
}

.mrr-1 {
  margin-right: var(--space-1);
}

.mrb-1 {
  margin-bottom: var(--space-1);
}

.mrl-1 {
  margin-left: var(--space-1);
}

.mr-2 {
  margin: var(--space-2);
}

.mrx-2 {
  margin-left: var(--space-2);
  margin-right: var(--space-2);
}

.mry-2 {
  margin-top: var(--space-2);
  margin-bottom: var(--space-2);
}

.mrt-2 {
  margin-top: var(--space-2);
}

.mrr-2 {
  margin-right: var(--space-2);
}

.mrb-2 {
  margin-bottom: var(--space-2);
}

.mrl-2 {
  margin-left: var(--space-2);
}

.mr-3 {
  margin: var(--space-3);
}

.mrx-3 {
  margin-left: var(--space-3);
  margin-right: var(--space-3);
}

.mry-3 {
  margin-top: var(--space-3);
  margin-bottom: var(--space-3);
}

.mrt-3 {
  margin-top: var(--space-3);
}

.mrr-3 {
  margin-right: var(--space-3);
}

.mrb-3 {
  margin-bottom: var(--space-3);
}

.mrl-3 {
  margin-left: var(--space-3);
}

.mr-4 {
  margin: var(--space-4);
}

.mrx-4 {
  margin-left: var(--space-4);
  margin-right: var(--space-4);
}

.mry-4 {
  margin-top: var(--space-4);
  margin-bottom: var(--space-4);
}

.mrt-4 {
  margin-top: var(--space-4);
}

.mrr-4 {
  margin-right: var(--space-4);
}

.mrb-4 {
  margin-bottom: var(--space-4);
}

.mrl-4 {
  margin-left: var(--space-4);
}

.mr-5 {
  margin: var(--space-5);
}

.mrx-5 {
  margin-left: var(--space-5);
  margin-right: var(--space-5);
}

.mry-5 {
  margin-top: var(--space-5);
  margin-bottom: var(--space-5);
}

.mrt-5 {
  margin-top: var(--space-5);
}

.mrr-5 {
  margin-right: var(--space-5);
}

.mrb-5 {
  margin-bottom: var(--space-5);
}

.mrl-5 {
  margin-left: var(--space-5);
}

.mr-6 {
  margin: var(--space-6);
}

.mrx-6 {
  margin-left: var(--space-6);
  margin-right: var(--space-6);
}

.mry-6 {
  margin-top: var(--space-6);
  margin-bottom: var(--space-6);
}

.mrt-6 {
  margin-top: var(--space-6);
}

.mrr-6 {
  margin-right: var(--space-6);
}

.mrb-6 {
  margin-bottom: var(--space-6);
}

.mrl-6 {
  margin-left: var(--space-6);
}

.mrtn-d5 {
  margin-top: calc(-1 * var(--space-d5));
}

.mrrn-d5 {
  margin-right: calc(-1 * var(--space-d5));
}

.mrbn-d5 {
  margin-bottom: calc(-1 * var(--space-d5));
}

.mrln-d5 {
  margin-left: calc(-1 * var(--space-d5));
}

.mrtn-d4 {
  margin-top: calc(-1 * var(--space-d4));
}

.mrrn-d4 {
  margin-right: calc(-1 * var(--space-d4));
}

.mrbn-d4 {
  margin-bottom: calc(-1 * var(--space-d4));
}

.mrln-d4 {
  margin-left: calc(-1 * var(--space-d4));
}

.mrtn-d3 {
  margin-top: calc(-1 * var(--space-d3));
}

.mrrn-d3 {
  margin-right: calc(-1 * var(--space-d3));
}

.mrbn-d3 {
  margin-bottom: calc(-1 * var(--space-d3));
}

.mrln-d3 {
  margin-left: calc(-1 * var(--space-d3));
}

.mrtn-d2 {
  margin-top: calc(-1 * var(--space-d2));
}

.mrrn-d2 {
  margin-right: calc(-1 * var(--space-d2));
}

.mrbn-d2 {
  margin-bottom: calc(-1 * var(--space-d2));
}

.mrln-d2 {
  margin-left: calc(-1 * var(--space-d2));
}

.mrtn-d1 {
  margin-top: calc(-1 * var(--space-d1));
}

.mrrn-d1 {
  margin-right: calc(-1 * var(--space-d1));
}

.mrbn-d1 {
  margin-bottom: calc(-1 * var(--space-d1));
}

.mrln-d1 {
  margin-left: calc(-1 * var(--space-d1));
}

.mrtn {
  margin-top: calc(-1 * var(--space));
}

.mrrn {
  margin-right: calc(-1 * var(--space));
}

.mrbn {
  margin-bottom: calc(-1 * var(--space));
}

.mrln {
  margin-left: calc(-1 * var(--space));
}

.mrtn-1 {
  margin-top: calc(-1 * var(--space-1));
}

.mrrn-1 {
  margin-right: calc(-1 * var(--space-1));
}

.mrbn-1 {
  margin-bottom: calc(-1 * var(--space-1));
}

.mrln-1 {
  margin-left: calc(-1 * var(--space-1));
}

.mrtn-2 {
  margin-top: calc(-1 * var(--space-2));
}

.mrrn-2 {
  margin-right: calc(-1 * var(--space-2));
}

.mrbn-2 {
  margin-bottom: calc(-1 * var(--space-2));
}

.mrln-2 {
  margin-left: calc(-1 * var(--space-2));
}

.mrtn-3 {
  margin-top: calc(-1 * var(--space-3));
}

.mrrn-3 {
  margin-right: calc(-1 * var(--space-3));
}

.mrbn-3 {
  margin-bottom: calc(-1 * var(--space-3));
}

.mrln-3 {
  margin-left: calc(-1 * var(--space-3));
}

.mrtn-4 {
  margin-top: calc(-1 * var(--space-4));
}

.mrrn-4 {
  margin-right: calc(-1 * var(--space-4));
}

.mrbn-4 {
  margin-bottom: calc(-1 * var(--space-4));
}

.mrln-4 {
  margin-left: calc(-1 * var(--space-4));
}

.mrtn-5 {
  margin-top: calc(-1 * var(--space-5));
}

.mrrn-5 {
  margin-right: calc(-1 * var(--space-5));
}

.mrbn-5 {
  margin-bottom: calc(-1 * var(--space-5));
}

.mrln-5 {
  margin-left: calc(-1 * var(--space-5));
}

.mrtn-4 {
  margin-top: calc(-1 * var(--space-4));
}

.mrrn-4 {
  margin-right: calc(-1 * var(--space-4));
}

.mrbn-6 {
  margin-bottom: calc(-1 * var(--space-6));
}

.mrln-6 {
  margin-left: calc(-1 * var(--space-6));
}

.mrt-auto {
  margin-top: auto;
  /* for flexbox*/
}

.mrb-auto {
  margin-bottom: auto;
  /* for flexbox */
}

.mrl-auto {
  margin-left: auto;
}

.mrr-auto {
  margin-right: auto;
}

.mrx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mry-auto {
  /* for flexbox */
  margin-top: auto;
  margin-bottom: auto;
}

.mr-auto {
  margin: auto;
  /*for flexbox */
}


.pd-0,
.no-pd {
  padding: 0;
}

.pdx-0 {
  padding-left: 0;
  padding-right: 0;
}

.pdy-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pdt-0 {
  padding-top: 0;
}

.pdr-0 {
  padding-right: 0;
}

.pdb-0 {
  padding-bottom: 0;
}

.pdl-0 {
  padding-left: 0;
}

.pd-d5 {
  padding: var(--space-d5);
}

.pdx-d5 {
  padding-left: var(--space-d5);
  padding-right: var(--space-d5);
}

.pdy-d5 {
  padding-top: var(--space-d5);
  padding-bottom: var(--space-d5);
}

.pdt-d5 {
  padding-top: var(--space-d5);
}

.pdr-d5 {
  padding-right: var(--space-d5);
}

.pdb-d5 {
  padding-bottom: var(--space-d5);
}

.pdl-d5 {
  padding-left: var(--space-d5);
}

.pd-d4 {
  padding: var(--space-d4);
}

.pdx-d4 {
  padding-left: var(--space-d4);
  padding-right: var(--space-d4);
}

.pdy-d4 {
  padding-top: var(--space-d4);
  padding-bottom: var(--space-d4);
}

.pdt-d4 {
  padding-top: var(--space-d4);
}

.pdr-d4 {
  padding-right: var(--space-d4);
}

.pdb-d4 {
  padding-bottom: var(--space-d4);
}

.pdl-d4 {
  padding-left: var(--space-d4);
}

.pd-d3 {
  padding: var(--space-d3);
}

.pdx-d3 {
  padding-left: var(--space-d3);
  padding-right: var(--space-d3);
}

.pdy-d3 {
  padding-top: var(--space-d3);
  padding-bottom: var(--space-d3);
}

.pdt-d3 {
  padding-top: var(--space-d3);
}

.pdr-d3 {
  padding-right: var(--space-d3);
}

.pdb-d3 {
  padding-bottom: var(--space-d3);
}

.pdl-d3 {
  padding-left: var(--space-d3);
}

.pd-d2 {
  padding: var(--space-d2);
}

.pdx-d2 {
  padding-left: var(--space-d2);
  padding-right: var(--space-d2);
}

.pdy-d2 {
  padding-top: var(--space-d2);
  padding-bottom: var(--space-d2);
}

.pdt-d2 {
  padding-top: var(--space-d2);
}

.pdr-d2 {
  padding-right: var(--space-d2);
}

.pdb-d2 {
  padding-bottom: var(--space-d2);
}

.pdl-d2 {
  padding-left: var(--space-d2);
}

.pd-d1 {
  padding: var(--space-d1);
}

.pdx-d1 {
  padding-left: var(--space-d1);
  padding-right: var(--space-d1);
}

.pdy-d1 {
  padding-top: var(--space-d1);
  padding-bottom: var(--space-d1);
}

.pdt-d1 {
  padding-top: var(--space-d1);
}

.pdr-d1 {
  padding-right: var(--space-d1);
}

.pdb-d1 {
  padding-bottom: var(--space-d1);
}

.pdl-d1 {
  padding-left: var(--space-d1);
}

.pd {
  padding: var(--space);
}

.pdx {
  padding-left: var(--space);
  padding-right: var(--space);
}

.pdy {
  padding-top: var(--space);
  padding-bottom: var(--space);
}

.pdt {
  padding-top: var(--space);
}

.pdr {
  padding-right: var(--space);
}

.pdb {
  padding-bottom: var(--space);
}

.pdl {
  padding-left: var(--space);
}

.pd-1 {
  padding: var(--space-1);
}

.pdx-1 {
  padding-left: var(--space-1);
  padding-right: var(--space-1);
}

.pdy-1 {
  padding-top: var(--space-1);
  padding-bottom: var(--space-1);
}

.pdt-1 {
  padding-top: var(--space-1);
}

.pdr-1 {
  padding-right: var(--space-1);
}

.pdb-1 {
  padding-bottom: var(--space-1);
}

.pdl-1 {
  padding-left: var(--space-1);
}

.pd-2 {
  padding: var(--space-2);
}

.pdx-2 {
  padding-left: var(--space-2);
  padding-right: var(--space-2);
}

.pdy-2 {
  padding-top: var(--space-2);
  padding-bottom: var(--space-2);
}

.pdt-2 {
  padding-top: var(--space-2);
}

.pdr-2 {
  padding-right: var(--space-2);
}

.pdb-2 {
  padding-bottom: var(--space-2);
}

.pdl-2 {
  padding-left: var(--space-2);
}

.pd-3 {
  padding: var(--space-3);
}

.pdx-3 {
  padding-left: var(--space-3);
  padding-right: var(--space-3);
}

.pdy-3 {
  padding-top: var(--space-3);
  padding-bottom: var(--space-3);
}

.pdt-3 {
  padding-top: var(--space-3);
}

.pdr-3 {
  padding-right: var(--space-3);
}

.pdb-3 {
  padding-bottom: var(--space-3);
}

.pdl-3 {
  padding-left: var(--space-3);
}

.pd-4 {
  padding: var(--space-4);
}

.pdx-4 {
  padding-left: var(--space-4);
  padding-right: var(--space-4);
}

.pdy-4 {
  padding-top: var(--space-4);
  padding-bottom: var(--space-4);
}

.pdt-4 {
  padding-top: var(--space-4);
}

.pdr-4 {
  padding-right: var(--space-4);
}

.pdb-4 {
  padding-bottom: var(--space-4);
}

.pdl-4 {
  padding-left: var(--space-4);
}

.pd-5 {
  padding: var(--space-5);
}

.pdx-5 {
  padding-left: var(--space-5);
  padding-right: var(--space-5);
}

.pdy-5 {
  padding-top: var(--space-5);
  padding-bottom: var(--space-5);
}

.pdt-5 {
  padding-top: var(--space-5);
}

.pdr-5 {
  padding-right: var(--space-5);
}

.pdb-5 {
  padding-bottom: var(--space-5);
}

.pdl-5 {
  padding-left: var(--space-5);
}

.pd-6 {
  padding: var(--space-6);
}

.pdx-6 {
  padding-left: var(--space-6);
  padding-right: var(--space-6);
}

.pdy-6 {
  padding-top: var(--space-6);
  padding-bottom: var(--space-6);
}

.pdt-6 {
  padding-top: var(--space-6);
}

.pdr-6 {
  padding-right: var(--space-6);
}

.pdb-6 {
  padding-bottom: var(--space-6);
}

.pdl-6 {
  padding-left: var(--space-6);
}