@media (--breakpoint-sm) {

    .sm-square-unset {
        width: unset;
        height: unset;
    }

    .sm-square-d5 {
        width: var(--space-d5);
        height: var(--space-d5);
    }

    .sm-square-d4 {
        width: var(--space-d4);
        height: var(--space-d4);
    }

    .sm-square-d3 {
        width: var(--space-d3);
        height: var(--space-d3);
    }

    .sm-square-d2 {
        width: var(--space-d2);
        height: var(--space-d2);
    }

    .sm-square-d1 {
        width: var(--space-d1);
        height: var(--space-d1);
    }

    .sm-square {
        width: var(--space);
        height: var(--space);
    }

    .sm-square-1 {
        width: var(--space-1);
        height: var(--space-1);
    }

    .sm-square-2 {
        width: var(--space-2);
        height: var(--space-2);
    }

    .sm-square-3 {
        width: var(--space-3);
        height: var(--space-3);
    }

    .sm-square-4 {
        width: var(--space-4);
        height: var(--space-4);
    }

    .sm-square-5 {
        width: var(--space-5);
        height: var(--space-5);
    }

    .sm-square-6 {
        width: var(--space-6);
        height: var(--space-6);
    }
}

@media (--breakpoint-rg) {

    .rg-square-unset {
        width: unset;
        height: unset;
    }

    .rg-square-d5 {
        width: var(--space-d5);
        height: var(--space-d5);
    }

    .rg-square-d4 {
        width: var(--space-d4);
        height: var(--space-d4);
    }

    .rg-square-d3 {
        width: var(--space-d3);
        height: var(--space-d3);
    }

    .rg-square-d2 {
        width: var(--space-d2);
        height: var(--space-d2);
    }

    .rg-square-d1 {
        width: var(--space-d1);
        height: var(--space-d1);
    }

    .rg-square {
        width: var(--space);
        height: var(--space);
    }

    .rg-square-1 {
        width: var(--space-1);
        height: var(--space-1);
    }

    .rg-square-2 {
        width: var(--space-2);
        height: var(--space-2);
    }

    .rg-square-3 {
        width: var(--space-3);
        height: var(--space-3);
    }

    .rg-square-4 {
        width: var(--space-4);
        height: var(--space-4);
    }

    .rg-square-5 {
        width: var(--space-5);
        height: var(--space-5);
    }

    .rg-square-6 {
        width: var(--space-6);
        height: var(--space-6);
    }
}

@media (--breakpoint-md) {
    .md-square-unset {
        width: unset;
        height: unset;
    }

    .md-square-d5 {
        width: var(--space-d5);
        height: var(--space-d5);
    }

    .md-square-d4 {
        width: var(--space-d4);
        height: var(--space-d4);
    }

    .md-square-d3 {
        width: var(--space-d3);
        height: var(--space-d3);
    }

    .md-square-d2 {
        width: var(--space-d2);
        height: var(--space-d2);
    }

    .md-square-d1 {
        width: var(--space-d1);
        height: var(--space-d1);
    }

    .md-square {
        width: var(--space);
        height: var(--space);
    }

    .md-square-1 {
        width: var(--space-1);
        height: var(--space-1);
    }

    .md-square-2 {
        width: var(--space-2);
        height: var(--space-2);
    }

    .md-square-3 {
        width: var(--space-3);
        height: var(--space-3);
    }

    .md-square-4 {
        width: var(--space-4);
        height: var(--space-4);
    }

    .md-square-5 {
        width: var(--space-5);
        height: var(--space-5);
    }

    .md-square-6 {
        width: var(--space-6);
        height: var(--space-6);
    }
}

@media (--breakpoint-lg) {
    .lg-square-unset {
        width: unset;
        height: unset;
    }

    .lg-square-d5 {
        width: var(--space-d5);
        height: var(--space-d5);
    }

    .lg-square-d4 {
        width: var(--space-d4);
        height: var(--space-d4);
    }

    .lg-square-d3 {
        width: var(--space-d3);
        height: var(--space-d3);
    }

    .lg-square-d2 {
        width: var(--space-d2);
        height: var(--space-d2);
    }

    .lg-square-d1 {
        width: var(--space-d1);
        height: var(--space-d1);
    }

    .lg-square {
        width: var(--space);
        height: var(--space);
    }

    .lg-square-1 {
        width: var(--space-1);
        height: var(--space-1);
    }

    .lg-square-2 {
        width: var(--space-2);
        height: var(--space-2);
    }

    .lg-square-3 {
        width: var(--space-3);
        height: var(--space-3);
    }

    .lg-square-4 {
        width: var(--space-4);
        height: var(--space-4);
    }

    .lg-square-5 {
        width: var(--space-5);
        height: var(--space-5);
    }


    .lg-square-6 {
        width: var(--space-6);
        height: var(--space-6);
    }
}