:root {
    --alternate-row-color: var(--neutral-4);
    --alternate-col-color: var(--neutral-4);
    --underline-row-color: var(--neutral-3);
}

table {
    border-collapse: collapse;
    font-variant-numeric: tabular-nums;
    margin-top: var(--space-1);
    margin-bottom: var(--space-1);
    text-align: left;
}

.alternate-rows tr:nth-child(even) {
    background: var(--alternate-row-color);
}

.alternate-rows tr:nth-child(odd) {
    background: transparent;
}

.alternate-cols col:nth-child(even) {
    background:  var(--alternate-col-color);
}

.alternate-cols col:nth-child(odd) {
    background: transparent;
}

.underline-rows tr {
    border-bottom: 1px solid var(--underline-row-color);
}


td {
    vertical-align: top;
}

th {
    vertical-align: top;
    font-weight: var(--font-weight-bold);
}

th,
td {
    padding: var(--space-d2) var(--space-d1);
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

.br-separate {
    border-collapse: separate;
}

.br-collapse {
    border-collapse: collapse;
}

table.pd  th,
table.pd  td,
tr.pd th, 
tr.pd td {
    padding: var(--space);
}

table.pd-0 th,
table.pd-0 td,
tr.pd-0 th, 
tr.pd-0 td {
    padding: 0;
}

table.pdx th,
table.pdx td,
tr.pdx th, 
tr.pdx td {
    padding-left: var(--space);
    padding-right: var(--space);
}

table.pdx-0 th,
table.pdx-0 td,
tr.pdx-0 th, 
tr.pdx-0 td {
    padding-left: 0;
    padding-right: 0;
}

table.pdy th,
table.pdy td,
tr.pdy th, 
tr.pdy td {
    padding-top: var(--space);
    padding-bottom: var(--space);
}

table.pdy-0 th,
table.pdy-0 td,
tr.pdy-0 th, 
tr.pdy-0 td{
    padding-top: 0;
    padding-bottom: 0;
}

table.pd-d1 th,
table.pd-d1  td,
tr.pd-d1 th, 
tr.pd-d1 td {
    padding: var(--space-d1);
}

table.pdx-d1 th,
table.pdx-d1 td,
tr.pdx-d1 th, 
tr.pdx-d1 td {
    padding-left: var(--space-d1);
    padding-right: var(--space-d1);
}

table.pdy-d1 th,
table.pdy-d1 td,
tr.pdy-d1 th, 
tr.pdy-d1 td {
    padding-top: var(--space-d1);
    padding-bottom: var(--space-d1);
}

table.pd-d2 th,
table.pd-d2 td,
tr.pd-d2 th, 
tr.pd-d2 td {
    padding: var(--space-d2);
}

table.pdx-d2  th,
table.pdx-d2  td,
tr.pdx-d2 th, 
tr.pdx-d2 td {
    padding-left: var(--space-d2);
    padding-right: var(--space-d2);
}

table.pdy-d2 th,
table.pdy-d2 td,
tr.pdy-d2 th, 
tr.pdy-d2 td {
    padding-top: var(--space-d2);
    padding-bottom: var(--space-d2);
}

table.pd-d3 th,
table.pd-d3 td,
tr.pd-d3 th, 
tr.pd-d3 td {
    padding: var(--space-d3);
}

table.pdx-d3  th,
table.pdx-d3  td,
tr.pdx-d3 th, 
tr.pdx-d3 td {
    padding-left: var(--space-d3);
    padding-right: var(--space-d3);
}


table.pdy-d3 th,
table.pdy-d3 td,
tr.pdy-d3 th, 
tr.pdy-d3 td {
    padding-top: var(--space-d3);
    padding-bottom: var(--space-d3);
}

table.pd-d4 th,
table.pd-d4 td,
tr.pd-d4 th, 
tr.pd-d4 td {
    padding: var(--space-d4);
}

table.pdx-d4 th,
table.pdx-d4 td,
tr.pdx-d4 th, 
tr.pdx-d4 td {
    padding-left: var(--space-d4);
    padding-right: var(--space-d4);
}


table.pdy-d4 th,
table.pdy-d4 td,
tr.pdy-d4 th, 
tr.pdy-d4 td {
    padding-top: var(--space-d4);
    padding-bottom: var(--space-d4);
}

table.pd-d5 th,
table.pd-d5 td,
tr.pd-d5 th, 
tr.pd-d5 td {
    padding: var(--space-d5);
}

table.pdx-d5 th,
table.pdx-d5 td,
tr.pdx-d5 th, 
tr.pdx-d5 td {
    padding-left: var(--space-d5);
    padding-right: var(--space-d5);
}


table.pdy-d5 th,
table.pdy-d5 td,
tr.pdy-d5 th, 
tr.pdy-d5 td {
    padding-top: var(--space-d5);
    padding-bottom: var(--space-d5);
}