:root {
    --alternate-row-color: var(--neutral-4);
    --alternate-col-color: var(--neutral-4);
    --underline-row-color: var(--neutral-3);

    --mrt-table: var(--vertical-rhythm);
    --mrb-table: var(--vertical-rhythm);
}

table {
    border-collapse: collapse;
    font-variant-numeric: tabular-nums;
    margin-top: var(--mrt-table);
    margin-bottom: var(--mrb-table);
    text-align: left;
}

.alternate-rows tr:nth-child(even) {
    background: var(--alternate-row-color);
}

.alternate-rows tr:nth-child(odd) {
    background: transparent;
}

.alternate-cols col:nth-child(even) {
    background: var(--alternate-col-color);
}

.alternate-cols col:nth-child(odd) {
    background: transparent;
}

.underline-rows tr {
    border-bottom: 1px solid var(--underline-row-color);
}


td {
    vertical-align: top;
}

th {
    vertical-align: bottom;
    font-weight: var(--font-weight-bold);
}

th, td {
    padding: var(--space-d2) var(--space-d1);
}

tr:first-child th {
   padding-top: 0;
}

tr:last-child td {
    padding-bottom: 0;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

.br-separate {
    border-collapse: separate;
}

.br-collapse {
    border-collapse: collapse;
}