:root {
    --font-size-xs-breakpoint: calc(var(--base-font-size) + 2px);
    --font-size-sm-breakpoint: calc(var(--base-font-size) + 2px);
    --font-size-rg-breakpoint: calc(var(--base-font-size) + 2px);
    --font-size-md-breakpoint: calc(var(--base-font-size) + 3px);
    --font-size-lg-breakpoint: calc(var(--base-font-size) + 4px);
}

@media (--mi-xs-breakpoint) {
    :root {
       font-size: min(var(--font-size-xs-breakpoint), var(--font-size-sm-breakpoint));
   }
}

@media (--mi-sm-breakpoint) {
     :root {
        font-size: min(var(--font-size-sm-breakpoint), var(--font-size-rg-breakpoint));
    }
}

@media (--mi-rg-breakpoint) {
     :root {
        font-size: min(var(--font-size-rg-breakpoint), var(--font-size-md-breakpoint));
    }
}

@media (--mi-md-breakpoint) {
     :root {
        font-size: min(var(--font-size-md-breakpoint), var(--font-size-lg-breakpoint));
    }
}

@media (--mi-lg-breakpoint) {
     :root {
        font-size: var(--font-size-lg-breakpoint);
    }
}

@media (--mi-xs-breakpoint) {
    .xs\:h1 {
        font-size: var(--fs-h1);
        line-height: var(--lh-h1);
    }
    .xs\:h2 {
        font-size: var(--fs-h2);
        line-height: var(--lh-h2);
    }
    .xs\:h3 {
        font-size: var(--fs-h3);
        line-height: var(--lh-h3);
    }
    .xs\:h4 {
        font-size: var(--fs-h4);
        line-height: var(--lh-h4);
    }
    .xs\:h5 {
        font-size: var(--fs-h5);
        line-height: var(--lh-h5);
    }
    .xs\:h6 {
        font-size: var(--fs-h6);
        line-height: var(--lh-h6);
    }
    .xs\:fs-d1 {
        font-size: var(--fs-d1);
    }
    .xs\:small {
        font-size: var(--small);
    }
    .xs\:smaller {
        font-size: var(--smaller);
    }
    .xs\:fs,
    .xs\:fs-default {
        font-size: var(--fs);
    }
    .xs\:fs-1 {
        font-size: var(--fs-1);
    }
    .xs\:fs-2 {
        font-size: var(--fs-2);
    }
    .xs\:fs-3 {
        font-size: var(--fs-3);
    }
    .xs\:fs-4 {
        font-size: var(--fs-4);
    }
    .xs\:fs-5 {
        font-size: var(--fs-5);
    }
    .xs\:fs-6 {
        font-size: var(--fs-6);
    }
    .xs\:fs-7 {
        font-size: var(--fs-7);
    }
    .xs\:fs-8 {
        font-size: var(--fs-8);
    }
    .xs\:fs-9 {
        font-size: var(--fs-9);
    }
    .xs\:fs-10 {
        font-size: var(--fs-10);
    }
    .xs\:lh-d1 {
        line-height: var(--lh-d1);
    }
    .xs\:lh-0 {
        line-height: 0;
    }
    .xs\:lh-unset,
    .xs\:lh-u {
        line-height: unset;
    }
    .xs\:lh {
        line-height: var(--lh);
    }
    .xs\:lh-1 {
        line-height: var(--lh-1);
    }
    .xs\:lh-2 {
        line-height: var(--lh-2);
    }
    .xs\:lh-3,
    .xs\:lh-default {
        line-height: var(--lh-3);
    }
    .xs\:lh-4 {
        line-height: var(--lh-4);
    }
    .xs\:lh-5 {
        line-height: var(--lh-5);
    }
}

@media (--mi-sm-breakpoint) {
    .sm\:h1 {
        font-size: var(--fs-h1);
        line-height: var(--lh-h1);
    }
    .sm\:h2 {
        font-size: var(--fs-h2);
        line-height: var(--lh-h2);
    }
    .sm\:h3 {
        font-size: var(--fs-h3);
        line-height: var(--lh-h3);
    }
    .sm\:h4 {
        font-size: var(--fs-h4);
        line-height: var(--lh-h4);
    }
    .sm\:h5 {
        font-size: var(--fs-h5);
        line-height: var(--lh-h5);
    }
    .sm\:h6 {
        font-size: var(--fs-h6);
        line-height: var(--lh-h6);
    }
    .sm\:fs-d1 {
        font-size: var(--fs-d1);
    }
    .sm\:small {
        font-size: var(--small);
    }
    .sm\:smaller {
        font-size: var(--smaller);
    }
    .sm\:fs,
    .sm\:fs-default {
        font-size: var(--fs);
    }
    .sm\:fs-1 {
        font-size: var(--fs-1);
    }
    .sm\:fs-2 {
        font-size: var(--fs-2);
    }
    .sm\:fs-3 {
        font-size: var(--fs-3);
    }
    .sm\:fs-4 {
        font-size: var(--fs-4);
    }
    .sm\:fs-5 {
        font-size: var(--fs-5);
    }
    .sm\:fs-6 {
        font-size: var(--fs-6);
    }
    .sm\:fs-7 {
        font-size: var(--fs-7);
    }
    .sm\:fs-8 {
        font-size: var(--fs-8);
    }
    .sm\:fs-9 {
        font-size: var(--fs-9);
    }
    .sm\:fs-10 {
        font-size: var(--fs-10);
    }
    .sm\:lh-d1 {
        line-height: var(--lh-d1);
    }
    .sm\:lh-0 {
        line-height: 0;
    }
    .sm\:lh-unset,
    .sm\:lh-u {
        line-height: unset;
    }
    .sm\:lh {
        line-height: var(--lh);
    }
    .sm\:lh-1 {
        line-height: var(--lh-1);
    }
    .sm\:lh-2 {
        line-height: var(--lh-2);
    }
    .sm\:lh-3,
    .sm\:lh-default {
        line-height: var(--lh-3);
    }
    .sm\:lh-4 {
        line-height: var(--lh-4);
    }
    .sm\:lh-5 {
        line-height: var(--lh-5);
    }
}

@media (--mi-rg-breakpoint) {
    .rg\:h1 {
        font-size: var(--fs-h1);
        line-height: var(--lh-h1);
    }
    .rg\:h2 {
        font-size: var(--fs-h2);
        line-height: var(--lh-h2);
    }
    .rg\:h3 {
        font-size: var(--fs-h3);
        line-height: var(--lh-h3);
    }
    .rg\:h4 {
        font-size: var(--fs-h4);
        line-height: var(--lh-h4);
    }
    .rg\:h5 {
        font-size: var(--fs-h5);
        line-height: var(--lh-h5);
    }
    .rg\:h6 {
        font-size: var(--fs-h6);
        line-height: var(--lh-h6);
    }
    .rg\:fs-d1 {
        font-size: var(--fs-d1);
    }
    .rg\:small {
        font-size: var(--small);
    }
    .rg\:smaller {
        font-size: var(--smaller);
    }
    .rg\:fs,
    .rg\:fs-default {
        font-size: var(--fs);
    }
    .rg\:fs-1 {
        font-size: var(--fs-1);
    }
    .rg\:fs-2 {
        font-size: var(--fs-2);
    }
    .rg\:fs-3 {
        font-size: var(--fs-3);
    }
    .rg\:fs-4 {
        font-size: var(--fs-4);
    }
    .rg\:fs-5 {
        font-size: var(--fs-5);
    }
    .rg\:fs-6 {
        font-size: var(--fs-6);
    }
    .rg\:fs-7 {
        font-size: var(--fs-7);
    }
    .rg\:fs-8 {
        font-size: var(--fs-8);
    }
    .rg\:fs-9 {
        font-size: var(--fs-9);
    }
    .rg\:fs-10 {
        font-size: var(--fs-10);
    }
    .rg\:lh-0 {
        line-height: 0;
    }
    .rg\:lh-unset,
    .rg\:lh-u {
        line-height: unset;
    }
    .rg\:lh-d1 {
        line-height: var(--lh-d1);
    }
    .rg\:lh {
        line-height: var(--lh);
    }
    .rg\:lh-1 {
        line-height: var(--lh-1);
    }
    .rg\:lh-2 {
        line-height: var(--lh-2);
    }
    .rg\:lh-3,
    .rg\:lh-default {
        line-height: var(--lh-3);
    }
    .rg\:lh-4 {
        line-height: var(--lh-4);
    }
    .rg\:lh-5 {
        line-height: var(--lh-5);
    }
}

@media (--mi-md-breakpoint) {
    .md\:h1 {
        font-size: var(--fs-h1);
        line-height: var(--lh-h1);
    }
    .md\:h2 {
        font-size: var(--fs-h2);
        line-height: var(--lh-h2);
    }
    .md\:h3 {
        font-size: var(--fs-h3);
        line-height: var(--lh-h3);
    }
    .md\:h4 {
        font-size: var(--fs-h4);
        line-height: var(--lh-h4);
    }
    .md\:h5 {
        font-size: var(--fs-h5);
        line-height: var(--lh-h5);
    }
    .md\:h6 {
        font-size: var(--fs-h6);
        line-height: var(--lh-h6);
    }
    .md\:fs-d1 {
        font-size: var(--fs-d1);
    }
    .md\:small {
        font-size: var(--small);
    }
    .md\:smaller {
        font-size: var(--smaller);
    }
    .md\:fs,
    .md\:fs-default {
        font-size: var(--fs);
    }
    .md\:fs-1 {
        font-size: var(--fs-1);
    }
    .md\:fs-2 {
        font-size: var(--fs-2);
    }
    .md\:fs-3 {
        font-size: var(--fs-3);
    }
    .md\:fs-4 {
        font-size: var(--fs-4);
    }
    .md\:fs-5 {
        font-size: var(--fs-5);
    }
    .md\:fs-6 {
        font-size: var(--fs-6);
    }
    .md\:fs-7 {
        font-size: var(--fs-7);
    }
    .md\:fs-8 {
        font-size: var(--fs-8);
    }
    .md\:fs-9 {
        font-size: var(--fs-9);
    }
    .md\:fs-10 {
        font-size: var(--fs-10);
    }
    .md\:lh-0 {
        line-height: 0;
    }
    .md\:lh-unset,
    .md\:lh-u {
        line-height: unset;
    }
    .md\:lh-d1 {
        line-height: var(--lh-d1);
    }
    .md\:lh {
        line-height: var(--lh);
    }
    .md\:lh-1 {
        line-height: var(--lh-1);
    }
    .md\:lh-2 {
        line-height: var(--lh-2);
    }
    .md\:lh-3,
    .md\:lh-default {
        line-height: var(--lh-3);
    }
    .md\:lh-4 {
        line-height: var(--lh-4);
    }
    .md\:lh-5 {
        line-height: var(--lh-5);
    }
}

@media (--mi-lg-breakpoint) {
    .lg\:h1 {
        font-size: var(--fs-h1);
        line-height: var(--lh-h1);
    }
    .lg\:h2 {
        font-size: var(--fs-h2);
        line-height: var(--lh-h2);
    }
    .lg\:h3 {
        font-size: var(--fs-h3);
        line-height: var(--lh-h3);
    }
    .lg\:h4 {
        font-size: var(--fs-h4);
        line-height: var(--lh-h4);
    }
    .lg\:h5 {
        font-size: var(--fs-h5);
        line-height: var(--lh-h5);
    }
    .lg\:h6 {
        font-size: var(--fs-h6);
        line-height: var(--lh-h6);
    }
    .lg\:fs-d1 {
        font-size: var(--fs-d1);
    }
    .lg\:small {
        font-size: var(--small);
    }
    .lg\:smaller {
        font-size: var(--smaller);
    }
    .lg\:fs,
    .lg\:fs-default {
        font-size: var(--fs);
    }
    .lg\:fs-1 {
        font-size: var(--fs-1);
    }
    .lg\:fs-2 {
        font-size: var(--fs-2);
    }
    .lg\:fs-3 {
        font-size: var(--fs-3);
    }
    .lg\:fs-4 {
        font-size: var(--fs-4);
    }
    .lg\:fs-5 {
        font-size: var(--fs-5);
    }
    .lg\:fs-6 {
        font-size: var(--fs-6);
    }
    .lg\:fs-7 {
        font-size: var(--fs-7);
    }
    .lg\:fs-8 {
        font-size: var(--fs-8);
    }
    .lg\:fs-9 {
        font-size: var(--fs-9);
    }
    .lg\:fs-10 {
        font-size: var(--fs-10);
    }
    .lg\:lh-0 {
        line-height: 0;
    }
    .lg\:lh-unset,
    .lg\:lh-u {
        line-height: unset;
    }
    .lg\:lh-d1 {
        line-height: var(--lh-d1);
    }
    .lg\:lh {
        line-height: var(--lh);
    }
    .lg\:lh-1 {
        line-height: var(--lh-1);
    }
    .lg\:lh-2 {
        line-height: var(--lh-2);
    }
    .lg\:lh-3,
    .lg\:lh-default {
        line-height: var(--lh-3);
    }
    .lg\:lh-4 {
        line-height: var(--lh-4);
    }
    .lg\:lh-5 {
        line-height: var(--lh-5);
    }
}