:root {
    --font-family: system-ui, ui-sans-serif, sans-serif;
    --font-feature-settings: unset;
    --font-weight-bold: 700;
    --font-weight-normal: 400;
    --heading-font-family: var(--font-family);
    --heading-font-feature-settings: var(--font-feature-settings);
    --heading-font-weight: var(--font-weight-bold);
    --heading-letter-spacing: 0em;
    --heading-text-transform: none;
    --figcaption-font-family: var(--heading-font-family);
    --figcaption-font-size: var(--fs);
    --meta-font-family: var(--font-family);
    --meta-font-feature-settings: var(--font-feature-settings);
    --meta-font-weight: var(--font-weight-normal);
    --meta-letter-spacing: unset;
    --meta-text-transform: unset;
    --mono-font-family: ui-monospace, monospace;
    --mono-font-feature-settings: var(--font-feature-settings);
    --code-font-family: var(--mono-font-family);
    --blockquote-font-style: italic;
    --link-text-decoration: underline;
    --font-variant-numeric: normal;
    --vertical-rhythm: var(--space);
    --horizontal-rhythm: var(--space-1);
    --mrt-paragraph: var(--vertical-rhythm);
    --mrb-paragraph: var(--vertical-rhythm);
    --mrt-h1: var(--space-1);
    --mrb-h1: var(--vertical-rhythm);
    --mrt-h2: var(--space-2);
    --mrb-h2: var(--vertical-rhythm);
    --mrt-h3: var(--space-2);
    --mrb-h3: var(--vertical-rhythm);
    --mrt-h4: var(--space-2);
    --mrb-h4: var(--vertical-rhythm);
    --mrt-h5: var(--space-2);
    --mrb-h5: var(--vertical-rhythm);
    --mrt-h6: var(--space-2);
    --mrb-h6: var(--vertical-rhythm);
    --mrt-figure: var(--space-2);
    --mrb-figure: var(--space-2);
    --mrt-blockquote: var(--mrt-figure);
    --mrb-blockquote: var(--mrb-figure);
    --mrt-figcaption: var(--vertical-rhythm);
    --mrb-figcaption: var(--vertical-rhythm);
    --mrt-pre: var(--vertical-rhythm);
    --mrb-pre: var(--vertical-rhythm);
    --mrt-hr: var(--vertical-rhythm);
    --mrb-hr: var(--vertical-rhythm);
    --hr-content: "·\0000a0\0000a0\0000a0\0000a0·\0000a0\0000a0\0000a0\0000a0·";
    --quotes: """ """"'""'";
    --quotes-de: """ """"'""'";
    --scroll-margin-top: var(--vertical-rhythm);
    font-family: var(--font-family);
    font-feature-settings: var(--font-feature-settings);
    font-weight: var(--font-weight-normal);
    font-variant-numeric: var(--font-variant-numeric);
    --outline: var(--space-d3) solid var(--link-focus-color);
    --outline-offset: var(--space-d4);
}

* {
    outline: none;
}

*:focus {
    outline: var(--outline);
    outline-offset: var(--outline-offset);
}

@media (hover: hover) {
    a:hover {
        color: var(--link-hover-color);
    }
}

a:active {
    color: var(--link-active-color);
}

a:focus {
    color: var(--link-focus-color);
}

.font-family-inherit {
    font-family: inherit;
}

.font-size-inherit {
    font-size: inherit;
}

.line-h-inherit {
    line-height: inherit;
}

.base-font {
    font-family: var(--font-family);
}

.heading-font {
    font-family: var(--heading-font-family);
}

.meta-font {
    font-family: var(--meta-font-family);
}

.mono-font {
    font-family: var(--mono-font-family);
}

.meta {
    font-family: var(--meta-font-family);
    font-feature-settings: var(--meta-font-feature-settings);
    font-weight: var(--meta-font-weight);
    text-transform: var(--meta-text-transform);
    letter-spacing: var(--meta-letter-spacing);
    color: var(--meta-color);
}

.bold,
b,
.b,
strong,
.strong {
    font-weight: var(--font-weight-bold);
}

.normal,
.fw-normal {
    font-weight: normal;
}

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 400;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

.italic,
i,
.i,
cite,
.cite,
em,
.em {
    font-style: italic;
}

.normal {
    font-style: normal;
}

.caps,
.uppercase {
    text-transform: uppercase;
    letter-spacing: .08em;
}

.small-caps {
    font-variant-caps: small-caps;
    letter-spacing: .08em;
}

.all-small-caps {
    font-variant-caps: all-small-caps;
    letter-spacing: .08em;
}

.lowercase {
    text-transform: lowercase;
}

.lsp-d4 {
    letter-spacing: -0.08em;
}

.lsp-d3 {
    letter-spacing: -0.04em;
}

.lsp-d2 {
    letter-spacing: -0.02em;
}

.lsp-d1 {
    letter-spacing: -0.01em;
}

.no-lsp,
.lsp-0 {
    letter-spacing: none;
}

.lsp-1 {
    letter-spacing: .01em;
}

.lsp-2 {
    letter-spacing: .02em;
}

.lsp-3 {
    letter-spacing: .04em;
}

.lsp-4 {
    letter-spacing: .08em;
}

.underline,
u {
    text-decoration: underline;
}

.ft-num-normal {
    font-variant-numeric: "normal";
}

.ft-num-ordinal {
    font-feature-settings: "ordn";
    font-variant-numeric: ordinal;
}

.ft-num-zero {
    font-feature-settings: "zero";
    font-variant-numeric: slashed-zero;
}

.ft-num-onum {
    font-feature-settings: "onum";
    font-variant-numeric: oldstyle-nums;
}

.ft-num-lnum {
    font-feature-settings: "lnum";
    font-variant-numeric: lining-nums;
}

.ft-num-tab {
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
}

.no-wrap,
.no-break {
    white-space: nowrap;
}

.wrap-normal,
.break-normal {
    overflow-wrap: normal;
}

.break-word {
    overflow-wrap: break-word;
}

.no-deco {
    text-decoration: none;
}

.truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

s,
.s,
.strike,
del,
.del {
    text-decoration: line-through;
}

sub,
sup,
.sub,
.sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub,
.sub {
    bottom: -0.25em;
}

sup,
.sup {
    top: -0.5em;
}

mark,
.mark {
    background: var(--mark-background);
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

kbd,
.kbd {
    color: var(--kbd-color);
    background: var(--kbd-background);
    border-radius: var(--space-d4);
    border: 1px solid var(--kbd-border-color);
    padding: 0 0.2em;
    font-family: var(--mono-font-family);
    white-space: nowrap;
    text-align: center;
    min-width: var(--space);
}

.mono {
    font-family: var(--mono-font-family);
    font-feature-settings: var(--mono-font-feature-settings);
}

address {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: var(--heading-text-transform);
    letter-spacing: var(--heading-letter-spacing);
    font-weight: var(--heading-font-weight);
    font-family: var(--heading-font-family);
    font-feature-settings: var(--heading-font-feature-settings);
    color: var(--heading-color);
    scroll-margin-top: var(--scroll-margin-top);
}

h1 {
    font-size: var(--fs-h1);
    line-height: var(--lh-h1);
    margin-top: var(--mrt-h1);
    margin-bottom: var(--mrb-h1);
}

h2 {
    font-size: var(--fs-h2);
    line-height: var(--lh-h2);
    margin-top: var(--mrt-h2);
    margin-bottom: var(--mrb-h2);
}

h3 {
    font-size: var(--fs-h3);
    line-height: var(--lh-h3);
    margin-top: var(--mrt-h3);
    margin-bottom: var(--mrb-h3);
}

h4 {
    font-size: var(--fs-h4);
    line-height: var(--lh-h4);
    margin-top: var(--mrt-h4);
    margin-bottom: var(--mrb-h4);
}

h5 {
    font-size: var(--fs-h5);
    line-height: var(--lh-h5);
    margin-top: var(--mrt-h5);
    margin-bottom: var(--mrb-h5);
}

h6 {
    font-size: var(--fs-h6);
    line-height: var(--lh-h6);
    margin-top: var(--mrt-h6);
    margin-bottom: var(--mrb-h6);
}

p {
    margin-top: var(--mrt-paragraph);
    margin-bottom: var(--mrb-paragraph);
}

.indent p {
    margin-top: 0;
    margin-bottom: 0;
}

.indent p+p {
    text-indent: var(--horizontal-rhythm);
}

p.indent {
    text-indent: var(--horizontal-rhythm) !important;
}

.no-indent p {
    text-indent: 0;
    margin-top: var(--mrt-paragraph);
    margin-bottom: var(--mrb-paragraph);
}

p.no-indent {
    text-indent: 0 !important;
    margin-top: var(--mrt-paragraph) !important;
    margin-bottom: var(--mrb-paragraph) !important;
}

.code,
code,
pre,
.pre {
    font-family: var(--code-font-family);
    font-size: var(--fs-mono);
}

.code:not(pre .code),
code:not(pre code) {
    color: var(--code-color);
    background: var(--code-background);
    padding: var(--space-d3);
    letter-spacing: 0.08em;
}

pre,
.pre {
    margin-top: var(--mrt-pre);
    margin-bottom: var(--mrb-pre);
    padding: var(--space-d2);
    color: var(--pre-color);
    background: var(--pre-background);
    white-space: pre;
    word-break: normal;
    /*for safari */
    overflow-wrap: normal;
    /*for safari */
    overflow-x: auto;
    display: inline-block;
    max-width: 100%;
}

blockquote {
    margin-top: var(--mrt-blockquote);
    margin-bottom: var(--mrb-blockquote);
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    padding-left: var(--horizontal-rhythm);
    border-left: 1px solid var(--base-color);
    font-style: var(--blockquote-font-style);
    background: var(--blockquote-background);
}

.tag {
    white-space: nowrap;
    padding: var(--space-d4);
    border-radius: var(--space-d4);
    display: inline-block;
    line-height: var(--lh);
}

a {
    color: var(--link-color);
    text-decoration: var(--link-text-decoration);
    transition: color .1s ease-out;
}

a:not(table a) {
    overflow-wrap: break-word;
}

blockquote p {
    margin-top: 0;
    margin-bottom: 0;
}

blockquote p+p {
    text-indent: var(--horizontal-rhythm);
}

q,
.q,
.quote,
blockquote {
    quotes: var(--quotes);
}

html[lang="de-DE"] q,
html[lang="de-DE"] .q,
html[lang="de-DE"] .quote,
html[lang="de-DE"] blockquote {
    quotes: var(--quotes-de);
}

figure {
    margin-top: var(--mrt-figure);
    margin-bottom: var(--mrb-figure);
    margin-left: 0;
    margin-right: 0;
}

figure>:first-child,
blockquote>:first-child:not(footer) {
    margin-top: 0;
}

figure>:last-child,
blockquote>:last-child:not(header) {
    margin-bottom: 0;
}

figcaption,
blockquote>footer,
blockquote>header {
    text-align: left;
    font-family: var(--figcaption-font-family);
    font-style: normal;
    font-size: var(--figcaption-font-size);
    max-width: var(--rg-width);
}

figcaption {
    margin-top: 0;
    margin-bottom: var(--mrb-figcaption);
}

*+figcaption,
blockquote>footer {
    margin-top: var(--mrt-figcaption);
    margin-bottom: 0;
}

blockquote>footer::before {
    content: "—";
}

blockquote>header {
    margin-top: 0;
    margin-bottom: var(--mrb-figcaption);
}

blockquote>header::after {
    content: "—";
}

@media(--mx-sm-breakpoint) {
    figcaption,
    blockquote>footer {
        max-width: unset;
    }
}

hr {
    border: 0;
    text-align: center;
    margin-top: var(--mrt-hr);
    margin-bottom: var(--mrb-hr);
    color: inherit;
}

hr::after {
    content: var(--hr-content);
    white-space: pre;
    color: inherit;
}

.vertical-lr {
    writing-mode: vertical-lr;
}

.vertical-rl {
    writing-mode: vertical-rl;
}

.horizontal-tb {
    writing-mode: horizontal-tb;
}

details summary {
    cursor: pointer;
}

details summary>* {
    display: inline;
}