.miw-unset,
.miw-u {
    min-width: unset;
}

.miw-xs {
    min-width: var(--xs-width);
}

.miw-xs-breakpoint {
    min-width: var(--xs-breakpoint);
}

.miw-sm {
    min-width: var(--sm-width);
}

.miw-sm-breakpoint {
    min-width: var(--sm-breakpoint);
}

.miw-rg {
    min-width: var(--rg-width);
}

.miw-rg-breakpoint {
    min-width: var(--rg-breakpoint);
}

.miw-md {
    min-width: var(--md-width);
}

.miw-md-breakpoint {
    min-width: var(--md-breakpoint);
}

.miw-lg {
    min-width: var(--lg-width);
}

.miw-lg-breakpoint {
    min-width: var(--lg-breakpoint);
}

.miw-d5 {
    min-width: var(--space-d5);
}

.miw-d4 {
    min-width: var(--space-d4);
}

.miw-d3 {
    min-width: var(--space-d3);
}

.miw-d2 {
    min-width: var(--space-d2);
}

.miw-d1 {
    min-width: var(--space-d1);
}

.miw {
    min-width: var(--space);
}

.miw-1 {
    min-width: var(--space-1);
}

.miw-2 {
    min-width: var(--space-2);
}

.miw-3 {
    min-width: var(--space-3);
}

.miw-4 {
    min-width: var(--space-4);
}

.miw-5 {
    min-width: var(--space-5);
}

.miw-6 {
    min-width: var(--space-6);
}

.mivw-100 {
    min-width: 100vw;
}

.miw-100 {
    min-width: 100%;
}

.miw-bleed {
    min-width: var(--bleed-width);
}