.max-width-unset,
.mxw-u {
    max-width: unset;
}

.max-width-100,
.mxw-100 {
    max-width: 100%;
}

.max-width-sm,
.mxw-sm {
    max-width: var(--small-width);
}

.max-width-rg,
.mxw-rg {
    max-width: var(--regular-width);
}

.max-width-md,
.mxw-md {
    max-width: var(--mid-width);
}

.max-width-lg,
.mxw-lg {
    max-width: var(--large-width);
}

.max-width-d5,
.mxw-d5 {
    max-width: var(--space-d5);
}

.max-width-d4,
.mxw-d4 {
    max-width: var(--space-d4);
}

.max-width-d3,
.mxw-d3 {
    max-width: var(--space-d3);
}

.max-width-d2,
.mxw-d2 {
    max-width: var(--space-d2);
}

.max-width-d1,
.mxw-d1 {
    max-width: var(--space-d1);
}

.max-width,
.mxw {
    max-width: var(--space);
}

.max-width-1,
.mxw-1 {
    max-width: var(--space-1);
}

.max-width-2,
.mxw-2 {
    max-width: var(--space-2);
}

.max-width-3,
.mxw-3 {
    max-width: var(--space-3);
}

.max-width-4,
.mxw-4 {
    max-width: var(--space-4);
}

.max-width-5,
.mxw-5 {
    max-width: var(--space-5);
}

.max-width-6,
.mxw-6 {
    max-width: var(--space-6);
}