.mxw-unset,
.mxw-u {
    max-width: unset;
}

.mxw-100 {
    max-width: 100%;
}

.mxw-xs {
    max-width: var(--xs-width);
}

.mxw-xs-breakpoint {
    max-width: var(--xs-breakpoint);
}

.mxw-sm {
    max-width: var(--sm-width);
}

.mxw-sm-breakpoint {
    max-width: var(--sm-breakpoint);
}

.mxw-rg {
    max-width: var(--rg-width);
}

.mxw-rg-breakpoint {
    max-width: var(--rg-breakpoint);
}

.mxw-md {
    max-width: var(--md-width);
}

.mxw-md-breakpoint {
    max-width: var(--md-breakpoint);
}

.mxw-lg {
    max-width: var(--lg-width);
}

.mxw-lg-breakpoint {
    max-width: var(--lg-breakpoint);
}

.mxw-d5 {
    max-width: var(--space-d5);
}

.mxw-d4 {
    max-width: var(--space-d4);
}

.mxw-d3 {
    max-width: var(--space-d3);
}

.mxw-d2 {
    max-width: var(--space-d2);
}

.mxw-d1 {
    max-width: var(--space-d1);
}

.mxw {
    max-width: var(--space);
}

.mxw-1 {
    max-width: var(--space-1);
}

.mxw-2 {
    max-width: var(--space-2);
}

.mxw-3 {
    max-width: var(--space-3);
}

.mxw-4 {
    max-width: var(--space-4);
}

.mxw-5 {
    max-width: var(--space-5);
}

.mxw-6 {
    max-width: var(--space-6);
}

.mxvw-100 {
    max-width: 100vw;
}

.mxw-100 {
    max-width: 100%;
}

.mxw-bleed {
    max-width: var(--bleed-width);
}