.width-unset {
    width: unset;
}

.width-100 {
    width: 100%;
}

.width-sm {
    width: var(--small-width);
}

.width-rg {
    width: var(--regular-width);
}

.width-md {
    width: var(--mid-width);
}

.width-lg {
    width: var(--large-width);
}

.width-d5 {
    width: var(--space-d5);
}

.width-d4 {
    width: var(--space-d4);
}

.width-d3 {
    width: var(--space-d3);
}

.width-d2 {
    width: var(--space-d2);
}

.width-d1 {
    width: var(--space-d1);
}

.width {
    width: var(--space);
}

.width-1 {
    width: var(--space-1);
}

.width-2 {
    width: var(--space-2);
}

.width-3 {
    width: var(--space-3);
}

.width-4 {
    width: var(--space-4);
}

.width-5 {
    width: var(--space-5);
}

.width-6 {
    width: var(--space-6);
}


@media (--breakpoint-sm) {

    .sm-width-unset {
        width: unset;
    }

    .sm-width-100 {
        width: 100%;
    }

    .sm-width-d5 {
        width: var(--space-d5);
    }

    .sm-width-d4 {
        width: var(--space-d4);
    }

    .sm-width-d3 {
        width: var(--space-d3);
    }

    .sm-width-d2 {
        width: var(--space-d2);
    }

    .sm-width-d1 {
        width: var(--space-d1);
    }

    .sm-width {
        width: var(--space);
    }

    .sm-width-1 {
        width: var(--space-1);
    }

    .sm-width-2 {
        width: var(--space-2);
    }

    .sm-width-3 {
        width: var(--space-3);
    }

    .sm-width-4 {
        width: var(--space-4);
    }

    .sm-width-5 {
        width: var(--space-5);
    }

    .sm-width-6 {
        width: var(--space-6);
    }
}

@media (--breakpoint-rg) {
    .rg-width-unset {
        width: unset;
    }

    .rg-width-100 {
        width: 100%;
    }

    .rg-width-d5 {
        width: var(--space-d5);
    }

    .rg-width-d4 {
        width: var(--space-d4);
    }

    .rg-width-d3 {
        width: var(--space-d3);
    }

    .rg-width-d2 {
        width: var(--space-d2);
    }

    .rg-width-d1 {
        width: var(--space-d1);
    }

    .rg-width {
        width: var(--space);
    }

    .rg-width-1 {
        width: var(--space-1);
    }

    .rg-width-2 {
        width: var(--space-2);
    }

    .rg-width-3 {
        width: var(--space-3);
    }

    .rg-width-4 {
        width: var(--space-4);
    }

    .rg-width-5 {
        width: var(--space-5);
    }

    .rg-width-6 {
        width: var(--space-6);
    }
}

@media (--breakpoint-md) {

    .md-width-unset {
        width: unset;
    }

    .md-width-100 {
        width: 100%;
    }

    .md-width-d5 {
        width: var(--space-d5);
    }

    .md-width-d4 {
        width: var(--space-d4);
    }

    .md-width-d3 {
        width: var(--space-d3);
    }

    .md-width-d2 {
        width: var(--space-d2);
    }

    .md-width-d1 {
        width: var(--space-d1);
    }

    .md-width {
        width: var(--space);
    }

    .md-width-1 {
        width: var(--space-1);
    }

    .md-width-2 {
        width: var(--space-2);
    }

    .md-width-3 {
        width: var(--space-3);
    }

    .md-width-4 {
        width: var(--space-4);
    }

    .md-width-5 {
        width: var(--space-5);
    }

    .md-width-6 {
        width: var(--space-6);
    }
}

@media (--breakpoint-lg) {

    .lg-width-unset {
        width: unset;
    }

    .lg-width-100 {
        width: 100%;
    }

    .lg-width-sm {
        width: var(--small-width);
    }

    .lg-width-rg {
        width: var(--regular-width);
    }

    .lg-width-md {
        width: var(--mid-width);
    }

    .lg-width-lg {
        width: var(--large-width);
    }

    .lg-width-d5 {
        width: var(--space-d5);
    }

    .lg-width-d4 {
        width: var(--space-d4);
    }

    .lg-width-d3 {
        width: var(--space-d3);
    }

    .lg-width-d2 {
        width: var(--space-d2);
    }

    .lg-width-d1 {
        width: var(--space-d1);
    }

    .lg-width {
        width: var(--space);
    }

    .lg-width-1 {
        width: var(--space-1);
    }

    .lg-width-2 {
        width: var(--space-2);
    }

    .lg-width-3 {
        width: var(--space-3);
    }

    .lg-width-4 {
        width: var(--space-4);
    }

    .lg-width-5 {
        width: var(--space-5);
    }

    .lg-width-6 {
        width: var(--space-6);
    }
}