@media (--mi-xs-breakpoint) {
    .xs\:w-unset {
        width: unset;
    }
    .xs\:w-100 {
        width: 100%;
    }
    .xs\:vw-100 {
        width: 100vh;
    }
    .xs\:vw-90 {
        width: 90vw;
    }
    .xs\:vw-80 {
        width: 80vw;
    }
    .xs\:vw-70 {
        width: 70vw;
    }
    .xs\:vw-60 {
        width: 60vw;
    }
    .xs\:vw-50 {
        width: 50vw;
    }
    .xs\:vw-40 {
        width: 40vw;
    }
    .xs\:vw-30 {
        width: 30vw;
    }
    .xs\:vw-20 {
        width: 20vw;
    }
    .xs\:vw-10 {
        width: 10vw;
    }
    .xs\:w-xs {
        width: var(--xs-width);
    }
    .xs\:w-xs-breakpoint {
        width: var(--xs-breakpoint);
    }
    .xs\:w-sm {
        width: var(--sm-width);
    }
    .xs\:w-sm-breakpoint {
        width: var(--sm-breakpoint);
    }
    .xs\:w-rg {
        width: var(--rg-width);
    }
    .xs\:w-rg-breakpoint {
        width: var(--rg-breakpoint);
    }
    .xs\:w-md {
        width: var(--md-width);
    }
    .xs\:w-md-breakpoint {
        width: var(--md-breakpoint);
    }
    .xs\:w-lg {
        width: var(--lg-width);
    }
    .xs\:w-lg-breakpoint {
        width: var(--lg-breakpoint);
    }
    .xs\:w-d5 {
        width: var(--space-d5);
    }
    .xs\:w-d4 {
        width: var(--space-d4);
    }
    .xs\:w-d3 {
        width: var(--space-d3);
    }
    .xs\:w-d2 {
        width: var(--space-d2);
    }
    .xs\:w-d1 {
        width: var(--space-d1);
    }
    .xs\:width {
        width: var(--space);
    }
    .xs\:w-1 {
        width: var(--space-1);
    }
    .xs\:w-2 {
        width: var(--space-2);
    }
    .xs\:w-3 {
        width: var(--space-3);
    }
    .xs\:w-4 {
        width: var(--space-4);
    }
    .xs\:w-5 {
        width: var(--space-5);
    }
    .xs\:w-6 {
        width: var(--space-6);
    }
    .xs\:w-bleed {
        width: var(--bleed-width);
    }
}

@media (--mi-sm-breakpoint) {
    .sm\:w-unset {
        width: unset;
    }
    .sm\:w-100 {
        width: 100%;
    }
    .sm\:vw-100 {
        width: 100vh;
    }
    .sm\:vw-90 {
        width: 90vw;
    }
    .sm\:vw-80 {
        width: 80vw;
    }
    .sm\:vw-70 {
        width: 70vw;
    }
    .sm\:vw-60 {
        width: 60vw;
    }
    .sm\:vw-50 {
        width: 50vw;
    }
    .sm\:vw-40 {
        width: 40vw;
    }
    .sm\:vw-30 {
        width: 30vw;
    }
    .sm\:vw-20 {
        width: 20vw;
    }
    .sm\:vw-10 {
        width: 10vw;
    }
    .sm\:w-xs {
        width: var(--xs-width);
    }
    .sm\:w-xs-breakpoint {
        width: var(--xs-breakpoint);
    }
    .sm\:w-sm {
        width: var(--sm-width);
    }
    .sm\:w-sm-breakpoint {
        width: var(--sm-breakpoint);
    }
    .sm\:w-rg {
        width: var(--rg-width);
    }
    .sm\:w-rg-breakpoint {
        width: var(--rg-breakpoint);
    }
    .sm\:w-md {
        width: var(--md-width);
    }
    .sm\:w-md-breakpoint {
        width: var(--md-breakpoint);
    }
    .sm\:w-lg {
        width: var(--lg-width);
    }
    .sm\:w-lg-breakpoint {
        width: var(--lg-breakpoint);
    }
    .sm\:w-d5 {
        width: var(--space-d5);
    }
    .sm\:w-d4 {
        width: var(--space-d4);
    }
    .sm\:w-d3 {
        width: var(--space-d3);
    }
    .sm\:w-d2 {
        width: var(--space-d2);
    }
    .sm\:w-d1 {
        width: var(--space-d1);
    }
    .sm\:width {
        width: var(--space);
    }
    .sm\:w-1 {
        width: var(--space-1);
    }
    .sm\:w-2 {
        width: var(--space-2);
    }
    .sm\:w-3 {
        width: var(--space-3);
    }
    .sm\:w-4 {
        width: var(--space-4);
    }
    .sm\:w-5 {
        width: var(--space-5);
    }
    .sm\:w-6 {
        width: var(--space-6);
    }
    .sm\:w-bleed {
        width: var(--bleed-width);
    }
}

@media (--mi-rg-breakpoint) {
    .rg\:w-unset {
        width: unset;
    }
    .rg\:w-100 {
        width: 100%;
    }
    .rg\:vw-100 {
        width: 100vh;
    }
    .rg\:vw-90 {
        width: 90vw;
    }
    .rg\:vw-80 {
        width: 80vw;
    }
    .rg\:vw-70 {
        width: 70vw;
    }
    .rg\:vw-60 {
        width: 60vw;
    }
    .rg\:vw-50 {
        width: 50vw;
    }
    .rg\:vw-40 {
        width: 40vw;
    }
    .rg\:vw-30 {
        width: 30vw;
    }
    .rg\:vw-80 {
        width: 20vw;
    }
    .rg\:vw-10 {
        width: 10vw;
    }
    .rg\:w-xs {
        width: var(--xs-width);
    }
    .rg\:w-xs-breakpoint {
        width: var(--xs-breakpoint);
    }
    .rg\:w-sm {
        width: var(--sm-width);
    }
    .rg\:w-sm-breakpoint {
        width: var(--sm-breakpoint);
    }
    .rg\:w-rg {
        width: var(--rg-width);
    }
    .rg\:w-rg-breakpoint {
        width: var(--rg-breakpoint);
    }
    .rg\:w-md {
        width: var(--md-width);
    }
    .rg\:w-md-breakpoint {
        width: var(--md-breakpoint);
    }
    .rg\:w-lg {
        width: var(--lg-width);
    }
    .rg\:w-lg-breakpoint {
        width: var(--lg-breakpoint);
    }
    .rg\:w-d5 {
        width: var(--space-d5);
    }
    .rg\:w-d4 {
        width: var(--space-d4);
    }
    .rg\:w-d3 {
        width: var(--space-d3);
    }
    .rg\:w-d2 {
        width: var(--space-d2);
    }
    .rg\:w-d1 {
        width: var(--space-d1);
    }
    .rg\:width {
        width: var(--space);
    }
    .rg\:w-1 {
        width: var(--space-1);
    }
    .rg\:w-2 {
        width: var(--space-2);
    }
    .rg\:w-3 {
        width: var(--space-3);
    }
    .rg\:w-4 {
        width: var(--space-4);
    }
    .rg\:w-5 {
        width: var(--space-5);
    }
    .rg\:w-6 {
        width: var(--space-6);
    }
    .rg\:w-bleed {
        width: var(--bleed-width);
    }
}

@media (--mi-md-breakpoint) {
    .md\:w-unset {
        width: unset;
    }
    .md\:w-100 {
        width: 100%;
    }
    .md\:vw-100 {
        width: 100vh;
    }
    .md\:vw-90 {
        width: 90vw;
    }
    .md\:vw-80 {
        width: 80vw;
    }
    .md\:vw-70 {
        width: 70vw;
    }
    .md\:vw-60 {
        width: 60vw;
    }
    .md\:vw-50 {
        width: 50vw;
    }
    .md\:vw-40 {
        width: 40vw;
    }
    .md\:vw-30 {
        width: 30vw;
    }
    .md\:vw-20 {
        width: 20vw;
    }
    .md\:vw-10 {
        width: 10vw;
    }
    .md\:w-xs {
        width: var(--xs-width);
    }
    .md\:w-xs-breakpoint {
        width: var(--xs-breakpoint);
    }
    .md\:w-sm {
        width: var(--sm-width);
    }
    .md\:w-sm-breakpoint {
        width: var(--sm-breakpoint);
    }
    .md\:w-rg {
        width: var(--rg-width);
    }
    .md\:w-rg-breakpoint {
        width: var(--rg-breakpoint);
    }
    .md\:w-md {
        width: var(--md-width);
    }
    .md\:w-md-breakpoint {
        width: var(--md-breakpoint);
    }
    .md\:w-lg {
        width: var(--lg-width);
    }
    .md\:w-lg-breakpoint {
        width: var(--lg-breakpoint);
    }
    .md\:w-d5 {
        width: var(--space-d5);
    }
    .md\:w-d4 {
        width: var(--space-d4);
    }
    .md\:w-d3 {
        width: var(--space-d3);
    }
    .md\:w-d2 {
        width: var(--space-d2);
    }
    .md\:w-d1 {
        width: var(--space-d1);
    }
    .md\:width {
        width: var(--space);
    }
    .md\:w-1 {
        width: var(--space-1);
    }
    .md\:w-2 {
        width: var(--space-2);
    }
    .md\:w-3 {
        width: var(--space-3);
    }
    .md\:w-4 {
        width: var(--space-4);
    }
    .md\:w-5 {
        width: var(--space-5);
    }
    .md\:w-6 {
        width: var(--space-6);
    }
    .md\:w-bleed {
        width: var(--bleed-width);
    }
}

@media (--mi-lg-breakpoint) {
    .lg\:w-unset {
        width: unset;
    }
    .lg\:w-100 {
        width: 100%;
    }
    .lg\:vw-100 {
        width: 100vh;
    }
    .lg\:vw-90 {
        width: 90vw;
    }
    .lg\:vw-80 {
        width: 80vw;
    }
    .lg\:vw-70 {
        width: 70vw;
    }
    .lg\:vw-60 {
        width: 60vw;
    }
    .lg\:vw-50 {
        width: 50vw;
    }
    .lg\:vw-40 {
        width: 40vw;
    }
    .lg\:vw-30 {
        width: 30vw;
    }
    .lg\:vw-20 {
        width: 20vw;
    }
    .lg\:vw-10 {
        width: 10vw;
    }
    .lg\:w-xs {
        width: var(--xs-width);
    }
    .lg\:w-xs-breakpoint {
        width: var(--xs-breakpoint);
    }
    .lg\:w-sm {
        width: var(--sm-width);
    }
    .lg\:w-sm-breakpoint {
        width: var(--sm-breakpoint);
    }
    .lg\:w-rg {
        width: var(--rg-width);
    }
    .lg\:w-rg-breakpoint {
        width: var(--rg-breakpoint);
    }
    .lg\:w-md {
        width: var(--md-width);
    }
    .lg\:w-md-breakpoint {
        width: var(--md-breakpoint);
    }
    .lg\:w-lg {
        width: var(--lg-width);
    }
    .lg\:w-lg-breakpoint {
        width: var(--lg-breakpoint);
    }
    .lg\:w-d5 {
        width: var(--space-d5);
    }
    .lg\:w-d4 {
        width: var(--space-d4);
    }
    .lg\:w-d3 {
        width: var(--space-d3);
    }
    .lg\:w-d2 {
        width: var(--space-d2);
    }
    .lg\:w-d1 {
        width: var(--space-d1);
    }
    .lg\:width {
        width: var(--space);
    }
    .lg\:w-1 {
        width: var(--space-1);
    }
    .lg\:w-2 {
        width: var(--space-2);
    }
    .lg\:w-3 {
        width: var(--space-3);
    }
    .lg\:w-4 {
        width: var(--space-4);
    }
    .lg\:w-5 {
        width: var(--space-5);
    }
    .lg\:w-6 {
        width: var(--space-6);
    }
    .lg\:w-bleed {
        width: var(--bleed-width);
    }
}