.width-unset {
    width: unset;
}

.width-100 {
    width: 100%;
}

.vw-100 {
    width: 100vw;
}

.vmaxw-100 {
    width: 100vmax;
}

.vminw-100 {
    widht: 100vmin;
}

.width-sm {
    width: var(--small-width);
}

.width-rg {
    width: var(--regular-width);
}

.width-md {
    width: var(--mid-width);
}

.width-lg {
    width: var(--large-width);
}

.width-d5 {
    width: var(--space-d5);
}

.width-d4 {
    width: var(--space-d4);
}

.width-d3 {
    width: var(--space-d3);
}

.width-d2 {
    width: var(--space-d2);
}

.width-d1 {
    width: var(--space-d1);
}

.width {
    width: var(--space);
}

.width-1 {
    width: var(--space-1);
}

.width-2 {
    width: var(--space-2);
}

.width-3 {
    width: var(--space-3);
}

.width-4 {
    width: var(--space-4);
}

.width-5 {
    width: var(--space-5);
}

.width-6 {
    width: var(--space-6);
}