:root {
    --breakout-width: var(--mid-width);
    --x-padding: var(--space);
}

.x {
    display: grid;
    grid-template-columns: var(--x-padding) 1fr minmax(auto, var(--regular-width)) 1fr var(--x-padding);
    overflow: hidden;
}

.x>:not(p):not(div)+:not(p):not(div):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    margin-top: 0;
}

.x>div+:not(div) {
    margin-top: 0;
}

.x>*,
.x.main>*,
.x>.main {
    grid-column-start: 3;
    min-width: 0;
    /* https://css-tricks.com/preventing-a-grid-blowout/ */
}

.x.breakout-wide>*,
.x>.breakout-wide {
    grid-column-start: 2;
    grid-column-end: -2;
}

.x.breakout-wide-r>*,
.x>.breakout-wide-r {
    grid-column-start: 3;
    grid-column-end: -2;
}

.x.breakout-wide-l>*,
.x>.breakout-wide-l {
    grid-column-start: 2;
    grid-column-end: 4;
}

.x.breakout-full>*,
.x>.breakout-full {
    grid-column-start: 1;
    grid-column-end: -1;
}

.x.breakout-full-r>*,
.x>.breakout-full-r {
    grid-column-start: 3;
    grid-column-end: -1;
}

.x.breakout-full-l>*,
.x>.breakout-full-l {
    grid-column-start: 1;
    grid-column-end: 3;
}

@media(min-width: 900px) {
    .x {
        display: grid;
        grid-template-columns: var(--x-padding) 1fr calc((var(--breakout-width) - var(--regular-width)) * 0.5) minmax(auto, var(--regular-width)) calc((var(--breakout-width) - var(--regular-width)) * 0.5) 1fr var(--x-padding);
    }
    .x>*,
    .x.main>*,
    .x>.main {
        grid-column-start: 4;
        min-width: 0;
        /*https://css-tricks.com/preventing-a-grid-blowout/*/
    }
    .x.breakout-l>*,
    .x>.breakout-l {
        grid-column-start: 3;
        grid-column-end: 5;
    }
    .x.breakout-r>*,
    .x>.breakout-r {
        grid-column-start: 4;
        grid-column-end: 6;
    }
    .x.breakout>*,
    .x>.breakout {
        grid-column-start: 3;
        grid-column-end: -3;
    }
    .x.breakout-wide-r>*,
    .x>.breakout-wide-r {
        grid-column-start: 4;
        grid-column-end: -2;
    }
    .x.breakout-wide-l>*,
    .x>.breakout-wide-l {
        grid-column-start: 2;
        grid-column-end: 5;
    }
    .x.breakout-full-r>*,
    .x>.breakout-full-r {
        grid-column-start: 4;
        grid-column-end: -1;
    }
    .x.breakout-full-l>*,
    .x>.breakout-full-l {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}