:root {    
    --x-padding: var(--space);
    --main-content-width: var(--regular-width);
}

@custom-media --breakpoint-x-indent (max-width: 35rem);
/*--breakpoint-list-indent main content width + some padding */


.x {
    display: grid;
    grid-template-columns: [gutter-l] var(--x-padding) [breakout-wide-l] 1fr [breakout-l] 1fr [main-content-start] minmax(auto,  var(--main-content-width)) [main-content-end] 1fr [breakout-r] 1fr [breakout-wide-r] var(--x-padding) [gutter-r];
    overflow: hidden;
}


.x>:not(p):not(div)+:not(p):not(div):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    margin-top: 0;
}

.x>div+:not(div) {
    margin-top: 0;
}

.x>*,
.x.main>*,
.x>.main {
    grid-column-start: main-content-start;
    min-width: 0;
    /* https://css-tricks.com/preventing-a-grid-blowout/ */
}

.x.breakout-wide>*,
.x>.breakout-wide {
    grid-column-start: breakout-wide-l;
    grid-column-end: breakout-wide-r;
}

.x.breakout-wide-r>*,
.x>.breakout-wide-r {
    grid-column-start: main-content-start;
    grid-column-end: breakout-wide-r;
}

.x.breakout-wide-l>*,
.x>.breakout-wide-l {
    grid-column-start: breakout-wide-l;
    grid-column-end: main-content-end;
}

.x.breakout-full>*,
.x>.breakout-full {
    grid-column-start: gutter-l;
    grid-column-end: gutter-r;
}

.x.breakout-full-r>*,
.x>.breakout-full-r {
    grid-column-start: main-content-start;
    grid-column-end: gutter-r;
}

.x.breakout-full-l>*,
.x>.breakout-full-l {
    grid-column-start: gutter-l;
    grid-column-end: main-content-end;
}

.x.breakout-l>*,
.x>.breakout-l {
    grid-column-start: breakout-l;
    grid-column-end: main-content-end;
}

.x.breakout-r>*,
.x>.breakout-r {
    grid-column-start: main-content-start;
    grid-column-end: breakout-r;
}

.x.breakout>*,
.x>.breakout {
    grid-column-start: breakout-l;
    grid-column-end: breakout-r;
}